<h2><%= t('devise.confirmations.new.resend_confirmation_instructions')%></h2>

<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email, t('activerecord.attributes.user.email') %><br />
  <%= f.email_field :email, autofocus: true %></div>

  <div><%= f.submit t('devise.confirmations.new.resend_confirmation_instructions') %></div>
<% end %>

<%= render 'users/shared/links' %>
