<%= form_for(@tournament_match) do |f| %>
  <% if @tournament_match.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tournament_match.errors.count, "error") %> prohibited this tournament_match from being saved:</h2>

      <ul>
      <% @tournament_match.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :tournament_round_id %><br>
    <%= f.collection_select(:tournament_round_id, TournamentRound.all, :id, :order, {promt: 'Select round'}, {class: 'form-control'}) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
