<%= form_for @video,
             url: track_video_path,
             remote: true,
             html: { class: 'form-horizontal',
                     'data-controller': 'tracks--video-form',
                     'data-action': 'youtube_api:ready@window->tracks--video-form#on_youtube_api_ready',
                     'data-url': track_video_chart_data_path(@video.track_id) } do |f| %>
  <div class="row">
    <div class="col-sm-4">
      <h3><%= t 'activerecord.attributes.track_videos.url' %></h3>
    </div>

    <div class="col-sm-8">
      <div class="url-group">
        <%= f.text_field :url,
                         class: 'form-control',
                         placeholder: t('.url_placeholder'),
                         'data-target': 'tracks--video-form.url',
                         'data-action': 'change->tracks--video-form#on_change_url input->tracks--video-form#on_change_url' %>
      </div>
      <%= f.hidden_field :video_code %>
      <%= f.hidden_field :track_id %>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-sm-4">
      <h3><%= t 'activerecord.attributes.track_videos.video_offset' %></h3>
      <p><%= t '.video_offset_description' %></p>
    </div>
    <div class="col-sm-8">
      <div data-target="tracks--video-form.player"></div>
    </div>
    <div class="col-sm-3 col-sm-offset-4 top-buffer">
      <div class="input-group">
        <%= f.text_field :video_offset, class: 'form-control text-center', 'data-target': 'tracks--video-form.video_offset' %>
        <span class="input-group-btn">
          <button class="btn btn-default" data-action="click->tracks--video-form#set_video_offset"><%= t '.set' %></button>
        </span>
      </div>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-sm-4">
      <h3><%= t 'activerecord.attributes.track_videos.track_offset' %></h3>
      <p><%= t '.track_offset_description' %></p>
    </div>
    <div class="col-sm-8">
      <div id="chart" data-target="tracks--video-form.chart"></div>
    </div>
    <div class="col-sm-3 col-sm-offset-4">
      <div class="input-group">
        <span class="input-group-btn">
          <button class="btn btn-default" data-action="click->tracks--video-form#decrease_track_offset">
            <i class="fa fa-chevron-left"></i>
          </button>
        </span>
        <%= f.text_field :track_offset, class: 'form-control text-center', 'data-target': 'tracks--video-form.track_offset' %>
        <span class="input-group-btn">
          <button class="btn btn-default" data-action="click->tracks--video-form#increase_track_offset">
            <i class="fa fa-chevron-right"></i>
          </button>
        </span>
      </div>
    </div>
  </div>

  <div class="row top-buffer-30">
    <div class="col-sm-4 col-sm-offset-4">
      <%= f.submit t('general.save'), class: 'btn btn-primary btn-lg' %>
    </div>
    <div class="col-sm-4 text-right">
      <%= link_to t('general.delete'),
                  track_video_path,
                  method: :delete,
                  data: { confirm: 'Are you sure you want to delete this video?' },
                  class: 'btn btn-default' %>
    </div>
  </div>
<% end %>
