<% provide :title, title(@track) %>

<div class="show-page">
  <%= render partial: 'tracks/header', locals: { track: @track } %>

  <div class="track-show-content">
    <div data-controller="tracks--videos"
         data-action="youtube_api:ready@window->tracks--videos#onYoutubeApiReady"
         data-video-id="<%= @video.video_code %>">
      <script type="application/json" data-tracks--videos-target="data">
        <%= raw render partial: 'tracks/videos/video',
                       locals: { video: @video, points: @points },
                       formats: [:json] %>
      </script>

      <% if policy(@track).edit? %>
        <div class="card-action">
          <div class="position-right">
            <%= link_to edit_track_video_path(@track), class: 'btn-flat same-padding' do %>
              <i class="fas fa-cog"></i>
              <%= t('general.settings') %>
            <% end %>
          </div>
        </div>
      <% end %>

      <div class="videowrapper">
        <div id="player"></div>
      </div>

      <%= render 'tracks/videos/indicators' %>
    </div>
  </div>
</div>
