- provide :title, title(@track_data.track)

.track-video-show{'data-controller': 'tracks--videos',
                  'data-action': 'youtube_api:ready@window->tracks--videos#on_youtube_api_ready',
                  'data-url': url_for,
                  'data-video-id': @track_data.video_code}
  .container
    = render partial: 'tracks/header', locals: {track: @track_data.track}

    .content-block.content-block--bordered
      - if policy(@track_data.track).edit?
        .card-action
          .position-right
            = link_to edit_track_video_path(@track_data.track), class: 'btn-flat same-padding' do
              %i.fa.fa-cog
              = t('general.settings')
      .row
        .col-sm-12
          .videowrapper
            #player
      .row.track-indicators
        .col-md-11.col-md-offset-1.col-sm-12
          .row
            .col-sm-3
              .param-val
                .avg-val{'data-target': 'tracks--videos.altitude'}= '---'
                .min-max.text-right
                  .min-val
                    %span{'data-target': 'tracks--videos.altitude_spent'}= '---'
                    %i.fa.fa-lg.fa-caret-down
                .units= t 'units.m'
              .param
                %i.fa.fa-fw.fa-lg.fa-arrows-v
                =t 'tracks.indicators.altitude'

            .col-sm-3
              .param-val
                .avg-val{'data-target': 'tracks--videos.v_speed'}= '---'
                .units=t 'units.kmh'
              .param
                %i.fa.fa-fw.fa-lg.fa-long-arrow-down
                =t 'tracks.indicators.vertical_speed'

            .col-sm-3
              .param-val
                .avg-val{'data-target': 'tracks--videos.h_speed'}= '---'
                .units=t 'units.kmh'
              .param
                %i.fa.fa-fw.fa-lg.fa-long-arrow-right
                =t 'tracks.indicators.ground_speed'

            .col-sm-3
              .param-val
                .avg-val{'data-target': 'tracks--videos.glide_ratio'}= '-.--'
              .param
                %i.fa.fa-fw.fa-lg.fa-ellipsis-h
                =t 'tracks.indicators.glide_ratio'

    .row
      .col-sm-12.text-center.top-buffer
