<% provide :title, title(@track) %>

<div class="show-page">
  <%= render partial: 'tracks/header', locals: { track: @track } %>

  <div class="track-show-content">
    <div data-controller="tracks--videos"
         data-action="youtube_api:ready@window->tracks--videos#on_youtube_api_ready"
         data-video-id="<%= @video.video_code %>">
      <script type="application/json" data-target="tracks--videos.data">
        <%= raw render partial: 'tracks/videos/video',
                       locals: { video: @video, points: @points },
                       formats: [:json] %>
      </script>

      <% if policy(@track).edit? %>
        <div class="card-action">
          <div class="position-right">
            <%= link_to edit_track_video_path(@track), class: 'btn-flat same-padding' do %>
              <i class="fas fa-cog"></i>
              <%= t('general.settings') %>
            <% end %>
          </div>
        </div>
      <% end %>

      <div class="row">
        <div class="col-sm-12">
          <div class="videowrapper">
            <div id="player"></div>
          </div>
        </div>
      </div>
      <div class="row track-indicators">
        <div class="col-md-11 col-md-offset-1 col-sm-12">
          <div class="row">
            <div class="col-sm-3">
              <div class="param-val">
                <div class="avg-val" data-target="tracks--videos.altitude">---</div>
                <div class="min-max text-right">
                  <div class="min-val">
                    <span data-target="tracks--videos.altitude_spent">---</span>
                    <%= svg_icon 'angle-down-solid' %>
                  </div>
                </div>
                <div class="units"><%= t 'units.m' %></div>
              </div>
              <div class="param">
                <i class="fa fa-fw fa-lg fa-arrows-alt-v"></i>
                <%= t 'tracks.indicators.altitude' %>
              </div>
            </div>

            <div class="col-sm-3">
              <div class="param-val">
                <div class="avg-val" data-target="tracks--videos.v_speed">---</div>
                <div class="units"><%= t 'units.kmh' %></div>
              </div>
              <div class="param">
                <i class="fa fa-fw fa-lg fa-long-arrow-alt-down"></i>
                <%= t 'tracks.indicators.vertical_speed' %>
              </div>
            </div>

            <div class="col-sm-3">
              <div class="param-val">
                <div class="avg-val" data-target="tracks--videos.h_speed">---</div>
                <div class="units"><%= t 'units.kmh' %></div>
              </div>
              <div class="param">
                <i class="fa fa-fw fa-lg fa-long-arrow-alt-right"></i>
                <%= t 'tracks.indicators.ground_speed' %>
              </div>
            </div>

            <div class="col-sm-3">
              <div class="param-val">
                <div class="avg-val" data-target="tracks--videos.glide_ratio">-.-</div>
              </div>
              <div class="param">
                <i class="fa fa-fw fa-lg fa-ellipsis-h"></i>
                <%= t 'tracks.indicators.glide_ratio' %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
