.modal.fade#newParticipationFormModal{:tabindex => '-1', :role => 'dialog', :aria => {:labelledby => 'myModalLabel', :hidden => 'true'}}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{:type => 'button', :data => {:dismiss => 'modal'}}
          %span{:aria => {:hidden => 'true'}}
            &times;
          %span.sr-only
            Close
        %h4.modal-title#myModalLabel= 'Заявка на участие'

      .modal-body
        .row
          .col-md-8
            - if current_user.user_profile
              %p
                %strong= 'Фамилия и имя:'
                #{current_user.user_profile.last_name} #{current_user.user_profile.first_name}
              %p
                %strong= 'Прыжков всего:'
                #{current_user.user_profile.jumps_total}
              %p
                %strong= 'за 12 мес./за 3 мес.:'
                #{current_user.user_profile.jumps_last_year} /
                #{current_user.user_profile.jumps_last_3m}
              %p
                %strong= 'в вингсьюте:'
                #{current_user.user_profile.jumps_wingsuit}
              %p
                %strong= 'за 12 мес./за 3 мес.:'
                #{current_user.user_profile.jumps_wingsuit_last_year} /
                #{current_user.user_profile.jumps_wingsuit_last_3m}
              %p
                %strong= 'Рост/Вес/Размер футболки:'
                #{current_user.user_profile.height} /
                #{current_user.user_profile.weight} /
                #{current_user.user_profile.shirt_size}
              %p
                %strong= 'Контактный e-mail:'
                #{current_user.email}
              %p
                %strong= 'Контактный телефон:'
                #{current_user.user_profile.phone_number}
          .col-md-4
            - if current_user.user_profile
              = image_tag(current_user.user_profile.userpic.url(:medium), :class => 'img-responsive img-rounded')
            - else
              = image_tag '/images/thumb/missing.png', :class => 'img-responsive img-rounded'
        %hr

        = form_for [@event, @participation_form], :html => {:class => 'form-horizontal', :role => 'form'} do |f|
          .form-group
            = f.label :wingsuit_id, 'Вингсьют', class: 'col-sm-2 control-label'
            .col-sm-6
              = text_field_tag 'Вингсьют', nil, :class => 'form-control wingsuit-autocomplete'
              = f.hidden_field :wingsuit_id, :id => 'wingsuit-id'
            .col-sm-4#wingsuit-class

          .row
            .col-md-12
              %h4
                %strong= 'Дополнительно:'
              = simple_format @event.form_info

          .form-group
            .col-sm-12
              = f.text_area :additional_info, :class => 'form-control', :rows => 3

          .modal-footer
            %button.btn.btn-default{:type => 'button', :data => {:dismiss => 'modal'}}= 'Отмена'
            = f.submit 'Отправить', :class => 'btn btn-primary'