.panel.panel-default
  .panel-heading
    %h3.panel-title= pf.user.user_profile.name

  .panel-body
    .col-md-2
      - if pf.user.user_profile
        = image_tag(pf.user.user_profile.userpic.url(:thumb), :class => 'img-rounded')
      - else
        = image_tag '/images/thumb/missing.png', :class => 'img-rounded'

    .col-md-8
      .container
        %strong= 'Прыжков всего/за 12 мес./за 3 мес.:'
        - if pf.user.user_profile
          #{pf.user.user_profile.jumps_total} /
          #{pf.user.user_profile.jumps_last_year} /
          #{pf.user.user_profile.jumps_last_3m}
        %br
        %strong= 'В вингсьюте всего/за 12 мес./за 3 мес.:'
        - if pf.user.user_profile
          #{pf.user.user_profile.jumps_wingsuit} /
          #{pf.user.user_profile.jumps_wingsuit_last_year} /
          #{pf.user.user_profile.jumps_wingsuit_last_3m}
        %br
        %strong= 'Вингсьют/Класс:'
        - ws_class = pf.wingsuit.ws_class.name.downcase.to_sym
        - if ws_class.eql?(:rookie) && merge_intermediate_and_rookie
          - ws_class = :intermediate
        #{pf.wingsuit.name} ( #{ws_class.to_s.capitalize} )
        %br
        %strong= 'Рост/Вес:'
        #{pf.user.user_profile.height} / #{pf.user.user_profile.weight}
        %br
        %strong= 'Контактный телефон:'
        #{pf.user.user_profile.phone_number}
        %br
        %strong= 'Контактный email:'
        #{pf.user.email}
        %br
        %strong= 'Профиль Facebook:'
        #{pf.user.user_profile.facebook_profile}
        %br
        %strong= 'Профиль ВКонтакт:'
        #{pf.user.user_profile.vk_profile}
        %br
        %strong= 'Дополнительная информация:'
        = simple_format pf.additional_info

    - if pf.status.eql? 'declined'
      .col-md-2
        %button.btn.btn-danger.disabled= 'Отклонена'
    - elsif pf.status.eql? 'approved'
      .col-md-2
        %button.btn.btn-success.disabled= 'Подтверждена'
    - else
      .col-md-2{:id => "pf_#{pf.id}_actions"}
        = form_for [@event, pf], remote: true, :url => {:controller => 'participation_forms', :action => 'approve', :event_id => @event.id, :id => pf.id}, :html => {:role => 'form'} do |f|
          = f.submit 'Подтвердить', :class => 'btn btn-primary'
        %br
        = form_for [@event, pf], remote: true, :url => {:controller => 'participation_forms', :action => 'decline', :event_id => @event.id, :id => pf.id}, :html => {:role => 'form'} do |f|
          = f.submit 'Отклонить', :class => 'btn btn-primary'
