%td.competitor-cell
  = link_to competitor.name.titleize, profile_path(competitor.profile), class: 'competitor-name'
  - if competitor.assigned_number
    %span.text-gray= "##{competitor.assigned_number}"
  - if editable
    %span
      = edit_competitor_link(@event, competitor)
      = delete_competitor_button(@event, competitor)
  .competitor-suit.text-gray
    = competitor.suit.manufacturer_code
    = competitor.suit_name

%td.text-center
  %span{'data-toggle' => 'tooltip', title: competitor.country_name}
    = competitor.country_code
