%td.competitor-cell
  = link_to competitor.name.titleize, profile_path(competitor.profile), class: 'dotted-underline'

  %span.competitor-suit
    = competitor.suit.manufacturer_code
    = competitor.suit_name

  - if editable
    %span.competitor-controls
      = delete_competitor_button(@event, competitor, @display_raw_results)
      = edit_competitor_link(@event, competitor, @display_raw_results)

%td.text-center.text-muted
  %span.dotted-underline{'data-toggle' => 'tooltip', title: competitor.country_name}
    = competitor.country_code
