.modal-dialog
  .modal-content
    - html_options = { class: 'form-horizontal', 'data-controller': 'events--competitor-form' }
    - form_path = @competitor.new_record? ? event_competitors_path(@event) : event_competitor_path(@event, @competitor)
    = form_with model: @competitor, url: form_path, scope: '', local: false, html: html_options do |f|
      = display_event_form_params

      .modal-header
        %button.close{type: 'button', data: {dismiss: 'modal'}}
          %span{aria: {hidden: 'true'}}
            &times;
          %span.sr-only
            Close
        %h4.modal-title
          = t('activerecord.models.competitor') + ': '
          - if @competitor.new_record?
            = t('events.index.new')
          - else
            = @competitor.name

      .modal-body
        .modal-form
          %h3.modal-form__section-title
            %span.modal-form__section-number 1
            = t('competitors.form.profile')
          .radio
            %label
              = radio_button_tag :new_profile, false, checked: true
              = t('competitors.form.select_profile')

          .form-group
            .col-sm-12
              = f.select :profile_id,
                         options_for_select([[@competitor.name, @competitor.profile_id]]),
                         {},
                         id: :profile_id,
                         placeholder: t('tracks.form.profile_select_placeholder'),
                         class: 'form-control',
                         'data-controller': 'select2--profiles'

          .radio
            %label
              = radio_button_tag :new_profile, true
              = t('competitors.form.create_profile')

          .row
            .col-sm-8
              = f.label :name,
                        t('activerecord.attributes.profile.name')
              .form-group
                .col-sm-12
                  = f.text_field :name, id: :competitor_name, class: 'form-control', value: ''

            .col-sm-4
              = f.label :country,
                        t('activerecord.attributes.profile.country')
              .form-group
                .col-sm-12
                  = f.select :country_id,
                             options_for_select([[@competitor.country_name, @competitor.country_id]]),
                             {},
                             id: :country_id,
                             class: 'form-control',
                             'data-controller': 'select2--countries'

          %hr
          %h3.modal-form__section-title
            %span.modal-form__section-number 2
            = t('competitors.form.suit_and_category')

          = f.label :suit, t('activerecord.attributes.competitor.suit')
          .form-group
            .col-sm-12
              = f.select :suit_id,
                         options_for_select([[@competitor.suit_name, @competitor.suit_id]]),
                         {},
                         id: :suit_id,
                         class: 'form-control',
                         'data-controller': 'select2--suits'

          = f.label :section, t('activerecord.attributes.competitor.section')
          .form-group
            .col-sm-12
              = f.collection_select :section_id,
                                    @event.sections,
                                    :id,
                                    :name,
                                    {},
                                    class: 'form-control',
                                    'data-controller': 'select2--local'

      .modal-footer
        = f.submit t('general.save'), class: 'btn btn-primary'
        %button.btn.btn-default{type: 'button', data: {dismiss: 'modal'}}= t 'general.cancel'
