<div class="modal-dialog">
  <div class="modal-content">
    <% html_options = { class: 'form-horizontal', 'data-controller': 'events--competitor-form' } %>
    <% form_path = @competitor.new_record? ? event_competitors_path(@event) : event_competitor_path(@event, @competitor) %>
    <%= form_with model: @competitor, url: form_path, scope: '', local: false, html: html_options do |f| %>
      <%= display_event_form_params %>

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
          <span class="sr-only">Close</span>
        </button>
        <h4 class="modal-title">
          <%= t('activerecord.models.event/competitor') + ': ' %>
          <% if @competitor.new_record? %>
            <%= t('events.index.new') %>
          <% else %>
            <%= @competitor.name %>
          <% end %>
        </h4>
      </div>

      <div class="modal-body">
        <div class="modal-form">
          <h3 class="modal-form__section-title">
            <span class="modal-form__section-number">1</span>
            <%= t('competitors.form.profile') %>
          </h3>
          <div class="radio">
            <label>
              <%= radio_button_tag :new_profile, false, checked: true %>
              <%= t('competitors.form.select_profile') %>
            </label>
          </div>

          <div class="form-group">
            <div class="col-sm-12">
              <%= f.select :profile_id,
                           options_for_select([[@competitor.name, @competitor.profile_id]]),
                           {},
                           id: :profile_id,
                           placeholder: t('tracks.form.profile_select_placeholder'),
                           class: 'form-control',
                           'data-controller': 'select2--profiles' %>
            </div>
          </div>

          <div class="radio">
            <label>
              <%= radio_button_tag :new_profile, true %>
              <%= t('competitors.form.create_profile') %>
            </label>
          </div>

          <div class="row">
            <div class="col-sm-8">
              <%= f.label :name, t('activerecord.attributes.profile.name') %>
              <div class="form-group">
                <div class="col-sm-12">
                  <%= f.text_field :name, id: :competitor_name, class: 'form-control', value: '' %>
                </div>
              </div>
            </div>

            <div class="col-sm-4">
              <%= f.label :country, t('activerecord.attributes.profile.country') %>
              <div class="form-group">
                <div class="col-sm-12">
                  <%= f.select :country_id,
                               options_for_select([[@competitor.country_name, @competitor.country_id]]),
                               {},
                               id: :country_id,
                               class: 'form-control',
                               'data-controller': 'select2--countries' %>
                </div>
              </div>
            </div>
          </div>

          <hr>
          <%= f.label :assigned_number, t('activerecord.attributes.event/competitor.assigned_number') %>
          <div class="form-group">
            <div class="col-sm-12">
              <%= f.number_field :assigned_number, class: 'form-control' %>
            </div>
          </div>
          <hr>
          <h3 class="modal-form__section-title">
            <span class="modal-form__section-number">2</span>
            <%= t('competitors.form.suit_and_category') %>
          </h3>

          <%= f.label :suit, t('activerecord.attributes.event/competitor.suit') %>
          <div class="form-group">
            <div class="col-sm-12">
              <%= f.select :suit_id,
                           options_for_select([[@competitor.suit_name, @competitor.suit_id]]),
                           {},
                           id: :suit_id,
                           class: 'form-control',
                           'data-controller': 'select2--suits' %>
            </div>
          </div>

          <%= f.label :section, t('activerecord.attributes.event/competitor.section') %>
          <div class="form-group">
            <div class="col-sm-12">
              <%= f.collection_select :section_id,
                                      @event.sections,
                                      :id,
                                      :name,
                                      {},
                                      class: 'form-control',
                                      'data-controller': 'select2--local' %>
            </div>
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <%= f.submit t('general.save'), class: 'btn btn-primary' %>
        <button type="button" class="btn btn-default" data-dismiss="modal"><%= t 'general.cancel' %></button>
      </div>
    <% end %>
  </div>
</div>
