.modal-dialog
  .modal-content
    = form_for [@event, @competitor], remote: true, html: {class: 'form-horizontal'} do |f|
      = hidden_field_tag :display_raw_results, @display_raw_results
      .modal-header
        %button.close{type: 'button', data: {dismiss: 'modal'}}
          %span{aria: {hidden: 'true'}}
            &times;
          %span.sr-only
            Close
        %h4.modal-title
          = t('activerecord.models.competitor') + ': ' 
          - if @competitor.new_record?
            = t('events.index.new')
          - else
            = @competitor.name

      .modal-body
        .radio
          = f.label :profile_mode, value: :select do
            = f.radio_button :profile_mode, :select, checked: true
            = t('competitors.form.select_profile')
        .form-group
          = f.label :profile, class: 'control-label col-sm-4'
          .col-sm-8
            = f.select :profile_id,
                       options_for_select([[@competitor.name, @competitor.profile_id]]), 
                       class: 'form-control'

        .radio
          = f.label :profile_mode, value: :create do
            = f.radio_button :profile_mode, :create
            = t('competitors.form.create_profile')

        = f.fields_for :profile_attributes do |builder|
          .form-group
            = builder.label :name, 
                            t('activerecord.attributes.profile.name'), 
                            class: 'control-label col-sm-4'
            .col-sm-8
              = builder.text_field :name, class: 'form-control'
          .form-group
            = builder.label :country,
                            t('activerecord.attributes.profile.country'),
                            class: 'control-label col-sm-4'
            .col-sm-8
              = builder.select :country_id,
                               options_for_select([[@competitor.country_name, @competitor.country_id]]),
                               class: 'form-control'

        %hr
        .form-group
          = f.label :wingsuit, class: 'control-label col-sm-4'
          .col-sm-8
            = f.select :wingsuit_id,
                       options_for_select([[@competitor.wingsuit_name, @competitor.wingsuit_id]]), 
                       class: 'form-control'

        .form-group
          = f.label :section, class: 'control-label col-sm-4'
          .col-sm-8
            - sections_count = @event.sections.length
            - if sections_count == 1
              - section = @event.sections.first
              = f.hidden_field :section_id, value: section.id
              %p.form-control-static= section.name
            - elsif sections_count < 3
              .btn-group.btn-group-justified{'data-toggle' => 'buttons'}
                - @event.sections.each do |section|
                  - is_first_section = section == @event.sections.first
                  %label.btn.btn-default{class: ('active' if is_first_section)}
                    = f.radio_button :section_id, section.id, checked: is_first_section 
                    = section.name
            - else
              = f.collection_select :section_id,
                                    @event.sections,
                                    :id,
                                    :name,
                                    {class: 'form-control'}

      .modal-footer
        = f.submit t('general.save'), class: 'btn btn-primary'
        %button.btn.btn-default{type: 'button', data: {dismiss: 'modal'}}= t 'general.cancel'
