<div class="scoreboard" data-controller="events--sticky-header">
  <div class="scoreboard-scroll" data-target="events--sticky-header.container" data-action="scroll->events--sticky-header#on_horizontal_scroll">
    <table class="scoreboard-table" data-target="events--sticky-header.table">
      <thead>
        <tr>
          <th class="text-center" rowspan="3">#</th>
          <th rowspan="3" colspan="2">
            <%= t('activerecord.models.event/competitor') %>
          </th>

          <% scoreboard.rounds_by_discipline.each do |discipline, rounds| %>
            <th class="text-center" colspan="<%= rounds.count * 2 + 1 %>">
              <%= t("disciplines.#{discipline}") %>
            </th>
          <% end %>

          <th class="text-center" rowspan="3"><%= t('events.show.total') %></th>
        </tr>
        <tr>
          <% scoreboard.rounds_by_discipline.each do |_discipline, rounds| %>
            <% rounds.each do |round| %>
              <th class="scoreboard-round <%= 'text-gray' if round.excluded? %>" colspan="2">
                <%= round.number %>
              </th>
            <% end %>

            <th class="text-center" rowspan="2">%</th>
          <% end %>
        </tr>
        <tr>
          <% scoreboard.rounds_by_discipline.each do |discipline, rounds| %>
            <% rounds.each do |round| %>
              <th class="text-center <%= 'text-gray' if round.excluded? %>">
                <%= t("units.#{discipline_unit(discipline.to_sym)}")%>
              </th>
              <th class="text-center <%= 'text-gray' if round.excluded? %>">
                %
              </th>
            <% end %>
          <% end %>
        </tr>
      </thead>

      <% scoreboard.categories.each do |category| %>
        <%= render 'competition_series/scoreboards/category', category: category, scoreboard: scoreboard %>
      <% end %>
    </table>
  </div>
</div>
