<div class="scoreboard" data-controller="events--sticky-header">
  <div class="scoreboard-scroll" data-target="events--sticky-header.container" data-action="scroll->events--sticky-header#on_horizontal_scroll">
    <table class="scoreboard-table" data-target="events--sticky-header.table">
      <thead>
        <tr>
          <th class="text-center" rowspan="3">#</th>
          <th rowspan="3" colspan="2">
            <%= t('activerecord.models.event/competitor') %>
          </th>

          <% scoreboard.rounds_by_discipline.each do |discipline, rounds| %>
            <th class="text-center" colspan="<%= rounds.count * 2 + 1 %>">
              <%= t("disciplines.#{discipline}") %>
            </th>
          <% end %>

          <th class="text-center" rowspan="3"><%= t('events.show.total') %></th>
        </tr>
        <tr>
          <% scoreboard.rounds_by_discipline.each do |_discipline, rounds| %>
            <% rounds.each do |round| %>
              <th class="scoreboard-round" colspan="2">
                <%= round.number %>
              </th>
            <% end %>

            <th class="text-center" rowspan="2">%</th>
          <% end %>
        </tr>
        <tr>
          <% scoreboard.rounds_by_discipline.each do |discipline, rounds| %>
            <% rounds.each do %>
              <th class="text-center"><%= t("units.#{discipline_unit(discipline.to_sym)}")%></th>
              <th class="text-center">%</th>
            <% end %>
          <% end %>
        </tr>
      </thead>

      <% scoreboard.categories.each do |category| %>
        <tbody>
          <tr>
            <td class="scoreboard-section" colspan="<%= scoreboard.columns_count %>">
              <span class="section-name"><%= category.name %></span>
            </td>

            <% category.standings.each do |row| %>
              <tr class="scoreboard-competitor">
                <td class="text-center"><%= row.rank %></td>
                <td class="competitor-cell">
                  <%= link_to row.competitor.name.titleize, profile_path(row.competitor.profile), class: 'competitor-name' %>
                  <div class="competitor-suit text-gray">
                    <%= row.competitor.suit.manufacturer_code %>
                    <%= row.competitor.suit.name %>
                  </div>
                </td>
                <td class="text-center">
                <span data-toggle="tooltip" title="<%= row.competitor.country_name %>">
                  <%= row.competitor.country_code %>
                </span>

                </td>

                <% scoreboard.rounds_by_discipline.each do |discipline, rounds| %>
                  <% rounds.each do |round| %>
                    <% result = row.result_in_round(round) %>
                    <% if result %>
                      <td class="scoreboard-result">
                        <%= result&.formatted_result %>
                        <% if result.penalized %>
                          <sup class="text-danger">
                            <%= "-#{result.penalty_size}%" %>
                          </sup>
                        <% end %>

                        <span>
                          <%= show_event_track_link(result.record.round.event, result.record, false) %>
                        </span>
                      </td>
                      <td class="text-right">
                        <%= result.formatted_points %>
                      </td>
                    <% else %>
                      <td></td>
                      <td></td>
                    <% end %>
                  <% end %>

                  <td class="text-right">
                    <% points_in_discipline = row.points_in_disciplines[discipline] %>
                    <%= points_in_discipline&.positive? ? format('%.1f', points_in_discipline) : '' %>
                  </td>
                <% end %>

                <td class="scoreboard-total-result">
                  <% if row.total_points.positive? %>
                    <%= format('%.1f', row.total_points) %>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tr>
        </tbody>
      <% end %>
    </table>
  </div>
</div>
