.modal-dialog.modal-lg
  .modal-content
    .modal-header
      .pull-right
        = link_to @event_track.track, class: 'modal-header-link', target: '_blank' do
          %i.fa.fa-external-link
        %button.close{type: 'button', data: {dismiss: 'modal'}}
          %span{aria: {hidden: 'true'}}
            &times;
          %span.sr-only
            Close
      %h4.modal-title
        = "#{t('events.show.result')}: #{@event_track.competitor.name} | #{t('disciplines.' + @event_track.round_discipline)} - #{@event_track.round_name}"

    .modal-body
      .container-fluid
        .row
          .col-sm-12
            .pull-right
              = render 'tracks/view_settings_menu'
        -# Header
        = render partial: 'tracks/indicators', locals: {presenter: @track_data}

        %hr
        .row
          .col-sm-12
            = render 'tracks/charts'

        .row
          %hr
          %span.col-sm-2.control-label= t('events.show.track_upoaded')
          .col-sm-10
            %span#rm-track-uploaded= @event_track.uploaded_by.name

    .modal-footer
      %button.btn.btn-default{type: 'button', data: {dismiss: 'modal'}}
        OK
