.modal-dialog.modal-lg
  .modal-content
    .modal-header
      .pull-right
        = link_to track_path(@event_track.track, f: @event_track.range_from, t: @event_track.range_to, 'straight-line': true),
                  class: 'modal-header-link', target: '_blank' do
          %i.fa.fa-external-link
        %button.close{type: 'button', data: {dismiss: 'modal'}}
          %span{aria: {hidden: 'true'}}
            &times;
          %span.sr-only
            Close
      %h4.modal-title
        = event_track_presentation(@event_track)

    .modal-body
      .container-fluid
        = render 'events/event_tracks/header'
        .row
          .col-sm-12
            .pull-right
              = render 'tracks/view_settings_menu', presenter: @track_presenter
        -# Header
        = render partial: 'tracks/indicators', locals: {presenter: @track_presenter}

        %hr
        .row
          .col-sm-12
            = render 'tracks/charts', presenter: @track_presenter

        .row
          %hr
          %span.col-sm-2.control-label= t('activerecord.attributes.event_track.uploaded_by')
          .col-sm-10
            %span#rm-track-uploaded= @event_track.uploaded_by&.name

    .modal-footer
      %button.btn.btn-default{type: 'button', data: {dismiss: 'modal'}}
        OK
