<%= form_with model: @match, url: tournament_match_path(@tournament, @match), data: { controller: 'modal-form', action: 'form:submit-success->dialog#close' } do |f| %>
  <div class="sd-form">
    <div class="grid">
      <%= f.label :start_time, class: 'form-label col-4' %>
      <%= f.text_field :start_time, class: 'form-input col-8', value: @match.start_time&.strftime('%Y-%m-%d %T.%L') %>
    </div>

    <div class="grid">
      <%= f.label :match_type, class: 'form-label col-4' %>
      <div class="col-8">
        <div class="tab-bar">
          <label class="tab-bar-item">
            <%= f.radio_button :match_type, 'regular', class: 'tab-bar-radio' %>
            <span>Regular</span>
          </label>
          <label class="tab-bar-item">
            <%= f.radio_button :match_type, 'gold_finals', class: 'tab-bar-radio' %>
            <span>Gold finals</span>
          </label>
          <label class="tab-bar-item">
            <%= f.radio_button :match_type, 'bronze_finals', class: 'tab-bar-radio' %>
            <span>Bronze finals</span>
          </label>
        </div>
      </div>
    </div>

    <hr>

    <% competitors = @tournament.competitors.left_outer_joins(:profile).order('profiles.name') %>
    <% competitor_options = competitors.map { |c| [c.name, c.id] } %>
    <% index = 1 %>
    <%= f.fields_for :slots do |slot| %>
      <div class="grid">
        <%= slot.label :competitor, "Competitor #{index}", class: 'form-label col-4' %>
        <div class="col-8">
          <%= render 'hot_select/local_select',
                     form: slot,
                     name: :competitor_id,
                     options: competitor_options,
                     placeholder: 'Select competitor' %>
        </div>
      </div>
      <% index += 1 %>
    <% end %>

    <div class="form-actions justify-between">
      <div>
        <%= link_to t('general.delete'), tournament_match_path(@tournament, @match), data: { turbo_method: :delete, turbo_stream: true, turbo_confirm: 'Are you sure?' }, class: 'button button--danger' %>
      </div>
      <div>
        <%= f.submit t('general.save'), class: 'button button--primary', data: { disable_with: t('general.saving') } %>
        <button type="button" class="button" data-action="dialog#close"><%= t('general.cancel') %></button>
      </div>
    </div>
  </div>
<% end %>
