<% editable = policy(@tournament).update? %>
<% spacers ||= 0 %>

<% unless match.bronze_finals? %>
  <% spacers.times do %>
    <div class="tournament-spacer"></div>
  <% end %>
<% end %>

<div class="tournament-match">
  <% if !mobile? %>
    <div class="tournament-match-links">
      <%= link_to tournament_match_map_path(@tournament, match), data: { turbo_stream: true }, class: 'tournament-match-map text-muted' do %>
        <%= icon_tag 'compass-regular' %>
        Map
      <% end %>
      <%= link_to tournament_match_globe_path(@tournament, match), data: { turbo_stream: true }, class: 'tournament-match-map text-muted' do %>
        <%= icon_tag 'compass-regular' %>
        3D map
      <% end %>
      <% if editable %>
        <%= link_to edit_tournament_match_path(@tournament, match), data: { turbo_stream: true }, class: 'tournament-match-map text-muted' do %>
          <%= icon_tag 'pencil-solid' %>
          <%= t('general.edit') %>
        <% end %>
      <% end %>
    </div>
  <% end %>

  <div class="match-slots">
    <% match.slots.each do |slot| %>
      <div class="tournament-competitor">
        <% if slot.competitor.present? %>
          <div class="tournament-competitor-profile">
            <% if match.gold_finals? || match.bronze_finals? %>
              <% if slot.earn_medal %>
                <%= icon_tag 'certificate', class: "icon--fw #{slot.earn_medal}" %>
              <% else %>
                <span class="icon--fw"></span>
              <% end %>
            <% end %>
            <a href="<%= profile_path(slot.competitor.profile_id) %>">
              <%= image_tag slot.competitor.profile.userpic_url(:thumb) %>
              <%= slot.competitor.name %>
            </a>
          </div>
        <% else %>
          <div class="tournament-competitor-profile">?</div>
        <% end %>

        <div class="tournament-competitor-result">
          <% has_result = slot.result.present? || slot.track.present? %>

          <% result_html = capture do %>
            <% if slot.is_disqualified %>
              <s><%= slot.result %></s>
            <% else %>
              <%= slot.result %>
            <% end %>
          <% end %>

          <% if editable %>
            <% if has_result %>
              <%= link_to tournament_match_slot_result_path(@tournament, match, slot), data: { turbo_stream: true, toggle: 'tooltip' }, title: slot.notes do %>
                <%= result_html %>
              <% end %>
            <% else %>
              <%= link_to new_tournament_match_slot_result_path(@tournament, match, slot), data: { turbo_stream: true }, class: 'btn-flat btn-xs' do %>
                <%= icon_tag 'upload-solid', class: 'icon--fw text-muted' %>
              <% end %>
            <% end %>
          <% else %>
            <% if slot.track_id %>
              <%= link_to tournament_match_slot_result_path(@tournament, match, slot), data: { turbo_stream: true, toggle: 'tooltip' }, title: slot.notes do %>
                <%= result_html %>
              <% end %>
            <% else %>
              <%= result_html %>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>

    <% match.free_slots.times do %>
      <div class="tournament-competitor">
        <div class="tournament-competitor-profile">?</div>
      </div>
    <% end %>
  </div>
</div>

<% unless match.gold_finals? || match.bronze_finals? %>
  <% spacers.times do %>
    <div class="tournament-spacer"></div>
  <% end %>
<% end %>
