<div class='container'>
  <p id="notice"><%= notice %></p>

  <p>
    <strong>Tournament round:</strong>
    <%= @tournament_match.tournament_round_id %>
  </p>

  <p>
    <strong>Start time:</strong>
    <% if @tournament_match.start_time %>
	    <%= @tournament_match.start_time.strftime('%Y-%m-%d %l:%M:%S.%L') %>
    <% end %>
  </p>


  <%= link_to 'Edit', edit_tournament_match_path(@tournament, @tournament_match) %> |
  <%= link_to 'Back', tournament_matches_path %>
</div>
