<%# locals: (select_id:, src:, as: :popover, controller: 'hot-select', **attrs)  %>

<%= hot_select_options_container(as:, id: "#{select_id}-dropdown", style: "position-anchor: --#{select_id}", **attrs) do %>
  <div class="hot-select-search-form">
    <%= text_field_tag nil, nil,
                       class: 'hot-select-search',
                       placeholder: t('hot_select.search_placeholder'),
                       disabled: true,
                       data: {
                         'hot-select-target': (controller == 'hot-select' ? 'searchInput' : nil),
                         action: "input->#{controller}#search"
                       }.compact %>
  </div>

  <turbo-frame id="<%= select_id %>"
               src="<%= merge_query_params(src, frame_id: select_id) %>"
               loading="lazy"
               class="hot-select-scrollable hot-select-selectable"
               data-hot-select-target="<%= 'frame' if controller == 'hot-select' %>">
    <div class="hot-select-options">
      <div class="hot-select-option" role="option"><%= t('hot_select.loading') %></div>
    </div>
  </turbo-frame>
<% end %>
