<%# locals: (form: nil, name:, select_id:, options: [], **local_assigns) %>

<% container_class = local_assigns.delete(:class) || '' %>
<% clearable = local_assigns.key?(:clearable) ? local_assigns.delete(:clearable) : true %>

<div id="<%= select_id %>-container" class="form-input hot-select-container <%= container_class %>"
     data-controller="hot-select"
     role="combobox"
     aria-haspopup="listbox"
     aria-expanded="false">
  <% select_html_options = { class: 'hot-select--hidden', data: { 'hot-select-target': 'selectInput' } }.deep_merge(local_assigns[:select] || {}) %>
  <% if form %>
    <%= form.select name, options, {}, select_html_options %>
  <% else %>
    <%= select_tag name, options_for_select(options), select_html_options %>
  <% end %>

  <div class="hot-select-control" tabindex="0">
    <div class="hot-select-placeholder"
         data-action="click->hot-select#toggle"
         data-hot-select-target="placeholder">
      <%= local_assigns[:placeholder] || raw('&nbsp;') %>
    </div>
    <div class="hot-select-value"
         data-action="click->hot-select#toggle"
         data-hot-select-target="displayValue">
    </div>
    <div class="hot-select-indicators">
      <% if clearable %>
        <button type="button" class="hot-select-button" data-action="hot-select#clear" aria-label="<%= t('general.clear') %>">
          <%= svg_icon 'xmark' %>
        </button>
        <div class="hot-select-separator"></div>
      <% end %>
      <button type="button" class="hot-select-button" data-action="hot-select#toggle" aria-label="Toggle dropdown">
        <%= svg_icon 'angle-down-solid' %>
      </button>
    </div>
  </div>

  <%= yield %>
</div>
