<%# locals: (form: nil, name:, select_id:, options: [], **attrs) %>

<% container_class = attrs.delete(:class) || '' %>
<% clearable = attrs.key?(:clearable) ? attrs.delete(:clearable) : true %>

<div id="<%= select_id %>-container" class="form-input hot-select-container <%= container_class %>"
     data-controller="hot-select"
     role="combobox"
     aria-haspopup="listbox"
     aria-expanded="false"
     aria-label="<%= attrs[:placeholder] %>">
  <% select_html_options = {
    class: 'hot-select--hidden',
    data: { 'hot-select-target': 'selectInput' }
  }.deep_merge(attrs[:select] || {}) %>

  <% if form %>
    <%= form.select name, options, {}, select_html_options %>
  <% else %>
    <%= select_tag name, options_for_select(options), select_html_options %>
  <% end %>

  <div class="hot-select-control" tabindex="0">
    <div class="hot-select-placeholder"
         data-action="click->hot-select#toggle"
         data-hot-select-target="placeholder">
      <%= attrs[:placeholder] || raw('&nbsp;') %>
    </div>
    <div class="hot-select-value"
         data-action="click->hot-select#toggle"
         data-hot-select-target="displayValue">
    </div>
    <div class="hot-select-indicators">
      <% if clearable %>
        <button type="button" class="hot-select-button" data-action="hot-select#clear" aria-label="<%= t('general.clear') %>">
          <%= icon_tag 'xmark' %>
        </button>
        <div class="hot-select-separator"></div>
      <% end %>
      <button type="button" class="hot-select-button" data-action="hot-select#toggle" aria-label="<%= t('hot_select.toggle_dropdown') %>">
        <%= icon_tag 'angle-down-solid' %>
      </button>
    </div>
  </div>

  <%= yield %>
</div>
