<%# locals: (options: [], **local_assigns) %>

<%= tag.div 'data-controller': 'omni-search', class: 'form-input hot-select-container hot-select-control', **local_assigns do %>
  <template data-target="omni-search.tagTemplate">
    <%= render 'hot_select/tag' %>
  </template>

  <div class="omni-search-container">
    <div class="selected-tags-container" data-target="omni-search.tagsContainer">
      <% options.each do |value, name, param, label| %>
        <%= render 'hot_select/tag', type: label, param:, name:, value: %>
      <% end %>
    </div>

    <div class="hot-select-placeholder"
         data-action="click->omni-search#toggle"
         data-target="hot-select.placeholder">
      <%= local_assigns[:placeholder] || raw('&nbsp;') %>
    </div>
  </div>
  <div class="hot-select-indicators">
    <button type="button" class="hot-select-button" data-action="omni-search#clear">
      <%= svg_icon 'xmark' %>
    </button>
  </div>

  <%= yield %>
<% end %>
