<%# locals: (**local_assigns) %>

<%= tag.div 'data-controller': 'omni-search', class: 'form-input hot-select-container hot-select-control', **local_assigns do %>
  <template data-target="omni-search.tagTemplate">
    <div class="filter-tag">
      <span class="filter-tag-type"></span>
      <span class="filter-tag-separator">|</span>
      <span class="filter-tag-value"></span>
      <button class="filter-tag-remove" data-action="omni-search#removeTag">
        <%= svg_icon 'xmark' %>
      </button>
    </div>
  </template>

  <div class="omni-search-container">
    <div class="selected-tags-container" data-target="omni-search.tagsContainer"></div>

    <div class="hot-select-placeholder"
         data-action="click->omni-search#toggle"
         data-target="hot-select.placeholder">
      <%= local_assigns[:placeholder] || raw('&nbsp;') %>
    </div>
  </div>
  <div class="hot-select-indicators">
    <button type="button" class="hot-select-button" data-action="omni-search#clear">
      <%= svg_icon 'xmark' %>
    </button>
  </div>

  <%= yield %>
<% end %>
