<%# locals: (type: '', param: '', name: '', value: '') %>

<div class="filter-tag" data-type="<%= param %>" data-value="<%= value %>">
  <span class="filter-tag-type"><%= type %></span>
  <span class="filter-tag-separator">|</span>
  <span class="filter-tag-value"><%= name %></span>
  <button class="filter-tag-remove" data-action="omni-search#removeTag">
    <%= icon_tag 'xmark' %>
  </button>
</div>
