- cache ['scoreboard',
         I18n.locale,
         @event, 
         (@display_raw_results ? 'raw' : ''), 
         (can? :update, @event)] do
  %table.table.table-bordered#results-table
    %thead
      %tr#disciplines-row
        %td{rowspan: 3}
          \#
        %td{rowspan: 2, colspan: 2}
          = t('events.show.competitor')
        - @event.rounds_by_discipline.each do |discipline, rounds|
          %td.text-center{colspan: rounds.count}
            = "#{t('disciplines.' + discipline)}, #{t('units.' + discipline_unit(discipline.to_sym).to_s)}"
        %td.text-center{rowspan: 2}
          = t('events.show.total')
      %tr#rounds-row
        - @event.rounds_by_discipline.each do |discipline, rounds|
          - rounds.each do |round|
            %td.round-cell.text-center
              = round.name
              - if can?(:delete, round) && !@event.finished?
                = button_to event_round_path(@event, round),
                            method: :delete,
                            remote: true,
                            class: 'btn-link delete-round' do
                  %i.fa.fa-fw.fa-times-circle.text-muted

    - @event.sections.each do |section|
      - next unless section.id
      %tbody
        = render 'events/sections/section_row',
                 section: section,
                 columns_count: @scoreboard.columns_count

        - section_competitors = @scoreboard.sections[section.id]
        - row_number = 1
        - section_competitors.each do |competitor|
          %tr.competitor-row{id: "competitor_#{competitor.id}"}
            %td.row-number= row_number
            = render 'events/competitors/competitor_cells', competitor: competitor
            - @event.rounds_by_discipline.each do |discipline, rounds|
              - rounds.each do |round|
                - result_entity = competitor.event_tracks.detect { |x| x[:round_id] == round.id }
                - display_raw_results = @scoreboard.display_raw_results
                - if result_entity
                  - result_value = result_entity.result(net: display_raw_results)

                  - result_class = ''
                  - if result_entity.best_in_section?
                    - result_class = 'hc-best-result'
                  - elsif result_entity.worst_in_section?
                    - result_class = 'hc-worst-result'

                  - if competitor.counted_results.try(:include?, result_entity)
                    - result_class += ' counted-result'
                  %td.result-cell.text-right{class: result_class}
                    - if result_value && result_value > 0
                      - if result_entity.is_disqualified
                        %s
                          = result_value.truncate
                      - else
                        = result_value.truncate
                    %span{'data-toggle' => 'tooltip', title: (result_entity.disqualification_reason if result_entity.is_disqualified)}
                      = link_to event_event_track_path(@event, result_entity),
                                remote: true,
                                class: 'show-result',
                                rel: 'nofollow' do
                        %i.fa.fa-search

                      - if can?(:manage, result_entity) && !@event.finished?
                        = link_to edit_event_event_track_path(@event, result_entity),
                                  remote: true,
                                  'data-params': { display_raw_results: display_raw_results }.to_param,
                                  class: 'edit-result',
                                  rel: 'nofollow' do
                          %i.fa.fa-pencil


                - elsif can?(:update, @event) && !@event.finished?
                  %td.text-center.create-result-cell
                    = link_to new_event_event_track_path(@event), 
                              remote: true, 
                              'data-params': { 'event_track[competitor_id]' => competitor.id,
                                               'event_track[round_id]' => round.id,
                                               display_raw_results: display_raw_results }.to_param,
                              class: 'create-result',
                              rel: 'nofollow' do
                      %i.fa.fa-upload

                - else
                  %td
                      
            %td.text-right
              - if competitor.total_points && competitor.total_points > 0
                = competitor.total_points.round.truncate

          - row_number += 1
