- can_update = policy(@event).update?
- cache ['scoreboard', I18n.locale, @event, (@display_raw_results ? 'raw' : ''), can_update] do
  %table.table.table-bordered#results-table
    %thead
      %tr#disciplines-row
        %td{rowspan: 3}
          \#
        %td{rowspan: 3, colspan: 2}
          = t('activerecord.models.competitor')
        - @event.rounds_by_discipline.each do |discipline, rounds|
          %td.text-center{colspan: (rounds.count * 2 + 1)}
            = t('disciplines.' + discipline)
        %td.text-center{rowspan: 3}
          = t('events.show.total')
      %tr#rounds-row
        - @event.rounds_by_discipline.each do |discipline, rounds|
          - rounds.each do |round|
            %td.round-cell{colspan: 2}
              .round-cell__content
                = round.number
                .round-cell__actions.dropdown
                  %button.btn-link{'data-toggle': 'dropdown'}
                    %i.fa.fa-ellipsis-v
                  %ul.dropdown-menu.dropdown-menu-right
                    %li
                      = link_to event_round_map_path(@event, round), remote: true, class: 'round-map-view', rel: 'nofollow' do
                        %i.fa.fa-compass
                        Google maps
                    %li
                      = link_to event_round_globe_path(@event, round), remote: true, class: 'round-map-view', rel: 'nofollow' do
                        %i.fa.fa-compass
                        3D maps
                    - if can_update && !@event.finished?
                      %li.divider
                      %li
                        = button_to event_round_path(@event, round),
                                    method: :delete,
                                    remote: true,
                                    class: 'btn-link' do
                          %i.fa.fa-times.text-muted
                          = t('general.delete')
          %td.text-center{rowspan: 2, 'data-discipline' => discipline, 'data-role' => 'points'}
            = '%'
      %tr#units-row
        - @event.rounds_by_discipline.each do |discipline, rounds|
          - rounds.each do |round|
            %td.text-center
              = t('units.' + discipline_unit(discipline.to_sym).to_s)
            %td.text-center
              = '%'

    - @event.sections.each do |section|
      - next unless section.id
      %tbody
        = render 'events/sections/section_row',
                 section: section,
                 columns_count: @scoreboard.columns_count,
                 editable: can_update && !@event.finished?

        - section_competitors = @scoreboard.sections[section.id]
        - section_competitors.each_with_index do |competitor, index|
          %tr.competitor-row{id: dom_id(competitor)}
            %td.row-number= index + 1

            = render 'events/competitors/competitor_cells',
                     competitor: competitor,
                     editable: can_update && !@event.finished?

            - @event.rounds_by_discipline.each do |discipline, rounds|
              - rounds.each do |round|
                - result_entity = competitor.event_tracks.detect { |x| x[:round_id] == round.id }
                - display_raw_results = @scoreboard.display_raw_results
                - if result_entity
                  - result_value = result_entity.result(net: display_raw_results)
                  %td.result-cell.text-right{'data-role' => 'result', class: ('hc-best-result' if best_in_round?(@event, result_entity, net: display_raw_results))}
                    - if result_value&.positive?
                      - if discipline == 'distance'
                        = result_value.truncate
                      -else
                        = result_value.round(1)

                      - if result_entity.penalized
                        %sup.text-danger= "-#{result_entity.penalty_size}%"
                    - elsif result_value.to_i.zero? && can_update
                      %i.fa.fa-question-circle.text-danger
                    %span
                      = link_to event_event_track_path(@event, result_entity),
                                remote: true,
                                class: 'show-result',
                                rel: 'nofollow' do
                        - if can_update && !@event.finished?
                          %i.fa.fa-pencil
                        - else
                          %i.fa.fa-search

                  %td.points-cell
                    - points = event_track_points(@event, result_entity, net: display_raw_results)
                    - if result_entity.penalized
                      %span.dotted-underline{'data-toggle' => 'tooltip',
                                              title: result_entity.penalty_reason}
                      - if points&.positive?
                        = points.round(1)
                    - else
                      - if points&.positive?
                        = points.round(1)
                - elsif can_update && !@event.finished?
                  %td.text-center.create-result-cell
                    = new_event_track_link(@event, competitor, round, display_raw_results)
                  %td

                - else
                  %td
                  %td

              %td.points-cell.text-right
                - points_in_discipline = competitor.points_in_disciplines[discipline]
                - if points_in_discipline && points_in_discipline > 0
                  = points_in_discipline.round(1)
            %td.text-right
              - if competitor.total_points && competitor.total_points > 0
                = competitor.total_points.round(2)
