- cache ['mobile-scoreboard', I18n.locale, @scoreboard.event, display_event_params] do
  %table.event__scoreboard-table
    %thead
      %tr
        %td{rowspan: 3} #
        %td{rowspan: 3, colspan: 3}= t('activerecord.models.competitor')
        - @scoreboard.rounds_by_discipline.each do |discipline, rounds|
          %td.text-center{colspan: (rounds.count * 2 + 1)}
            = t('disciplines.' + discipline)
        %td.text-center{rowspan: 3}= t('events.show.total')
      %tr.text-center
        - @scoreboard.rounds_by_discipline.each do |discipline, rounds|
          - rounds.each do |round|
            %td{colspan: 2}= round.number
          %td{rowspan: 2} %
      %tr.text-center
        - @scoreboard.rounds_by_discipline.each do |discipline, rounds|
          - rounds.each do |round|
            %td= t("units.#{discipline_unit(discipline.to_sym)}")
            %td %

    - @scoreboard.sections.each do |section|
      %tbody
        %tr
          %td.event__scoreboard-section{colspan: @scoreboard.columns_count + 1}= section.name

        - section.competitors.each_with_index do |competitor, index|
          %tr{id: dom_id(competitor)}
            %td= index + 1

            = render 'events/competitors/competitor_cells', competitor: competitor

            - @scoreboard.rounds_by_discipline.each do |discipline, rounds|
              - rounds.each do |round|
                - result = @scoreboard.results.for(competitor: competitor, round: round)
                - if result
                  %td.text-right
                    = link_to event_event_track_path(@scoreboard.event, result),
                              remote: true,
                              class: ('text-green' if result.best_in_round_and_category?),
                              rel: 'nofollow' do

                      - if result.valid?
                        = result.formated
                        - if result.penalized
                          %sup.text-danger= "-#{result.penalty_size}%"

                  %td.text-right.text-gray
                    = result.formated_points

                - else
                  %td
                  %td

              %td.text-right.text-gray
                - points_in_discipline = competitor.points_in_discipline(discipline)
                - if points_in_discipline&.positive?
                  = points_in_discipline.round(1)

            %td.text-right
              - if competitor.total_points.positive?
                = '%.2f' % competitor.total_points.round(2)
