- can_update = policy(@scoreboard.event).update? && !@scoreboard.event.finished?
- cache ['scoreboard', I18n.locale, @scoreboard.event, (@scoreboard.adjust_to_wind? ? 'wind-adjusted' : ''), can_update] do
  %table.table.table-bordered#results-table
    %thead
      %tr#disciplines-row
        %td{rowspan: 3}
          \#
        %td{rowspan: 3, colspan: 2}
          = t('activerecord.models.competitor')
        - @scoreboard.rounds_by_discipline.each do |discipline, rounds|
          %td.text-center{colspan: (rounds.count * 2 + 1)}
            = t('disciplines.' + discipline)
        %td.text-center{rowspan: 3}
          = t('events.show.total')
      %tr#rounds-row
        - @scoreboard.rounds_by_discipline.each do |discipline, rounds|
          - rounds.each do |round|
            %td.round-cell{colspan: 2}
              .round-cell__content
                = round.number
                .round-cell__actions.dropdown
                  %button.btn-link{'data-toggle': 'dropdown'}
                    %i.fa.fa-ellipsis-v
                  %ul.dropdown-menu.dropdown-menu-right
                    %li
                      = link_to event_round_map_path(@event, round), remote: true, class: 'round-map-view', rel: 'nofollow' do
                        %i.fa.fa-compass
                        Google maps
                    %li
                      = link_to event_round_globe_path(@event, round), remote: true, class: 'round-map-view', rel: 'nofollow' do
                        %i.fa.fa-compass
                        3D maps
                    - if can_update
                      %li.divider
                      %li
                        = button_to event_round_path(@event, round),
                                    method: :delete,
                                    remote: true,
                                    class: 'btn-link' do
                          %i.fa.fa-times.text-muted
                          = t('general.delete')
          %td.text-center{rowspan: 2, 'data-discipline' => discipline, 'data-role' => 'points'}
            = '%'
      %tr#units-row
        - @scoreboard.rounds_by_discipline.each do |discipline, rounds|
          - rounds.each do |round|
            %td.text-center
              = t('units.' + discipline_unit(discipline.to_sym).to_s)
            %td.text-center
              = '%'

    - @scoreboard.sections.each do |section|
      %tbody
        = render 'events/sections/section_row',
                 section: section,
                 columns_count: @scoreboard.columns_count,
                 editable: can_update

        - section.competitors.each_with_index do |competitor, index|
          %tr.competitor-row{id: dom_id(competitor)}
            %td.row-number= index + 1

            = render 'events/competitors/competitor_cells',
                     competitor: competitor,
                     editable: can_update

            - @scoreboard.rounds_by_discipline.each do |discipline, rounds|
              - rounds.each do |round|
                - result = @scoreboard.results.for(competitor: competitor, round: round)
                - if result
                  %td.result-cell.text-right{'data-role' => 'result', class: ('hc-best-result' if result.best_in_round_and_category?)}
                    - if result.valid?
                      = result.formated
                      - if result.penalized?
                        %sup.text-danger= "-#{result_entity.penalty_size}%"

                    - elsif can_update
                      %i.fa.fa-question-circle.text-danger
                    %span
                      = link_to event_event_track_path(@scoreboard.event, result),
                                remote: true,
                                class: 'show-result',
                                rel: 'nofollow' do
                        - if can_update
                          %i.fa.fa-pencil
                        - else
                          %i.fa.fa-search

                  %td.points-cell.text-right
                    - if result.penalized?
                      %span.dotted-underline{'data-toggle': 'tooltip', title: result.penalty_reason}
                        = result.formated_points
                    - else
                      = result.formated_points
                - elsif can_update
                  %td.text-center.create-result-cell
                    = new_event_track_link(@scoreboard.event, competitor, round)
                  %td

                - else
                  %td
                  %td

              %td.points-cell.text-right
                - points_in_discipline = competitor.points_in_discipline(discipline)
                - if points_in_discipline&.positive?
                  = points_in_discipline.round(1)
            %td.text-right
              - if competitor.total_points.positive?
                = '%.2f' % competitor.total_points
