<div class="track-upload">
  <div class="track-upload__title">
    <%= t 'static_pages.index.track_form.title' %>
  </div>

  <%= form_for :track_file, url: track_files_path, remote: true, html: { multipart: true } do |f| %>
    <div class="content-block form-body">
      <div class="form-group">
        <%= f.label :file %>
        <div class="input-group" data-controller="filefield">
          <input class="form-control input-lg" type="text" readonly="true" data-filefield-target="text_field">
          <span class="input-group-btn">
            <span class="btn btn-default btn-lg btn-file">
              &hellip;
              <%= f.file_field :file, required: true, accept: '.csv,.gpx,.tes,.kml', data: { 'filefield-target': 'file_field', action: 'change->filefield#change' } %>
            </span>
          </span>
        </div>
        <p class="help-block"><%= t 'static_pages.index.track_form.help' %></p>
      </div>

      <%= f.fields_for :track_attributes do |builder| %>
        <%= render 'tracks/form/activity', form: builder %>

        <% recent_suit_id = recent_value(:suit_id) %>
        <% recent_suit_name = recent_value(:suit_name) %>
        <%= render 'tracks/form/suit', form: builder, mode_select_when: recent_suit_id || !recent_suit_name, suit_options: options_for_select([[suit_name_by_id(recent_suit_id), recent_suit_id]], recent_suit_id), missing_suit_name: recent_suit_name %>

        <div class="form-group">
          <%= builder.label :location, t('activerecord.attributes.track.place') %>
          <%= builder.text_field :location, class: 'form-control input-lg', placeholder: t('static_pages.index.track_form.location_plh'), required: true, type: 'text', value: recent_value(:location) %>
        </div>

        <%= render 'tracks/form/visibility', form: builder %>
      <% end %>

      <%= f.fields_for :track_attributes do |builder| %>
        <div class="form-group">
          <%= builder.label :comment, t('activerecord.attributes.track.comment') %>
          <%= builder.text_area :comment, class: 'form-control input-lg', rows: 3, placeholder: t('static_pages.index.track_form.comment_plh') %>
        </div>
      <% end %>

      <div class="text-center">
        <%= f.submit t('static_pages.index.track_form.submit'), class: 'btn btn-lg btn-success' %>
      </div>
    </div>
  <% end %>
</div>
