<div class="contributors">
  <h2>I want to thank these amazing people 😍</h2>
  <h3>
    In past month Skyderby received
    <% if contributions.number_of_contributions_this_month == 1 %> only <% end %>
    <%= contributions.number_of_contributions_this_month %>
    financial
    <% if contributions.number_of_contributions_this_month == 1 %> contribution <% else %> contribution <% end %>
    from
  </h3>
    <% if contributions.number_of_contributions_this_month.positive? %>
      <div class="contributors-list">
        <% contributions.this_month_contributors.each do |detail| %>
        <div class="contributor-list-item  <%= detail.profile == Current.profile ? 'active' : '' %>">
          <img src="<%= detail.profile.userpic_url(:thumb) %>" />
          <div class="contributor-name">
            <span class="contributor"><%= detail.profile.name %></span>
          </div>
        </div>
        <% end %>
      </div>
    <% end %>
  <h3>Along with previously received from:</h3>
  <div class="contributors-list">
    <% contributions.sample_of_previous_contributions.each do |detail| %>
      <div class="contributor-list-item  <%= detail.profile == Current.profile ? 'active' : '' %>">
        <img src="<%= detail.profile.userpic_url(:thumb) %>" />
        <div class="contributor-name">
          <span class="contributor"><%= detail.profile.name %></span>
        </div>
      </div>
    <% end %>
    <div class="contributor-list-item">and more...</div>
  </div>
</div>
