.modal.fade#newEventModal{:tabindex => '-1', :role => 'dialog', :aria => {:labelledby => 'myModalLabel', :hidden => 'true'}}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{:type => 'button', :data => {dismiss => 'modal'}}
          %span{:aria => {:hidden => 'true'}}
            &times;
          %span.sr-only
            Close
        %h4.modal-title#myModalLabel = 'Новое событие'

      = form_for @event, :html => {:class => 'form-horizontal', :role => 'form', :id => 'new_event_form'} do |f|
        .modal-body
          .form-group
            = f.label t('static_pages.index.events.form.name'), :class => 'col-sm-4 control-label', :for => 'name'
            .col-sm-8
              = f.text_field :name, :class => 'form-control', :placeholder => 'Имя мероприятия', :type => 'text'

          .form-group
            = f.label t('static_pages.index.events.form.place'), :class => 'col-sm-4 control-label', :for => 'place'
            .col-sm-8
              = f.text_field :place, :class => 'form-control', :placeholder => 'Локация', :type => 'text'

          .form-group
            = f.label t('static_pages.index.events.form.start_at'), :class => 'col-sm-4 control-label', :for => 'start_at'
            .col-sm-8
              = f.text_field :start_at, :class => 'form-control datepicker'

          .form-group
            = f.label t('static_pages.index.events.form.end_at'), :class => 'col-sm-4 control-label', :for => 'end_at'
            .col-sm-8
              = f.text_field :end_at, :class => 'form-control datepicker'

          .form-group
            = f.label t('static_pages.index.events.form.range_from'), :class => 'col-sm-4 control-label', :for => 'comp_range_from'
            .col-sm-8
              = f.text_field :comp_range_from, :class => 'form-control'

          .form-group
            = f.label t('static_pages.index.events.form.range_to'), :class => 'col-sm-4 control-label', :for => 'comp_range_to'
            .col-sm-8
              = f.text_field :comp_range_to, :class => 'form-control'

        .modal-footer
          %button.btn.btn-default{:type => 'button', :data => {:dismiss => 'modal'}} ='Отмена'
          = f.submit 'Далее', :class => 'btn btn-primary'