- cache "online_competitions_summary_#{I18n.locale}", expires_in: 10.minutes do
  - if @online_competitions.many?
    .container.top-buffer
      .row
        .col-sm-12.text-center
          %h1.light-header= t('static_pages.index.online_comps_leaders')
      - @online_competitions.each do |activity, competitions|
        %hr
        .row
          .col-sm-12.text-center
            %h2.light-header= {'base' => 'BASE Challenge', 'skydive' => 'Skydive Challenge'}[activity]
        .leaderboard-stack
          - competitions.each do |competition|
            .leaderboard-stack__panel
              .leaderboard-stack__panel-header
                = link_to competition.name, virtual_competition_path(competition)
              - leaders = competition.personal_top_scores.first(3)
              = render 'virtual_competitions/leaderboard', leaders: leaders, orientation: :vertical
