- cache "online_competitions_summary_#{I18n.locale}", expires_in: 10.minutes do
  - if @page.online_competitions_summary.many?
    .container.top-buffer
      .row
        .col-sm-12.text-center
          %h1.light-header= t('static_pages.index.online_comps_leaders')
      - @page.online_competitions_summary.each do |activity, competitions|
        %hr
        .row
          .col-sm-12.text-center
            %h2.light-header= t(".competitions_header.#{activity}")
        .leaderboard-stack
          - competitions.each do |competition|
            .leaderboard-stack__panel
              .leaderboard-stack__panel-header
                = link_to competition.name, virtual_competition_path(competition)
              - leaders = competition.personal_top_scores.wind_cancellation(false).first(3)
              = render 'virtual_competitions/leaderboard', leaders: leaders, orientation: :vertical
