.container
  .row
    .col-md-12.text-center
      %h2= t('.online_competitions')
      %ul.nav.nav-pills.center-pills{role:"tablist"}
        %li{role: "presentation"}
          %a{href: "#"}
            = 'Skydive'
            %span.badge
              = @summary.online[:skydive]
        %li{role: "presentation"}
          %a{href: "#"}
            = 'B.A.S.E'
            %span.badge
              = @summary.online[:base]
      %p
        = t('.online_competitions_desc')

  .row
    .col-md-12.text-center
      %h2= t('.official_competitions')
      %ul.nav.nav-pills.center-pills{role:"tablist"}
        %li{role: "presentation"}
          %a{href: "#"}
            = 'Skydive'
            %span.badge
              = @summary.officials[:skydive]
        %li{role: "presentation"}
          %a{href: "#"}
            = 'B.A.S.E'
            %span.badge
              = @summary.officials[:base]
      %p
        = t('.official_competitions_desc')

  .row
    .col-md-12.text-center
      %h2= t('.warm_up_competitions')
      %ul.nav.nav-pills.center-pills{role:"tablist"}
        %li{role: "presentation"}
          %a{href: "#"}
            = 'Skydive'
            %span.badge
              = @summary.warm_ups[:skydive]
        %li{role: "presentation"}
          %a{href: "#"}
            = 'B.A.S.E'
            %span.badge
              = @summary.warm_ups[:base]
      %p
        = t('.warm_ups_competitions_desc')

