<% provide(:title, 'Home') %>
<script type="text/javascript" charset="utf-8">
  function checkFile(e) {
    var file_list = e.files;
    for (var i = 0, file; file = file_list[i]; i++) {
      var FileName = file.name;
      var FileExtension = FileName.split('.')[FileName.split('.').length - 1].toLowerCase();
      var FileSize = file.size;
      var FileSizeMb = (file.size / 1048576).toFixed(2);
      var txt = "";

      if (!(FileExtension === "gpx" || FileExtension === "csv"))  {
        txt += "Расширение файла : " + FileExtension + "\n\n";
        txt += "Пожалуйтса, выберите файл с расширением csv или gpx.\n\n";
      }
      if (FileSize > 1048576) {
        txt += "Размер файла : " + FileSizeMb + " Мб \n\n";
        txt += "Размер файла не должен превышать 1 Мб";
      }
      if (!(txt === "")) {
        bootstrap_alert.warning(txt);
        e.value = "";
      }
    }
  };

  $(document).ready(function() {
    bootstrap_alert = function() {}
    bootstrap_alert.warning = function(message) {
    $('#alert-placeholder').append('<div class="alert alert-danger alert-dismissible"><button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button><span>'+message+'</span></div>')
    }
    
    $('form').submit( function( e ) {
      var form_valid = true;
      $('#alert-placeholder').empty();

      if ($('#name').val().length === 0 || !$('#name').val().trim()) {
        bootstrap_alert.warning('Вы не указали как Вас зовут.');
        form_valid = false;
      }
      if ($('#suit').val().length === 0 || !$('#suit').val().trim()) {
        bootstrap_alert.warning('Вы не указали в чем Вы летали этот полет.');
        form_valid = false;
      }
      if ($('#location').val().length === 0 || !$('#location').val().trim()) {
        bootstrap_alert.warning('Вы не указали где Вы летали.');
        form_valid = false;
      }
      if ($('#track_file').val().length === 0 || !$('#track_file').val().trim()) {
        bootstrap_alert.warning('Вы не выбрали файл.');
        form_valid = false;
      }
      if (!form_valid)
        e.preventDefault();

    });
  });
</script>

<div class="page-header">
  <h1>Летай! Соревнуйся! Побеждай! <small> Альфа версия. Это еще не Бета.</small></h1>
</div>
  
<div class="jumbotron col-sm-8">
  <h2>Посмотреть и оценить трек:</h2>
  <%= form_tag '/select_track', multipart: true, :class => 'form-horizontal', :role => 'form' do %>
    <div class="form-group">
      <%= label_tag 'name', 'Вас зовут:', :class => 'col-sm-3 control-label', :for => 'name' %>
      <div class="col-sm-9">
        <%= text_field_tag 'name', nil, :class => 'form-control', :placeholder => 'Имя Ф.', :type => 'text' %>
      </div>
    </div>
    <div class="form-group">
      <%= label_tag 'suit', 'Вы летаете в:', :class => 'col-sm-3 control-label', :for => 'suit' %>
      <div class="col-sm-9">
        <%= text_field_tag 'suit', nil, :class => 'form-control', :placeholder => 'Модель вингсьюта', :type => 'text' %>
      </div>
    </div>
    <div class="form-group">
      <%= label_tag 'location', 'Локация:', :class => 'col-sm-3 control-label', :for => 'location' %>
      <div class="col-sm-9">
        <%= text_field_tag 'location', nil, :class => 'form-control', :placeholder => 'ДЗ, горы, и т.д.', :type => 'text' %>
      </div>
    </div>
    <div class="form-group">
      <%= label_tag "track_file", "Файл трека:", :class => 'col-sm-3 control-label', :for => 'track_file' %>
      <div class="col-sm-9">
        <%= file_field_tag "track_file", {:onChange => 'checkFile(this)'}  %>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-3 col-sm-9">
        <h4 class='help-block'>Поддерживаются файлы в формате csv и gpx</h4>
      </div>
    </div>
    <div class="form-group">
      <%= label_tag 'Комментарий:', nil, :class => 'col-sm-3 control-label', :for => 'comment' %>
      <div class="col-sm-9">
        <%= text_area_tag 'comment', nil, :class => 'form-control', :rows => 3, :placeholder => 'Пара слов о Вашем полете' %>
      </div>
    </div>
    <div class='form-group'>
      <div class='col-sm-offset-3 col-sm-9'>
        <%= submit_tag 'Загрузить', :class => 'btn btn-default' %>
      </div>
    </div>
    <div id='alert-placeholder'></div>
  <% end %>
</div>
<div class="col-sm-8">
  <h3>Или</h3>
</div>
<div class="jumbotron col-sm-8">
  <h2>Посоревноваться:</h2>
  <h4 class="help-block">Скоро будет</h4>
</div>
