<script type="text/javascript" charset="utf-8">
  function checkFile(e) {
    var file_list = e.files;
    for (var i = 0, file; file = file_list[i]; i++) {
      var FileName = file.name;
      var FileExtension = FileName.split('.')[FileName.split('.').length - 1].toLowerCase();
      var FileSize = file.size;
      var FileSizeMb = (file.size / 1048576).toFixed(2);
      var txt = "";

      if (!(FileExtension === "gpx" || FileExtension === "csv"))  {
        txt += <%=t '.track_form.warnings.file_ext_w1_html' %> + FileExtension + "\n\n";
        txt += <%=t '.track_form.warnings.file_ext_w2_html' %>;
      }
      if (FileSize > 1048576) {
        txt += <%=t '.track_form.warnings.file_size_w1_html' %> + FileSizeMb + " Мб \n\n";
        txt += <%=t '.track_form.warnings.file_size_w2_html' %>;
      }
      if (!(txt === "")) {
        bootstrap_alert.warning(txt);
        e.value = "";
      }
    }
  };

  $(document).ready(function() {

    $(".datepicker").datepicker({
      format: "dd.mm.yyyy",
      startDate: 0,
      language: "ru",
      autoclose: true,
      todayHighlight: true
    });

    bootstrap_alert = function() {}
    bootstrap_alert.warning = function(message) {
    $('#alert-placeholder').append('<div class="alert alert-danger alert-dismissible"><button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button><span>'+message+'</span></div>')
    };
    
    var name = $.cookie('name');
    if (typeof name !== 'undefined' && name.trim()) {
      $('#name').val(name);
    }
    
    var suit = $.cookie('suit');
    if (typeof suit !== 'undefined' && suit.trim()) {
      $('#suit').val(suit);
    }

    var location = $.cookie('location');
    if (typeof location !== 'undefined' && location.trim()) {
      $('#location').val(location);
    }

    $('#track_upload_form').submit( function( e ) {
      var form_valid = true;
      $('#alert-placeholder').empty();

      if ($('#name').val().length === 0 || !$('#name').val().trim()) {
        bootstrap_alert.warning(<%=t '.track_form.warnings.name_html' %>);
        form_valid = false;
      } else {
        $.cookie('name', $('#name').val(), { expires: 365, path: '/' });
      }

      if ($('#suit').val().length === 0 || !$('#suit').val().trim()) {
        bootstrap_alert.warning(<%=t '.track_form.warnings.suit_html' %>);
        form_valid = false;
      } else {
        $.cookie('suit', $('#suit').val(), { expires: 365, path: '/' });
      }

      if ($('#location').val().length === 0 || !$('#location').val().trim()) {
        bootstrap_alert.warning(<%=t '.track_form.warnings.loc_html' %>);
        form_valid = false;
      } else {
        $.cookie('location', $('#location').val(), { expires: 365, path: '/' });
      }

      if ($('#track_file').val().length === 0 || !$('#track_file').val().trim()) {
        bootstrap_alert.warning(<%=t '.track_form.warnings.file_html' %>);
        form_valid = false;
      }
      if (!form_valid)
        e.preventDefault();

    });
  });
</script>

<div class="page-header">
  <h1><%=t '.title' %><small> <%=t '.subtitle' %></small></h1>
</div>
  
<div class="jumbotron col-sm-8">
  <h2><%=t '.track_form.title' %></h2>
  <%= form_tag track_select_path, multipart: true, :class => 'form-horizontal', :role => 'form', :id => 'track_upload_form' do %>
    <div class="form-group">
      <%= label_tag 'name', t('.track_form.name'), :class => 'col-sm-3 control-label', :for => 'name' %>
      <div class="col-sm-9">
        <%= text_field_tag 'name', nil, :class => 'form-control', :placeholder => t('.track_form.name_plh'), :type => 'text' %>
      </div>
    </div>
    <div class="form-group">
      <%= label_tag 'suit', t('.track_form.suit'), :class => 'col-sm-3 control-label', :for => 'suit' %>
      <div class="col-sm-9">
        <%= text_field_tag 'suit', nil, :class => 'form-control', :placeholder => t('.track_form.suit_plh'), :type => 'text' %>
      </div>
    </div>
    <div class="form-group">
      <%= label_tag 'location', t('.track_form.location'), :class => 'col-sm-3 control-label', :for => 'location' %>
      <div class="col-sm-9">
        <%= text_field_tag 'location', nil, :class => 'form-control', :placeholder => t('.track_form.location_plh'), :type => 'text' %>
      </div>
    </div>
    <div class="form-group">
      <%= label_tag "track_file", t('.track_form.file'), :class => 'col-sm-3 control-label', :for => 'track_file' %>
      <div class="col-sm-9">
        <%= file_field_tag "track_file", {:onChange => 'checkFile(this)'}  %>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-3 col-sm-9">
        <h4 class='help-block'><%=t '.track_form.help' %></h4>
      </div>
    </div>
    <div class="form-group">
      <%= label_tag t('.track_form.comment'), nil, :class => 'col-sm-3 control-label', :for => 'comment' %>
      <div class="col-sm-9">
        <%= text_area_tag 'comment', nil, :class => 'form-control', :rows => 3, :placeholder => t('.track_form.comment_plh') %>
      </div>
    </div>
    <div class='form-group'>
      <div class='col-sm-offset-3 col-sm-9'>
        <%= submit_tag t('.track_form.submit'), :class => 'btn btn-default' %>
      </div>
    </div>
    <div id='alert-placeholder'></div>
  <% end %>
</div>
<div class="col-sm-8">
  <h3><%=t '.or' %></h3>
</div>
<div class="jumbotron col-sm-8">
  <h2><%=t '.events.title' %></h2>
  <% if (user_signed_in?) && (can? :create, @event) %>
      <button class="btn btn-default" data-toggle="modal" data-target="#newEventModal">
        <%= t '.events.create' %>
      </button>
      <%= render :partial => 'new_event_form' %>
  <% else %>
    <h4 class="help-block"><%= t '.events.betatestersonly' %></h4>
  <% end %>
  <h2><%= t '.events.future' %></h2>
  <table class="table table-hover">
    <thead>
    <tr>
      <th><%= t '.events.table.event' %></th>
      <th><%= t '.events.table.starts'%></th>
      <th><%= t '.events.table.ends'%></th>
    </tr>
    </thead>
    <tbody>
      <% @coming_events.each do |e| %>
        <tr class='clickableRow' style="cursor: pointer" data-url="<%= event_path(:id => e.id) %>">
          <td class='text-info'><%= e.name %></td>
          <td class='text-info'><%= e.start_at.strftime("%d.%m.%Y") if e.start_at %></td>
          <td class='text-info'><%= e.end_at.strftime("%d.%m.%Y") if e.start_at %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
