-#.clouds-bg
-#
-#= render partial: 'events/gps_perf_2014_borki'

.index-header
  .container
    .row
      .col-9.col-xs-12.col-sm-9.col-md-9.col-lg-9
        %h1
          = t('.title')
          %small= t('.subtitle')
        %p= t('static_pages.index.desc')
        %a.btn.btn-success.btn-lg{:href => '#', :data => {:toggle => 'modal', :target => '#newTrackModal'}}
          %i.fa.fa-upload
          = t('application.header.upload_track')
      .col-3.hidden-xs.col-sm-3
        %img.img-responsive{:src => asset_path('skyderby-logo.png')}

.container.top-buffer
  .row
    .col-sm-12
      %h2= 'It is pretty simple:'
  .row.how-it-works
    .col-lg-4.col-md-4.col-sm-4
      #first-step-hiw
      .step-number-hiw= '1'
      %p= 'Upload a file'
    .col-lg-4.col-md-4.col-sm-4
      #second-step-hiw
      .step-number-hiw= '2'
      %p= 'Select free fall range'
    .col-lg-4.col-md-4.col-sm-4
      #third-step-hiw
      .step-number-hiw= '3'
      %p= 'Analyze'

%hr

.container.top-buffer
  .row
    .col-sm-12
      %h2= t('static_pages.index.supported_formats')
  .row.supported-formats
    .col-lg-2.col-md-3.col-sm-3.col-xs-6.top-buffer
      #gpx-sf
    .col-lg-2.col-md-3.col-sm-3.col-xs-6.top-buffer
      #fs-sf
    .col-lg-2.col-md-3.col-sm-3.col-xs-6.top-buffer
      #garmin-sf
    .col-lg-2.col-md-3.col-sm-3.col-xs-6.top-buffer
      #wintec-sf
    .col-lg-2.col-md-3.col-sm-3.col-xs-6.top-buffer
      #columbus-sf

-#.container.top-buffer
-#  .row
-#    .col-6.col-sm-6.col-lg-4
-#      %h2= 'Menzelinsk Sky Race'
-#      %p= '6-8 сентября на аэродроме Мензелинск прошли соревнования в дисциплинах Время, Дальность, Скорость. В соревнованиях приняли участие спортсмены из 11 городов.'
-#      %p
-#        %a{:href => event_path( :id => 2 )}= t('static_pages.index.goto_event')
