.landing
  %section.index-header
    .index-header-caption
      %p.index-subtitle
        = t('static_pages.index.desc')

  %section.landing__stats
    %ul.landing__stats-list
      %li.landing__stats-item
        .landing__stats-count= @page.users_count
        .landing__stats-caption Registered pilots
      %li.landing__stats-item
        .landing__stats-count= @page.tracks_count
        .landing__stats-caption Tracks recorded

  %section.text-center
    = link_to  new_registration_path(resource_name), class: 'btn btn-success btn-lg' do
      = t('devise.shared.links.sign_up')

  %section.landing__section
    %h2.landing__section-header Полёты
    %p.landing__section-subheader во всех ракурсах
    %img.landing__section-image{src: asset_path('tracks-overview-mobile.png')}
    %p.landing__section-description
      С какой скоростью я летел? А сколько из нее добавлял ветер?
      Вам будет легко найти ответы на эти вопросы, а также посмотреть на трек на 
      карте, в 3D, синхронизировать с видео и многое другое

  %section.landing__section
    %h2.landing__section-header Онлайн соревнования
    %p.landing__section-subheader расскажут о многом

  %section.landing__section
    %h2.landing__section-header Бесплатно
    %p.landing__section-subheader и без рекламы
