:ruby
  provide(:wrapper_classes, 'wrap--no-top-padding')
  provide(:skip_header, true)

= render 'static_pages/index_header'

.index-header
  .index-header__dark-layer
  .index-header__text
    = t('static_pages.index.desc')
  .index-header__cta
    %a.btn.btn-lg.button--green.button--jelly{href: '#', data: {toggle: 'modal', target: '#newTrackModal'}}
      %i.fa.fa-upload
      = t('application.header.upload_track')

.container.top-buffer
  .row
    .col-sm-10
      %h2.light-header
        = t('.donate')
    .col-sm-2
      %h2
        =render 'static_pages/donate'

%hr

.container.top-buffer
  .row
    .col-sm-12.text-center
      %h1.light-header= t('static_pages.index.how_it_works')
  .row.how-it-works
    .col-lg-4.col-md-4.col-sm-4
      #first-step-hiw
      .step-number-hiw= '1'
      %p= t('static_pages.index.upload_a_file')
    .col-lg-4.col-md-4.col-sm-4
      #second-step-hiw
      .step-number-hiw= '2'
      %p= t('static_pages.index.select_free_fall_range')
    .col-lg-4.col-md-4.col-sm-4
      #third-step-hiw
      .step-number-hiw= '3'
      %p= t('static_pages.index.analyze')

%hr

= render 'static_pages/online_competitions_section'

%hr

.container.top-buffer
  .row
    .col-sm-12.text-center
      %h1.light-header= t('static_pages.index.supported_formats')
  .row.supported-formats
    .col-lg-2.col-md-2.col-sm-3.col-xs-6.top-buffer
      #fs-sf.grayed
      %div.text-center
        Flysight
    .col-lg-2.col-md-2.col-sm-3.col-xs-6.top-buffer
      #garmin-sf.grayed
      %div.text-center
        Garmin Foretrex 101/201/301/401
    .col-lg-2.col-md-2.col-sm-3.col-xs-6.top-buffer
      #wintec-sf.grayed
      %div.text-center
        Wintec WBT-202
    .col-lg-2.col-md-2.col-sm-3.col-xs-6.top-buffer
      #columbus-sf.grayed
      %div.text-center
        Columbus V900
    .col-lg-2.col-md-2.col-sm-3.col-xs-6.top-buffer
      #dual-xgps.grayed
      %div.text-center
        Dual XGPS160
    .col-lg-2.col-md-2.col-sm-3.col-xs-6.top-buffer
      #gpx-sf.grayed
      %div.text-center
        Files in GPX format 
