.landing
  %section.index-header
    .index-header-caption
      %p.index-subtitle
        = t('static_pages.index.desc')

  %section.landing__stats
    %ul.landing__stats-list
      %li.landing__stats-item
        .landing__stats-count= @page.users_count
        .landing__stats-caption Registered pilots
      %li.landing__stats-item
        .landing__stats-count= @page.tracks_count
        .landing__stats-caption Tracks recorded

  %section.text-center
    - if user_signed_in?
      = link_to new_tracks_upload_path, class: 'btn btn-success btn-lg' do
        %i.fa.fa-upload
        = t('application.header.upload_track')
    - else
      = link_to t('devise.shared.links.sign_up'), new_registration_path(:user), class: 'btn btn-success btn-lg'

  %section.landing__section
    %h2.landing__section-header Полёты
    %p.landing__section-subheader во всех ракурсах
    %img.landing__section-image{src: asset_path('tracks-overview-mobile.png')}
    %p.landing__section-description
      С какой скоростью я летел? А сколько из нее добавлял ветер?
      Вам будет легко найти ответы на эти вопросы, а также посмотреть на трек на 
      карте, в 3D, синхронизировать с видео и многое другое

  %section.landing__section
    %h2.landing__section-header Онлайн соревнования
    %p.landing__section-subheader расскажут о многом

  %section.landing__section
    %h2.landing__section-header Бесплатно
    %p.landing__section-subheader и без рекламы
