:javascript
  function checkFile(e) {
    var file_list = e.files;
    for (var i = 0, file; file = file_list[i]; i++) {
      var FileName = file.name;
      var FileExtension = FileName.split('.')[FileName.split('.').length - 1].toLowerCase();
      var FileSize = file.size;
      var FileSizeMb = (file.size / 1048576).toFixed(2);
      var txt = "";

      if (!(FileExtension === "gpx" || FileExtension === "csv"))  {
        txt += "#{t '.track_form.warnings.file_ext_w1_html'}" + FileExtension + "\n\n";
        txt += "#{t '.track_form.warnings.file_ext_w2_html'}";
      }
      if (FileSize > 1048576) {
        txt += "#{t '.track_form.warnings.file_size_w1_html'}" + FileSizeMb + " Мб \n\n";
        txt += "#{t '.track_form.warnings.file_size_w2_html'}";
      }
      if (!(txt === "")) {
        bootstrap_alert.warning(txt);
        e.value = "";
      }
    }
  };

  $(document).ready(function() {

    bootstrap_alert = function() {}
    bootstrap_alert.warning = function(message) {
    $('#alert-placeholder').append('<div class="alert alert-danger alert-dismissible"><button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button><span>'+message+'</span></div>')
    };
    
    var name = $.cookie('name');
    if (typeof name !== 'undefined' && name.trim()) {
      $('#name').val(name);
    }
    
    var suit = $.cookie('suit');
    if (typeof suit !== 'undefined' && suit.trim()) {
      $('#suit').val(suit);
    }

    var location = $.cookie('location');
    if (typeof location !== 'undefined' && location.trim()) {
      $('#location').val(location);
    }

    $('#track_upload_form').submit( function( e ) {
      var form_valid = true;
      $('#alert-placeholder').empty();

      if ($('#name').val().length === 0 || !$('#name').val().trim()) {
        bootstrap_alert.warning("#{t '.track_form.warnings.name_html'}");
        form_valid = false;
      } else {
        $.cookie('name', $('#name').val(), { expires: 365, path: '/' });
      }

      if ($('#suit').val().length === 0 || !$('#suit').val().trim()) {
        bootstrap_alert.warning("#{t '.track_form.warnings.suit_html'}");
        form_valid = false;
      } else {
        $.cookie('suit', $('#suit').val(), { expires: 365, path: '/' });
      }

      if ($('#location').val().length === 0 || !$('#location').val().trim()) {
        bootstrap_alert.warning("#{t '.track_form.warnings.loc_html'}");
        form_valid = false;
      } else {
        $.cookie('location', $('#location').val(), { expires: 365, path: '/' });
      }

      if ($('#track_file').val().length === 0 || !$('#track_file').val().trim()) {
        bootstrap_alert.warning("#{t '.track_form.warnings.file_html'}");
        form_valid = false;
      }
      if (!form_valid)
        e.preventDefault();
    });
  });

.clouds-bg

= render partial: 'events/gps_perf_2014_borki'