.index-header
  .container
    .row
      .col-9.col-xs-12.col-sm-9.col-md-9.col-lg-9
        %h1
          = t('.title')
          %small= t('.subtitle')
        %p= t('static_pages.index.desc')
        %a.btn.btn-success.btn-lg{href: '#', data: {toggle: 'modal', target: '#newTrackModal'}}
          %i.fa.fa-upload
          = t('application.header.upload_track')
      .col-3.hidden-xs.col-sm-3
        %img.img-responsive{:src => asset_path('skyderby-logo.png')}

.container-fluid
  .row
    .col-sm-12.text-center.bg-info
      %h2.light-header
        = 'Hungarian WS National/FAIN Comp 2015 - The Piranha Battle'
        %a= 'See results'
      = link_to '', event_path(14), class: 'overlay-link'
    .col-sm-12.text-center.bg-info
      %h2.light-header
        = 'IX. Markó Mike\'s Wingsuit Boogie Hungary '
        %a= 'See results'
      = link_to '', event_path(12), class: 'overlay-link'

.container-fluid
  .row
    .col-sm-12.text-center
      %h1.light-header= t('.skyderby_is')
  .row.start-page-row
    .col-sm-4.text-center.gps-tracks-label.start-page-cell
      %h2= t('.tracks_analysis')
      %p= t('.tracks_analysis_desc')
      %a.overlay-link{href: tracks_path}
      %a.btn.btn-browse= t('.tracks_list')
    .col-sm-4.text-center.online-competitions-label.start-page-cell
      %h2= t('.online_competitions')
      %p= t('.online_comp_desc')
      %a.overlay-link{href: virtual_competitions_path}
      %a.btn.btn-browse= t('.online_comp_list')
    .col-sm-4.text-center.competitions-label.start-page-cell
      %h2= t('.events')
      %p= t('.events_desc')
      %a.overlay-link{href: events_path}
      %a.btn.btn-browse= t('.events_list')

- if @competitions.size
  .container-fluid
    .row
      .col-sm-12.text-center
        %h1.light-header= t('.online_comps_leaders')
    - @competitions.each do |group, competitions|
      %hr
      .row
        .col-sm-12.text-center
          %h2.light-header= group
      .row.start-page-row
        - competitions.each do |competition|
          -result = competition.best_result
          .col-sm-4.start-page-cell
            .col-sm-12
              .panel.panel-default.panel-winner
                .panel-heading
                  %a{href: virtual_competition_path(competition)}=competition.name
                .panel-body
                  .row
                    .col-sm-4
                      = image_tag(result.user_profile.userpic.url(:medium), 
                                  class: 'img-responsive img-rounded')
                    .col-sm-8
                      %a.vc-profile-name{href: user_profile_path(result.user_profile), 
                        data: {toggle: 'tooltip'}, 
                        title: t('virtual_competitions.show.show_profile')}
                        = result.user_profile.name.titleize
                      %div
                        %a.vc-result-link{href: track_path(result.track_id),
                          data: {toggle: 'tooltip'}, 
                          title: t('virtual_competitions.show.show_details')}
                          %span.vc-result= format_result(result.result, result.virtual_competition)
                          %span.vc-unit= competition_unit(result.virtual_competition)

= render partial: 'tracks/new_track'

-# .container.top-buffer
-#   .row
-#     .col-sm-12
-#       %h2= t('static_pages.index.how_it_works')
-#   .row.how-it-works
-#     .col-lg-4.col-md-4.col-sm-4
-#       #first-step-hiw
-#       .step-number-hiw= '1'
-#       %p= t('static_pages.index.upload_a_file')
-#     .col-lg-4.col-md-4.col-sm-4
-#       #second-step-hiw
-#       .step-number-hiw= '2'
-#       %p= t('static_pages.index.select_free_fall_range')
-#     .col-lg-4.col-md-4.col-sm-4
-#       #third-step-hiw
-#       .step-number-hiw= '3'
-#       %p= t('static_pages.index.analyze')
-#
-# %hr
-#
-# .container.top-buffer
-#   .row
-#     .col-sm-12
-#       %h2= t('static_pages.index.supported_formats')
-#   .row.supported-formats
-#     .col-lg-2.col-md-3.col-sm-3.col-xs-6.top-buffer
-#       #gpx-sf
-#     .col-lg-2.col-md-3.col-sm-3.col-xs-6.top-buffer
-#       #fs-sf
-#     .col-lg-2.col-md-3.col-sm-3.col-xs-6.top-buffer
-#       #garmin-sf
-#     .col-lg-2.col-md-3.col-sm-3.col-xs-6.top-buffer
-#       #wintec-sf
-#     .col-lg-2.col-md-3.col-sm-3.col-xs-6.top-buffer
-#       #columbus-sf
