<div class="landing">
  <section class="index-header">
    <div class="index-header-caption">
      <p class="index-subtitle">
        <%= t('static_pages.index.desc') %>
      </p>
    </div>
  </section>

  <section class="landing__stats">
    <ul class="landing__stats-list">
      <li class="landing__stats-item">
        <div class="landing__stats-count"><%= @page.users_count %></div>
        <div class="landing__stats-caption"><%= t('static_pages.index.mobile.stats.registered_pilots') %></div>
      </li>
      <li class="landing__stats-item">
        <div class="landing__stats-count"><%= @page.tracks_count %></div>
        <div class="landing__stats-caption"><%= t('static_pages.index.mobile.stats.tracks_recorded') %></div>
      </li>
    </ul>
  </section>

  <section class="text-center">
    <% if user_signed_in? %>
      <%= button_to new_track_file_path,
                    method: :get,
                    form: { data: { turbo_stream: true } },
                    class: 'btn btn-success btn-lg' do %>
        <i class="fa fa-upload"></i>
        <%= t('application.header.upload_track') %>
      <% end %>
    <% else %>
      <%= link_to t('devise.shared.links.sign_up'), new_registration_path(:user), class: 'btn btn-success btn-lg' %>
    <% end %>
  </section>

  <section>
    <%= render 'contributions', contributions: @page.contribution_summary %>
  </section>

  <section class="landing__section">
    <h2 class="landing__section-header"><%= t('static_pages.index.mobile.flights_section.header') %></h2>
    <p class="landing__section-subheader"><%= t('static_pages.index.mobile.flights_section.subheader') %></p>
    <img class="landing__section-image" src="<%= asset_path('tracks-overview-mobile.png') %>">
    <p class="landing__section-description">
      <%= t('static_pages.index.mobile.flights_section.description') %>
    </p>
  </section>

  <section class="landing__section">
    <h2 class="landing__section-header"><%= t('static_pages.index.mobile.competitions_section.header') %></h2>
    <p class="landing__section-subheader"><%= t('static_pages.index.mobile.competitions_section.subheader') %></p>
  </section>

  <section class="landing__section">
    <h2 class="landing__section-header"><%= t('static_pages.index.mobile.free_section.header') %></h2>
    <p class="landing__section-subheader"><%= t('static_pages.index.mobile.free_section.subheader') %></p>
  </section>
</div>
