.container
  .row.top-buffer
    .col-sm-12
      = link_to 'Sidekiq Monitoring', sidekiq_web_path
  .row
    .col-sm-4
      %h2= 'Костюмы'
      %p
        = link_to 'Костюмы', wingsuits_path
      %p
        = link_to 'Производители', manufacturers_path

      %h2= 'Локации'
      %p
        = link_to 'Локации', places_path
      %p
        = link_to 'Страны', countries_path

      %h2= 'Онлайн соревнования'
      %p
        = link_to 'Соревнования', virtual_competitions_path
      %p
        = link_to 'Группы', virtual_comp_groups_path
      %p
        = link_to 'Результаты', virtual_comp_results_path

    .col-sm-4
      %h2= 'Пользователи'
      %p
        = link_to 'Профили', profiles_path
      %p
        = link_to 'Пользователи', users_path
