.profile-header
  .profile-header__avatar
    = image_tag(profile.userpic_url(:medium), class: 'profile-header__avatar-image')
    - if policy(profile).edit?
      = link_to new_profile_avatar_path(profile), remote: true, class: 'profile-header__avatar-change', rel: 'nofollow' do
        %i.fa.fa-pencil-alt

  .profile-header__name
    %h1
      = profile.name
      - if profile.country
        %small
          \//
          %span.text-warning{'data-toggle'=> 'tooltip', title: profile.country.name}
            = profile.country.code.upcase

.profile-navigation
  - controller_path = controller.controller_path
  .tabs-navbar
    .tabs-navbar__fade-right
    %ul.tabs-navbar__menu
      %li.tabs-navbar__menuitem{class: ('tabs-navbar--active' if controller_path == 'profiles')}
        = link_to t('general.overview'), profile

      %li.tabs-navbar__menuitem{class: ('tabs-navbar--active' if controller_path == 'profiles/tracks')}
        = link_to t('.tracks'), profile_tracks_path(profile)

      %li.tabs-navbar__menuitem{class: ('tabs-navbar--active' if controller_path == 'profiles/flight_profiles')}
        = link_to t('flight_profiles.title'), profile_flight_profiles_path(profile)

  .profile-commands
    - if policy(@profile).edit?
      = link_to edit_profile_path(@profile), class: 'btn-flat' do
        %i.fa.fa-pencil-alt
        = t('general.edit')

    - if policy(@profile).destroy?
      = link_to t('general.delete'),
                @profile,
                method: :delete,
                remote: true,
                data: { confirm: 'Are you sure you want to delete this profile?' },
                class: 'btn-flat text-danger'

    - if @profile.belongs_to_user? && policy(@profile).masquerade?
      = link_to new_user_masquerades_path(@profile.owner), class: 'btn-flat' do
        %i.fa.fa-magic
        Masquerade

    - if policy(@profile).merge?
      = link_to new_profile_merge_path(@profile), remote: true, class: 'btn-flat' do
        Merge
