<div class="show-page-header">
  <div class="profile-header">
    <div class="profile-header__avatar">
      <%= image_tag(profile.userpic_url(:medium), class: 'profile-header__avatar-image') %>
      <% if policy(profile).edit? %>
        <%= link_to new_profile_avatar_path(profile), remote: true, class: 'profile-header__avatar-change', rel: 'nofollow' do %>
          <i class="fa fa-pencil-alt"></i>
        <% end %>
      <% end %>
    </div>

    <h1 class="show-page-title <%= 'contributor' if profile.contributor? %>">
      <%= profile.name %>
      <% if profile.country %>
        <span class="separator">//</span>
        <span class="tip-text" data-controller="tooltip" data-tooltip="<%= profile.country.name %>">
          <%= profile.country.code.upcase %>
        </span>
      <% end %>
    </h1>
  </div>

  <div class="page-nav">
    <%= link_to profile, class: ['page-tab', ('page-tab-active' if current_page?(profile_path(profile)))] do %>
      <%= t('general.overview') %>
    <% end %>

    <%= link_to t('.tracks'), profile_tracks_path(profile), class: ['page-tab', ('page-tab-active' if current_page?(profile_tracks_path(profile)))] %>

    <%= link_to 'Videos', profile_videos_path(profile), class: ['page-tab', ('page-tab-active' if current_page?(profile_videos_path(profile)))] %>

    <%= link_to t('flight_profiles.title'), flight_profiles_path(profile_id: [profile.id]), class: 'page-tab' %>

    <% if policy(@profile).subscription? %>
      <%= link_to 'Subscription', profile_subscription_path(@profile), class: ['page-tab', ('page-tab-active' if current_page?(profile_subscription_path(@profile)))] %>
    <% end %>

    <% if @profile.belongs_to_user? && policy(@profile).masquerade? %>
      <%= button_to user_masquerades_path(@profile.owner), form: { class: 'page-tab-right' }, class: 'page-tab' do %>
        <%= svg_icon 'wand-magic-sparkles-solid' %>
        Masquerade
      <% end %>
    <% end %>

    <% if policy(@profile).merge? %>
      <%= link_to new_profile_merge_path(@profile), data: { turbo_stream: true }, class: 'page-tab' do %>
        Merge
      <% end %>
    <% end %>

    <% if policy(@profile).destroy? %>
      <%= link_to t('general.delete'), @profile, method: :delete, data: { turbo_confirm: 'Are you sure you want to delete this profile?' }, class: 'page-tab' %>
    <% end %>

    <% if policy(profile).edit? %>
      <%= link_to edit_profile_path(profile), class: ['page-tab', ('page-tab-active' if current_page?(edit_profile_path(profile)))] do %>
        <%= svg_icon 'gear-solid' %>
        <%= t('general.edit') %>
      <% end %>
    <% end %>
  </div>
</div>
