<tr>
  <td><%= image_tag profile.userpic_url(:thumb), class: 'img-rounded img-50 loading-bg' %></td>
  <td><%= profile.id %></td>
  <td><%= profile.name %></td>
  <td><%= profile.country_code %></td>
  <td>
    <% if profile.belongs_to_user? %>
      <%= svg_icon 'user-solid' %>
    <% end %>
  </td>
  <td>
    <%= link_to 'Show', profile_path(profile), class: 'button button--ghost button--sm' %>
    <% if current_user.admin? && profile.owner && profile.belongs_to_user? %>
      <%= button_to user_masquerades_path(profile.owner), class: 'button button--ghost button--sm' do %>
        <%= svg_icon 'wand-magic-sparkles-solid' %>
        Masquerade
      <% end %>
    <% end %>
  </td>
</tr>
