<tr>
  <td><%= image_tag profile.userpic_url(:thumb), class: 'img-rounded img-50 loading-bg' %></td>
  <td><%= profile.id %></td>
  <td><%= profile.name %></td>
  <td><%= profile.country_code %></td>
  <td>
    <% if profile.belongs_to_user? %>
      <i class="fa fa-user"></i>
    <% end %>
  </td>
  <td><%= link_to 'Show', profile_path(profile) %></td>
  <td>
    <% if current_user.admin? && profile.owner && profile.belongs_to_user? %>
      <%= link_to 'Masquerade', new_user_masquerades_path(profile.owner) %>
    <% end %>
  </td>
</tr>
