.container
  .page-header
    %h1
      Профили

  .row
    .col-sm-12
      %table.table
        %thead
          %th #
          %th
          %th= t 'activerecord.attributes.profiles.name'
          %th= t 'activerecord.attributes.profiles.country'
          %th
          %th
        %tbody
          - @profiles.each do |profile|
            %tr
              %td= profile.id
              %td= image_tag profile.userpic.url(:thumb), class: 'img-rounded img-50 loading-bg'
              %td= profile.name
              %td= profile.country_code
              %td
                -if profile.user
                  %i.fa.fa-user
              %td= link_to 'Show', profile_path(profile)
              %td
                - if current_user.has_role?(:admin) && profile.user
                  = link_to 'Masquerade', new_user_masquerades_path(profile.user)
