-if @profile.name
  - provide :title, @profile.name

.container

  = render 'profiles/header', profile: @profile

  .content-block
    .profile-achievements
      .profile-section-header
        = t('.achievements')
        - if can? :create, Badge
          = link_to new_profile_badge_path(@profile), remote: true do
            %i.fa.fa-plus
            Add
      .profile-badges
        - @profile.badges.each do |badge|
          = render 'profiles/badges/badge', badge: badge

    .profile-section
      .profile-section-header
        = t('.online_competitions')
      .profile-rankings
        - @profile.ranking_positions.each do |competition, scores|
          .profile-rankings__competition{'data-category': competition.suits_kind, 'data-activity': competition.jumps_kind}
            .profile-rankings__competition-name
              = link_to competition.name, competition
            %ul.profile-rankings__list
              - scores.each do |score|
                %li{class: ('profile-rankings--self' if score.profile_id == @profile.id)}
                  %span.profile-rankings__list-rank
                    = "##{score.rank}"
                  %span.profile-rankings__list-name
                    = score.profile.name
                  %span.profile-rankings__list-delimiter
                    \//
                  %span.profile-rankings__list-result
                    = format_result(score.result, competition)
                    = competition_unit(competition)
