-if @profile.name
  - provide :title, @profile.name

.container

  = render 'profiles/header', profile: @profile

  .content-block
    .profile-achievements
      .profile-section-header
        = t('.achievements')
        - if can? :create, Badge
          = link_to new_profile_badge_path(@profile), remote: true do
            %i.fa.fa-plus
            Add
      .profile-badges
        - if @profile.badges.any?
          = render partial: 'profiles/badges/badge', collection: @profile.badges, as: :badge
        - else
          .blankslate
            %h3= t('.no_badges', name: @profile.name)

    .profile-section
      .profile-section-header
        = t('.online_competitions')
      .profile-rankings
        - if @profile.ranking_positions.any?
          = render partial: 'profiles/ranking_position', collection: @profile.ranking_positions, as: :position
        - else
          .blankslate
            %h3= t('.no_rankings', name: @profile.name)
