<li class="flight-profiles__track" data-controller="flight-profiles--track" data-track-id="<%= track.id %>">
  <div class="checkbox">
    <label>
      <input type="checkbox" data-action="change->flight-profiles--track#toggle">
      <div class="flight-profiles__track-header text-muted">
        <span>##<%= track.id %></span>
        <span><%= track.recorded_at&.strftime('%d.%m.%Y') %></span>
      </div>
      <div>
        <div data-flight-profiles--track-target="profile"><%= track_pilot_name(track) %></div>
        <span data-flight-profiles--track-target="place">
          <i class="fa fa-map-marker-alt"></i>
          <%= track_place(track) %>
        </span>
        &nbsp;
        <% if track.suit %>
          <%= suit_presentation(track.suit) %>
        <% else %>
          <%= track.missing_suit_name %>
        <% end %>
      </div>
      <div class="text-muted">
        <%= track.comment %>
      </div>
    </label>
  </div>
</li>
