.flight-profiles{'data-controller': 'flight-profiles'}
  .flight-profiles__header
    = link_to @scope, class: 'btn-back' do
      %i.fa.fa-chevron-left
      = @scope.name

    \//
    = t('flight_profiles.title')
  .flight-profiles__body
    .flight-profiles__sidebar
      .flight-profiles__tracks-container
        = render 'tracks'
      .flight-profiles__place-container{'data-controller': 'flight-profiles--exit-measurement'}
        :ruby
          if @scope.is_a?(Place) && @scope.jump_lines.any?
            line = @scope.jump_lines.first
            select_options = options_for_select([[line.full_name, line.id]], line.id)
          else
            select_options = nil
          end

        = select_tag :place,
                     select_options,
                     include_blank: true ,
                     placeholder: 'Choose exit measurement',
                     class: 'form-control',
                     'data-controller': 'select2--exit-measurements',
                     'data-action': 'change->flight-profiles--exit-measurement#toggle'

    .flight-profiles__chart-container{'data-controller': 'flight-profiles--chart', 'data-target': 'flight-profiles.chart'}
