<div class="flight-profiles" data-controller="flight-profiles">
  <div class="flight-profiles__header">
    <%= link_to @scope, class: 'btn-back' do %>
      <i class="fa fa-chevron-left"></i>
      <%= @scope.name %>
    <% end %>
    <span>//</span>
    <%= t('flight_profiles') %>
  </div>
  <div class="flight-profiles__body">
    <div class="flight-profiles__sidebar">
      <div class="flight-profiles__tracks-container">
        <%= render 'tracks' %>
      </div>
      <div class="flight-profiles__place-container" data-controller="flight-profiles--exit-measurement">
        <% if @scope.is_a?(Place) && @scope.jump_lines.any? %>
          <% line = @scope.jump_lines.first %>
          <% select_options = options_for_select([[line.full_name, line.id]], line.id) %>
        <% else %>
          <% select_options = nil %>
        <% end %>
        <%= select_tag :place, select_options, include_blank: true, placeholder: 'Choose exit measurement', class: 'form-control', data: { controller: 'select2--exit-measurements', action: 'change->flight-profiles--exit-measurement#toggle' } %>
      </div>
    </div>
    <div class="flight-profiles__chart-container" data-controller="flight-profiles--chart" data-flight-profiles-target="chart"></div>
  </div>
</div>
