<% provide :title, title(@ownership.track) %>

<div class="container">
  <div class="track-edit__header">
    <%= link_to track_path(@ownership.track), class: 'btn-back' do %>
      <i class="fa fa-chevron-left"></i>
      <%= t('tracks.edit.back') %>
    <% end %>
  </div>

  <%= form_for @ownership, url: track_ownership_path(@ownership.track), method: 'PUT', remote: true do |f| %>
    <div class="content-block form-body" data-controller="tracks--owner">
      <div class="row">
        <div class="form-group col-sm-6">
          <%= f.label :owner, t('activerecord.attributes.track.owner_type') %>
          <%= f.select :type, track_ownership_type_options,
                       { selected: @ownership.type },
                       { class: 'form-control input-lg',
                         'data-controller': 'select2--local',
                         'data-tracks--owner-target': 'type',
                         'data-action': 'change->tracks--owner#setVisibility' } %>
        </div>

        <div class="form-group col-sm-6" data-tracks--owner-target="select" data-type="user">
          <%= f.label :owner, t('activerecord.models.user') %>
          <%= f.select :user_id,
                       options_for_select([user_select_option(@ownership.user)]),
                       {},
                       { class: 'form-control input-lg', 'data-controller': 'select2--users' } %>
        </div>

        <div class="form-group col-sm-6" data-tracks--owner-target="select" data-type="event">
          <%= f.label :owner, t('activerecord.models.event') %>
          <%= f.select :event_id,
                       options_for_select([event_select_option(@ownership.event)]),
                       {},
                       { class: 'form-control input-lg', 'data-controller': 'select2--events' } %>
        </div>

        <div class="form-group col-sm-6" data-tracks--owner-target="select" data-type="tournament">
          <%= f.label :owner, t('activerecord.models.tournament') %>
          <%= f.select :tournament_id,
                       options_for_select([tournament_select_option(@ownership.tournament)]),
                       {},
                       { class: 'form-control input-lg', 'data-controller': 'select2--tournaments' } %>
        </div>
      </div>

      <div class="row">
        <div class="form-group col-sm-12" data-controller="tracks--profile-field" data-mode="<%= @ownership.profile ? 'select' : 'text' %>">
          <%= f.label :name, t('activerecord.attributes.track.name') %>
          <%= f.select :profile_id,
                       options_for_select([profile_select_option(@ownership.profile)], @ownership.profile_id),
                       { include_blank: true },
                       placeholder: t('tracks.form.profile_select_placeholder'),
                       class: 'form-control input-lg',
                       'data-controller': 'select2--profiles', 'data-tracks--profile-field-target': 'select' %>

          <%= f.text_field :name,
                           class: 'form-control input-lg',
                           placeholder: t('tracks.form.profile_text_placeholder'),
                           'data-tracks--profile-field-target': 'text' %>

          <p class="help-block">
            <span data-tracks--profile-field-target="caption"></span>
            <a href="#" data-tracks--profile-field-target="link" data-action="tracks--profile-field#trigger"></a>
          </p>
        </div>
      </div>

      <div class="text-center">
        <%= f.submit t('general.save'), class: 'btn btn-lg btn-success' %>
      </div>
    </div>
  <% end %>
</div>
