<%= link_to competition_series_path(competition_series), class: ['events-list__item', ('active' if competition_series.active?)] do %>
  <div class="events-list__item-sidebar">
     <div class="events-list__item-date">
       <%= competition_series.starts_at&.strftime '%d' %>
       <span><%= competition_series.starts_at&.strftime '%b\'%y' %></span>
     </div>
    <div class="events-list__item-official">official</div>
   </div>
  <div class="events-list__item-content">
    <div class="events-list__item-title"><%= competition_series.name %></div>
    <div class="events-list__item-participants">
      <% competition_series.competitions.each do |competition| %>
       <p><%= competition.name %></p>
      <% end %>
    </div>

    <hr />

    <div class="events-list__item-info">
      Rules:
      <span>GPS Performance</span>
    </div>
  </div>
<% end %>
