<% event = performance_competition_series %>
<%= link_to performance_competition_series_path(event), class: 'comp-list-item' do %>
  <div class="event-start-date text-center">
    <div class="start-date-day"><%= event.starts_at.strftime '%d' %></div>
    <div class="start-date-month"><%= event.starts_at.strftime '%b\'%y' %></div>
  </div>

  <div class="event-details">
    <div class="event-name">
      <%= event.name %>
      <% if event.unlisted_event? %>
        <%= icon_tag 'eye-slash-solid', data: { toggle: 'tooltip' }, title: t('visibility.unlisted') %>
      <% elsif event.private_event? %>
        <%= icon_tag 'lock-solid', data: { toggle: 'tooltip' }, title: t('visibility.private') %>
      <% end %>

      <div class="pill pill-blue-gray">GPS Performance</div>
      <div class="pill pill-red">Cumulative</div>
      <div class="pill pill-yellow">Official</div>
    </div>

    <div class="event-info">
      <div>
        <% if event.competitions.any? %>
          <div class="comp-classes text-muted">
            Competitions:
            <ul>
              <% event.competitions.each do |competition| %>
                <li><%= competition.name %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
