<div class="flex gap-1">
  <span class="text-muted"><%= t('weather_datum.altitude_units') %>: <%= t('units.m') %></span>
  <span class="text-muted"><%= t('weather_datum.wind_speed_units') %>: <%= t('units.kmh') %></span>
</div>

<%= render 'table' %>
