<% provide :title, @event.name %>
<% provide :page_class, 'fullscreen' %>
<% editable = policy(@event).update? %>
<%= turbo_stream_from @event, :validation %>

<div class="show-page">
  <%= render 'events/header', editable: %>

  <div class="tab-bar">
    <% @rounds_by_discipline.each do |task, rounds| %>
      <% next if rounds.empty? %>
      <% rounds.each do |round| %>
        <%= link_to t("disciplines.#{task}") + " - #{round.number}", event_lane_validation_path(@event, round), class: class_names('tab-bar-item', ('active' if @round == round)) %>
      <% end %>
    <% end %>
  </div>

  <% if !editable && !@round.completed? %>
    <h1 class="text-muted text-center">Data will appear after the round is marked as completed</h1>
  <% else %>
    <section class="card lane-validation"
             data-controller="lane-validation"
             data-lane-validation-dl-start-value="<%= @event.designated_lane_start %>"
             data-lane-validation-event-id-value="<%= @event.id %>"
             data-lane-validation-window-start-value="<%= @event.range_from %>"
             data-lane-validation-window-end-value="<%= @event.range_to %>">
      <script type="application/json" data-lane-validation-target="referencePoints">
        <%= raw render partial: 'performance_competitions/reference_points/reference_points', locals: { reference_points: @event.reference_points }, formats: [:json] %>
      </script>
      <aside class="lane-validation-mapbox">
        <div class="lane-validation-map"
             data-lane-validation-target="map"
             data-controller="map"
             data-map-type="ROADMAP"
             data-center-lat="<%= @event.place.latitude %>"
             data-center-lon="<%= @event.place.longitude %>"></div>
        <div class="lane-validation-checks">
          <div class="lane-validation-sep-chart" data-lane-validation-target="sepChart"></div>
          <div class="lane-validation-check-indicators">
            <template data-lane-validation-target="indicatorOk">
              <%= svg_icon 'check-solid', class: 'indicator-ok' %>
            </template>
            <template data-lane-validation-target="indicatorWarning">
              <%= svg_icon 'triangle-exclamation-solid', class: 'indicator-warning' %>
            </template>

            <div class="lane-validation-check-indicator">
              <div class="lane-validation-check-indicator-icon" data-lane-validation-target="exitCheck"></div>
              <div class="lane-validation-check-indicator-title">Exit</div>
            </div>
            <div class="lane-validation-check-indicator">
              <div class="lane-validation-check-indicator-icon" data-lane-validation-target="laneCheck"></div>
              <div class="lane-validation-check-indicator-title">Lane</div>
            </div>
            <div class="lane-validation-check-indicator">
              <div class="lane-validation-check-indicator-icon" data-lane-validation-target="sepCheck"></div>
              <div class="lane-validation-check-indicator-title">SEP</div>
            </div>
            <div class="lane-validation-check-indicator">
              <div class="lane-validation-check-indicator-icon" data-lane-validation-target="proximityCheck"></div>
              <div class="lane-validation-check-indicator-title">Proximity</div>
            </div>
          </div>
        </div>
      </aside>
      <main class="lane-validation-competitors">
        <% @grouped_jumps.each_with_index do |jumps, group_index| %>
          <div class="lane-validation-group">
            <h2 class="lane-validation-group-title"><%= t 'events.rounds.map.group' %> <%= group_index + 1 %></h2>

            <div class="lane-validation-jumps">
              <% jumps.each_with_index do |jump, jump_index| %>
                <div class="lane-validation-competitor"
                     data-group-id="<%= group_index %>"
                     data-track-id="<%= jump.track_id %>"
                     data-exited-at="<%= jump.exited_at&.iso8601 %>"
                     data-exit-altitude="<%= jump.exit_altitude.to_i %>"
                     data-color="<%= competitor_color_by_index(jump_index) %>"
                     data-reference-point-id="<%= jump.reference_point&.id %>">
                  <div class="lane-validation-competitor-header">
                    <label>
                      <input type="checkbox" data-action="change->lane-validation#handleCheckboxChange" />
                      <%= svg_icon 'circle-notch-solid', class: 'lane-validation-loading-indicator' %>
                      <div class="lane-validation-competitor-color" style="background-color: <%= competitor_color_by_index(jump_index); %>"></div>
                      <%= render 'performance_competitions/lane_validations/competitor', result: jump %>
                    </label>
                    <% if editable && !@round.completed? %>
                      <% options = options_from_collection_for_select(@event.reference_points.order(:name), :id, :name, jump.reference_point&.id) %>
                      <%= render 'hot_select/local_select',
                            name: "reference_points_#{jump.id}",
                            options:,
                            placeholder: 'N/A',
                            select: {
                              include_blank: 'N/A',
                              data: {
                                action: 'change->lane-validation#handleReferencePointChange',
                                competitor_id: jump.competitor_id,
                                round_id: @round.id
                              }
                            } %>
                    <% else %>
                      <div><%= jump.reference_point&.name || 'N/A' %></div>
                    <% end %>
                  </div>
                  <div class="lane-validation-competitor-details">
                    <div class="lane-validation-result-actions">
                      <button class="ghost-button small-button" data-action="lane-validation#selectJumpForReview">Select</button>
                      <% if editable && !@round.completed? %>
                        <%= link_to 'Penalties', event_result_penalty_path(@event, jump, minimal: true),
                                    data: { turbo_stream: true },
                                    class: 'ghost-button small-button' %>

                        <%= render 'performance_competitions/lane_validations/toggle_validation', result: jump %>
                      <% end %>
                    </div>
                    <div class="lane-validation-result-info">
                      <%= svg_icon 'compass-regular' %> <%= jump.heading_within_window %>°
                      Exit: <%= jump.exit_altitude.to_i %><%= t 'units.m' %>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>
      </main>
    </section>
  <% end %>
</div>
