<div class="tracks-index-filters">
  <button class="default-button tracks-index-filters-button" data-controller="modal-trigger" data-template-id="tracks-filters-modal" data-action="modal-trigger#open">
    <%= svg_icon 'filter-solid' %>
  </button>

  <template id="tracks-filters-modal">
    <%= render 'components/modal', title: t('tracks.index.filters') do %>
      <%= render 'tracks/filters', modal: true %>
    <% end %>
  </template>

  <div>
    <% activity = index_params[:kind] %>
    <%= link_to t('tracks.index.all'),
                index_params.except(:kind),
                class: ['activity-filter-button', ('activity-filter-button--active' unless activity)] %>

    <%= link_to 'Skydive',
                index_params.merge(kind: 'skydive'),
                class: ['activity-filter-button', ('activity-filter-button--active' if activity == 'skydive')] %>

    <%= link_to 'BASE',
                index_params.merge(kind: 'base'),
                class: ['activity-filter-button', ('activity-filter-button--active' if activity == 'base')] %>

    <%= link_to 'Speed',
                index_params.merge(kind: 'speed_skydiving'),
                class: ['activity-filter-button', ('activity-filter-button--active' if activity == 'speed_skydiving')] %>
  </div>
</div>
