<dialog class="dialog dialog-size-md"
        data-tracks--skydive-performance-track-target="compareModal">
  <div class="dialog-header">
    <h2 class="dialog-title"><%= t('tracks.comparison.modal_title') %></h2>
    <button class="dialog-close"
            aria-label="Close"
            data-action="tracks--skydive-performance-track#closeCompareModal">
      <%= icon_tag 'xmark' %>
    </button>
  </div>

  <div class="dialog-body comparison-explorer">
    <turbo-frame id="hot-select-search" class="comparison-explorer-search">
      <%= form_with url: tracks_path, method: :get, data: { controller: 'tracks-search', turbo_frame: 'tracks-list' } do |f| %>
        <%= f.hidden_field :kind, value: :skydive %>
        <%= f.hidden_field :infinite, value: true %>
        <%= f.hidden_field :exclude_id, value: @track.id %>

        <%= render 'flight_profiles/search_bar', options: [], 'data-action': [
            'filter:added->tracks-search#handleFilterAdd',
            'filter:removed->tracks-search#handleFilterRemove',
            'filter:clear->tracks-search#handleFilterClear',
          ].join(' ') %>
      <% end %>
    </turbo-frame>

    <div class="comparison-explorer-list"
         data-action="click->tracks--skydive-performance-track#selectCompareTrack">
      <turbo-frame id="tracks-list" loading="lazy"></turbo-frame>
    </div>
  </div>
</dialog>
