<%# locals: (modal: false) %>

<%= form_with url: tracks_path, params: index_params, class: 'tracks-filters', method: :get,
              data: { controller: 'tracks--filters',
                      action: "#{modal ? 'submit' : 'change'}->tracks--filters#submit",
                      turbo: true } do |f| %>

  <%= render 'hot_select/select',
             form: f,
             name: :profile_id,
             src: profiles_select_options_path,
             options: options_for_select([[profile_name_by_id(index_params[:profile_id]), index_params[:profile_id]]]),
             placeholder: t('tracks.index.filter_by_pilot'),
             class: 'col-12' %>

  <%= render 'hot_select/select',
             form: f,
             name: :suit_id,
             src: suits_select_options_path,
             options: options_for_select([[suit_name_by_id(index_params[:suit_id]), index_params[:suit_id]]]),
             placeholder: t('tracks.index.filter_by_suit'),
             class: 'col-12' %>

  <%= render 'hot_select/select',
             form: f,
             name: :place_id,
             src: places_select_options_path,
             options: options_for_select([[place_name_by_id(index_params[:place_id]), index_params[:place_id]]]),
             placeholder: t('tracks.index.filter_by_place'),
             class: 'col-12' %>

  <% if modal %>
    <div class="form-actions">
      <%= f.submit 'Save', class: 'primary-button' %>
    </div>
  <% end %>
<% end %>
