- query_params = index_params[:query] || {}
.tracks-filters
  %button.btn.btn-default{data: {toggle:'modal', target:'#tracks-filters-modal'}}
    %i.fa.fa-filter
    =t 'tracks.index.filters'

  .pull-right
    .btn-group
      - activity = query_params[:kind]
      = link_to t('.all'),
                index_params.merge(query: query_params.except(:kind)),
                remote: true,
                class: ['btn btn-default', ('active' unless activity)],
                rel: 'nofollow'

      = link_to 'Skydive',
                index_params.merge(query: query_params.merge(kind: 'skydive')),
                remote: true,
                class: ['btn btn-default', ('active' if activity == 'skydive')],
                rel: 'nofollow'

      = link_to 'B.A.S.E.',
                index_params.merge(query: query_params.merge(kind: 'base')),
                remote: true,
                class: ['btn btn-default', ('active' if activity == 'base')],
                rel: 'nofollow'

  .modal.fade#tracks-filters-modal{tabindex: '-1', role: 'dialog', aria: {labelledby: 'myModalLabel', hidden: 'true'}}
    .modal-dialog
      .modal-content
        = form_for tracks_path, method: :get, remote: :true do |f|
          .modal-header
            %button.close{type: 'button', data: {dismiss: 'modal'}}
              %span{aria: {hidden: 'true'}}
                &times;
              %span.sr-only
                Close
            %h4.modal-title=t 'tracks.index.filters'

          .modal-body
            .form-group
              %label
                = t('tracks.index.filter_by_pilot')
              = select_tag('query_profile_id',
                            options_for_select([ [profile_name_by_id(query_params[:profile_id]), query_params[:profile_id]] ]),
                            name: 'query[profile_id]',
                            placeholder: t('tracks.index.filter_by_pilot'),
                            class: 'form-control input-lg',
                            'data-controller': 'select2--profiles')

            .form-group
              %label
                = t('tracks.index.filter_by_suit')
              = select_tag('query_suit_id',
                            options_for_select([ [suit_name_by_id(query_params[:suit_id]), query_params[:suit_id]] ]),
                            name: 'query[suit_id]',
                            placeholder: t('tracks.index.filter_by_suit'),
                            class: 'form-control input-lg',
                            'data-controller': 'select2--suits')

            .form-group
              %label
                = t('tracks.index.filter_by_place')
              = select_tag('query_place_id',
                            options_for_select([ [place_name_by_id(query_params[:place_id]), query_params[:place_id]] ]),
                            name: 'query[place_id]',
                            placeholder: t('tracks.index.filter_by_place'),
                            class: 'form-control input-lg',
                            'data-controller': 'select2--places')

          .modal-footer
            .tracks-filters__modal-footer
              %button.btn.btn-lg.btn-default{type: 'button', data: {dismiss: 'modal'}}= t('general.cancel')
              = f.submit 'OK', class: 'btn btn-primary btn-lg'
