.page-header
  .row
    .col-md-12
      %h1.light-header
        - if track.pilot
          %a{href: profile_path(track.pilot)}
            = image_tag track.pilot.userpic.url(:thumb), :class => 'img-rounded img-50 loading-bg'
            = track.pilot.name
        - else
          = track.name
        =header track
        %small.light-header
          %span= t('tracks.show.title_suit') + ':' 
          - if track.wingsuit
            - manufacturer = track.wingsuit.manufacturer
            %a{href: wingsuit_path(track.wingsuit)}
              = suit_presentation(track.wingsuit)
          - else
            %span= track.suit
          %span.no-right-space
            @
          - if track.place
            %a{href: place_path(track.place)}
              %span
              = place_presentation(track.place)
          - else
            %span= track.location

  .row
    .col-md-12
      %a.btn.btn-default{href: track_path(track),
                         class: ('active' if action_name == 'show')}
        %i.fa.fa-bar-chart-o
        = t('tracks.show.charts')
      - if track.video
        %a.btn.btn-default{href: replay_track_path(track),
                           class: ('active' if action_name == 'replay')}
          %i.fa.fa-play-circle-o
          = 'Replay'
      - if track.ge_enabled
        %a.btn.btn-default{href: google_earth_track_path(track),
                           class: ('active' if action_name == 'google_earth'),
                           :'data-no-turbolink' => 'true'}
          %i.fa.fa-compass
          = 'Google earth'
      %a.btn.btn-default{href: track_google_maps_path(track),
                         class: ('active' if action_name == 'google_maps')}
        %i.fa.fa-compass
        = 'Google maps'
      = link_to track_results_path(@track), 
                remote: true, 
                class: 'btn btn-default',
                rel: 'nofollow' do
        %i.fa.fa-th-list
        = t('tracks.show.results')

      .pull-right
        = link_to t('events.show.weather_data'), 
                 track_weather_data_path(@track), 
                 remote: true, 
                 class: 'btn btn-default',
                 rel: 'nofollow'

        %span.settings-button
          - if action_name == 'show'
            = render 'tracks/view_settings_menu'
        - if user_signed_in? && (current_user == track.user || (can? :update, :tracks))
          %a.btn.btn-default{href: edit_track_path(track)}
            %i.fa.fa-pencil
