.track-header
  .track-header__track-id
    = t 'tracks.show.title_track'
    = "##{track.id}"
    - if track.unlisted_track?
      %i.fa.fa-eye-slash{'data-toggle': 'tooltip', title: t('visibility.unlisted')}
    - elsif track.private_track?
      %i.fa.fa-lock{'data-toggle': 'tooltip', title: t('visibility.private')}

  .track-header__pilot
    - if track.pilot
      = link_to profile_path(track.pilot), class: 'track-header__pilot-link' do
        .track-header__pilot-photo
          = image_tag track.pilot.userpic.url(:thumb), :class => 'img-rounded img-50 loading-bg'
        .track-header__pilot-name
          = track.pilot.name
    - else
      .track-header__pilot-link
        .track-header__pilot-name
          = track.name
  .track-header__suit
    %span= t('tracks.show.title_suit') + ':' 
    - if track.suit
      - manufacturer = track.suit.manufacturer
      %a{href: suit_path(track.suit)}
        = suit_presentation(track.suit)
    - else
      %span= track.missing_suit_name
  .track-header__place
    %span.no-right-space
      %i.fa.fa-map-marker
      - if track.place
        %a{href: place_path(track.place)}
          %span
          = place_presentation(track.place)
      - else
        %span= track.location
  .pull-right
    - if policy(track).edit?
      %a.btn-flat.btn-tab{href: edit_track_path(track)}
        %i.fa.fa-pencil

  .tabs-navbar
    .tabs-navbar__fade-right
    %ul.tabs-navbar__menu
      - controller_path = controller.controller_path
      - active_class = 'tabs-navbar--active'
      %li.tabs-navbar__menuitem{class: (active_class if controller_path == 'tracks')}
        = link_to track_path(track) do
          %i.fa.fa-bar-chart-o
          = t('tracks.show.charts')
      %li.tabs-navbar__menuitem{class: (active_class if controller_path == 'tracks/videos')}
        - if track.video
          = link_to track_video_path(track) do
            %i.fa.fa-play-circle-o
            = 'Video'
        - elsif policy(track).edit?
          = link_to new_track_video_path(track) do
            %i.fa.fa-play-circle-o
            = 'Video'
        - else
          %div.tooltip-wrapper{'data-toggle': 'tooltip', title: 'Pilot has not added video yet'}
            %button.btn-flat.disabled
              %i.fa.fa-play-circle-o
              = 'Video'
      %li.tabs-navbar__menuitem{class: (active_class if controller.controller_path == 'tracks/globe')}
        - if track.ge_enabled
          = link_to track_globe_path(track) do
            %i.fa.fa-compass
            = '3D Maps'
      %li.tabs-navbar__menuitem{class: (active_class if controller_path == 'tracks/maps')}
        = link_to track_map_path(track) do
          %i.fa.fa-compass
          = 'Google maps'
      %li.tabs-navbar__divider
        |
      %li.tabs-navbar__menuitem
        = link_to track_results_path(@track), 
                  remote: true, 
                  rel: 'nofollow' do
          %i.fa.fa-th-list
          = t('tracks.show.results')
      %li.tabs-navbar__menuitem
        = link_to t('events.show.weather_data'), 
                 track_weather_data_path(@track), 
                 remote: true, 
                 rel: 'nofollow'

