.page-header
  .row
    .col-md-12
      %h1.light-header
        - if track.pilot
          %a{href: profile_path(track.pilot)}
            = image_tag track.pilot.userpic.url(:thumb), :class => 'img-rounded img-50 loading-bg'
            = track.pilot.name
        - else
          = track.name
        |
        = t 'tracks.show.title_track'
        = "##{track.id}"

        %small.light-header
          %span= t('tracks.show.title_suit') + ':' 
          - if track.suit
            - manufacturer = track.suit.manufacturer
            %a{href: suit_path(track.suit)}
              = suit_presentation(track.suit)
          - else
            %span= track.missing_suit_name
          %span.no-right-space
            @
          - if track.place
            %a{href: place_path(track.place)}
              %span
              = place_presentation(track.place)
          - else
            %span= track.location

          - if track.unlisted_track?
            %i.fa.fa-eye-slash{'data-toggle': 'tooltip', title: t('visibility.unlisted')}
          - elsif track.private_track?
            %i.fa.fa-lock{'data-toggle': 'tooltip', title: t('visibility.private')}
  .row
    .col-md-12
      - controller_path = controller.controller_path
      = link_to track_path(track), class: ['btn-flat btn-tab', ('active' if controller_path == 'tracks')] do
        %i.fa.fa-bar-chart-o
        = t('tracks.show.charts')
      - if track.video
        = link_to track_video_path(track), class: ['btn-flat btn-tab', ('active' if controller_path == 'tracks/videos')] do
          %i.fa.fa-play-circle-o
          = 'Video'
      - elsif can? :edit, track
        = link_to new_track_video_path(track), class: ['btn-flat btn-tab', ('active' if controller_path == 'tracks/videos')] do
          %i.fa.fa-play-circle-o
          = 'Video'
      - else
        %div.tooltip-wrapper{'data-toggle': 'tooltip', title: 'Pilot has not added video yet'}
          %button.btn-flat.disabled
            %i.fa.fa-play-circle-o
            = 'Video'
      - if track.ge_enabled
        = link_to track_globe_path(track), class: ['btn-flat btn-tab', ('active' if controller.controller_path == 'tracks/globe')] do
          %i.fa.fa-compass
          = '3D Maps'
      = link_to track_map_path(track), class: ['btn-flat btn-tab', ('active' if controller_path == 'tracks/maps')] do
        %i.fa.fa-compass
        = 'Google maps'
      = link_to track_results_path(@track), 
                remote: true, 
                class: 'btn-flat btn-tab',
                rel: 'nofollow' do
        %i.fa.fa-th-list
        = t('tracks.show.results')

      .pull-right
        = link_to t('events.show.weather_data'), 
                 track_weather_data_path(@track), 
                 remote: true, 
                 class: 'btn-flat btn-tab',
                 rel: 'nofollow'

        - if user_signed_in? && (current_user == track.user || (can? :update, :tracks))
          %a.btn-flat.btn-tab{href: edit_track_path(track)}
            %i.fa.fa-pencil
