<div class="show-page-header">
  <div class="track-header">
    <% if track.pilot %>
      <a href="<%= profile_path(track.pilot) %>">
        <span class="<%= ['track-header-profile', ('contributor' if track.pilot.contributions.any?)].join(' ') %>">
          <%= image_tag track.pilot.userpic_url(:thumb), class: 'track-header__photo loading-bg' %>
          <%= track.pilot.name %>
        </span>
      </a>
    <% else %>
      <span class="track-header-profile"><%= track.name %></span>
    <% end %>

    <div class="track-header-info">
      <span class="track-header-suit">
        <%= icon_tag 'wingsuit' %>
        <% if track.suit %>
          <% manufacturer = track.suit.manufacturer %>
          <a href="<%= suit_path(track.suit) %>">
            <%= suit_presentation(track.suit) %>
          </a>
        <% else %>
          <span><%= track.missing_suit_name %></span>
        <% end %>
      </span>

      <span class="track-header-place">
        <%= icon_tag 'location-dot-solid' %>
        <% if track.place %>
          <a href="<%= place_path(track.place) %>">
            <span><%= place_presentation(track.place) %></span>
          </a>
        <% else %>
          <span><%= track.location %></span>
        <% end %>
      </span>
    </div>

    <div class="track-header-id">
      <% if track.unlisted_track? %>
        <%= icon_tag 'eye-slash-solid' %>
      <% elsif track.private_track? %>
        <%= icon_tag 'lock-solid' %>
      <% end %>

      #<%= track.id %>
    </div>
  </div>

  <div class="page-nav">
    <% controller_path = controller.controller_path %>
    <%= link_to track_path(track), class: ['page-tab', ('page-tab-active' if controller_path == 'tracks')] do %>
      <%= icon_tag 'chart-bar' %>
      <%= t('tracks.show.charts') %>
    <% end %>
    <% if track.video %>
      <%= link_to track_video_path(track), class: ['page-tab', ('page-tab-active' if controller_path == 'tracks/videos')] do %>
        <%= icon_tag 'circle-play' %>
        Video
      <% end %>
    <% elsif policy(track).edit? %>
      <%= link_to new_track_video_path(track), class: ['page-tab', ('page-tab-active' if controller_path == 'tracks/videos')] do %>
        <%= icon_tag 'circle-play' %>
        Video
      <% end %>
    <% else %>
      <div class="tooltip-wrapper" data-toggle="tooltip" title="Pilot has not added video yet">
        <div class="page-tab">
          <%= icon_tag 'circle-play' %>
          Video
        </div>
      </div>
    <% end %>
    <% if track.ge_enabled %>
      <%= link_to track_globe_path(track), class: ['page-tab', ('page-tab-active' if controller.controller_path == 'tracks/globe')] do %>
        <%= icon_tag 'compass-regular' %>
        3D Maps
      <% end %>
    <% end %>
    <%= link_to track_map_path(track), class: ['page-tab', ('page-tab-active' if controller_path == 'tracks/maps')] do %>
      <%= icon_tag 'compass-regular' %>
      Google maps
    <% end %>
    <%= link_to track_results_path(@track), remote: true, class: 'page-tab', rel: 'nofollow' do %>
      <%= icon_tag 'list-ul-solid' %>
      <%= t('tracks.show.results') %>
    <% end %>

    <div class="page-nav-right">
      <% if track.skydive? %>
        <%= link_to t('events.show.weather_data'), track_weather_data_path(@track), remote: true, class: 'page-tab', rel: 'nofollow' %>
      <% end %>

      <% if policy(track).edit? %>
        <a class="btn-flat btn-tab" href="<%= edit_track_path(track) %>">
          <%= icon_tag 'pencil-solid' %>
        </a>
      <% end %>
    </div>
  </div>
</div>
