<div class="track-indicators">
  <div class="track-indicators__column">
    <div class="track-indicators__indicator">
      <div class="track-indicators__param">
        <%= t '.glide_ratio' %>
      </div>
      <div class="param-val">
        <div class="avg-val"><%= presenter.glide_ratio %></div>
        <div class="min-max">
          <div class="max-val"><%= presenter.max_glide_ratio %></div>
          <div class="min-val"><%= presenter.min_glide_ratio %></div>
        </div>
        <% if presenter.wind_cancelation? %>
          <div class="progress track-indicators__wind-effect">
            <div class="progress-bar progress-bar-success" style="width: <%= presenter.zero_wind_distance_in_percents %>%;"></div>
            <div class="progress-bar progress-bar-danger" style="width: <%= presenter.distance_wind_effect_in_percents %>%;"></div>
          </div>
          <div class="track-indicators__components">
            <div class="track-indicators__component text-left text-success">
              <%= presenter.zero_wind_glide_ratio %>
            </div>
            <div class="track-indicators__component text-right text-danger">
              <%= presenter.glide_ratio_wind_effect %>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <div class="track-indicators__indicator">
      <div class="track-indicators__param">
        <%= t '.duration' %>
      </div>
      <div class="param-val">
        <div class="avg-val"><%= presenter.time %></div>
        <div class="units"><%= t 'units.t_unit' %></div>
      </div>
    </div>
  </div>

  <div class="track-indicators__column">
    <div class="track-indicators__indicator">
      <div class="track-indicators__param">
        <%= t '.ground_speed' %>
      </div>
      <div class="param-val">
        <div class="avg-val"><%= presenter.avg_horizontal_speed %></div>
        <div class="min-max">
          <div class="max-val"><%= presenter.max_horizontal_speed %></div>
          <div class="min-val"><%= presenter.min_horizontal_speed %></div>
        </div>
        <div class="units"><%= t "units.#{presenter.speed_units}" %></div>
        <% if presenter.wind_cancelation? %>
          <div class="progress track-indicators__wind-effect">
            <div class="progress-bar progress-bar-success" style="width: <%= presenter.zero_wind_horizontal_speed_in_percents %>%;"></div>
            <div class="progress-bar progress-bar-danger" style="width: <%= presenter.horizontal_speed_wind_effect_in_percents %>%;"></div>
          </div>
          <div class="track-indicators__components">
            <div class="track-indicators__component text-left text-success">
              <%= presenter.zero_wind_horizontal_speed %>
            </div>
            <div class="track-indicators__component text-right text-danger">
              <%= presenter.horizontal_speed_wind_effect %>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <div class="track-indicators__indicator">
      <div class="track-indicators__param">
        <%= t '.vertical_speed' %>
      </div>
      <div class="param-val">
        <div class="avg-val"><%= presenter.avg_vertical_speed %></div>
        <div class="min-max">
          <div class="min-val"><%= presenter.max_vertical_speed %></div>
          <div class="max-val"><%= presenter.min_vertical_speed %></div>
        </div>
        <div class="units"><%= t "units.#{presenter.speed_units}" %></div>
      </div>
    </div>
  </div>
</div>
