.track-indicators
  .track-indicators__column
    .track-indicators__indicator
      .track-indicators__param
        =t '.glide_ratio'
      .param-val
        .avg-val= presenter.glide_ratio
        .min-max
          .max-val
            %span= presenter.max_glide_ratio
            %i.fa.fa-chevron-up
          .min-val
            %span= presenter.min_glide_ratio
            %i.fa.fa-chevron-down.min-val-caret
      - if presenter.wind_cancelation?
        .progress.track-indicators__wind-effect
          .progress-bar.progress-bar-success{style: "width: #{presenter.zero_wind_distance_in_percents}%;"}
          .progress-bar.progress-bar-danger{style: "width: #{presenter.distance_wind_effect_in_percents}%;"}
        .track-indicators__components
          .track-indicators__component.text-left.text-success
            = presenter.zero_wind_glide_ratio
          .track-indicators__component.text-right.text-danger
            = presenter.glide_ratio_wind_effect

    .track-indicators__indicator
      .track-indicators__param
        =t '.duration'
      .param-val
        .avg-val= presenter.time
        .units= t 'units.t_unit'

  .track-indicators__column
    .track-indicators__indicator
      .track-indicators__param
        =t '.ground_speed'
      .param-val
        .avg-val= presenter.avg_horizontal_speed
        .min-max
          .max-val
            %span= presenter.max_horizontal_speed
            %i.fa.fa-chevron-up
          .min-val
            %span= presenter.min_horizontal_speed
            %i.fa.fa-chevron-down.min-val-caret
        .units=t "units.#{presenter.speed_units}"
      - if presenter.wind_cancelation?
        .progress.track-indicators__wind-effect
          .progress-bar.progress-bar-success{style: "width: #{presenter.zero_wind_horizontal_speed_in_percents}%;"}
          .progress-bar.progress-bar-danger{style: "width: #{presenter.horizontal_speed_wind_effect_in_percents}%;"}
        .track-indicators__components
          .track-indicators__component.text-left.text-success
            = presenter.zero_wind_horizontal_speed
          .track-indicators__component.text-right.text-danger
            = presenter.horizontal_speed_wind_effect

    .track-indicators__indicator
      .track-indicators__param
        =t '.vertical_speed'
      .param-val
        .avg-val= presenter.avg_vertical_speed
        .min-max
          .min-val
            %span= presenter.max_vertical_speed
            %i.fa.fa-chevron-up
          .max-val
            %span= presenter.min_vertical_speed
            %i.fa.fa-chevron-down.min-val-caret
        .units=t "units.#{presenter.speed_units}"


