<div class="track-indicators">
  <div class="track-indicator" data-value="distance">
    <div class="track-indicator-title"><%= t '.distance' %></div>
    <div class="track-indicator-value-wrapper">
      <div class="track-indicator-value-container">
        <div class="track-indicator-value"><%= presenter.distance %></div>
        <div class="track-indicator-units"><%= t "units.#{presenter.distance_units}" %></div>
      </div>
    </div>

    <% if presenter.wind_cancelation? %>
      <div class="wind-effect-container">
        <div class="wind-effect-rail">
          <div class="wind-effect-result-percent" style="width: <%= presenter.zero_wind_distance_in_percents %>%;"></div>
          <div class="wind-effect-wind-percent" style="width: <%= presenter.distance_wind_effect_in_percents %>%;"></div>
        </div>
        <div class="wind-effect-values">
          <div class="wind-effect-result"><%= presenter.zero_wind_distance %></div>
          <div class="wind-effect-wind"><%= presenter.distance_wind_effect %></div>
        </div>
      </div>
    <% end %>
  </div>

  <div class="track-indicator" data-value="ground-speed">
    <div class="track-indicator-title"><%= t '.ground_speed' %></div>
    <div class="track-indicator-value-wrapper">
      <div class="track-indicator-value-container">
        <div class="track-indicator-value"><%= presenter.avg_horizontal_speed %></div>
        <div class="track-indicator-minmax-value">
          <div class="track-indicator-max">
            <span><%= presenter.max_horizontal_speed %></span>
            <%= svg_icon 'angle-up-solid' %>
          </div>
          <div class="track-indicator-min">
            <span><%= presenter.min_horizontal_speed %></span>
            <%= svg_icon 'angle-down-solid' %>
          </div>
        </div>
        <div class="track-indicator-units"><%= t "units.#{presenter.speed_units}" %></div>
      </div>
    </div>

    <% if presenter.wind_cancelation? %>
      <div class="wind-effect-container">
        <div class="wind-effect-rail">
          <div class="wind-effect-result-percent" style="width: <%= presenter.zero_wind_horizontal_speed_in_percents %>%;"></div>
          <div class="wind-effect-wind-percent" style="width: <%= presenter.horizontal_speed_wind_effect_in_percents %>%;"></div>
        </div>

        <div class="wind-effect-values">
          <div class="wind-effect-result"><%= presenter.zero_wind_horizontal_speed %></div>
          <div class="wind-effect-wind"><%= presenter.horizontal_speed_wind_effect %></div>
        </div>
      </div>
    <% end %>
  </div>

  <div class="track-indicator" data-value="glide-ratio">
    <div class="track-indicator-title"><%= t '.glide_ratio' %></div>
    <div class="track-indicator-value-wrapper">
      <div class="track-indicator-value-container">
        <div class="track-indicator-value"><%= presenter.glide_ratio %></div>
        <div class="track-indicator-minmax-value">
          <div class="track-indicator-max">
            <span><%= presenter.max_glide_ratio %></span>
            <%= svg_icon 'angle-up-solid' %>
          </div>
          <div class="track-indicator-min">
            <span><%= presenter.min_glide_ratio %></span>
            <%= svg_icon 'angle-down-solid' %>
          </div>
        </div>
      </div>
    </div>

    <% if presenter.wind_cancelation? %>
      <div class="wind-effect-container">
        <div class="wind-effect-rail">
          <div class="wind-effect-result-percent" style="width: <%= presenter.zero_wind_distance_in_percents %>%;"></div>
          <div class="wind-effect-wind-percent" style="width: <%= presenter.distance_wind_effect_in_percents %>%;"></div>
        </div>

        <div class="wind-effect-values">
          <div class="wind-effect-result"><%= presenter.zero_wind_glide_ratio %></div>
          <div class="wind-effect-wind"><%= presenter.glide_ratio_wind_effect %></div>
        </div>
      </div>
    <% end %>
  </div>

  <div class="track-indicator" data-value="elevation">
    <div class="track-indicator-title"><%= t '.elevation' %></div>
    <div class="track-indicator-value-wrapper">
      <div class="track-indicator-value-container">
        <div class="track-indicator-value"><%= presenter.elevation %></div>
        <div class="track-indicator-units"><%= t "units.#{presenter.altitude_units}" %></div>
      </div>
    </div>
  </div>

  <div class="track-indicator" data-value="vertical-speed">
    <div class="track-indicator-title"><%= t '.vertical_speed' %></div>
    <div class="track-indicator-value-wrapper">
      <div class="track-indicator-value-container">
        <div class="track-indicator-value"><%= presenter.avg_vertical_speed %></div>
        <div class="track-indicator-minmax-value">
          <div class="track-indicator-min">
            <span><%= presenter.max_vertical_speed %></span>
            <%= svg_icon 'angle-up-solid' %>
          </div>
          <div class="track-indicator-max">
            <span><%= presenter.min_vertical_speed %></span>
            <%= svg_icon 'angle-down-solid' %>
          </div>
        </div>
        <div class="track-indicator-units"><%= t "units.#{presenter.speed_units}" %></div>
      </div>
    </div>
  </div>

  <div class="track-indicator" data-value="time">
    <div class="track-indicator-title"><%= t '.duration' %></div>
    <div class="track-indicator-value-wrapper">
      <div class="track-indicator-value-container">
        <div class="track-indicator-value"><%= presenter.time %></div>
        <div class="track-indicator-units"><%= t 'units.t_unit' %></div>
      </div>
    </div>
  </div>
</div>
