:javascript
.modal.fade#newTrackModal{tabindex: '-1', role: 'dialog', aria: {labelledby: 'myModalLabel', hidden: 'true'}}
  .modal-dialog
    .modal-content
      = form_tag choose_tracks_path, 
                 multipart: true, 
                 class: 'form-horizontal', 
                 role: 'form', 
                 id: 'track_upload_form' do

        .modal-header
          %button.close{type: 'button', data: {dismiss: 'modal'}}
            %span{aria: {hidden: 'true'}}
              &times;
            %span.sr-only
              Close
          %h4.modal-title#myModalLabel= t 'static_pages.index.track_form.title'

        .modal-body
          .form-group
            %span.col-sm-3.control-label
              = t('static_pages.index.track_form.name')
            .col-sm-9
              - if current_user
                %span.track-name-span= current_user.profile.name
              - else
                = text_field_tag 'track[name]', 
                                 nil, 
                                 class: 'form-control', 
                                 placeholder: t('static_pages.index.track_form.name_plh'), 
                                 type: 'text'

          .form-group
            %span.col-sm-3.control-label
              = t('static_pages.index.track_form.suit')
            .col-sm-9
              %select.new-track-wingsuit-select.suit-group{name: 'track[wingsuit_id]'}
              %input.form-control.suit-group{name: 'track[suit]', type: 'text', placeholder: t('tracks.form.suit_text_placeholder')}
            .col-sm-9.col-sm-offset-3
              %span
                %span.toggle-suit-caption= t('tracks.form.toggle_suit_caption')
                %a.toggle-suit{href: '#'}= t('tracks.form.toggle_suit_link')

          .form-group
            %span.col-sm-3.control-label
              = t('static_pages.index.track_form.location')
            .col-sm-9
              = text_field_tag 'track[location]', 
                               nil, 
                               class: 'form-control', 
                               placeholder: t('static_pages.index.track_form.location_plh'), 
                               type: 'text'

          .form-group
            %span.col-sm-3.control-label
              = t('static_pages.index.track_form.kind')
            .btn-group.col-sm-9{data: {toggle: 'buttons'}}
              %label.btn.btn-default.active
                = radio_button_tag 'track[kind]', 'skydive', true
                = 'Skydive'
              %label.btn.btn-default
                = radio_button_tag 'track[kind]', 'base'
                = 'B.A.S.E'

          .form-group
            %span.col-sm-3.control-label
              = t('static_pages.index.track_form.file')
            .col-sm-9
              .input-group
                %input.form-control{type: "text", readonly: true}
                %span.input-group-btn
                  %span.btn.btn-default.btn-file
                    Browse&hellip; 
                    %input#track_file{name: 'track[file]', type: "file"}

          .form-group
            .col-sm-offset-3.col-sm-9
              %h4.help-block=t 'static_pages.index.track_form.help'

          .form-group
            %span.col-sm-3.control-label
              = t('static_pages.index.track_form.comment')
            .col-sm-9
              = text_area_tag 'track[comment]', 
                              nil, 
                              class: 'form-control', 
                              rows: 3, 
                              cplaceholder: t('static_pages.index.track_form.comment_plh')

        .modal-footer
          = submit_tag t('static_pages.index.track_form.submit'), class: 'btn btn-success'
          %button.btn.btn-default{type: 'button', data: {dismiss: 'modal'}}=t('general.cancel')
