:javascript

  $(document).ready(function($) {

    var name = $.cookie('name');
    if (typeof name !== 'undefined' && name.trim()) {
        $('#name').val(name);
    }

    var suit = $.cookie('suit');
    if (typeof suit !== 'undefined' && suit.trim()) {
        $('#suit').val(suit);
    }

    var wingsuit_id = $.cookie('wingsuit_id');
    if (typeof wingsuit_id !== 'undefined' && wingsuit_id.trim()) {
        $('#wingsuit-id').val(wingsuit_id);
    }

    var location = $.cookie('location');
    if (typeof location !== 'undefined' && location.trim()) {
        $('#location').val(location);
    }

    $('#track_upload_form').submit( function( e ) {
      var form_valid = true;
      var placeholder = '#alert-placeholder';
      $(placeholder).empty();

      if ($('#name').val().length === 0 || !$('#name').val().trim()) {
          bootstrap_alert.warning(#{t 'static_pages.index.track_form.warnings.name_html'}, placeholder);
          form_valid = false;
      } else {
          $.cookie('name', $('#name').val(), { expires: 365, path: '/' });
      }

      if ($('#suit').val().length === 0 || !$('#suit').val().trim()) {
          bootstrap_alert.warning(#{t 'static_pages.index.track_form.warnings.suit_html'}, placeholder);
          form_valid = false;
      } else {
          $.cookie('suit', $('#suit').val(), { expires: 365, path: '/' });
          $.cookie('wingsuit_id', $('#wingsuit-id').val(), { expires: 365, path: '/' });
      }

      if ($('#location').val().length === 0 || !$('#location').val().trim()) {
          bootstrap_alert.warning(#{t 'static_pages.index.track_form.warnings.loc_html'}, placeholder);
          form_valid = false;
      } else {
          $.cookie('location', $('#location').val(), { expires: 365, path: '/' });
      }

      if ($('#track_file').val().length === 0 || !$('#track_file').val().trim()) {
          bootstrap_alert.warning(#{t 'static_pages.index.track_form.warnings.file_html'}, placeholder);
          form_valid = false;
      }
      if (!form_valid)
          e.preventDefault();
    });
  })

.modal.fade#newTrackModal{:tabindex => '-1', :role => 'dialog', :aria => {:labelledby => 'myModalLabel', :hidden => 'true'}}
  .modal-dialog
    .modal-content
      = form_tag choose_tracks_path, multipart: true, :class => 'form-horizontal', :role => 'form', :id => 'track_upload_form' do
        .modal-header
          %button.close{:type => 'button', :data => {:dismiss => 'modal'}}
            %span{:aria => {:hidden => 'true'}}
              &times;
            %span.sr-only
              Close
          %h4.modal-title#myModalLabel= t 'static_pages.index.track_form.title'

        .modal-body
          .form-group
            %span.col-sm-3.control-label
              = t('static_pages.index.track_form.name')
            .col-sm-9
              = text_field_tag 'name', nil, :class => 'form-control', :placeholder => t('static_pages.index.track_form.name_plh'), :type => 'text'

          .form-group
            %span.col-sm-3.control-label
              = t('static_pages.index.track_form.suit')
            .col-sm-9
              %select.new-track-wingsuit-select{name: 'wingsuit_id'}

              -# = text_field_tag 'suit', nil, :class => 'form-control wingsuit-autocomplete', :placeholder => t('static_pages.index.track_form.suit_plh'), :type => 'text'
              -# = hidden_field_tag 'wingsuit_id', nil, :id => 'wingsuit-id'

          .form-group
            %span.col-sm-3.control-label
              = t('static_pages.index.track_form.location')
            .col-sm-9
              = text_field_tag 'location', nil, :class => 'form-control', :placeholder => t('static_pages.index.track_form.location_plh'), :type => 'text'

          .form-group
            %span.col-sm-3.control-label
              = t('static_pages.index.track_form.kind')
            .btn-group.col-sm-9{:data => {:toggle => 'buttons'}}
              %label.btn.btn-default.active
                = radio_button_tag 'kind', 'skydive', true
                = 'Skydive'
              %label.btn.btn-default
                = radio_button_tag 'kind', 'base'
                = 'B.A.S.E'

          .form-group
            %span.col-sm-3.control-label
              = t('static_pages.index.track_form.file')
            .col-sm-9
              .input-group
                %input.form-control{:type => "text", :readonly => true}
                %span.input-group-btn
                  %span.btn.btn-default.btn-file
                    Browse&hellip; 
                    %input#track_file{:name => 'track_file', :type => "file", :onChange => 'checkFile(this)'}

          .form-group
            .col-sm-offset-3.col-sm-9
              %h4.help-block=t 'static_pages.index.track_form.help'

          .form-group
            %span.col-sm-3.control-label
              = t('static_pages.index.track_form.comment')
            .col-sm-9
              = text_area_tag 'comment', nil, :class => 'form-control', :rows => 3, :placeholder => t('static_pages.index.track_form.comment_plh')

          %div#alert-placeholder

        .modal-footer
          = submit_tag t('static_pages.index.track_form.submit'), :class => 'btn btn-success'
          %button.btn.btn-default{:type => 'button', :data => {:dismiss => 'modal'}}=t('general.cancel')
