.track-show
    
  = render partial: 'header', locals: {track: @track}

  .track-charts
    .track-charts__menu
      .dropdown.track-charts__settings-button
        = render partial: 'tracks/view_settings_menu', locals: { presenter: @track_presenter }

    = render partial: 'indicators', locals: {presenter: @track_presenter}

    %hr

    #slider-range-selector
      %input#range-selector{type: "text",
                            name: 'range', 
                            data: {remote: 'true', url: url_for},
                            value: "#{@track_presenter.range_from};#{@track_presenter.range_to}"}

    = render 'tracks/charts', presenter: @track_presenter
    
  .track-footer
    %blockquote
      - if @track.comment.present?
        %small
          = @track.comment

      %small
        - if @track.recorded_at
          = "Recorded at #{@track.recorded_at.strftime('%d.%m.%Y %H:%M')} (UTC); "
        = "Uploaded at #{@track.created_at.strftime('%d.%m.%Y %H:%M')} (UTC)"

      - if can?(:update, @track) && @track.track_file
        %small
          Download file:
          = link_to @track.track_file.file_file_name, track_download_path(@track), 'data-turbolinks': false
