.track-show

  = render partial: 'header', locals: {track: @track}

  .track-charts
    = render partial: 'indicators', locals: { presenter: @track_presenter }

    %hr

    #slider-range-selector= render 'range_selector', presenter: @track_presenter

    = render 'tracks/charts', presenter: @track_presenter

  .track-footer
    %blockquote
      = render 'track_metadata'
