<%# locals: (compare: false) %>
<% target_prefix = compare ? 'compare' : '' %>
<% target_suffix = compare ? 'Compare' : '' %>
<div class="track-indicators<%= ' track-indicators--compare' if compare %>">
  <div class="track-indicator" data-value="distance">
    <div class="track-indicator-title"><%= t('tracks.indicators.distance') %></div>
    <div class="track-indicator-value-container">
      <div class="track-indicator-value"
           aria-label="distance"
           data-tracks--skydive-performance-track-target="<%= compare ? 'compareDistance' : 'distance' %>"></div>
      <div class="track-indicator-units"><%= t('units.m') %></div>
    </div>

    <div class="wind-effect-container"
         style="display: none;"
         data-tracks--skydive-performance-track-target="<%= compare ? 'compareWindEffectContainerDistance' : 'windEffectContainerDistance' %>">
      <div class="wind-effect-rail">
        <div class="wind-effect-result-percent"
             data-tracks--skydive-performance-track-target="<%= compare ? 'compareWindEffectDistancePercent' : 'windEffectDistancePercent' %>"></div>
        <div class="wind-effect-wind-percent"
             data-tracks--skydive-performance-track-target="<%= compare ? 'compareWindEffectDistanceWindPercent' : 'windEffectDistanceWindPercent' %>"></div>
      </div>

      <div class="wind-effect-values">
        <div class="wind-effect-result"
             aria-label="wind cancelled value"
             data-tracks--skydive-performance-track-target="<%= compare ? 'compareWindEffectDistance' : 'windEffectDistance' %>"></div>
        <div class="wind-effect-wind"
             data-tracks--skydive-performance-track-target="<%= compare ? 'compareWindEffectDistanceWind' : 'windEffectDistanceWind' %>"
             aria-label="wind effect"></div>
      </div>
    </div>
  </div>

  <div class="track-indicator" data-value="ground-speed">
    <div class="track-indicator-title"><%= t('tracks.indicators.ground_speed') %></div>
    <div class="track-indicator-value-container">
      <div class="track-indicator-value"
           aria-label="average horizontal speed"
           data-tracks--skydive-performance-track-target="<%= compare ? 'compareGroundSpeed' : 'groundSpeed' %>">
      </div>
      <div class="track-indicator-minmax-value">
        <div class="track-indicator-max">
          <span aria-label="maximum horizontal speed"
                data-tracks--skydive-performance-track-target="<%= compare ? 'compareGroundSpeedMax' : 'groundSpeedMax' %>">
          </span>
          <%= icon_tag 'angle-up-solid' %>
        </div>
        <div class="track-indicator-min">
          <span aria-label="minimum horizontal speed"
                data-tracks--skydive-performance-track-target="<%= compare ? 'compareGroundSpeedMin' : 'groundSpeedMin' %>">
          </span>
          <%= icon_tag 'angle-down-solid' %>
        </div>
      </div>
      <div class="track-indicator-units"><%= t('units.kmh') %></div>
    </div>

    <div class="wind-effect-container"
         style="display: none;"
         data-tracks--skydive-performance-track-target="<%= compare ? 'compareWindEffectContainerSpeed' : 'windEffectContainerSpeed' %>">
      <div class="wind-effect-rail">
        <div class="wind-effect-result-percent"
             data-tracks--skydive-performance-track-target="<%= compare ? 'compareWindEffectSpeedPercent' : 'windEffectSpeedPercent' %>"></div>
        <div class="wind-effect-wind-percent"
             data-tracks--skydive-performance-track-target="<%= compare ? 'compareWindEffectSpeedWindPercent' : 'windEffectSpeedWindPercent' %>"></div>
      </div>

      <div class="wind-effect-values">
        <div class="wind-effect-result"
             aria-label="wind cancelled value"
             data-tracks--skydive-performance-track-target="<%= compare ? 'compareWindEffectSpeed' : 'windEffectSpeed' %>"></div>
        <div class="wind-effect-wind"
             data-tracks--skydive-performance-track-target="<%= compare ? 'compareWindEffectSpeedWind' : 'windEffectSpeedWind' %>"
             aria-label="wind effect"></div>
      </div>
    </div>
  </div>

  <div class="track-indicator" data-value="glide-ratio">
    <div class="track-indicator-title"><%= t('tracks.indicators.glide_ratio') %></div>
    <div class="track-indicator-value-container">
      <div class="track-indicator-value"
           aria-label="average glide ratio"
           data-tracks--skydive-performance-track-target="<%= compare ? 'compareSummaryGlideRatio' : 'summaryGlideRatio' %>">
      </div>
      <div class="track-indicator-minmax-value">
        <div class="track-indicator-max">
          <span aria-label="maximum glide ratio"
                data-tracks--skydive-performance-track-target="<%= compare ? 'compareGlideRatioMax' : 'glideRatioMax' %>"></span>
          <%= icon_tag 'angle-up-solid' %>
        </div>
        <div class="track-indicator-min">
          <span aria-label="minimum glide ratio"
                data-tracks--skydive-performance-track-target="<%= compare ? 'compareGlideRatioMin' : 'glideRatioMin' %>"></span>
          <%= icon_tag 'angle-down-solid' %>
        </div>
      </div>
    </div>

    <div class="wind-effect-container"
         style="display: none;"
         data-tracks--skydive-performance-track-target="<%= compare ? 'compareWindEffectContainerGlideRatio' : 'windEffectContainerGlideRatio' %>">
      <div class="wind-effect-rail">
        <div class="wind-effect-result-percent"
             data-tracks--skydive-performance-track-target="<%= compare ? 'compareWindEffectGlideRatioPercent' : 'windEffectGlideRatioPercent' %>"></div>
        <div class="wind-effect-wind-percent"
             data-tracks--skydive-performance-track-target="<%= compare ? 'compareWindEffectGlideRatioWindPercent' : 'windEffectGlideRatioWindPercent' %>"></div>
      </div>

      <div class="wind-effect-values">
        <div class="wind-effect-result"
             aria-label="wind cancelled value"
             data-tracks--skydive-performance-track-target="<%= compare ? 'compareWindEffectGlideRatio' : 'windEffectGlideRatio' %>"></div>
        <div class="wind-effect-wind"
             data-tracks--skydive-performance-track-target="<%= compare ? 'compareWindEffectGlideRatioWind' : 'windEffectGlideRatioWind' %>"
             aria-label="wind effect"></div>
      </div>
    </div>
  </div>

  <div class="track-indicator" data-value="elevation">
    <div class="track-indicator-title"><%= t('tracks.indicators.elevation') %></div>
    <div class="track-indicator-value-container">
      <div class="track-indicator-value"
           aria-label="elevation"
           data-tracks--skydive-performance-track-target="<%= compare ? 'compareElevation' : 'elevation' %>"></div>
      <div class="track-indicator-units"><%= t('units.m') %></div>
    </div>
  </div>

  <div class="track-indicator" data-value="vertical-speed">
    <div class="track-indicator-title"><%= t('tracks.indicators.vertical_speed') %></div>
    <div class="track-indicator-value-container">
      <div class="track-indicator-value"
           aria-label="average vertical speed"
           data-tracks--skydive-performance-track-target="<%= compare ? 'compareVerticalSpeed' : 'verticalSpeed' %>">
      </div>

      <div class="track-indicator-minmax-value">
        <div class="track-indicator-min">
          <span aria-label="maximum vertical speed"
                data-tracks--skydive-performance-track-target="<%= compare ? 'compareVerticalSpeedMax' : 'verticalSpeedMax' %>">
          </span>
          <%= icon_tag 'angle-up-solid' %>
        </div>
        <div class="track-indicator-max">
          <span aria-label="minimum vertical speed"
                data-tracks--skydive-performance-track-target="<%= compare ? 'compareVerticalSpeedMin' : 'verticalSpeedMin' %>"></span>
          <%= icon_tag 'angle-down-solid' %>
        </div>
      </div>

      <div class="track-indicator-units"><%= t('units.kmh') %></div>
    </div>
  </div>

  <div class="track-indicator" data-value="time">
    <div class="track-indicator-title"><%= t('tracks.indicators.duration') %></div>
    <div class="track-indicator-value-container">
      <div class="track-indicator-value"
           aria-label="duration"
           data-tracks--skydive-performance-track-target="<%= compare ? 'compareDuration' : 'duration' %>"></div>
      <div class="track-indicator-units"><%= t('units.sec') %></div>
    </div>
  </div>
</div>
