<div class="speed-grades">
  <div class="hl1"><%= "< 130 #{t 'units.kmh'}" %></div>
  <div class="hl2"><%= "130 - 160 #{t 'units.kmh'}" %></div>
  <div class="hl3"><%= "160 - 190 #{t 'units.kmh'}" %></div>
  <div class="hl4"><%= "190 - 220 #{t 'units.kmh'}" %></div>
  <div class="hl5"><%= "220 - 250 #{t 'units.kmh'}" %></div>
  <div class="hl6"><%= "> 250 #{t 'units.kmh'}" %></div>
</div>
