<%# locals: (except_columns: []) %>

<% order_field, order_direction = order_params %>

<div class="tr">
  <div class="th">
    <%= t 'activerecord.attributes.track.id' %>
    <%= tracks_sort_header(order_field, order_direction, 'id', 'ID') %>
  </div>
  <% unless except_columns.include? :profile %>
    <div class="th"><%= t 'activerecord.attributes.track.name' %></div>
  <% end %>
  <div class="th"><%= t 'activerecord.attributes.track.suit' %></div>
  <% unless except_columns.include? :place %>
    <div class="th"><%= t 'activerecord.attributes.track.place' %></div>
  <% end %>
  <div class="th"><%= t 'activerecord.attributes.track.comment' %></div>
  <div class="th result-head text-right">
    <%= t 'disciplines.distance' %>
    <%= tracks_sort_header(order_field, order_direction, 'distance', 'Distance') %>
  </div>
  <div class="th result-head text-right">
    <%= t 'disciplines.speed' %>
    <%= tracks_sort_header(order_field, order_direction, 'speed', 'Speed') %>
  </div>
  <div class="th result-head text-right">
    <%= t 'disciplines.time' %>
    <%= tracks_sort_header(order_field, order_direction, 'time', 'Time') %>
  </div>
  <div class="th">
    <%= t 'activerecord.attributes.track.recorded_at' %>
    <%= tracks_sort_header(order_field, order_direction, 'recorded_at', 'Recorded at') %>
  </div>
  <div class="th"></div>
</div>
