- except_columns ||= []

= link_to track_path(id: track.id), class: 'tr track-row' do
  %span.td= track.id
  - unless except_columns.include? :profile
    %span.td= track_pilot(track)
  - unless except_columns.include? :suit
    %span.td
      - if track.suit
        = suit_presentation(track.suit)
      - else 
        %span.text-info
          = track.missing_suit_name
  - unless except_columns.include? :place
    %span.td= track_place(track)
  %span.td.text-muted= track.comment

  - result_formatter = { default: ->(res) { res.to_i }, time: ->(res) { res.round(1) } }
  - [:distance, :speed, :time].each do |task|
    %span.td.text-right
      - task_result = track.public_send(task)
      - result = task_result&.result
      - range_from = task_result&.range_from
      - range_to = task_result&.range_to
      - if task_result && !result.nan? && !result.infinite? && !result.zero?
        %span.text-info{data: {toggle: 'tooltip'}, title: "#{range_from} - #{range_to}"}
          - formatter = result_formatter[task] || result_formatter[:default]
          = formatter.call(result)
      - else
        %span.text-info
          &mdash;

  %span.td.text-info= track.recorded_at&.strftime('%d.%m.%Y')
  %span.td= track_icons(track)
