<div class="modal fade" id="edit-range" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <%= form_for :track, method: :get, remote: true do |f| %>
        <% bounds = @track.altitude_bounds %>
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">
            <span aria-hidden="true">&times;</span>
            <span class="sr-only">Close</span>
          </button>
          <h4 class="modal-title"><%= t('tracks.show.edit_range') %></h4>
        </div>

        <div class="modal-body">
          <div class="form-inline">
            <label class="control-label"><%= t('tracks.show.range_from') %></label>
            <%= text_field_tag :f, params[:f] || bounds[:max_altitude], class: 'form-control' %>
            <label class="control-label"><%= t('tracks.show.range_to') %></label>
            <%= text_field_tag :t, params[:t] || bounds[:min_altitude], class: 'form-control' %>
          </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal"><%= t('general.cancel') %></button>
          <%= f.submit 'OK', class: 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
