%tr.clickableRow{data: {url: track_path(id: track.id)}}
  %td= track.id
  %td= track_pilot(track)
  %td
    - if track.wingsuit
      = suit_presentation(track.wingsuit)
    - else 
      %span.text-info
        = track.suit
  %td= track_place(track)
  %td.text-muted= track.comment
  %td.text-right
    %span.text-info{data: {toggle: 'tooltip'}, title: range_title(track.distance)}
      = track.distance.result.to_i if track.distance
  %td.text-right
    %span.text-info{data: {toggle: 'tooltip'}, title: range_title(track.speed)}
      = track.speed.result.to_i if track.speed
  %td.text-right
    %span.text-info{data: {toggle: 'tooltip'}, title: range_title(track.time)}
      = track.time.result if track.time
  %td.text-info= track.recorded_at.strftime('%d.%m.%Y')
  %td= track_icons(track)
