<% except_columns ||= [] %>

<%= link_to track_path(id: track.id), class: 'tr' do %>
  <span class="td"><%= track.id %></span>
  <% unless except_columns.include? :profile %>
    <span class="td">
      <% if track.pilot %>
        <span class="<%= 'contributor' if track.pilot.contributions.any? %>">
          <%= track.pilot.name %>
        </span>
      <% else %>
        <%= track.name %>
      <% end %>
    </span>
  <% end %>
  <% unless except_columns.include? :suit %>
    <span class="td">
      <% if track.suit %>
        <%= suit_presentation(track.suit) %>
      <% else %>
        <span class="text-info">
          <%= track.missing_suit_name %>
        </span>
      <% end %>
    </span>
  <% end %>
  <% unless except_columns.include? :place %>
    <span class="td"><%= track_place(track) %></span>
  <% end %>
  <span class="td text-muted"><%= track.comment %></span>

  <% result_formatter = { default: ->(res) { res.to_i }, time: ->(res) { res.round(1) } } %>
  <% [:distance, :speed, :time].each do |task| %>
    <span class="td text-right">
      <% task_result = track.public_send(task) %>
      <% result = task_result&.result %>
      <% range_from = task_result&.range_from %>
      <% range_to = task_result&.range_to %>
      <% if task_result && !result.nan? && !result.infinite? && !result.zero? %>
        <span class="text-info" data-toggle="tooltip" title="<%= "#{range_from} - #{range_to}" %>">
          <% formatter = result_formatter[task] || result_formatter[:default] %>
          <%= formatter.call(result) %>
        </span>
      <% else %>
        <span class="text-info">&mdash;</span>
      <% end %>
    </span>
  <% end %>

  <span class="td text-info"><%= track.recorded_at&.strftime('%d.%m.%Y') %></span>
  <span class="td"><%= track_icons(track) %></span>
<% end %>
