<%# locals: (track:, **rest) %>

<%= link_to track_path(id: track.id), class: "tracks-item", 'data-id': track.id do %>
  <div class="tracks-item-attribute tracks-item-id">
    <%= track.id %>
    <%= track_icons(track) %>
  </div>
  <div class="tracks-item-attribute tracks-item-pilot">
    <% if track.pilot %>
      <span class="<%= 'contributor' if track.pilot.contributor? %>">
        <%= track.pilot.name %>
      </span>
    <% else %>
      <%= track.name %>
    <% end %>
  </div>
  <div class="tracks-item-attribute tracks-item-suit">
    <% if track.suit %>
      <%= suit_presentation(track.suit) %>
    <% else %>
      <span class="text-info">
        <%= track.missing_suit_name %>
      </span>
    <% end %>
  </div>
  <div class="tracks-item-attribute tracks-item-place">
    <%= track_place(track) %>
  </div>
  <div class="tracks-item-attribute tracks-item-comment"><%= track.comment %></div>
  <div class="tracks-item-attribute tracks-item-result">
    <% if track.distance %>
      <span data-controller="tooltip">
        <%= track.distance.result&.to_i %>
        <span class="for-screen-reader"><%= "#{track.distance.range_from} - #{track.distance.range_to}" %></span>
      </span>
    <% else %>
      &mdash;
    <% end %>
  </div>
  <div class="tracks-item-attribute tracks-item-result">
    <% if track.speed %>
      <span data-controller="tooltip">
        <%= track.speed.result&.to_i %>
        <span class="for-screen-reader"><%= "#{track.speed.range_from} - #{track.speed.range_to}" %></span>
      </span>
    <% else %>
      &mdash;
    <% end %>
  </div>
  <div class="tracks-item-attribute tracks-item-result">
    <% if track.time %>
      <span data-controller="tooltip">
        <%= track.time.result&.round(1) %>
        <span class="for-screen-reader"><%= "#{track.time.range_from} - #{track.time.range_to}" %></span>
      </span>
    <% else %>
      &mdash;
    <% end %>
  </div>
  <div class="tracks-item-attribute tracks-item-timestamp">
    <%= track.recorded_at&.strftime('%d.%m.%Y') %>
  </div>
<% end %>
