<% provide :title, title(@track) %>

<div class="container top-buffer">
  <%= link_to track_path(@track), class: 'btn-back' do %>
    <%= svg_icon 'angle-left-solid' %>
    <%= t('.back') %>
  <% end %>

  <%= form_for @track, html: { class: 'sd-form content-block', id: 'track_edit_form' } do |f| %>
    <%= render 'tracks/jump_range', form: f, track: @track %>

    <div class="form-divider"></div>

    <div class="grid" data-controller="tracks--suit-field" data-mode="<%= @track.suit ? 'select' : 'text' %>">
      <label class="form-label col-4"><%= t('activerecord.attributes.track.suit') %></label>
      <div class="col-8">
        <div data-tracks--suit-field-target="select">
          <%= render 'hot_select/select', form: f, name: :suit_id, src: suits_select_options_path,
                     placeholder: t('tracks.form.suit_select_placeholder'),
                     options: options_for_select([([@track.suit_name, @track.suit_id] if @track.suit)], @track.suit_id) %>
        </div>

        <%= f.text_field :missing_suit_name,
                         class: 'form-input',
                         placeholder: t('tracks.form.suit_text_placeholder'),
                         data: { 'tracks--suit-field-target': 'text' } %>

        <div class="form-hint">
          <span data-tracks--suit-field-target="caption"><%= t('tracks.form.toggle_suit_caption') %></span>
          <a href="#" data-tracks--suit-field-target="link" data-action="tracks--suit-field#trigger"><%= t('tracks.form.toggle_suit_link') %></a>
        </div>
      </div>
    </div>

    <div class="grid" data-controller="tracks--place-field" data-mode="<%= @track.place ? 'select' : 'text' %>">
      <label class="form-label col-4"><%= t('activerecord.attributes.track.place') %></label>
      <div class="col-8">
        <div data-tracks--place-field-target="select">
          <%= render 'hot_select/select', form: f, name: :place_id, src: places_select_options_path,
                     placeholder: t('tracks.form.place_select_placeholder'),
                     options: options_for_select([([@track.place_name, @track.place_id] if @track.place)], @track.place_id) %>
        </div>

        <%= f.text_field :location,
                         class: 'form-input',
                         placeholder: t('static_pages.index.track_form.location_plh'),
                         data: { 'tracks--place-field-target': 'text' } %>

        <div class="form-hint">
          <span data-tracks--place-field-target="caption"></span>
          <a href="#" data-tracks--place-field-target="link" data-action="tracks--place-field#trigger"></a>
        </div>
      </div>
    </div>

    <%= render 'tracks/form/activity', form: f, activity: @track.kind %>

    <% if user_signed_in? %>
      <%= render 'tracks/form/visibility', form: f, visibility: @track.visibility %>
    <% end %>

    <div class="grid">
      <label class="form-label col-4"><%= t('activerecord.attributes.track.comment') %></label>
      <%= f.text_area :comment, class: 'form-input col-8', rows: 3, placeholder: t('static_pages.index.track_form.comment_plh') %>
    </div>

    <% if current_user&.admin? %>
      <div class="grid">
        <div class="col-8 col-start-5">
          <label class="form-checkbox">
            <%= f.check_box :disqualified_from_online_competitions %>
            <%= t('activerecord.attributes.track.disqualified_from_online_competitions') %>
          </label>
        </div>
      </div>
    <% end %>

    <% if @track.track_file %>
      <div class="grid">
        <label class="form-label col-4">Download file</label>
        <div class="col-8">
          <%= link_to @track.track_file.file_file_name, track_download_path(@track), data: { turbo: false } %>
        </div>
      </div>
    <% end %>

    <div class="form-actions">
      <%= f.submit t('general.save'), class: 'button button--primary' %>
      <%= link_to t('general.cancel'), @track, class: 'button' %>
    </div>

    <div class="form-actions">
      <%= link_to t('general.delete'),
                  @track,
                  method: :delete,
                  data: { confirm: t('tracks.show.delete_confirmation') },
                  class: 'button button--ghost button--danger' %>
    </div>
  <% end %>
</div>
