<% provide :title, title(@track) %>

<div class="track-edit-data">
  <div class="container top-buffer">
    <%= form_for @track, html: { class: 'form-horizontal', role: 'form', id: 'track_edit_form' } do |f| %>
      <div class="content-block">
        <%= link_to track_path(@track) do %>
          <i class="fa fa-chevron-left"></i>
          <%= t('.back') %>
        <% end %>

        <%= render 'tracks/jump_range', form: f, track: @track %>

        <hr>

        <div class="form-group" data-controller="tracks--suit-field" data-mode="<%= @track.suit ? 'select' : 'text' %>">
          <label class="col-sm-3 control-label"><%= t('activerecord.attributes.track.suit') %></label>
          <div class="col-sm-6">
            <%= f.select :suit_id,
                         options_for_select([([@track.suit_name, @track.suit_id] if @track.suit)], @track.suit_id),
                         { include_blank: true },
                         class: 'form-control suit-group',
                         data: { controller: 'select2--suits', target: 'tracks--suit-field.select' } %>

            <%= f.text_field :missing_suit_name,
                             class: 'form-control suit-group',
                             placeholder: t('tracks.form.suit_text_placeholder'),
                             type: 'text',
                             data: { target: 'tracks--suit-field.text' } %>

            <p class="help-block">
              <span data-target="tracks--suit-field.caption"><%= t('tracks.form.toggle_suit_caption') %></span>
              <a data-target="tracks--suit-field.link" data-action="tracks--suit-field#trigger" href="#"><%= t('tracks.form.toggle_suit_link') %></a>
            </p>
          </div>
        </div>

        <div class="form-group" data-controller="tracks--place-field" data-mode="<%= @track.place ? 'select' : 'text' %>">
          <label class="col-sm-3 control-label"><%= t('activerecord.attributes.track.place') %></label>
          <div class="col-sm-6">
            <%= f.select :place_id,
                         options_for_select([([@track.place_name, @track.place_id] if @track.place)], @track.place_id),
                         { include_blank: true },
                         placeholder: t('tracks.form.place_select_placeholder'),
                         class: 'form-control place-group',
                         data: { controller: 'select2--places', target: 'tracks--place-field.select' } %>

            <%= f.text_field 'location',
                             class: 'form-control place-group',
                             placeholder: t('static_pages.index.track_form.location_plh'),
                             data: { target: 'tracks--place-field.text' } %>

            <p class="help-block">
              <span data-target="tracks--place-field.caption"></span>
              <a data-target="tracks--place-field.link" data-action="tracks--place-field#trigger" href="#"></a>
            </p>
          </div>
        </div>

        <%= render 'tracks/form/activity', form: f, activity: @track.kind %>
        <%= render 'tracks/form/visibility', form: f, visibility: @track.visibility %>

        <div class="form-group">
          <label class="col-sm-3 control-label"><%= t('activerecord.attributes.track.comment') %></label>
          <div class="col-sm-6">
            <%= f.text_area 'comment',
                            class: 'form-control',
                            rows: 3,
                            placeholder: t('static_pages.index.track_form.comment_plh') %>
          </div>
        </div>

        <% if current_user&.admin? %>
          <div class="form-group">
            <div class="col-sm-6 col-sm-offset-3">
              <div class="checkbox">
                <label>
                  <%= f.check_box :disqualified_from_online_competitions %>
                  <%= t('activerecord.attributes.track.disqualified_from_online_competitions') %>
                </label>
              </div>
            </div>
          </div>
        <% end %>

        <% if @track.track_file %>
          <div class="form-group">
            <div class="col-sm-6 col-sm-offset-3">
              Download file:
              <%= link_to @track.track_file.file_file_name, track_download_path(@track), data: { turbo: false } %>
            </div>
          </div>
        <% end %>

        <hr>
        <div class="row">
          <div class="col-sm-12">
            <div class="pull-right">
              <%= f.submit t('general.save'), class: 'btn btn-success' %>
              <%= link_to t('general.cancel'), @track, class: 'btn btn-default' %>
            </div>
            <div class="btn btn-default">
              <%= link_to t('general.delete'),
                          @track,
                          method: :delete,
                          data: { confirm: t('tracks.show.delete_confirmation') },
                          class: 'text-danger' %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<% content_for :page_js do %>
  <script>
    $('#track_edit_form').validate({
      ignore: 'input[type=hidden]',
      rules: {
        'track[suit_id]': {
          required: function() {
            return $('[name="track[suit_id]"]').is(':visible');
          }
        },
        'track[missing_suit_name]': {
          required: function() {
            return $('[name="track[missing_suit_name]"]').is(':visible');
          }
        },
        'track[place_id]': {
          required: function() {
            return $('[name="track[place_id]"]').is(':visible');
          }
        },
        'track[location]': {
          required: function() {
            return $('[name="track[location]"]').is(':visible');
          }
        },
      },
      messages: {
        'track[suit]': {
          require_from_group: '<%= I18n.t('jquery_validate.required_field') %>'
        },
        'track[location]': {
          require_from_group: '<%= I18n.t('jquery_validate.required_field') %>'
        }
      },
      highlight: function(element) {
        $(element).closest('.form-group').addClass('has-error');
      },
      unhighlight: function(element) {
        $(element).closest('.form-group').removeClass('has-error');
      },
      errorPlacement: function(error, element) {
        if (element.hasClass('suit-group') || element.hasClass('place-group')) {
          error.appendTo(element.closest('div'));
        } else {
          error.insertAfter(element);
        }
      }
    });
  </script>
<% end %>
