- provide :title, "#{t 'tracks.show.title_track' } ##{@track.id} | #{@track.name}"

.track-earth-data{data: {points: @track_data.points.to_json.html_safe}}

.container
  = render partial: 'header', locals: {track: @track_data.track}
  .row
    .col-sm-12#map3d{style: 'height: 600px;'}
  .row#speed-grades
    .col-sm-2.text-center.hl1= "< 130 #{t 'units.kmh'}"
    .col-sm-2.text-center.hl2= "130 - 160 #{t 'units.kmh'}"
    .col-sm-2.text-center.hl3= "160 - 190 #{t 'units.kmh'}"
    .col-sm-2.text-center.hl4= "190 - 220 #{t 'units.kmh'}"
    .col-sm-2.text-center.hl5= "220 - 250 #{t 'units.kmh'}"
    .col-sm-2.text-center.hl6= "> 250 #{t 'units.kmh'}"

%script{:type => 'text/javascript',
        :src => 'https://www.google.com/jsapi'}

:javascript
    google.load("earth", "1", {"other_params":"sensor=false"});
