<%- model_class = Track -%>
<script type="text/javascript" charset="utf-8">
  $(document).ready(function($) {
    $(".clickableRow").click(function() {
      window.document.location = $(this).data("url");
    });
  });
</script>

<div class="page-header">
  <h1>Загруженные треки:</h1>
</div>
<table class="table table-hover">
  <thead>
    <tr>
      <th>#</th>
      <th>Пилот</th>
      <th>Вингсьют</th>
      <th>Локация</th>
      <th>Комментарий</th>
      <th>Загружен</th>
    </tr>
  </thead>
  <tbody>
    <% @tracks.each do |track| %>
      <tr class="clickableRow" style="cursor: pointer" data-url="<%= show_track_path(:id => track.id) %>">
        <td class="text-info"><%= track.id %></td>
        <td class="text-info"><%= track.name %></td>
        <td class="text-info"><%= track.suit %></td>
        <td class="text-info"><%= track.location%></td>
        <td class="text-muted"><%= track.comment %></td>
        <td class="text-info"><%= track.created_at %></td>
     </tr>
    <% end %>
  </tbody>
</table>
