<div class="tracks-index">
  <% query_params = index_params[:query] || {} %>
  <div class="flex justify-between">
    <button class="default-button" data-controller="modal-trigger" data-template-id="tracks-filters-modal" data-action="modal-trigger#open">
      <%= svg_icon 'filter-solid' %>
    </button>

    <%= render 'activity_filter' %>
  </div>

  <template id="tracks-filters-modal">
    <%= render 'modals/modal', title: t('tracks.index.filters') do %>
      <%= render 'tracks/filters', modal: true %>
    <% end %>
  </template>

  <div class="tracks-list" id="tracks-list">
    <%= render @tracks %>
  </div>

  <div id="index__pagination">
    <%= render 'tracks_pagination' %>
  </div>
</div>

