<div class="container-lg">
  <div class="index-page-header-content">
    <div class="index-page-header">
      <h1 class="index-page-title"><%= t('application.header.tracks') %></h1>

      <%= render 'activity_filter' %>
    </div>

    <div class="tracks-index-search">
      <%= render 'filters' %>
    </div>
  </div>

  <div class="index-page-content">
    <div id="tracks-table" class="table table-hover tracks-table">
      <div class="thead tracks-table-header">
        <%= render 'table_header' %>
      </div>
      <turbo-frame id="tracks-list" class="tbody tracks-table-body" target="_top">
        <%= render @tracks %>

        <% if params[:infinite] && @tracks.next_page %>
          <turbo-frame
            id="tracks-list"
            src="<%= url_for(index_params.merge(page: @tracks.next_page)) %>"
            data-controller="replace-with-children"
            data-action="turbo:frame-render->replace-with-children#trigger"
            loading="lazy"
          >
            Loading...
          </turbo-frame>
        <% end %>
      </turbo-frame>
    </div>
  </div>

  <div id="tracks-pagination">
    <%= render 'tracks_pagination' %>
  </div>
</div>
