.container
  .tracks-index.top-buffer
    = render 'filters'

    .content-block
      .row
        .col-sm-12
          %table#tracks-table.table.table-hover
            %thead
              = render 'table_header'
            %tbody
              = render @tracks

    .text-center.top-buffer
      .pagination-load-more
        = will_paginate @tracks, renderer: WillPaginateLoadMoreRenderer
      .pagination-list
        = will_paginate @tracks, renderer: BootstrapPagination::Rails

