<div class="tracks-index">
  <div class="tracks-index-header">
    <h1>Tracks</h1>

    <div>
      <% activity = index_params.dig(:kind) %>
      <%= link_to t('tracks.index.all'),
                  index_params.except(:kind),
                  remote: true,
                  class: ['tracks-index-activity-button', ('tracks-index-activity-button--active' unless activity)],
                  rel: 'nofollow' %>

      <%= link_to 'Skydive',
                  index_params.merge(kind: 'skydive'),
                  remote: true,
                  class: ['tracks-index-activity-button', ('tracks-index-activity-button--active' if activity == 'skydive')],
                  rel: 'nofollow' %>

      <%= link_to 'BASE',
                  index_params.merge(kind: 'base'),
                  remote: true,
                  class: ['tracks-index-activity-button', ('tracks-index-activity-button--active' if activity == 'base')],
                  rel: 'nofollow' %>

      <%= link_to 'Speed',
                  index_params.merge(kind: 'speed_skydiving'),
                  remote: true,
                  class: ['tracks-index-activity-button', ('tracks-index-activity-button--active' if activity == 'speed_skydiving')],
                  rel: 'nofollow' %>
    </div>
  </div>

  <%= render 'filters' %>

  <div class="content-block">
    <div class="row">
      <div class="col-sm-12">
        <div id="tracks-table" class="table table-hover">
          <div class="thead">
            <%= render 'table_header' %>
          </div>
          <div class="tbody tracks-list">
            <%= render @tracks %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="text-center top-buffer">
    <div class="pagination-load-more">
      <%= will_paginate @tracks, renderer: WillPaginateLoadMoreRenderer %>
    </div>
    <div class="pagination-list">
      <%= will_paginate @tracks, renderer: BootstrapPagination::Rails %>
    </div>
  </div>
</div>
