<%- model_class = Track -%>
<script type="text/javascript" charset="utf-8">
  $(document).ready(function($) {
    $(".clickableRow").click(function() {
      window.document.location = $(this).data("url");
    });
  });
</script>

<div class="page-header">
  <h1><%=t :ti_title %></h1>
</div>
<table class="table table-hover">
  <thead>
    <tr>
      <th><%=t :ti_t_number %></th>
      <th><%=t :ti_t_name %></th>
      <th><%=t :ti_t_suit %></th>
      <th><%=t :ti_t_place %></th>
      <th><%=t :ti_t_comment %></th>
      <th><%=t :ti_t_uploaded_at %></th>
    </tr>
  </thead>
  <tbody>
    <% @tracks.reverse_each do |track| %>
      <tr class="clickableRow" style="cursor: pointer" data-url="<%= show_track_path(:id => track.id) %>">
        <td class="text-info"><%= track.id %></td>
        <td class="text-info"><%= track.name %></td>
        <td class="text-info"><%= track.suit %></td>
        <td class="text-info"><%= track.location%></td>
        <td class="text-muted"><%= track.comment %></td>
        <td class="text-info"><%= track.created_at %></td>
     </tr>
    <% end %>
  </tbody>
</table>
