.tracks-index
  = render 'filters'

  .tracks-index__table-container
    #tracks-table.table.table-hover
      .thead
        = render 'table_header'
      .tbody
        = render @tracks

  .tracks-index__pagination
    .pagination-load-more
      = will_paginate @tracks, renderer: WillPaginateLoadMoreRenderer
    .pagination-list
      = will_paginate @tracks, renderer: BootstrapPagination::Rails

