- track = @track_data.track
- provide :title, title(track)
 
.track-data{data: @track_data.to_data_attr}
  
.container
  = render partial: 'header', locals: {track: track}
  .row
    .col-md-11.col-md-offset-1.col-sm-12
      .row
        .col-md-4.col-sm-4.col-xs-6
          .param-val
            .avg-val.fa-3x#dd_distance
            .dst-unit.fa-2x= t 'units.m'
          .param
            %i.fa.fa-fw.fa-lg.fa-arrows-h
            =t '.dt_dist'
        .col-md-4.col-sm-4.col-xs-6
          .param-val
            .avg-val.fa-3x#p_avg_h_speed
            .min-max.text-right
              .max-val
                %span#p_max_h_speed
                %i.fa.fa-lg.fa-caret-up
              .min-val
                %span#p_min_h_speed
                %i.fa.fa-lg.fa-caret-down.min-val-caret
            .spd-unit.fa-2x=t 'units.kmh'
          .param
            %i.fa.fa-fw.fa-lg.fa-long-arrow-right
            =t '.dt_hspd'
        .col-md-4.col-sm-4.col-xs-6
          .param-val
            .avg-val.fa-3x#p_avg_gr
            .min-max.text-right
              .max-val
                %span#p_max_gr
                %i.fa.fa-lg.fa-caret-up
              .min-val
                %span#p_min_gr
                %i.fa.fa-lg.fa-caret-down.min-val-caret
          .param
            %i.fa.fa-fw.fa-lg.fa-ellipsis-h
            =t '.dt_gr'

        .col-md-4.col-sm-4.col-xs-6
          .param-val
            .avg-val.fa-3x#dd_elevation
            .dst-unit.fa-2x= t 'units.m'
          .param
            %i.fa.fa-fw.fa-lg.fa-arrows-v
            =t '.dt_elev'
        .col-md-4.col-sm-4.col-xs-6
          .param-val
            .avg-val.fa-3x#p_avg_v_speed
            .min-max.text-right
              .min-val
                %span#p_max_v_speed
                %i.fa.fa-lg.fa-caret-up
              .max-val
                %span#p_min_v_speed
                %i.fa.fa-lg.fa-caret-down.min-val-caret
            .spd-unit.fa-2x=t 'units.kmh'
          .param
            %i.fa.fa-fw.fa-lg.fa-long-arrow-down
            =t '.dt_vspd'
        .col-md-4.col-sm-4.col-xs-6
          .param-val
            .avg-val.fa-3x#dd_fl_time
            .time-unit.fa-2x= t 'units.t_unit'
          .param
            %i.fa.fa-fw.fa-lg.fa-clock-o
            =t '.dt_dur'

  %hr.top-buffer

  .row#content-row
    .col-sm-12

      #btn-range-edit
        %button.btn.btn-default#range-edit-button{data: {toggle: 'modal', target: '#edit-range'}}
          %i.fa.fa-arrows-h
      #slider-range-selector
        %input#range-selector{type: 'text', name: 'range-selector' , value: ''}

  #multiple-charts
    #glideratio_chart
    #speeds_chart
    #elevation_distance_chart

  #single-chart
    #all_data_chart

  - if track.comment.present?
    %blockquote
      %small= track.comment

= render 'track_edit_range'
= render 'track_results'
