- provide :title, "#{t '.title_track' } ##{@track.id} | #{@track.name}"

:javascript

  $(function() {

    // Массив хэшей содержащий данные трека
    charts_data = #{@track.charts_data};
    // Максимальная высота трека
    max_height = #{@track.max_height};
    min_height = #{@track.min_height};

    var param_from = #{params[:f].nil? ? -1 : params[:f]};
    var param_to = #{params[:t].nil? ? -1 : params[:t]};

    if (param_from <= param_to || param_from > max_height || param_to >= max_height) {
      param_from = -1;
      param_to = -1;
    }

    if (param_to < min_height) {
      param_to = -1;
    }

    range_from = param_from == -1 ? max_height : param_from;
    range_to = param_to == -1 ? min_height : param_to;

    $(document).ready(function() {

      $("#range-selector").ionRangeSlider({
        min: max_height,
        max: min_height,
        type: 'double',
        step: 50,
        prettify: false,
        hasGrid: true,
        from: max_height,
        to: min_height,
        onFinish: function (obj) {      // callback is called on slider action is finished
          if (in_imperial) {
            range_from = obj.fromNumber / mft_k;
            range_to = obj.toNumber / mft_k;
          } else {
            range_from = obj.fromNumber;
            range_to = obj.toNumber;
          }
          window.history.replaceState({}, document.title, "?f=" + range_from + "&t=" + range_to);
          set_chart_data();
        }
      });

      $('#elevation_distance_chart').highcharts({
          chart: {
            type: 'spline',
            marginLeft: 70
          },
          title: {
            text: #{t 'tracks.show.eldstch_html'}
          },
          plotOptions: {
            spline: {
              marker: {
                enabled: false
              }
            },
            area: {
              marker: {
                enabled: false
              }
            },
            series: {
              marker: {
                radius: 1
              },
              point: {
                events: {
                  mouseOver: function() {
                    syncTooltip('elevation_distance_chart', this.x);
                  }
                }
              }
            }
          },
          yAxis: {
            min: 0,
            title: {
              text: ''
            }
          },
          tooltip: {
            shared: true,
            crosshairs: true
          },
          credits: {
            enabled: false
          },
          series: [{
            name: #{t 'tracks.show.eldst_el_s_html'},
            pointInterval: 10,
            tooltip: {
              valueSuffix: ''
            }
          },
            {
              name: #{t 'tracks.show.eldst_dst_s_html'},
              pointInterval: 10,
              tooltip: {
                valueSuffix: ''
              }
            },
            {
              name: #{t 'tracks.show.eldst_h_s_html'},
              type: 'area',
              fillOpacity: 0.3,
              color: Highcharts.getOptions().colors[0],
              lineWidth: 1,
              tooltip: {
                valueSuffix: ''
              }
            }]
        });

        $('#speeds_chart').highcharts({
          chart: {
            type: 'spline',
            marginLeft: 70
          },
          title: {
            text: #{t 'tracks.show.spdch_html'}
          },
          plotOptions: {
            spline: {
              marker: {
                enabled: false
              }
            },
            series: {
              marker: {
                radius: 1
              },
              point: {
                events: {
                  mouseOver: function() {
                    syncTooltip('speeds_chart', this.x);
                  }
                }
              }
            }
          },
          yAxis: [{ //Speed yAxis
            min: 0,
            labels: {
              style: {
                color: Highcharts.getOptions().colors[1]
              }
            },
            title: {
              text: '',
              style: {
                color: Highcharts.getOptions().colors[1]
              }
            }
          }],
          tooltip: {
            shared: true,
            crosshairs: true,
            valueDecimals: 0
          },
          credits: {
            enabled: false
          },
          series: [{
            name: #{t 'tracks.show.spd_hs_html'},
            tooltip: {
              valueSuffix: ''
            }
          },
            {
              name: #{t 'tracks.show.spd_vs_html'},
              tooltip: {
                valueSuffix: ''
              }
            }]
        });

        $('#glideratio_chart').highcharts({
          chart: {
            type: 'spline',
            marginLeft: 70
          },
          title: {
            text: #{t 'tracks.show.grch_html'}
          },
          plotOptions: {
            spline: {
              marker: {
                enabled: false
              }
            },
            series: {
              marker: {
                radius: 1
              },
              point: {
                events: {
                  mouseOver: function() {
                    syncTooltip('glideratio_chart', this.x);
                  }
                }
              }
            }
          },
          tooltip: {
            crosshairs: true,
            valueDecimals: 2
          },
          yAxis: {
            min: 0,
            title: {
              text: ' '
            }
          },
          credits: {
            enabled: false
          },
          series: [{
            name: #{t 'tracks.show.gr_s_html'},
            tooltip: {
              valueSuffix: ''
            }
          }],
          legend: {
            enabled: false
          }
        });

        $('#all_data_chart').highcharts({
          chart: {
            type: 'spline'
          },
          title: {
            text: #{t 'tracks.show.adc_html'}
          },
          plotOptions: {
            spline: {
              marker: {
                enabled: false
              }
            },
            series: {
              marker: {
                radius: 1
              }
            }
          },
          yAxis: [{ //Speed yAxis
            min: 0,
            title: {
              text: #{t 'tracks.show.adc_html'}
            }
          },
            { // Elev, dist yAxis
              min: 0,
              title: {
                text: #{t 'tracks.show.adc_ed_y_html'}
              },
              opposite: true
            },
            { // GR yAxis
              min: 0,
              max: 5,
              tickInterval: 0.5,
              title: {
                text: #{t 'tracks.show.adc_gr_y_html'}
              },
              opposite: true
            }
          ],
          tooltip: {
            shared: true,
            crosshairs: true
          },
          credits: {
            enabled: false
          },
          series: [{
            name: #{t 'tracks.show.adc_hspd_html'},
            yAxis: 0,
            color: Highcharts.getOptions().colors[2],
            tooltip: {
              valueSuffix: '',
              valueDecimals: 0
            }
          },
            {
              name: #{t 'tracks.show.adc_vspd_html'},
              yAxis: 0,
              color: Highcharts.getOptions().colors[0],
              tooltip: {
                valueSuffix: '',
                valueDecimals: 0
              }
            },
            {
              name: #{t 'tracks.show.adc_gr_s_html'},
              yAxis: 2,
              color: Highcharts.getOptions().colors[1],
              tooltip: {
                valueSuffix: '',
                valueDecimals: 2
              }
            },
            {
              name: #{t 'tracks.show.adc_h_s_html'},
              yAxis: 1,
              color: '#aaa',
              tooltip: {
                valueSuffix: '',
                valueDecimals: 0
              }
            },
            {
              name: #{t 'tracks.show.adc_dst_html'},
              yAxis: 1,
              color: Highcharts.getOptions().colors[5],
              tooltip: {
                valueSuffix: '',
                valueDecimals: 0
              }
            },
            {
              name: #{t 'tracks.show.adc_ele_html'},
              yAxis: 1,
              color: Highcharts.getOptions().colors[3],
              tooltip: {
                valueSuffix: '',
                valueDecimals: 0
              }
            }]
        });
     show_track_on_document_ready();

    });

  });

  function updateUnits() {

    var chart;
    var speed_unit = (in_imperial ? #{t 'units.mph_html'} : #{t 'units.kmh_html'});
    var dist_unit = (in_imperial ? #{t 'units.ft_html'} : #{t 'units.m_html'});


    $('.val-unit').text(speed_unit);

    // elevation/distance chart
    chart = $('#elevation_distance_chart').highcharts();
    chart.yAxis[0].update({
      title: {
        text: #{t 'tracks.show.eldst_dst_html'} + ', ' + dist_unit
      }
    });
    chart.series[0].update({
      tooltip: {
        valueSuffix: ' ' + dist_unit
      }
    });
    chart.series[1].update({
      tooltip: {
        valueSuffix: ' ' + dist_unit
      }
    });
    chart.series[2].update({
      tooltip: {
        valueSuffix: ' ' + dist_unit
      }
    });

    // speeds chart
    chart = $('#speeds_chart').highcharts();
    chart.yAxis[0].update({
      title: {
        text: #{t 'tracks.show.spd_ax_html'} + ', ' + speed_unit
      }
    });
    chart.series[0].update({
      tooltip: {
        valueSuffix: ' ' + speed_unit
      }
    });
    chart.series[1].update({
      tooltip: {
        valueSuffix: ' ' + speed_unit
      }
    });

    chart = $('#all_data_chart').highcharts();
    chart.yAxis[0].update({
      title: {
        text: #{I18n.t 'tracks.show.adc_sp_y_html'} + ', ' + (in_imperial ? #{I18n.t 'units.mph_html'} : #{t 'units.kmh_html'})
      }
    });
    chart.yAxis[1].update({
      title: {
        text: #{t 'tracks.show.adc_ed_y_html'} + ', ' + (in_imperial ? #{t 'units.ft_html'}  : #{t 'units.m_html'})
      }
    });
    chart.series[0].update({
      tooltip: {
        valueSuffix: ' ' + speed_unit
      }
    });
    chart.series[1].update({
      tooltip: {
        valueSuffix: ' ' + speed_unit
      }
    });
    chart.series[3].update({
      tooltip: {
        valueSuffix: ' ' + dist_unit
      }
    });
    chart.series[4].update({
      tooltip: {
        valueSuffix: ' ' + dist_unit
      }
    });
    chart.series[5].update({
      tooltip: {
        valueSuffix: ' ' + dist_unit
      }
    });

  }

.container
  .page-header
    .row
      .col-md-8
        %h1
          = "#{@track.name} | #{t '.title_track'} ##{@track.id}"
          %small="#{t '.title_suit'}: #{@track.wingsuit.present? ? @track.wingsuit.name : @track.suit}, @#{@track.location}"

      .dropdown-container.col-md-4
        .pull-right
          - if @track.ge_enabled
            %a.btn.btn-default{:href => google_earth_track_path(@track), :target => '_blank'}
              %i.fa.fa-compass
              = 'Google earth'
          %a.btn.btn-default{:href => google_maps_track_path(@track), :target => '_blank'}
            %i.fa.fa-compass
            = 'Google maps'

          %button.btn.btn-default.dropdown-toggle#dropdownMenu1{:type => 'button', :data => {:toggle => 'dropdown'}}
            %i.fa.fa-cog
          %ul.dropdown-menu.dropdown-menu-right{:role => 'menu', :aria => {:labelledby => 'dropdownMenu1'}}
            %li.dropdown-header{:role => 'presentation'}=t '.menu_header'
            %li#li_toggle_multi{:role => 'presentation'}
              %a#toggle_multi{:role => 'menuitem', :tabindex => '-1', :href=>'#'}=t '.menu_sep'
            %li#li_toggle_single{:role => 'presentation'}
              %a#toggle_single{:role => 'menuitem', :tabindex => '-1', :href => '#'}=t '.menu_one'
            %li.dropdown-header{:role => 'presentation'}=t '.units_header'
            %li#li_toggle_metric{:role => 'presentation'}
              %a#toggle_metric{:role => 'menuitem', :tabindex => '-1', :href => '#'}=t '.m_units_metric'
            %li#li_toggle_imperial{:role => 'presentation'}
              %a#toggle_imperial{:role => 'menuitem', :tabindex => '-1', :href => '#'}=t '.m_units_imperial'
            - if user_signed_in? && (current_user == @track.user || (can? :update, :tracks))
              %li.dropdown-header{:role => 'presentation'}= t('tracks.show.manage')
              %li{:role => 'presentation'}
                = link_to t('general.edit'), edit_track_path(@track), :role => 'menuitem'
              - if can? :destroy, @track
                %li{:role => 'presentation'}
                  = link_to t('general.delete'), @track, :method => :delete, :data => {:confirm => t('.delete_confirmation')}, :role => 'menuitem'

  .row
    .col-md-3
      %dl.dl-horizontal
        %dt
          %strong=t '.dt_dist'
        %dd#dd_distance
        %dt
          %strong=t '.dt_elev'
        %dd#dd_elevation
        %dt
          %strong=t '.dt_dur'
        %dd#dd_fl_time
    .col-md-5
      %dl.dl-horizontal
        %dt.d-term
          %strong=t '.dt_hspd'
        %dd#dd_h_speed
          .min-val#p_min_h_speed
          .avg-val#p_avg_h_speed
          .max-val#p_max_h_speed
          .val-unit=t 'units.kmh'
        %dt.d-term
          %strong=t '.dt_vspd'
        %dd#dd_v_speed
          .min-val#p_min_v_speed
          .avg-val#p_avg_v_speed
          .max-val#p_max_v_speed
          .val-unit=t 'units.kmh'
        %dt
          %strong=t '.dt_gr'
        %dd#dd_gr
          .min-val#p_min_gr
          .avg-val#p_avg_gr
          .max-val#p_max_gr

  %hr.top-buffer-10

  .row#content-row
    .col-sm-12

      #btn-range-edit
        %button.btn.btn-default#range-edit-button{:data => {:toggle => 'modal', :target => '#edit-range'}}
          %i.fa.fa-arrows-h
      #slider-range-selector
        %input#range-selector{:type => 'text', :name => 'range-selector' , :value => ''}

  #multiple-charts
    #glideratio_chart
    #speeds_chart
    #elevation_distance_chart

  #single-chart
    #all_data_chart

  - if @track.comment.present?
    %blockquote
      %small= @track.comment

.modal.fade#edit-range{:tabindex => '-1', :role => 'dialog', :aria => {:labelledby => 'myModalLabel', :hidden => 'true'}}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{:type => 'button', :data => {:dismiss => 'modal'}}
          %span{:aria => {:hidden => 'true'}}
            &times;
          %span.sr-only
            Close
        %h4.modal-title= t('tracks.show.edit_range')

      .modal-body
        .form-inline
          %label.control-label
            = t('tracks.show.range_from')
          %input.form-control#range-from{:type => 'number', :align => 'right'}
          %label.control-label
            = t('tracks.show.range_to')
          %input.form-control#range-to{:type => 'number', :align => 'right'}

      .modal-footer
        %button.btn.btn-default{:type => 'button', :data => {:dismiss => 'modal'}}= t('general.cancel')
        %button.btn.btn-success#apply-new-range{:type => 'button', :data => {:dismiss => 'modal'}}= 'OK'
