- provide :title, "#{t '.title_track' } ##{@track.id} | #{@track.name}"

:javascript

  $(function() {

    // Массив хэшей содержащий данные трека
    charts_data = #{@track.charts_data};
    // Максимальная высота трека
    max_height = #{@track.max_height};
    min_height = #{@track.min_height};

    var param_from = #{params[:f].nil? ? -1 : params[:f]};
    var param_to = #{params[:t].nil? ? -1 : params[:t]};

    if (param_from <= param_to || param_from > max_height || param_to >= max_height) {
      param_from = -1;
      param_to = -1;
    }

    if (param_to < min_height) {
      param_to = -1;
    }

    range_from = param_from == -1 ? max_height : param_from;
    range_to = param_to == -1 ? min_height : param_to;

    $(document).ready(function() {

     show_track_on_document_ready();

    });

  });

.container
  .page-header
    .row
      .col-md-8
        %h1
          = "#{@track.name} | #{t '.title_track'} ##{@track.id}"
          %small="#{t '.title_suit'}: #{@track.wingsuit.present? ? @track.wingsuit.name : @track.suit}, @#{@track.location}"

      .dropdown-container.col-md-4
        .pull-right
          - if @track.ge_enabled
            %a.btn.btn-default{:href => google_earth_track_path(@track), :target => '_blank'}
              %i.fa.fa-compass
              = 'Google earth'
          %a.btn.btn-default{:href => google_maps_track_path(@track), :target => '_blank'}
            %i.fa.fa-compass
            = 'Google maps'

          %button.btn.btn-default.dropdown-toggle#dropdownMenu1{:type => 'button', :data => {:toggle => 'dropdown'}}
            %i.fa.fa-cog
          %ul.dropdown-menu.dropdown-menu-right{:role => 'menu', :aria => {:labelledby => 'dropdownMenu1'}}
            %li.dropdown-header{:role => 'presentation'}=t '.menu_header'
            %li#li_toggle_multi{:role => 'presentation'}
              %a#toggle_multi{:role => 'menuitem', :tabindex => '-1', :href=>'#'}=t '.menu_sep'
            %li#li_toggle_single{:role => 'presentation'}
              %a#toggle_single{:role => 'menuitem', :tabindex => '-1', :href => '#'}=t '.menu_one'
            %li.dropdown-header{:role => 'presentation'}=t '.units_header'
            %li#li_toggle_metric{:role => 'presentation'}
              %a#toggle_metric{:role => 'menuitem', :tabindex => '-1', :href => '#'}=t '.m_units_metric'
            %li#li_toggle_imperial{:role => 'presentation'}
              %a#toggle_imperial{:role => 'menuitem', :tabindex => '-1', :href => '#'}=t '.m_units_imperial'
            - if user_signed_in? && (current_user == @track.user || (can? :update, :tracks))
              %li.dropdown-header{:role => 'presentation'}= t('tracks.show.manage')
              %li{:role => 'presentation'}
                = link_to t('tracks.show.edit'), edit_track_path(@track), :role => 'menuitem'
              - if can? :destroy, @track
                %li{:role => 'presentation'}
                  = link_to t('tracks.show.delete'), @track, :method => :delete, :data => {:confirm => t('.delete_confirmation')}, :role => 'menuitem'

  .row
    .col-md-3
      %dl.dl-horizontal
        %dt
          %strong=t '.dt_dist'
        %dd#dd_distance
        %dt
          %strong=t '.dt_elev'
        %dd#dd_elevation
        %dt
          %strong=t '.dt_dur'
        %dd#dd_fl_time
    .col-md-5
      %dl.dl-horizontal
        %dt.d-term
          %strong=t '.dt_hspd'
        %dd#dd_h_speed
          .min-val#p_min_h_speed
          .avg-val#p_avg_h_speed
          .max-val#p_max_h_speed
          .val-unit=t 'units.kmh'
        %dt.d-term
          %strong=t '.dt_vspd'
        %dd#dd_v_speed
          %p.min-val#p_min_v_speed
          %p.avg-val#p_avg_v_speed
          %p.max-val#p_max_v_speed
          %p.val-unit=t 'units.kmh'
        %dt
          %strong=t '.dt_gr'
        %dd#dd_gr
          %p.min-val#p_min_gr
          %p.avg-val#p_avg_gr
          %p.max-val#p_max_gr

  %hr.top-buffer-10

  .row#content-row
    .col-sm-12

      #btn-range-edit
        %button.btn.btn-default#range-edit-button{:data => {:toggle => 'modal', :target => '#edit-range'}}
          %i.fa.fa-arrows-h
      #slider-range-selector
        %input#range-selector{:type => 'text', :name => 'range-selector' , :value => ''}

  #multiple-charts
    #glideratio_chart
    #speeds_chart
    #elevation_distance_chart

  #single-chart
    #all_data_chart

  - if @track.comment.present?
    %blockquote
      %small= @track.comment

.modal.fade#edit-range{:tabindex => '-1', :role => 'dialog', :aria => {:labelledby => 'myModalLabel', :hidden => 'true'}}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{:type => 'button', :data => {:dismiss => 'modal'}}
          %span{:aria => {:hidden => 'true'}}
            &times;
          %span.sr-only
            Close
        %h4.modal-title= 'Edit range'

      .modal-body
        .form-inline
          %label.control-label
            Range from:
          %input.form-control#range-from{:type => 'number'}
          %label.control-label
            to:
          %input.form-control#range-to{:type => 'number'}

      .modal-footer
        %button.btn.btn-default{:type => 'button', :data => {:dismiss => 'modal'}}= t('general.cancel')
        %button.btn.btn-success#apply-new-range{:type => 'button', :data => {:dismiss => 'modal'}}= 'OK'
