- provide :title, title(@track)
 
.track-data{track_data_attr}
  
.container
  .page-header
    .row
      .col-md-8
        %h1
          - if @track.pilot
            %a{href: user_profile_path(@track.pilot)}
              = image_tag @track.pilot.userpic.url(:thumb), :class => 'img-rounded img-50 loading-bg'
              = @track.pilot.name
          - else
            = @track.name
          =header @track
          %small
            %span= t('tracks.show.title_suit') + ':' 
            - if @track.wingsuit
              - manufacturer = @track.wingsuit.manufacturer
              %span.text-warning{data: {toggle: 'tooltip'}, title: manufacturer.name}= manufacturer.code || ''
              %span= ' ' + @track.wingsuit.name
            - else
              %span= @track.suit
            %span= "@#{@track.location}"

      .dropdown-container.col-md-4
        .pull-right
          - if @track.ge_enabled
            %a.btn.btn-default{href: google_earth_track_path(@track), target: '_blank'}
              %i.fa.fa-compass
              = 'Google earth'
          %a.btn.btn-default{href: google_maps_track_path(@track), target: '_blank'}
            %i.fa.fa-compass
            = 'Google maps'
          -#- if @track.has_video
          -#  %a.btn.btn-default{:href => replay_track_path(@track), :target => '_blank'}
          -#    %i.fa.fa-video-camera
          -#    = 'Video replay'

          %button.btn.btn-default.dropdown-toggle#dropdownMenu1{type: 'button', data: {toggle: 'dropdown'}}
            %i.fa.fa-cog
          %ul.dropdown-menu.dropdown-menu-right{role: 'menu', aria: {labelledby: 'dropdownMenu1'}}
            %li.dropdown-header{role: 'presentation'}=t '.menu_header'
            %li#li_toggle_multi{role: 'presentation'}
              %a#toggle_multi{role: 'menuitem', tabindex: '-1', href: '#'}=t '.menu_sep'
            %li#li_toggle_single{role: 'presentation'}
              %a#toggle_single{role: 'menuitem', tabindex: '-1', href: '#'}=t '.menu_one'
            %li.dropdown-header{role: 'presentation'}=t '.units_header'
            %li#li_toggle_metric{role: 'presentation'}
              %a#toggle_metric{role: 'menuitem', tabindex: '-1', href: '#'}=t '.m_units_metric'
            %li#li_toggle_imperial{role: 'presentation'}
              %a#toggle_imperial{role: 'menuitem', tabindex: '-1', href: '#'}=t '.m_units_imperial'
          - if user_signed_in? && (current_user == @track.user || (can? :update, :tracks))
            %a.btn.btn-default{href: edit_track_path(@track)}
              %i.fa.fa-pencil
  .row
    .col-md-11.col-md-offset-1.col-sm-12
      .row
        .col-md-4.col-sm-4.col-xs-6
          .param-val
            .avg-val.fa-3x#dd_distance
            .dst-unit.fa-2x= t 'units.m'
          .param
            %i.fa.fa-fw.fa-lg.fa-arrows-h
            =t '.dt_dist'
        .col-md-4.col-sm-4.col-xs-6
          .param-val
            .avg-val.fa-3x#p_avg_h_speed
            .min-max.text-right
              .max-val
                %span#p_max_h_speed
                %i.fa.fa-lg.fa-caret-up
              .min-val
                %span#p_min_h_speed
                %i.fa.fa-lg.fa-caret-down.min-val-caret
            .spd-unit.fa-2x=t 'units.kmh'
          .param
            %i.fa.fa-fw.fa-lg.fa-long-arrow-right
            =t '.dt_hspd'
        .col-md-4.col-sm-4.col-xs-6
          .param-val
            .avg-val.fa-3x#p_avg_gr
            .min-max.text-right
              .max-val
                %span#p_max_gr
                %i.fa.fa-lg.fa-caret-up
              .min-val
                %span#p_min_gr
                %i.fa.fa-lg.fa-caret-down.min-val-caret
          .param
            %i.fa.fa-fw.fa-lg.fa-ellipsis-h
            =t '.dt_gr'

        .col-md-4.col-sm-4.col-xs-6
          .param-val
            .avg-val.fa-3x#dd_elevation
            .dst-unit.fa-2x= t 'units.m'
          .param
            %i.fa.fa-fw.fa-lg.fa-arrows-v
            =t '.dt_elev'
        .col-md-4.col-sm-4.col-xs-6
          .param-val
            .avg-val.fa-3x#p_avg_v_speed
            .min-max.text-right
              .min-val
                %span#p_max_v_speed
                %i.fa.fa-lg.fa-caret-up
              .max-val
                %span#p_min_v_speed
                %i.fa.fa-lg.fa-caret-down.min-val-caret
            .spd-unit.fa-2x=t 'units.kmh'
          .param
            %i.fa.fa-fw.fa-lg.fa-long-arrow-down
            =t '.dt_vspd'
        .col-md-4.col-sm-4.col-xs-6
          .param-val
            .avg-val.fa-3x#dd_fl_time
            .time-unit.fa-2x= t 'units.t_unit'
          .param
            %i.fa.fa-fw.fa-lg.fa-clock-o
            =t '.dt_dur'

  %hr.top-buffer

  .row#content-row
    .col-sm-12

      #btn-range-edit
        %button.btn.btn-default#range-edit-button{data: {toggle: 'modal', target: '#edit-range'}}
          %i.fa.fa-arrows-h
      #slider-range-selector
        %input#range-selector{type: 'text', name: 'range-selector' , value: ''}

  #multiple-charts
    #glideratio_chart
    #speeds_chart
    #elevation_distance_chart

  #single-chart
    #all_data_chart

  - if @track.comment.present?
    %blockquote
      %small= @track.comment

.modal.fade#edit-range{tabindex: '-1', role: 'dialog', aria: {labelledby: 'myModalLabel', hidden: 'true'}}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{type: 'button', data: {dismiss: 'modal'}}
          %span{aria: {hidden: 'true'}}
            &times;
          %span.sr-only
            Close
        %h4.modal-title= t('tracks.show.edit_range')

      .modal-body
        .form-inline
          %label.control-label
            = t('tracks.show.range_from')
          %input.form-control#range-from{type: 'number', align: 'right'}
          %label.control-label
            = t('tracks.show.range_to')
          %input.form-control#range-to{type: 'number', align: 'right'}

      .modal-footer
        %button.btn.btn-default{type: 'button', data: {dismiss: 'modal'}}= t('general.cancel')
        %button.btn.btn-success#apply-new-range{type: 'button', data: {dismiss: 'modal'}}= 'OK'
