<%# locals: (dashboard:) %>

<div class="dashboard-grid">
  <div class="dashboard-grid__main stack">
    <%= render 'static_pages/dashboard/base_personal_bests', dashboard: dashboard %>
    <%= render 'static_pages/dashboard/recent_tracks', dashboard: dashboard %>
  </div>

  <div class="dashboard-grid__side stack">
    <%= render 'static_pages/dashboard/live_competitions', dashboard: dashboard %>
    <%= render 'static_pages/dashboard/rankings', dashboard: dashboard %>
    <%= render 'static_pages/dashboard/competitions', dashboard: dashboard, show_place: false %>
    <%= render 'static_pages/dashboard/achievements', dashboard: dashboard %>
  </div>
</div>

<% unless dashboard.pro? %>
  <%= render 'static_pages/dashboard/pro_upsell' %>
<% end %>
