<div class="col-md-7 col-sm-7">
    <% if (can_manage) { %>
        <button class="btn btn-default button-add-class">
            <i class="fa fa-plus"></i>
            <%= I18n.t("events.show.section") %>
        </button>
        <button class="btn btn-default button-add-competitor">
            <i class="fa fa-plus"></i>
            <%= I18n.t("events.show.competitor") %>
        </button>
        <% if (rules === 'hungary_boogie') { %>
            <button class="btn btn-default add-distance-round">
                <i class="fa fa-plus"></i>
                <%= I18n.t("events.show.round") %>
            </button>
        <% } else { %>
            <div class="btn-group">
                <button class="btn btn-default" data-toggle="dropdown">
                    <i class="fa fa-plus"></i>
                    <%= I18n.t("events.show.round") %>
                    <i class="fa fa-caret-down"></i>
                </button>
                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                    <li><a class="add-distance-round" href="#"><%= I18n.t("disciplines.distance") %></a></li>
                    <li><a class="add-time-round" href="#"><%= I18n.t("disciplines.time") %></a></li>
                    <li><a class="add-speed-round" href="#"><%= I18n.t("disciplines.speed") %></a></li>
                </ul>
            </div>
        <% } %>
    <% } %>
</div>
<div class="col-md-5 col-sm-5">
    <div class="pull-right">
        <button class="btn btn-default" id="wind-cancellation-settings">
            <%= I18n.t('events.show.weather_data') %>
        </button>
        <% if (can_manage) { %>
            <div class="btn-group">
                <button class="btn btn-default" data-toggle="dropdown">
                    <%= I18n.t('activerecord.attributes.event.status') + ': ' + I18n.t('event_status.' + status) %>
                    <i class="fa fa-caret-down"></i>
                </button>
                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                    <li>
                        <a class="add-distance-round" href="#">
                            <%= I18n.t('event_status.draft') %>
                        </a>
                    </li>
                    <li>
                        <a class="add-time-round" href="#">
                            <%= I18n.t('event_status.published') %>
                        </a>
                    </li>
                    <li>
                        <a class="add-speed-round" href="#">
                            <%= I18n.t('event_status.finished') %>
                        </a>
                    </li>
                </ul>
            </div>
        <% } %>
    </div>
</div>

