<div class="modal-content">
    <form class="form-horizontal" id="new-result-form" action='#' role='form'>
        <input type='hidden' name="event_track[id]"/>

        <div class='modal-header'>
            <button class='close' type='button' data-dismiss='modal'>
                <span aria-hidden: 'true'>
                    &times;
                </span>
                <span class='sr-only'>
                    Close
                </span>
            </button>
            <h4 class='modal-title'><%= title %></h4>
        </div>

        <div class='modal-body'>
            <div class='form-group'>
                <span class='col-sm-3 control-label'>
                    <%= I18n.t('events.show.result_file')+ ':' %>
                </span>
                <div class='col-sm-9'>
                    <div class='input-group track-file-group'>
                        <input type='text' readonly='true' class='form-control' />
                        <span class='input-group-btn'>
                            <span class='btn btn-default btn-file'>
                                Browse&hellip;
                                <input class='result-track-group' name='event_track[track_file]' type='file' />
                            </span>
                        </span>
                    </div>
                    <select name='event_track[track_id]' class='form-control result-track result-track-group' />
                    <div class='col-sm-9.col-sm-offset-3'>
                        <span>
                            <span class='toggle-track-caption'>
                                <%= I18n.t('events.show.results_or') %>
                            </span>
                            <a href='#' class='toggle-track'>
                                <%= I18n.t('events.show.result_select') %>
                            </a>
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <div class='modal-footer'>
            <input class='btn btn-primary' type='submit' value="<%= I18n.t('general.save') %>" />
            <button class='btn btn-default' type='button' data-dismiss='modal'>
                <%= I18n.t('general.cancel') %>
            </button>
        </div>
    </form>
</div> 
