<h4><%= name %></h4>
<p>
    <span>Visited by: <%= pilots_count %> <%= 'pilots' %></span>
    <br>
    <span>Tracks: <%= tracks_count %></span>
</p>
<span class="place-coordinates"><%= latitude %>, <%= longitude %></span>
<br>
<a href='<%= url %>'>
    <%= I18n.t('places.index.details') %>
    <i class='fa fa-chevron-right'></i>
</a>
