<div class="modal-content">
    <form class="form-horizontal" id="sponsor-form" action='#' role='form'>
        <input type='hidden' name="event_sponsor[id]"/>

        <div class='modal-header'>
            <button class='close' type='button' data-dismiss='modal'>
                <span aria-hidden: 'true'>
                    &times;
                </span>
                <span class='sr-only'>
                    Close
                </span>
            </button>
	    <h4 class='modal-title'><%= title %></h4>
        </div>

        <div class='modal-body'>
            <div class='form-group'>
                <span class='col-sm-3 control-label'>
                    <%= I18n.t('activerecord.attributes.event_sponsor.name')+ ':' %>
                </span>
                <div class='col-sm-9'>
                    <input class='form-control' name='event_sponsor[name]' />
                </div>
            </div>

		    <div class='form-group'>
                <span class='col-sm-3 control-label'>
                    <%= I18n.t('activerecord.attributes.event_sponsor.website')+ ':' %>
                </span>
                <div class='col-sm-9'>
                    <input class='form-control' name='event_sponsor[website]' placeholder='http://example.com'/>
                </div>
            </div>

		    <div class='form-group'>
                <span class='col-sm-3 control-label'>
                    <%= I18n.t('activerecord.attributes.event_sponsor.logo')+ ':' %>
                </span>
                <div class='col-sm-9'>
                    <div class='input-group'>
					    <input type='text' readonly='true' class='form-control' />
						<span class='input-group-btn'>
							<span class='btn btn-default btn-file'>
								Browse&hellip;
								<input name='event_sponsor[logo]' type='file' />
						    </span>
						</span>
				    </div>
                </div>
            </div>
        </div>

        <div class='modal-footer'>
            <input class='btn btn-primary' type='submit' value="<%= I18n.t('general.save') %>" />
            <button class='btn btn-default' type='button' data-dismiss='modal'>
                <%= I18n.t('general.cancel') %>
            </button>
        </div>
    </form>
</div>  
