<div class="modal-content">
    <div class='modal-header'>
        <button class='close' type='button' data-dismiss='modal'>
            <span aria-hidden: 'true'>&times;</span>
            <span class='sr-only'>Close</span>
        </button>
        <div class="row">
            <div class="col-sm-4">
                <h4 class='modal-title'><%= title %></h4>
            </div>

            <div class="col-sm-7">

                <div class="btn-group btn-group-xs">
                    <button class="btn btn-default altitude-units" data-toggle="dropdown">
                        <span><%= I18n.t('weather_datum.altitude_units') + ': ' + I18n.t('units.' + altitude_units) %></span>
                        <i class="fa fa-caret-down"></i>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <a class="altitude-units-set-m" href="#">
                                <%= I18n.t('units.m') %>
                            </a>
                        </li>
                        <li>
                            <a class="altitude-units-set-ft" href="#">
                                <%= I18n.t('units.ft') %>
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="btn-group btn-group-xs">
                    <button class="btn btn-default wind-speed-units" data-toggle="dropdown">
                        <span><%= I18n.t('weather_datum.wind_speed_units') + ': ' + I18n.t('units.' + wind_speed_units) %></span>
                        <i class="fa fa-caret-down"></i>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <a class="wind-units-set-ms" href="#">
                                <%= I18n.t('units.ms') %>
                            </a>
                        </li>
                        <li>
                            <a class="wind-units-set-knots" href="#">
                                <%= I18n.t('units.knots') %>
                            </a>
                        </li>
                        <li>
                            <a class="wind-units-set-kmh" href="#">
                                <%= I18n.t('units.kmh') %>
                            </a>
                        </li>
                        <li>
                            <a class="wind-units-set-mph" href="#">
                                <%= I18n.t('units.mph') %>
                            </a>
                        </li>
                    </ul>
                </div>

            </div>
        </div>

    </div>

    <div class='modal-body'>
        <table class="table" id="weather-table">
            <thead>
                <tr>
                    <th><%= I18n.t('weather_datum.actual_on') %></th>
                    <th class="text-right"><%= I18n.t('weather_datum.altitude') %></th>
                    <th class="text-right"><%= I18n.t('weather_datum.wind_speed') %></th>
                    <th class="text-right"><%= I18n.t('weather_datum.wind_direction') %></th>
                    <th></th>
                </tr>
            </thead>
        </table>
    </div>
</div>
