.modal-dialog.modal-lg
  .modal-content
    .modal-header
      %button.close{type: 'button', data: {dismiss: 'modal'}}
        %span{aria: {hidden: 'true'}}
          &times;
        %span.sr-only
          Close
      %h4.modal-title
        = event_track_presentation(@result)
 
    .modal-body
      .container-fluid
        = render 'events/results/header'

        = form_for :penalty, url: event_result_penalty_path(@result.event, @result), method: :put, remote: true, html: { class: 'form-horizontal' } do |f|
          .form-group
            -# i18n-tasks-use t('helpers.label.penalty.penalized')
            = f.label :penalized, class: 'control-label col-sm-4'
            .col-sm-8
              .checkbox
                %label
                  = f.check_box :penalized, checked: @result.penalized

          .form-group
            -# i18n-tasks-use t('helpers.label.penalty.penalty_size')
            = f.label :penalty_size, class: 'control-label col-sm-4'
            .col-sm-8.btn-group{'data-toggle': 'buttons'}
              - @result.penalty_sizes.each do |penalty_size|
                %label.btn.btn-default{class: ('active' if @result.penalty_size == penalty_size)}
                  = f.radio_button :penalty_size, penalty_size
                  = "#{penalty_size} %"

          .form-group
            -# i18n-tasks-use t('helpers.label.penalty.penalty_reason')
            = f.label :penalty_reason, class: 'control-label col-sm-4'
            .col-sm-8
              = f.text_field :penalty_reason, class: 'form-control', value: @result.penalty_reason

          %hr
          .modal-actions
            .modal-actions__left
              = delete_event_track_link(@result)

            .modal-actions__right
              = f.submit t('general.save'), class: 'btn btn-primary'
              %button.btn.btn-default{type: 'button', data: {dismiss: 'modal'}}= t 'general.cancel'
