<div class="achievement" data-controller="tooltip" data-tooltip="<%= badge.name %> <% badge.comment %>">
  <div class="achievement__icon <%= "achievement--#{badge.category}" %> <%= "achievement--#{badge.kind}" if badge.kind %>">
    <% case badge.category %>
    <% when 'sponsor' %>
      <%= svg_icon 'dollar-sign-solid' %>
    <% when 'special' %>
      <%= svg_icon 'fire-solid' %>
    <% when 'competition' %>
      <%= svg_icon 'trophy-solid' %>
    <% when 'online' %>
      <%= svg_icon 'star-solid' %>
    <% when 'skyderby' %>
      <%= svg_icon 'rocket-outline' %>
    <% end %>
  </div>
</div>
