<div class="achievement">
  <div class="achievement__icon <%= "achievement--#{badge.category}" %> <%= "achievement--#{badge.kind}" if badge.kind %>">
    <% case badge.category %>
    <% when 'sponsor' %>
      <%= icon_tag 'dollar-sign-solid' %>
    <% when 'special' %>
      <%= icon_tag 'fire-solid' %>
    <% when 'competition' %>
      <%= icon_tag 'trophy-solid' %>
    <% when 'online' %>
      <%= icon_tag 'star-solid' %>
    <% when 'skyderby' %>
      <%= icon_tag 'rocket-outline' %>
    <% end %>
  </div>
  <div class="achievement__text <%= 'achievement--no-subtext' unless badge.comment.present? %>">
    <%= badge.name %>
    <% if badge.comment %>
      <span><%= badge.comment %></span>
    <% end %>
  </div>
</div>
