<%# locals: (event:, editable:) %>

<div class="card actions-bar" id="actions-bar">
  <% if editable && !event.finished? %>
    <%= button_to new_boogie_category_path(event), method: :get, form: { data: { turbo_stream: true } }, class: 'actions-bar-button' do %>
      <%= icon_tag 'plus-solid' %>
      <%= t('activerecord.models.event/section') %>
    <% end %>

    <%= button_to new_boogie_competitor_path(event), method: :get, form: { data: { turbo_stream: true } }, class: 'actions-bar-button' do %>
      <%= icon_tag 'plus-solid' %>
      <%= t('activerecord.models.event/competitor') %>
    <% end %>

    <%= button_to boogie_rounds_path(event),
                  method: :post,
                  form: { data: { turbo_stream: true } },
                  params: { 'round[discipline]' => :distance },
                  class: 'actions-bar-button' do %>
      <%= icon_tag 'plus-solid' %>
      <%= t('activerecord.models.event/round') %>
    <% end %>
  <% end %>

  <% if editable %>
    <div class="actions-bar-right" data-controller="dropdown">
      <button class="actions-bar-button" popovertarget="boogie-status-menu-<%= event.id %>">
        <%= t('activerecord.attributes.event.status') + ': ' + t('event_status.' + event.status) %>
        <%= icon_tag 'angle-down-solid' %>
      </button>

      <div id="boogie-status-menu-<%= event.id %>" popover class="sd-dropdown-menu" data-dropdown-target="menu">
        <% Boogie.statuses.each do |status, _index| %>
          <%= button_to(t("event_status.#{status}"),
                      boogie_path(event),
                      method: :patch,
                      form: { data: { turbo_stream: true } },
                      params: { 'boogie[status]' => status },
                      class: "dropdown-item #{'active' if event.status == status}") %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
