<%# locals: (event:, round:, editable: false) %>

<th class="round">
  <%= round.number %>

  <% if editable %>
    <div class="cell-actions" data-controller="dropdown">
      <button class="dropdown-toggle button button--ghost button--sm" popovertarget="boogie-round-menu-<%= round.id %>">
        <%= icon_tag 'ellipsis-vertical-solid' %>
      </button>

      <div id="boogie-round-menu-<%= round.id %>" popover class="sd-dropdown-menu" data-dropdown-target="menu">
        <%= button_to boogie_round_path(event, round), class: 'dropdown-item', method: :delete, form: { data: { turbo_stream: true } } do %>
          <%= t('general.delete') %>
        <% end %>
      </div>
    </div>
  <% end %>
</th>
