<%# locals: (event:, rounds:, standings:, editable:) %>

<% standings.rows.each do |row| %>
  <tr class="scoreboard-competitor">
    <td class="text-center"><%= row.rank %></td>

    <%= render 'boogies/competitors/competitor_cells', event:, competitor: row.competitor, editable: %>

    <% rounds.each do |round| %>
      <% result = row.result_in_round(round) %>
      <% if result %>
        <%= render 'boogies/result', event:, result:, editable:, best_result: standings.best_result == result %>
      <% elsif editable %>
        <td class="result-cell">
          <%= button_to svg_icon('upload-solid'), new_boogie_result_path(event),
                       params: { 'result[competitor_id]' => row.competitor.id, 'result[round_id]' => round.id },
                       method: :get, form: { data: { turbo_stream: true }, class: 'result-upload-cell' } %>
        </td>
      <% else %>
        <td></td>
      <% end %>
    <% end %>
    <td class="scoreboard-total-result">
      <%= format('%d', row.total_points) if row.total_points.positive? %>
    </td>
  </tr>
<% end %>
