<% provide :title, @event.name %>
<% editable = @event.editable? %>

<div class="show-page">
  <%= render 'header', editable: %>

  <% if editable || @event.wind_cancellation %>
    <div class="show-page-content">
      <%= render 'actions_bar', event: @event, editable: %>
    </div>
  <% end %>

  <div class="show-page-content">
    <%= render 'scoreboard', event: @event, editable: %>

    <div class="show-page-content">
      <%= render 'organizers/organizers', organizable: @event, editable: (editable && !@event.finished?) %>

      <%= render 'sponsors/sponsors', sponsorable: @event, editable: (editable && !@event.finished?) %>
    </div>
  </div>
</div>
