<%# locals: (event:, result:, editable:)  %>

<td class="<%= class_names 'result-cell', ('text-green' if result.best_result) %>">
  <%= link_to(performance_competition_result_path(event, result),
              **(mobile? ? { target: '_blank' } : { 'data-turbo-stream' => 'true' }),
              class: 'result-show-cell',
              rel: 'nofollow') do  %>
    <% if result.result&.positive? || result.penalized? %>
      <%= result.formatted_result %>
      <% if result.penalized? && result.apply_penalty_to_result? %>
        <sup class="text-danger">-<%= result.penalty_size %>%</sup>
      <% end %>
    <% elsif editable %>
      <%= icon_tag 'circle-question', class: 'text-danger' %>
    <% end %>
  <% end %>
</td>
