<div class="modal-dialog">
  <div class="modal-content">
    <%= form_for :result, url: tournament_qualification_results_path(@tournament), remote: true, html: { multipart: true, class: 'form-horizontal' } do |f| %>
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
          <span class="sr-only">Close</span>
        </button>
        <h4 class="modal-title">
          <%= t('activerecord.models.qualification_jump') + ': ' %>
          <%= t('events.show.new') %>
        </h4>
      </div>

      <div class="modal-body">
        <%= f.hidden_field :competitor_id, value: @result.competitor_id %>
        <%= f.hidden_field :qualification_round_id, value: @result.qualification_round_id %>

        <%= render 'concerns/upload_progress' %>

        <div class="radio">
          <%= f.label :track_from, value: :from_file do %>
            <%= f.radio_button :track_from, :from_file, checked: true %>
            <%= t 'event_tracks.form_modal.from_file' %>
          <% end %>
        </div>

        <%= f.fields_for :track_attributes do |builder| %>
          <div class="form-group">
            <%= builder.label :file, t('activerecord.attributes.event/result.file'), class: 'control-label col-sm-4' %>
            <div class="col-sm-8">
              <div class="input-group" data-controller="filefield">
                <input type="text" class="form-control" readonly="true" data-filefield-target="text_field">
                <span class="input-group-btn">
                  <span class="btn btn-default btn-file">
                    &hellip;
                    <%= builder.file_field :file, class: 'form-control', data: { 'filefield-target': 'file_field', action: 'change->filefield#change' } %>
                  </span>
                </span>
              </div>
            </div>
          </div>
        <% end %>

        <div class="radio">
          <%= f.label :track_from, value: :existing_track do %>
            <%= f.radio_button :track_from, :existing_track, checked: false %>
            <%= t 'event_tracks.form_modal.from_existent_track' %>
          <% end %>
        </div>

        <div class="form-group">
          <%= f.label :track, class: 'control-label col-sm-4' %>
          <div class="col-sm-8">
            <%= f.select :track_id,
                         options_for_select([[(track_presentation(@result.track) if @result.track_id), @result.track_id]]),
                         {},
                         placeholder: "Choose track from list",
                         class: 'form-control',
                         data: { profile_id: @result.competitor.profile_id, controller: 'select2--tracks' } %>
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <%= f.submit t('general.save'), class: 'btn btn-primary', data: { disable_with: t('general.saving') } %>
        <button type="button" class="btn btn-default" data-dismiss="modal"><%= t 'general.cancel' %></button>
      </div>
    <% end %>
  </div>
</div>
