<div class="col-sm-4 col-md-4 col-lg-3 text-center">
  <div class="tournament-round text-muted">
    Round <%= round.order %>
  </div>

  <% spacers = 2 ** (round.order - 1) - 1 %>
  <% round.matches.each do |match| %>
    <%= render partial: 'tournaments/matches/match', locals: { match: match, spacers: spacers } %>
  <% end %>

  <% if policy(@tournament).update? %>
    <div class="text-muted">
      <%= button_to tournament_round_matches_path(tournament_id: @tournament.id, round_id: round.id),
                    method: :post,
                    data: { turbo_stream: true },
                    class: 'button button--ghost' do %>
        <%= icon_tag 'plus-solid' %>
        <%= t('activerecord.models.tournament_match') %>
      <% end %>
    </div>
  <% end %>
</div>
