.modal-dialog
  .modal-content
    = form_for [@place, @photo], remote: true, html: {class: 'form-horizontal'} do |f|
      .modal-header
        %button.close{type: 'button', data: {dismiss: 'modal'}}
          %span{aria: {hidden: 'true'}}
            &times;
          %span.sr-only
            Close
        %h4.modal-title
          = t('activerecord.models.place/photo') + ': '
          = t('events.index.new')

      .modal-body
        .form-group
          = f.label :image, t('activerecord.attributes.place/photo.image'), class: 'control-label col-sm-4'
          .col-sm-8
            .input-group{'data-controller': 'filefield'}
              %input.form-control{type: 'text', readonly: true, 'data-target': 'filefield.text_field'}
              %span.input-group-btn
                %span.btn.btn-default.btn-file
                  &hellip;
                  = f.file_field :image, class: 'form-control', 'data-target': 'filefield.file_field', 'data-action': 'change->filefield#change'

      .modal-footer
        = f.submit t('general.save'), class: 'btn btn-primary'
        %button.btn.btn-default{type: 'button', data: {dismiss: 'modal'}}= t 'general.cancel'
