<% content_for :title, t('devise.sessions.new.sign_in') %>

<div class="content-block">
  <h2><%= t('devise.sessions.new.sign_in') %></h2>

  <% if flash[:alert] %>
    <div class="notice notice--error notice--md"><%= flash[:alert] %></div>
  <% end %>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'sd-form' }) do |f| %>
    <div>
      <%= f.label :email, class: 'form-label' %>
      <%= f.email_field :email, autofocus: true, class: 'form-input', required: true, placeholder: 'name@example.com' %>
    </div>

    <div>
      <%= f.label :password, class: 'form-label' %>
      <%= f.password_field :password, autocomplete: 'off', class: 'form-input', required: true, placeholder: '•••••' %>
      <div class="form-hint">
        <%= link_to t('devise.shared.links.forgot_your_password'), new_user_password_path %>
      </div>
    </div>

    <div class="form-actions">
      <%= f.hidden_field :remember_me, value: 1 %>
      <%= f.submit t('devise.sessions.new.sign_in'), class: 'button button--primary' %>
    </div>
  <% end %>

  <%= button_to user_google_oauth2_omniauth_authorize_path, data: { turbo: :false }, class: 'button' do %>
    <%= svg_icon 'google-icon' %>
    <%= t('devise.shared.links.sign_in_with_provider', provider: 'Google') %>
  <% end %>

  <div class="divider"></div>

  <p class="signup-prompt">
    <%= t('devise.shared.links.no_account') %>
    <%= link_to t('devise.shared.links.sign_up'), new_user_registration_path, class: 'button button--ghost button--sm' %>
  </p>
</div>
