.content-block
  %h2= t 'devise.sessions.new.sign_in'

  = form_for(:user, url: user_session_path, html: { 'data-controller': 'users--sign-in' }) do |f|
    .form-group
      = f.email_field :email, autofocus: true , class: 'form-control input-lg', placeholder: 'Email', required: true

    .form-group
      = f.password_field :password, autocomplete: 'off', class: 'form-control input-lg', placeholder: 'Password', required: true
      = link_to t('devise.shared.links.forgot_your_password'), new_user_password_path, class: 'secondary-text'

    .form-group
      = f.hidden_field :remember_me, value: 1
      = f.submit t('devise.sessions.new.sign_in'), class: 'btn btn-primary'

    = link_to t('devise.shared.links.sign_up'), new_user_registration_path, class: 'btn'

    %p.secondary-text= t('general.or')

    = link_to t('devise.shared.links.sign_in_with_provider', provider: 'Facebook'), user_facebook_omniauth_authorize_path, class: 'btn btn-facebook'
