.container
  .page-header
    - if can? :create, :wingsuit
      .pull-right
        = link_to t('general.create'), new_wingsuit_path, class: 'btn btn-default'
    %h1= 'Suits'
  
  - @wingsuits.each do |manufacturer, suits|
    .top-buffer
      .row
        .col-sm-12.col-md-12.bg-info
          %h1.light-header= manufacturer || '<...>'
        .col-sm-12.col-md-6
          %h2.light-header Wingsuits
          %ul.suits-list
            - suits.select(&:wingsuit?).each do |wingsuit|
              %li.suit-li
                .row
                  .col-sm-6
                    %a{href: wingsuit_path(wingsuit)}= wingsuit.name
                  .col-sm-2.text-muted
                    .text-center
                      = wingsuit.pilots_accessible_by(current_user).count
                    .text-center
                      pilots
                  .col-sm-2.text-muted
                    .text-center
                      = wingsuit.tracks.accessible_by(current_user).base.count
                    .text-center
                      base
                  .col-sm-2.text-muted
                    .text-center
                      = wingsuit.tracks.accessible_by(current_user).skydive.count
                    .text-center
                      skydive
              -# - if can? :update, wingsuit
              -#   = link_to t('.edit', default: t("helpers.links.edit")),
              -#                 edit_wingsuit_path(wingsuit), class: 'btn btn-default btn-xs'
              -#   = link_to t('.destroy', default: t("helpers.links.destroy")),
              -#                 wingsuit_path(wingsuit),
              -#                 method: :delete,
              -#                 data: { confirm: t('.confirm', default: t("helpers.links.confirm", default: 'Are you sure?')) },
              -#                 class: 'btn btn-xs btn-danger'
        .col-sm-12.col-md-6
          %h2.light-header Tracksuits
          %ul.suits-list
            - suits.select(&:tracksuit?).each do |tracksuit|
              %li.suit-li
                .row
                  .col-sm-6
                    %a{href: wingsuit_path(tracksuit)}= tracksuit.name
                  .col-sm-2.text-muted
                    .text-center
                      = tracksuit.pilots_accessible_by(current_user).count
                    .text-center
                      pilots
                  .col-sm-2.text-muted
                    .text-center
                      = tracksuit.tracks.accessible_by(current_user).base.count
                    .text-center
                      base
                  .col-sm-2.text-muted
                    .text-center
                      = tracksuit.tracks.accessible_by(current_user).skydive.count
                    .text-center
                      skydive

    %hr
