.container
  .page-header
    - if can? :create, :wingsuit
      .pull-right
        = link_to t('general.create'), new_wingsuit_path, class: 'btn btn-default'
    %h1= 'Suits'
  
  - @wingsuits.each do |manufacturer, suits|
    .content-block
      %h2= manufacturer || '<...>'
      .row
        .col-sm-12.col-md-6
          %h3.light-header Wingsuits
          %ul.suits-list
            - suits.select(&:wingsuit?).each do |wingsuit|
              %li.suit-li
                .row
                  .col-sm-6
                    %a{href: wingsuit_path(wingsuit)}= wingsuit.name
                  .col-sm-2.text-muted
                    .text-center
                      = wingsuit.pilots_accessible_by(current_user).count
                    .text-center
                      pilots
                  .col-sm-2.text-muted
                    .text-center
                      = wingsuit.tracks.accessible_by(current_user).base.count
                    .text-center
                      base
                  .col-sm-2.text-muted
                    .text-center
                      = wingsuit.tracks.accessible_by(current_user).skydive.count
                    .text-center
                      skydive
        .col-sm-12.col-md-6
          %h3.light-header Tracksuits
          %ul.suits-list
            - suits.select(&:tracksuit?).each do |tracksuit|
              %li.suit-li
                .row
                  .col-sm-6
                    %a{href: wingsuit_path(tracksuit)}= tracksuit.name
                  .col-sm-2.text-muted
                    .text-center
                      = tracksuit.pilots_accessible_by(current_user).count
                    .text-center
                      pilots
                  .col-sm-2.text-muted
                    .text-center
                      = tracksuit.tracks.accessible_by(current_user).base.count
                    .text-center
                      base
                  .col-sm-2.text-muted
                    .text-center
                      = tracksuit.tracks.accessible_by(current_user).skydive.count
                    .text-center
                      skydive

