.container.top-buffer
  %a{href: wingsuits_path}
    %i.fa.fa-chevron-left
    Suits list
  .row
    - if @wingsuit.photo.exists?
      .col-sm-3
        .top-buffer
          = image_tag(@wingsuit.photo.url(:medium), class: 'img-responsive img-rounded loading-bg')
    .col-sm-9
      %h1
        = @wingsuit.name
        %small= @wingsuit.manufacturer.name
      .description
        = @wingsuit.description
      - if can? :update, @wingsuit
        = link_to 'Edit', edit_wingsuit_path(@wingsuit), class: 'btn btn-default'

.container
  .content-block
    -# Nav tabs
    :ruby
      query_params = show_params[:query] || {}
      activity = query_params[:kind]
      skydive = !activity || activity == 'skydive'
      base = !skydive

    %ul.nav.nav-tabs{role: 'tablist'}
      %li{class: ('active' if skydive), role: 'presentation'}
        = link_to show_params.except(:page).merge(query: query_params.merge(kind: :skydive)), role: 'tab' do
          Skydive
      %li{class: ('active' if base), role: 'presentation'}
        = link_to show_params.except(:page).merge(query: query_params.merge(kind: :base)), role: 'tab' do
          B.A.S.E

    -# Tab panes
    .tab-content
      #tab-pane-skydive.tab-pane{class: ('active' if skydive), role: 'tabpanel'}
        - if skydive
          #tracks-table.table.table-hover
            .thead
              .tr
                .th= t 'activerecord.attributes.track.id'
                .th= t 'activerecord.attributes.track.name'
                .th= t 'activerecord.attributes.track.place'
                .th= t 'activerecord.attributes.track.comment'
                .th.result-head.text-right= t 'disciplines.distance'
                .th.result-head.text-right= t 'disciplines.speed'
                .th.result-head.text-right= t 'disciplines.time'
                .th= t 'activerecord.attributes.track.recorded_at'
                .th

            .tbody
              = render @tracks, except_columns: [:suit]

      #tab-pane-base.tab-panee{class: ('active' if base), role: 'tabpanel'}
        - if base
          #tracks-table.table.table-hover
            .thead
              .tr
                .th= t 'activerecord.attributes.track.id'
                .th= t 'activerecord.attributes.track.name'
                .th= t 'activerecord.attributes.track.place'
                .th= t 'activerecord.attributes.track.comment'
                .th.result-head.text-right= t 'disciplines.distance'
                .th.result-head.text-right= t 'disciplines.speed'
                .th.result-head.text-right= t 'disciplines.time'
                .th= t 'activerecord.attributes.track.recorded_at'
                .th

            .tbody
              = render @tracks, except_columns: [:suit]

  .text-center.top-buffer
    .pagination-list
      = will_paginate @tracks, renderer: BootstrapPagination::Rails
