<% can_update = policy(@scoreboard.event).update? && !@scoreboard.event.finished? && !request.variant.include?(:mobile) %>

<% cache ['scoreboard', I18n.locale, @scoreboard.event, display_event_params, can_update] do %>
  <div class="scoreboard-container" data-controller="events--sticky-header">
    <div class="scoreboard-scroll" data-events--sticky-header-target="container" data-action="scroll->events--sticky-header#on_horizontal_scroll">
      <table class="scoreboard-table" data-events--sticky-header-target="table">
        <thead>
          <tr>
            <th class="text-center" rowspan="3">#</th>
            <th rowspan="2" colspan="2"><%= t('activerecord.models.event/competitor') %></th>
            <th class="text-center" colspan="<%= @scoreboard.rounds.count %>">
              <%= "#{t('disciplines.' + (@scoreboard.rounds.first&.discipline || 'distance'))}, #{t('units.' + discipline_unit(:distance).to_s)}" %>
            </th>
            <th class="text-center" rowspan="2"><%= t('events.show.total') %></th>
          </tr>
          <tr>
            <% @scoreboard.rounds.each do |round| %>
              <th class="scoreboard-round">
                <div class="scoreboard-round-content">
                  <%= round.number %>
                  <% if can_update %>
                    <div class="scoreboard-round-actions dropdown">
                      <button class="btn-link" data-toggle="dropdown">
                        <i class="fa fa-ellipsis-v text-muted"></i>
                      </button>
                      <ul class="dropdown-menu dropdown-menu-right">
                        <li>
                          <%= button_to performance_competition_round_path(@scoreboard.event, round), method: :delete, remote: true, class: 'btn-link delete-round' do %>
                            <i class="fa fa-fw fa-times-circle text-muted"></i>
                            <%= t('general.delete') %>
                          <% end %>
                        </li>
                      </ul>
                    </div>
                  <% end %>
                </div>
              </th>
            <% end %>
          </tr>
        </thead>
        <% @scoreboard.sections.each do |section| %>
          <tbody>
            <%= render 'boogies/sections/section_row', section: section, columns_count: @scoreboard.columns_count, editable: can_update %>
            <% section.competitors.each_with_index do |competitor, index| %>
              <tr class="scoreboard-competitor" id="<%= dom_id(competitor) %>">
                <td class="text-center"><%= index + 1 %></td>
                <%= render 'boogies/competitors/competitor_cells', competitor: competitor, editable: can_update %>
                <% @scoreboard.rounds.each do |round| %>
                  <% result = @scoreboard.results.for(competitor: competitor, round: round) %>
                  <% if result %>
                    <% result_class = '' %>
                    <% result_class = 'text-green' if result.best_in_category? %>
                    <% result_class = 'text-light-red' if result.worst_in_category? %>
                    <% result_class += ' counted-result' if competitor.counted_results.include?(result) %>
                    <%= render 'boogies/scoreboards/result', { event: @scoreboard.event, result: result, can_update: can_update, result_class: result_class } %>
                  <% elsif can_update %>
                    <td class="scoreboard-result text-center">
                      <span><%= new_event_track_link(@scoreboard.event, competitor, round) %></span>
                    </td>
                  <% else %>
                    <td></td>
                  <% end %>
                <% end %>
                <td class="scoreboard-result text-right">
                  <% if competitor.total_points.positive? %>
                    <%= competitor.total_points.round.truncate %>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        <% end %>
      </table>
    </div>
  </div>
<% end %>
