<tr id="<%= dom_id(badge) %>">
  <td><%= badge.name %></td>
  <td><%= badge.comment %></td>
  <td><%= badge.category %></td>
  <td><%= badge.kind %></td>
  <td><%= badge.achieved_at&.strftime('%d.%m.%Y') %></td>
  <td class="td--show-on-hover">
    <%= link_to t('general.edit'), edit_badge_path(badge), data: { turbo_stream: true } %> |
    <%= link_to t('general.delete'), badge_path(badge),
                data: { turbo_method: :delete, turbo_confirm: t("general.confirm_delete") } %>
  </td>
</tr>
