<% form_model ||= @badge %>

<div class="modal-dialog">
  <div class="modal-content">
    <%= form_for form_model, remote: true, html: { class: 'form-horizontal' } do |f| %>
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
          <span class="sr-only">Close</span>
        </button>
        <h4 class="modal-title">
          <%= t('activerecord.models.badge') %>:
          <% if @badge.new_record? %>
            <%= t('events.index.new') %>
          <% else %>
            <%= @badge.name %>
          <% end %>
        </h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <%= f.label :profile, class: 'col-sm-4 control-label' %>
          <div class="col-sm-8">
            <% if @badge.profile.blank? %>
              <%= f.select :profile_id, { include_blank: true }, placeholder: t('tracks.form.profile_select_placeholder'), class: 'form-control', 'data-controller': 'select2--profiles' %>
            <% else %>
              <p class="form-control-static"><%= @badge.profile.name %></p>
            <% end %>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :name, class: 'col-sm-4 control-label' %>
          <div class="col-sm-8">
            <%= f.text_field :name, class: 'form-control' %>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :comment, class: 'col-sm-4 control-label' %>
          <div class="col-sm-8">
            <%= f.text_field :comment, class: 'form-control' %>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :category, class: 'col-sm-4 control-label', for: :category %>
          <div class="col-sm-8">
            <% category_options = Badge.categories.keys.map { |key| [t("activerecord.attributes.badge.categories.#{key}"), key] } %>
            <%= f.select :category, category_options, {}, class: 'form-control', 'data-controller': 'select2--local' %>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :kind, class: 'col-sm-4 control-label', for: :kind %>
          <div class="col-sm-8">
            <div class="btn-group btn-group-justified" data-toggle="buttons">
              <% Badge.kinds.keys.each do |kind| %>
                <label class="btn btn-default <%= 'active' if @badge.kind == kind %>">
                  <%= f.radio_button 'kind', kind %>
                  <%= t("activerecord.attributes.badge.kinds.#{kind}") %>
                </label>
              <% end %>
            </div>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :achieved_at, class: 'col-sm-4 control-label' %>
          <div class="col-sm-8">
            <%= f.text_field :achieved_at, class: 'form-control', value: @badge.achieved_at.strftime('%d.%m.%Y'), 'data-controller': 'datepicker' %>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <%= f.submit t('general.save'), class: 'btn btn-primary' %>
        <button type="button" class="btn btn-default" data-dismiss="modal"><%= t 'general.cancel' %></button>
      </div>
    <% end %>
  </div>
</div>
