<%# locals: (model: nil, url: '', **rest) %>

<% model ||= @badge %>

<%= form_with model:, url:, data: { controller: 'modal-form', action: 'form:submit-success->modal#close' } do |f| %>
  <div class="sd-form">
    <% if @badge.profile.blank? %>
      <div class="grid">
        <%= f.label :profile_id, class: 'form-label col-4' %>
        <div class="col-8">
          <%= render 'hot_select/select', form: f, name: :profile_id, src: profiles_select_options_path, options: [] %>
        </div>
      </div>
    <% else %>
      <div class="grid">
        <%= f.label :profile, class: 'form-label col-4' %>
        <div class="col-8">
          <p class="form-control-static"><%= @badge.profile.name %></p>
        </div>
      </div>
    <% end %>

    <div class="grid">
      <%= f.label :name, class: 'form-label col-4' %>
      <%= f.text_field :name, class: 'form-input col-8' %>
    </div>

    <div class="grid">
      <%= f.label :comment, class: 'form-label col-4' %>
      <%= f.text_field :comment, class: 'form-input col-8' %>
    </div>

    <div class="grid">
      <%= f.label :category, class: 'form-label col-4', for: :category %>
      <% category_options = Badge.categories.keys.map { |key| [t("activerecord.attributes.badge.categories.#{key}"), key] } %>
      <%= render 'hot_select/local_select', form: f, name: :category, options: options_for_select(category_options), class: 'col-8', hide_clear_button: true %>
    </div>

    <div class="grid">
      <%= f.label :kind, class: 'form-label col-4', for: :kind %>
      <div class="col-8">
        <div class="tab-bar">
          <% Badge.kinds.keys.each do |kind| %>
            <label class="tab-bar-item" data-tab-bar-target="item">
              <%= f.radio_button 'kind', kind, class: 'tab-bar-radio' %>
              <span><%= t("activerecord.attributes.badge.kinds.#{kind}") %></span>
            </label>
          <% end %>
        </div>
      </div>
    </div>

    <div class="grid">
      <%= f.label :achieved_at, class: 'form-label col-4' %>
      <%= f.date_field :achieved_at, class: 'form-input col-8', value: (@badge.achieved_at || Date.today)&.strftime('%Y-%m-%d') %>
    </div>

    <div class="form-actions">
      <%= f.submit t('general.save'), class: 'primary-button' %>
      <button type="button" class="default-button" data-action="modal#close"><%= t 'general.cancel' %></button>
    </div>
  </div>
<% end %>
