- form_model ||= @badge

.modal-dialog
  .modal-content
    = form_for form_model, remote: true, html: { class: 'form-horizontal' } do |f|
      .modal-header
        %button.close{type: 'button', data: {dismiss: 'modal'}}
          %span{aria: {hidden: 'true'}}
            &times;
          %span.sr-only
            Close
        %h4.modal-title
          = t('activerecord.models.badge') + ': ' 
          - if @badge.new_record?
            = t('events.index.new')
          - else
            = @badge.name

      .modal-body
        .form-group
          = f.label :profile, class: 'col-sm-4 control-label'
          .col-sm-8
            - if @badge.profile.blank?
              = f.select :profile_id,
                         { include_blank: true },
                         class: 'form-control'
            - else
              %p.form-control-static= @badge.profile.name

        .form-group
          = f.label :name, class: 'col-sm-4 control-label'
          .col-sm-8
            = f.text_field :name, class: 'form-control'

        .form-group
          = f.label :comment, class: 'col-sm-4 control-label'
          .col-sm-8
            = f.text_field :comment, class: 'form-control'

        .form-group
          = f.label :category, class: 'col-sm-4 control-label', for: :category
          .col-sm-8
            - category_options = Badge.categories.keys.map { |key| [t("activerecord.attributes.badge.categories.#{key}"), key] }
            = f.select :category, category_options, {}, class: 'form-control'

        .form-group
          = f.label :kind, class: 'col-sm-4 control-label', for: :kind
          .col-sm-8
            .btn-group.btn-group-justified{'data-toggle'=> 'buttons'}
              - Badge.kinds.keys.each do |kind|
                %label.btn.btn-default{ class: ('active' if @badge.kind == kind) }
                  = f.radio_button 'kind', kind
                  = t("activerecord.attributes.badge.kinds.#{kind}")

        .form-group
          = f.label :achieved_at, class: 'col-sm-4 control-label'
          .col-sm-8
            = f.text_field :achieved_at, class: 'form-control datepicker', value: @badge.achieved_at.strftime('%d.%m.%Y')

      .modal-footer
        = f.submit t('general.save'), class: 'btn btn-primary'
        %button.btn.btn-default{type: 'button', data: {dismiss: 'modal'}}= t 'general.cancel'
