<div class="container">
  <div class="page-header">
    <div class="row">
      <div class="col-sm-6">
        <h1><%= t('badges.index.title') %></h1>
      </div>
      <% if policy(Badge).create? %>
        <div class="col-sm-6 text-right">
          <%= link_to t('general.create'), new_badge_path, class: 'primary-button', data: { turbo_stream: true } %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="content-block">
    <table class="table">
      <thead>
        <tr>
          <th><%= t('activerecord.attributes.badge.name') %></th>
          <th><%= t('activerecord.attributes.badge.comment') %></th>
          <th><%= t('activerecord.attributes.badge.category') %></th>
          <th><%= t('activerecord.attributes.badge.kind') %></th>
          <th><%= t('activerecord.attributes.badge.achieved_at') %></th>
          <th></th>
        </tr>
      </thead>
      <tbody id="badges">
        <% badges_by_profile = @badges.group_by(&:profile) %>
        <% badges_by_profile.each do |profile, profile_badges| %>
          <tr>
            <td colspan="6">
              <strong>
                <%= link_to profile.name, profile %>
              </strong>
            </td>
          </tr>
          <%= render profile_badges %>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="text-center top-buffer">
    <%= will_paginate @badges, renderer: BootstrapPagination::Rails %>
  </div>
</div>
