<%# locals: (event:, competitor:, editable:) %>
<td class="competitor">
  <%= link_to competitor.name.titleize, profile_path(competitor.profile), class: 'competitor-name' %>
  <% if competitor.assigned_number %>
    <span class="text-gray">#<%= competitor.assigned_number %></span>
  <% end %>

  <% if editable %>
    <div class="cell-actions">
      <div class="sd-dropdown" data-controller="dropdown">
        <button class="dropdown-toggle ghost-button small-button" data-action="click->dropdown#toggle">
          <%= svg_icon 'ellipsis-vertical-solid' %>
        </button>

        <div class="sd-dropdown-menu" data-target="dropdown.menu" data-action="click->dropdown#close">
          <%= button_to edit_performance_competition_competitor_path(event, competitor),
                        class: 'dropdown-item',
                        method: :get, form: { data: { turbo_stream: true } } do %>
            Edit
          <% end %>

          <%= button_to performance_competition_competitor_path(event, competitor),
                        class: 'dropdown-item', method: :delete, form: { data: { turbo_stream: true } } do %>
            Delete
          <% end %>
        </div>
      </div>
    </div>
  <% end %>

  <div class="competitor-suit text-gray">
    <%= competitor.suit.manufacturer_code %>
    <%= competitor.suit_name %>
  </div>
</td>

<td class="text-center">
  <span data-controller="tooltip" data-tooltip="<%= competitor.country_name %>"><%= competitor.country_code %></span>
</td>
