<% url = @competitor.new_record? ?
           performance_competition_competitors_path(@event) :
           performance_competition_competitor_path(@event, @competitor) %>

<%= form_with model: @competitor, url:, scope: :competitor,
              data: { controller: 'modal-form', action: 'form:submit-success->dialog#close' } do |f| %>
  <div class="sd-form">
    <h3 class="form-section-title">
      <%= t('competitors.form.profile') %>
    </h3>

    <%= render 'competitors/profile_fields', f:, competitor: @competitor, event: @event %>

    <div class="grid">
      <div class="col-7">
        <%= f.label :assigned_number, class: 'form-label' %>
        <%= f.text_field :assigned_number, class: 'form-input' %>
      </div>
    </div>

    <div class="form-divider"></div>

    <h3 class="form-section-title">
      <%= t('competitors.form.suit_and_category') %>
    </h3>

    <div class="grid">
      <%= f.label :suit_id, class: 'form-label col-4' %>
      <% options = @competitor.suit_id ? options_for_select([[@competitor.suit_name, @competitor.suit_id]], @competitor.suit_id) : [] %>
      <%= render 'hot_select/select', form: f, name: :suit_id, src: suits_select_options_path, options:, class: 'col-8' %>
    </div>

    <div class="grid">
      <%= f.label :section_id, class: 'form-label col-4' %>
      <% options = options_from_collection_for_select(@event.categories, :id, :name, @competitor.section_id) %>
      <%= render 'hot_select/local_select', form: f, name: :section_id, options:, class: 'col-8', hide_clear_button: true %>
    </div>

    <div class="form-divider"></div>

    <h3 class="form-section-title">
      <%= t('competitors.form.show_images') %>
    </h3>

    <div class="grid">
      <%= f.label :photo, PerformanceCompetition::Competitor.human_attribute_name(:photo), class: 'form-label col-4' %>
      <div class="col-8">
        <% if @competitor.photo %>
          <div class="form-static"><%= image_tag @competitor.photo_url(:medium), class: 'competitor-image-preview' %></div>
        <% end %>
        <div data-controller="filefield">
          <%= f.hidden_field :photo, value: @competitor.cached_photo_data %>
          <%= f.file_field :photo, class: 'form-input',
                           data: { filefield_target: 'file_field', action: 'change->filefield#change' } %>
          <div class="file-name" data-filefield-target="text_field"></div>
        </div>
      </div>
    </div>

    <div class="form-actions">
      <% if @competitor.new_record? %>
        <%= render 'components/switch',
                   label_text: t('general.add_more'),
                   include_hidden: false,
                   data: { 'modal-form-target' => 'keepAdding' } %>
      <% end %>
      <%= f.submit t('general.save'), class: 'button button--primary' %>
      <button type="button" class="button" data-action="dialog#close"><%= t 'general.cancel' %></button>
    </div>
  </div>
<% end %>
