<%# locals: (tournament:) %>

<div class="card actions-bar" id="qualification-actions-bar">
  <%= button_to tournament_qualification_rounds_path(tournament_id: tournament.id), method: :post, data: { turbo_stream: true }, class: 'actions-bar-button' do %>
    <%= icon_tag 'plus-solid' %>
    <%= t('activerecord.models.tournament_round') %>
  <% end %>

  <%= button_to new_tournament_competitor_path(tournament), method: :get, form: { data: { turbo_stream: true } }, class: 'actions-bar-button' do %>
    <%= icon_tag 'plus-solid' %>
    <%= t('activerecord.models.tournament_competitor') %>
  <% end %>

  <div class="actions-bar-right">
    <%= link_to tournament_qualification_display_path(tournament), target: '_blank', rel: 'noopener', class: 'actions-bar-button' do %>
      <%= icon_tag 'circle-play' %>
      <%= t('tournaments.qualifications.actions_bar.display') %>
    <% end %>

    <div data-controller="dropdown">
      <button class="actions-bar-button" popovertarget="qualification-actions-menu-<%= tournament.id %>" title="<%= t('tournaments.qualifications.actions_bar.more_actions') %>">
        <%= icon_tag 'gear-solid' %>
      </button>

      <div id="qualification-actions-menu-<%= tournament.id %>" popover class="sd-dropdown-menu" data-dropdown-target="menu">
        <%= button_to t('tournaments.qualifications.actions_bar.copy_competitors'),
                      new_tournament_competitors_copy_path(tournament),
                      method: :get,
                      form: { data: { turbo_stream: true } },
                      class: 'dropdown-item' %>
      </div>
    </div>
  </div>
</div>
