<% editable = policy(@tournament).update? %>

<table class="scoreboard-table" id="qualifications-scoreboard">
  <thead>
    <tr>
      <td class="text-center" rowspan="2">Rank</td>
      <td class="text-center" rowspan="2">Competitor</td>
      <td class="text-center scoreboard-table-separate-border" rowspan="2">Best result</td>
      <% @scoreboard.rounds.each do |round| %>
        <td class="scoreboard-round" colspan="2">
          <div class="scoreboard-round-content">
            <%= "Round #{round.order}" %>
            <% if editable %>
              <div class="scoreboard-round-actions" data-controller="dropdown">
                <button class="btn-link" popovertarget="qual-round-menu-<%= round.id %>">
                  <%= icon_tag 'ellipsis-vertical-solid' %>
                </button>

                <div id="qual-round-menu-<%= round.id %>" popover class="sd-dropdown-menu" data-dropdown-target="menu">
                  <%= button_to tournament_qualification_round_path(@tournament, round), method: :delete, data: { turbo_stream: true }, class: 'dropdown-item' do %>
                    <%= icon_tag 'xmark', class: 'text-muted' %>
                    <%= t('general.delete') %>
                  <% end %>
                </div>
              </div>
            <% end %>
          </div>
        </td>
      <% end %>
    </tr>
    <tr>
      <% @scoreboard.rounds.each do |round| %>
        <td class="text-center">Result</td>
        <td class="text-center">Canopy</td>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @scoreboard.competitors.each_with_index do |competitor, index| %>
      <tr class="scoreboard-competitor">
        <td><%= index + 1 %></td>
        <td>
          <%= link_to competitor.name, profile_path(competitor.profile_id), class: 'competitor-name' %>
          <% if competitor.is_disqualified %>
            <span class="text-danger" data-controller="tooltip">(DQ)<span class="for-screen-reader"><%= competitor.disqualification_reason %></span></span>
          <% end %>
          <div class="competitor-suit text-gray">
            <%= competitor.suit.manufacturer_code %>
            <%= competitor.suit_name %>
          </div>
        </td>
        <td class="scoreboard-table-separate-border text-right"><%= competitor.best_result %></td>
        <% @scoreboard.rounds.each do |round| %>
          <% result = competitor.result_in_round(round) %>
          <% if result %>
            <% if result.track_id %>
              <td class="scoreboard-result">
                <%= result.result %>
                <span><%= show_qualification_track_link(@tournament, result, editable) %></span>
              </td>
              <td class="text-right">
                <span data-controller="tooltip"><%= result.canopy_time %><span class="for-screen-reader">Canopy time</span></span>
              </td>
            <% elsif result.result || !editable %>
              <td class="text-right"><%= result.result %></td>
              <td class="text-right">
                <span data-controller="tooltip"><%= result.canopy_time %><span class="for-screen-reader">Canopy time</span></span>
              </td>
            <% end %>
          <% else %>
            <td class="scoreboard-result text-center">
              <% if editable %>
                <span><%= new_qualification_track_link(@tournament, competitor, round) %></span>
              <% end %>
            </td>
            <td></td>
          <% end %>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
