<%# locals: (tournament:, scoreboard:, editable:) %>
<% show_best = scoreboard.show_best_result? %>

<table class="scoreboard-table scoreboard-table--compact" data-events--sticky-header-target="table">
  <thead>
    <tr>
      <td class="text-center" rowspan="2"><%= t('tournaments.qualifications.scoreboard.rank') %></td>
      <td class="<%= class_names 'text-center', (!show_best && 'scoreboard-table-separate-border') %>" colspan="2" rowspan="2"><%= t('tournaments.qualifications.scoreboard.competitor') %></td>
      <% if show_best %>
        <td class="text-center scoreboard-table-separate-border" rowspan="2"><%= t('tournaments.qualifications.scoreboard.best_result') %></td>
      <% end %>
      <% scoreboard.rounds.each do |round| %>
        <th class="round" colspan="2">
          <% unless show_best %>
            <div class="round-status" data-controller="tooltip">
              <% if round.completed? %>
                <%= icon_tag 'circle-check-regular', class: 'round-completed' %>
                <span class="for-screen-reader"><%= t('events.rounds.completed_tooltip') %></span>
              <% elsif editable %>
                <%= icon_tag 'circle-regular', class: 'round-not-completed-icon' %>
                <span class="for-screen-reader"><%= t('events.rounds.mark_completed_tooltip') %></span>
              <% end %>
            </div>
          <% end %>

          <%= t('tournaments.qualifications.scoreboard.round', number: round.order) %>

          <% if editable %>
            <div class="cell-actions" data-controller="dropdown">
              <button class="dropdown-toggle button button--ghost button--sm" popovertarget="qual-round-menu-<%= round.id %>">
                <%= icon_tag 'ellipsis-vertical-solid' %>
              </button>

              <div id="qual-round-menu-<%= round.id %>" popover class="sd-dropdown-menu" data-dropdown-target="menu">
                <% unless show_best %>
                  <% if round.completed? %>
                    <%= button_to t('events.rounds.mark_not_completed'),
                                  tournament_qualification_round_path(tournament, round),
                                  method: :patch, params: { qualification_round: { completed: false } },
                                  form: { data: { turbo_stream: true } }, class: 'dropdown-item' %>
                  <% else %>
                    <%= button_to t('events.rounds.mark_completed'),
                                  tournament_qualification_round_path(tournament, round),
                                  method: :patch, params: { qualification_round: { completed: true } },
                                  form: { data: { turbo_stream: true } }, class: 'dropdown-item' %>
                  <% end %>

                  <div class="dropdown-divider"></div>
                <% end %>

                <%= button_to tournament_qualification_round_path(tournament, round), method: :delete, data: { turbo_stream: true }, class: 'dropdown-item' do %>
                  <%= icon_tag 'xmark', class: 'text-muted' %>
                  <%= t('general.delete') %>
                <% end %>
              </div>
            </div>
          <% end %>
        </th>
      <% end %>
    </tr>
    <tr>
      <% scoreboard.rounds.each do |round| %>
        <td class="text-center"><%= t('tournaments.qualifications.scoreboard.result') %></td>
        <td class="text-center"><%= t('tournaments.qualifications.scoreboard.canopy') %></td>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% scoreboard.competitors.each do |competitor| %>
      <tr class="scoreboard-competitor">
        <td class="text-center"><%= competitor.ranked? ? competitor.rank : '–' %></td>
        <td class="competitor">
          <%= link_to competitor.name, profile_path(competitor.profile_id), class: 'competitor-profile' %>
          <% if competitor.is_disqualified %>
            <span class="text-danger" data-controller="tooltip">(DQ)<span class="for-screen-reader"><%= competitor.disqualification_reason %></span></span>
          <% end %>
          <div class="competitor-suit text-gray">
            <%= competitor.suit.manufacturer_code %>
            <%= competitor.suit_name %>
          </div>

          <% if editable %>
            <div class="cell-actions" data-controller="dropdown">
              <button class="dropdown-toggle button button--ghost button--sm" popovertarget="qual-competitor-menu-<%= competitor.id %>">
                <%= icon_tag 'ellipsis-vertical-solid' %>
              </button>

              <div id="qual-competitor-menu-<%= competitor.id %>" popover class="sd-dropdown-menu" data-dropdown-target="menu">
                <%= button_to edit_tournament_competitor_path(tournament, competitor), method: :get, form: { data: { turbo_stream: true } }, class: 'dropdown-item' do %>
                  <%= icon_tag 'pencil-solid', class: 'text-muted' %>
                  <%= t('general.edit') %>
                <% end %>

                <%= button_to tournament_competitor_path(tournament, competitor), method: :delete, form: { data: { turbo_stream: true, confirm: t('general.confirm_delete') } }, class: 'dropdown-item' do %>
                  <%= icon_tag 'xmark', class: 'text-muted' %>
                  <%= t('general.delete') %>
                <% end %>
              </div>
            </div>
          <% end %>
        </td>
        <td class="<%= class_names 'text-center', 'competitor-country', (!show_best && 'scoreboard-table-separate-border') %>">
          <span data-controller="tooltip"><%= competitor.country_code %><span class="for-screen-reader"><%= competitor.country_name %></span></span>
        </td>
        <% if show_best %>
          <td class="scoreboard-table-separate-border text-right result-value"><%= number_with_precision(competitor.best_result, precision: 3) %></td>
        <% end %>
        <% scoreboard.rounds.each do |round| %>
          <% result = competitor.result_in_round(round) %>
          <% if result&.result.present? %>
            <td class="<%= class_names 'result-cell', ('text-green' if competitor.best_result_in?(result)) %>">
              <%= link_to tournament_qualification_result_path(tournament, result),
                          **(mobile? ? { target: '_blank' } : { data: { turbo_stream: true } }),
                          class: 'result-show-cell', rel: 'nofollow' do %>
                <%= number_with_precision(result.result, precision: 3) %>
              <% end %>
            </td>
            <td class="text-right result-value">
              <span data-controller="tooltip"><%= number_with_precision(result.canopy_time, precision: 3) %><span class="for-screen-reader"><%= t('tournaments.qualifications.scoreboard.canopy_time') %></span></span>
            </td>
          <% elsif editable %>
            <td class="result-cell">
              <%= button_to icon_tag('upload-solid'),
                            new_tournament_qualification_result_path(tournament),
                            params: {
                              'result[competitor_id]' => competitor.id,
                              'result[qualification_round_id]' => round.id
                            },
                            method: :get, form: { data: { turbo_stream: true }, class: 'result-upload-cell' } %>
            </td>
            <td></td>
          <% else %>
            <td></td>
            <td></td>
          <% end %>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
