<% provide :title, @tournament.name %>
<% editable = policy(@tournament).update? %>

<div class="container">
  <%= render 'tournaments/header' %>
</div>

<div class="container-fluid">
  <div class="content-block">
    <% if editable %>
      <div class="scoreboard-actions">
        <%= button_to tournament_qualification_rounds_path(tournament_id: @tournament.id), method: :post, remote: true, class: 'btn btn-default' do %>
          <%= icon_tag 'plus-solid' %>
          Round
        <% end %>
      </div>
    <% end %>

    <% if @tournament.surprise? && !editable %>
      <h1 class="text-muted text-center">
        🙅 Let it be a Surprise
      </h1>
    <% else %>
      <div class="scoreboard">
        <div class="scoreboard-scroll">
          <%= render 'qualification_table' %>
        </div>
      </div>
    <% end %>

    <div class="container">
      <div class="row top-buffer">
        <%= render 'sponsors/list', sponsorable: @tournament, editable: editable %>
      </div>
    </div>
  </div>
</div>
