<% provide :title, @tournament.name %>
<% editable = policy(@tournament).update? %>
<%= turbo_stream_from @tournament, :qualification, editable ? :editable : :read_only %>

<div class="show-page">
  <%= render partial: 'tournaments/header', variants: [], locals: { editable: } %>

  <div class="show-page-content"
       data-controller="track-compare"
       data-track-compare-source-value="tournaments"
       data-track-compare-competition-id-value="<%= @tournament.id %>"
       data-track-compare-kind-value="base"
       data-track-compare-slot-placeholder-value="<%= t('tournaments.qualifications.compare.slot_placeholder') %>">
    <%= render 'actions_bar', tournament: @tournament, editable: %>

    <%= render 'scoreboard', tournament: @tournament, editable: %>

    <div class="show-page-content">
      <%= render 'organizers/organizers', organizable: @tournament, editable: (editable && !@tournament.finished?) %>
      <%= render 'sponsors/list', sponsorable: @tournament, editable: editable %>
    </div>
  </div>
</div>
