<% provide :title, @tournament.name %>
<% editable = policy(@tournament).update? %>
<%= turbo_stream_from @tournament, :qualification, editable ? :editable : :read_only %>

<div class="show-page">
  <%= render partial: 'tournaments/header', variants: [], locals: { editable: } %>

  <% if editable %>
    <div class="show-page-content">
      <%= render 'actions_bar', tournament: @tournament %>
    </div>
  <% end %>

  <div class="show-page-content">
    <%= render 'scoreboard', tournament: @tournament, editable: %>

    <div class="show-page-content">
      <%= render 'organizers/organizers', organizable: @tournament, editable: (editable && !@tournament.finished?) %>
      <%= render 'sponsors/list', sponsorable: @tournament, editable: editable %>
    </div>
  </div>
</div>
