<tr id="<%= dom_id(competitor) %>">
  <td><%= competitor_counter + 1 %></td>
  <td><%= competitor.name %></td>
  <td class="text-center text-muted">
    <span class="dotted-underline" data-controller="tooltip">
      <%= competitor.country_code %>
      <span class="for-screen-reader"><%= competitor.country_name %></span>
    </span>
  </td>
  <td><%= competitor.suit_name %></td>
  <td>
    <%= link_to edit_tournament_competitor_path(@tournament, competitor), data: { turbo_stream: true } do %>
      <%= icon_tag 'pencil-solid', class: 'text-muted' %>
    <% end %>
    <%= button_to tournament_competitor_path(@tournament, competitor), method: :delete, data: { turbo_stream: true, turbo_confirm: 'Are you sure?' }, class: 'button button--ghost' do %>
      <%= icon_tag 'xmark', class: 'text-muted' %>
    <% end %>
  </td>
</tr>
