<tr id="<%= dom_id(competitor) %>">
  <td><%= competitor_counter + 1 %></td>
  <td><%= competitor.name %></td>
  <td class="text-center text-muted">
    <span class="dotted-underline" data-toggle="tooltip" title="<%= competitor.country_name %>">
      <%= competitor.country_code %>
    </span>
  </td>
  <td><%= competitor.suit_name %></td>
  <td>
    <%= link_to edit_tournament_competitor_path(@tournament, competitor), remote: true do %>
      <%= icon_tag 'pencil-solid', class: 'text-muted' %>
    <% end %>
    <%= button_to tournament_competitor_path(@tournament, competitor), method: :delete, remote: true, class: 'btn-link', data: { confirm: 'Are you sure?' } do %>
      <%= icon_tag 'xmark', class: 'text-muted' %>
    <% end %>
  </td>
</tr>
