<%= form_for [@tournament, @competitor], url: (@competitor.new_record? ? tournament_competitors_path : tournament_competitor_path(@tournament, @competitor)) do |f| %>
  <% if @competitor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@competitor.errors.count, "error") %> prohibited this tournament_competitor from being saved:</h2>

      <ul>
      <% @competitor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :tournament_id %><br>
    <%= f.collection_select(:tournament_id, Tournament.all, :id, :name, {promt: 'Select tournament'}, {class: 'form-control'}) %>
  </div>
  <div class="field">
    <%= f.label :profile_id %><br>
    <%= f.collection_select(:profile_id, Profile.all.order(:name), :id, :name, {promt: 'Select profile'}, {class: 'form-control'}) %>
  </div>
  <div class="field">
    <%= f.label :wingsuit_id %><br>
    <%= f.collection_select(:wingsuit_id, Wingsuit.all.order(:name), :id, :name, {promt: 'Select suit'}, {class: 'form-control'}) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
