<% form_path = @competitor.new_record? ? tournament_competitors_path(@tournament) : tournament_competitor_path(@tournament, @competitor) %>
<%= form_with model: @competitor, url: form_path, data: { controller: 'modal-form', action: 'form:submit-success->dialog#close' } do |f| %>
  <div class="sd-form">
    <div class="grid">
      <div class="col-12">
        <label class="form-radio">
          <%= f.radio_button :profile_mode, :select, checked: true %>
          <%= t('competitors.form.select_profile') %>
        </label>
      </div>
    </div>

    <div class="grid">
      <%= f.label :profile, class: 'form-label col-4' %>
      <div class="col-8">
        <%= render 'hot_select/select',
                   form: f,
                   name: :profile_id,
                   src: profiles_select_options_path,
                   placeholder: t('tracks.form.profile_select_placeholder'),
                   options: options_for_select([[@competitor.name, @competitor.profile_id]]) %>
      </div>
    </div>

    <div class="grid">
      <div class="col-12">
        <label class="form-radio">
          <%= f.radio_button :profile_mode, :create %>
          <%= t('competitors.form.create_profile') %>
        </label>
      </div>
    </div>

    <%= f.fields_for :profile_attributes do |builder| %>
      <div class="grid">
        <%= builder.label :name, t('activerecord.attributes.profile.name'), class: 'form-label col-4' %>
        <%= builder.text_field :name, class: 'form-input col-8' %>
      </div>

      <div class="grid">
        <%= builder.label :country, t('activerecord.attributes.profile.country'), class: 'form-label col-4' %>
        <div class="col-8">
          <%= render 'hot_select/select',
                     form: builder,
                     name: :country_id,
                     src: countries_select_options_path,
                     placeholder: 'Choose country',
                     options: options_for_select([[@competitor.country_name, @competitor.country_id]]) %>
        </div>
      </div>
    <% end %>

    <hr>

    <div class="grid">
      <%= f.label :suit, class: 'form-label col-4' %>
      <div class="col-8">
        <%= render 'hot_select/select',
                   form: f,
                   name: :suit_id,
                   src: suits_select_options_path,
                   placeholder: 'Choose suit',
                   options: options_for_select([[@competitor.suit_name, @competitor.suit_id]]) %>
      </div>
    </div>

    <% unless @competitor.new_record? %>
      <hr>

      <div class="grid">
        <%= f.label :is_disqualified, class: 'form-label col-4' %>
        <div class="col-8">
          <label class="form-checkbox">
            <%= f.check_box :is_disqualified %>
          </label>
        </div>
      </div>

      <div class="grid">
        <%= f.label :disqualification_reason, class: 'form-label col-4' %>
        <%= f.text_field :disqualification_reason, class: 'form-input col-8' %>
      </div>
    <% end %>

    <div class="form-actions">
      <%= f.submit t('general.save'), class: 'button button--primary' %>
      <button type="button" class="button" data-action="dialog#close"><%= t 'general.cancel' %></button>
    </div>
  </div>
<% end %>
