<p id="notice"><%= notice %></p>

<p>
  <strong>Tournament:</strong>
  <%= @competitor.tournament_id %>
</p>

<p>
  <strong>User profile:</strong>
  <%= @competitor.user_profile_id %>
</p>

<p>
  <strong>Wingsuit:</strong>
  <%= @competitor.wingsuit_id %>
</p>

<%= link_to 'Edit', edit_tournament_competitor_path(id: @competitor.id) %> |
<%= link_to 'Back', tournament_competitors_path %>
