<%# locals: (event:, result:, editable:, **rest) %>

<div class="sd-container">
  <%= render 'speed_skydiving_competitions/results/navbar', event:, result: %>

  <%= form_for :jump_range, url: speed_skydiving_competition_result_jump_range_path(@result.event, @result),
               method: :put, data: { turbo_stream: true , controller: 'modal-form', action: 'form:submit-success->modal#close' } do |f| %>
    <%= render 'concerns/jump_range_form', track: @result.track, form: f %>

    <% if editable %>
      <div class="form-actions">
        <%= f.submit t('general.save'), class: 'primary-button' %>
        <button type="button" class="default-button" data-action="modal#close"><%= t('general.cancel') %></button>
      </div>
    <% end %>
  <% end %>
</div>
