<%# locals: (result:) %>

<div class="track-indicators">
  <div class="track-indicator">
    <div class="track-indicator-title">
      Exit Altitude
    </div>
    <div class="track-indicator-value">
      <%= result.exit_altitude&.round %>
      <%= t('units.m') %>
    </div>
    <div class="track-indicator-info">
      <%= m_to_ft(result.exit_altitude.to_i).round %>
      <%= t('units.ft') %>
    </div>
  </div>

  <div class="track-indicator">
    <div class="track-indicator-title">
      Result
    </div>
    <div class="track-indicator-value">
      <%= result.result&.round(1) %>
      <%= t('units.kmh') %>
    </div>
    <div class="track-indicator-info">
      <%= kmh_to_mph(result.result.to_i).round(1) %>
      <%= t('units.mph') %>
    </div>
  </div>

  <div class="track-indicator">
    <div class="track-indicator-title">
      Window
    </div>
    <div class="track-indicator-value">
      <%= result.window_start_altitude&.round %>-<%= result.window_end_altitude&.round %>
      <%= t('units.m') %>
    </div>
    <div class="track-indicator-info">
      <%= m_to_ft(result.window_start_altitude.to_i).round %>-<%= m_to_ft(result.window_end_altitude.to_i).round %>
      <%= t('units.ft') %>
    </div>
  </div>
</div>
