<%# locals: (event:, result:, editable:, **rest) %>

<div class="sd-container">
  <% if editable %>
    <%= render 'navbar', event:, result: %>
  <% end %>

  <div class="grid">
    <div class="result-indicator col-4">
      <div class="result-indicator-title">
        Result
      </div>
      <div class="result-indicator-value">
        <%= result.result.round(1) %>
        <%= t('units.kmh') %>
      </div>
      <div class="result-indicator-info">
        <%= kmh_to_mph(result.result).round(1) %>
        <%= t('units.mph') %>
      </div>
    </div>

    <div class="result-indicator col-4">
      <div class="result-indicator-title">
        Exit Altitude
      </div>
      <div class="result-indicator-value">
        <%= result.exit_altitude.round %>
        <%= t('units.m') %>
      </div>
      <div class="result-indicator-info">
        <%= m_to_ft(result.exit_altitude).round %>
        <%= t('units.ft') %>
      </div>
    </div>

    <div class="result-indicator col-4">
      <div class="result-indicator-title">
        Window
      </div>
      <div class="result-indicator-value">
        <%= result.window_start_altitude.round %>-<%= result.window_end_altitude.round %>
        <%= t('units.m') %>
      </div>
      <div class="result-indicator-info">
        <%= m_to_ft(result.window_start_altitude).round %>-<%= m_to_ft(result.window_end_altitude).round %>
        <%= t('units.ft') %>
      </div>
    </div>
  </div>

  <div class="speed-skydiving-chart"
       data-controller="speed-skydiving-chart"
       data-track-id="<%= result.track_id %>"
       data-result="<%= result.result %>"
       data-exit-altitude="<%= result.exit_altitude %>"
       data-window-start="<%= result.window_start_time.iso8601 %>"
       data-window-end="<%= result.window_end_time.iso8601 %>"
  >
  </div>

  <% if editable %>
    <div class="form-actions justify-between" data-action="turbo:submit-end->modal#close">
      <%= button_to t('general.delete'), speed_skydiving_competition_result_path(event, result),
                    method: :delete,
                    form: { data: { turbo_stream: true, confirm: 'This action is irreversible. Proceed?' } },
                    class: 'ghost-danger-button' %>

      <button type="button" class="default-button" data-action="modal#close">
        <%= t('general.cancel') %>
      </button>
    </div>
  <% end %>
</div>
