<%# locals: (event:, result:, editable:, **rest) %>

<div class="sd-container">
  <% if editable %>
    <%= render 'navbar', event:, result: %>
  <% end %>

  <%= render 'indicators', result: %>

  <div class="speed-skydiving-chart"
       data-controller="speed-skydiving-chart"
       data-track-id="<%= result.track_id %>"
       data-result="<%= result.result %>"
       data-exit-altitude="<%= result.exit_altitude %>"
       data-window-start="<%= result.window_start_time&.iso8601 %>"
       data-window-end="<%= result.window_end_time&.iso8601 %>"
  >
  </div>

  <% if editable %>
    <div class="form-actions justify-between" data-action="turbo:submit-end->modal#close">
      <%= button_to t('general.delete'), speed_skydiving_competition_result_path(event, result),
                    method: :delete,
                    form: { data: { turbo_stream: true, confirm: 'This action is irreversible. Proceed?' } },
                    class: 'ghost-danger-button' %>

      <button type="button" class="default-button" data-action="modal#close">
        <%= t('general.cancel') %>
      </button>
    </div>
  <% end %>
</div>
