= form_for @suit, html: {class: 'form-horizontal'} do |f|
  .form-group
    = f.label :name, class: 'col-sm-2 control-label', for: :name
    .col-sm-5
      = f.text_field :name, autofocus: true, class: 'form-control'

  .form-group
    = f.label :manufacturer, class: 'col-sm-2 control-label', for: :manufacturer
    .col-sm-5
      = f.collection_select(:manufacturer_id, Manufacturer.order(:name), :id, :name, {promt: 'Select manufacturer'}, {class: 'form-control'})

  .form-group
    = f.label :kind, class: 'col-sm-2 control-label', for: :kind
    .btn-group.col-sm-10{:data => {:toggle => 'buttons'}}
      - Suit::TYPES.each do |type|
        %label.btn.btn-default{ class:  ('active' if @suit.kind == type) }
          = f.radio_button 'kind', type
          = type.capitalize

  .form-group
    = f.label :photo, class: 'col-sm-2 control-label', for: :photo
    .col-sm-4
      = f.file_field :photo


  .form-group
    .col-sm-offset-2.col-sm-8
      = f.submit t('general.save'), class: 'btn btn-primary'
