<% url = @suit.new_record? ? suits_path : suit_path(@suit) %>
<%= form_with model: @suit, url:, html: { class: 'form-horizontal', role: 'form', id: "#{action_name}_suit_form"} do |f| %>
  <div class="sd-form">
    <div class="grid">
      <%= f.label :name, class: 'form-label col-4' %>
      <%= f.text_field :name, required: true, autofocus: true, class: 'form-input col-8' %>
    </div>

    <div class="grid">
      <%= f.label :manufacturer, class: 'form-label col-4' %>
      <%= render 'hot_select/select',
                 form: f,
                 name: :manufacturer_id,
                 src: suits_select_options_path,
                 options: options_for_select([[@suit.manufacturer&.name, @suit.manufacturer_id]], @suit.manufacturer_id),
                 placeholder: 'Select manufacturer',
                 class: 'col-8' %>
    </div>

    <div class="grid">
      <%= f.label :kind, class: 'form-label col-4' %>
      <div class="col-8 form-radio-input-group">
        <% SuitTypes.each do |type| %>
          <label class="form-radio-input">
            <%= f.radio_button 'kind', type %>
            <%= type.capitalize %>
          </label>
        <% end %>
      </div>
    </div>

    <div class="grid">
      <%= f.label :photo, class: 'form-label col-4' %>
      <div class="col-8">
        <%= f.file_field :photo, class: 'form-input' %>
      </div>
    </div>
  </div>

  <hr>
  <div class="text-right">
    <%= f.submit t('general.save'), class: 'primary-button' %>

    <% if @suit.new_record? %>
      <%= link_to t('general.cancel'), suits_path, class: 'default-button' %>
    <% else %>
      <%= link_to t('general.cancel'), suit_path(@suit), class: 'default-button' %>
    <% end %>
  </div>
<% end %>
