<%= form_for @suit, html: { class: 'form-horizontal' } do |f| %>
  <div class="form-group">
    <%= f.label :name, class: 'col-sm-2 control-label', for: :name %>
    <div class="col-sm-5">
      <%= f.text_field :name, autofocus: true, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :manufacturer, class: 'col-sm-2 control-label', for: :manufacturer %>
    <div class="col-sm-5">
      <%= f.collection_select(:manufacturer_id, Manufacturer.order(:name), :id, :name, { prompt: 'Select manufacturer' }, { class: 'form-control' }) %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :kind, class: 'col-sm-2 control-label', for: :kind %>
    <div class="btn-group col-sm-10" data-toggle="buttons">
      <% SuitTypes.each do |type| %>
        <label class="btn btn-default <%= 'active' if @suit.kind == type %>">
          <%= f.radio_button 'kind', type %>
          <%= type.capitalize %>
        </label>
      <% end %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :photo, class: 'col-sm-2 control-label', for: :photo %>
    <div class="col-sm-4">
      <%= f.file_field :photo %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-8">
      <%= f.submit t('general.save'), class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>
