.modal-dialog.modal-lg
  .modal-content
    .modal-header
      %button.close{type: 'button', data: {dismiss: 'modal'}}
        %span{aria: {hidden: 'true'}}
          &times;
        %span.sr-only
          Close
      %h4.modal-title
        = event_track_presentation(@event_track)
 
    .modal-body
      .container-fluid
        = render 'events/event_tracks/header'

        = form_for :penalty, url: event_event_track_penalty_path(@event_track.event, @event_track), method: :put, remote: true, html: { class: 'form-horizontal' } do |f|
          .form-group
            = f.label :penalized, class: 'control-label col-sm-4'
            .col-sm-8
              .checkbox
                %label
                  = f.check_box :penalized, checked: @event_track.penalized

          .form-group
            = f.label :penalty_size, class: 'control-label col-sm-4'
            .col-sm-8.btn-group{'data-toggle': 'buttons'}
              - @event_track.penalty_sizes.each do |penalty_size|
                %label.btn.btn-default{class: ('active' if @event_track.penalty_size == penalty_size)}
                  = f.radio_button :penalty_size, penalty_size
                  = "#{penalty_size} %"

          .form-group
            = f.label :penalty_reason, class: 'control-label col-sm-4'
            .col-sm-8
              = f.text_field :penalty_reason, class: 'form-control', value: @event_track.penalty_reason

          .text-center
            = f.submit t('general.save'), class: 'btn btn-primary'



