<% url = @organizer.new_record? ?
           polymorphic_path([@organizer.organizable, @organizer]) :
           polymorphic_path([@organizer.organizable, @organizer]) %>

<%= form_with model: @organizer, url:, scope: :organizer,
              data: { controller: 'modal-form', action: 'form:submit-success->dialog#close' } do |f| %>
  <div class="sd-form">
    <div class="grid">
      <%= f.label :user_id, class: 'form-label col-3' %>
      <% options = @organizer.user ? options_for_select([[@organizer.name, @organizer.user_id]]) : [] %>
      <%= render 'hot_select/select', form: f, name: :user_id, src: users_select_options_path, options:, class: 'col-9' %>
    </div>

    <div class="form-actions">
      <%= f.submit t('general.save'), class: 'button button--primary' %>
      <button type="button" class="button" data-action="dialog#close"><%= t 'general.cancel' %></button>
    </div>
  </div>
<% end %>
