.modal-dialog
  .modal-content
    = form_for [organizer.organizable, organizer], remote: true, html: {class: 'form-horizontal'} do |f|
      .modal-header
        %button.close{type: 'button', data: {dismiss: 'modal'}}
          %span{aria: {hidden: 'true'}}
            &times;
          %span.sr-only
            Close
        %h4.modal-title
          = t('activerecord.models.organizer') + ': ' 
          - if organizer.new_record?
            = t('events.index.new')
          - else
            = organizer.name

      .modal-body
        .form-group
          = f.label :user, class: 'control-label col-sm-4'
          .col-sm-8
            = f.select :user_id,
                       options_for_select([[organizer.name, organizer.user_id]]),
                       {},
                       class: 'form-control'

      .modal-footer
        = f.submit t('general.save'), class: 'btn btn-primary'
        %button.btn.btn-default{type: 'button', data: {dismiss: 'modal'}}= t 'general.cancel'
