<%# locals: (organizable:, editable:) %>

<div id="<%= "#{organizable.class.name.underscore}_#{organizable.id}_organizers" %>" class="organizers">
  <h4><%= t('.judges') %></h4>
  <ol class="organizers__list">
    <% if organizable.responsible.present? %>
      <li class="organizers__item">
        <span><%= organizable.responsible.name %></span>
      </li>
    <% end %>
    <% organizable.organizers.each do |organizer| %>
      <li class="organizers__item" id="<%= dom_id(organizer) %>">
        <span><%= organizer.name %></span>
        <% if editable %>
          <%= button_to polymorphic_path([organizer.organizable, organizer]),
                        method: :delete,
                        form: { data: { turbo: true } },
                        class: 'delete-organizer button button--ghost' do %>
            <%= icon_tag 'xmark' %>
          <% end %>
        <% end %>
      </li>
  <% end %>
  </ol>

  <% if editable %>
    <div>
      <%= button_to polymorphic_path([:new, organizable, :organizer]), method: :get, form: { data: { turbo_stream: true } }, class: 'button' do %>
        <%= icon_tag 'plus-solid' %>
        <%= t('organizers.list.add_judge') %>
      <% end %>
    </div>
  <% end %>
</div>
