.container
  .page-header
    %h2= 'Resend unlock instructions'

  = form_for(:user, url: user_unlock_path, html: { method: :post }) do |f|
    = devise_error_messages!

    %div
      = f.label :email
      %br
      = f.email_field :email, autofocus: true

    %div= f.submit 'Resend unlock instructions'

  = render 'users/shared/links'
