<div class="place-preview__photo" style="background-image: url(<%= @place.photo.image_url(:thumb) %>);"></div>
<div class="place-preview__title"><%= @place.name %></div>
<div class="place-preview__geo">
  <div>
    <%= icon_tag 'location-dot-solid', class: 'icon--fw' %>
    <%= "#{@place.latitude}, #{@place.longitude}" %>
  </div>
  <div>
    <span class="icon--fw"></span>
    <%= "MSL: #{@place.msl}" %>
  </div>
</div>

<div class="text-center">
  <%= link_to place_path(@place), class: 'btn btn-default' do %>
    <%= t('places.index.details') %>
    &hellip;
  <% end %>
</div>
