.container.top-buffer
  .row
    .col-md-2
      -if @user.user_profile
        = image_tag(@user.user_profile.userpic.url(:medium), :class => 'img-responsive img-rounded')
      - else
        = image_tag '/images/medium/missing.png', :class => 'img-responsive img-rounded'

    .page-header.col-md-10
      .col-md-11
        %h1
          - if @user.user_profile && !@user.user_profile.name.blank?
            = @user.user_profile.name
          - else
            = @user.email

      .col-md-1
        - if current_user == @user
          = link_to content_tag(:span, nil, :class => 'fa fa-pencil'),
                    edit_user_registration_path,
                    :class => 'btn btn-default edit'

  .row
    %table.table.table-hover
      %thead
        %tr
          %th= t('activerecord.attributes.track.id')
          %th= t('activerecord.attributes.track.suit')
          %th= t('activerecord.attributes.track.place')
          %th= t('activerecord.attributes.track.comment')
          %th= t('activerecord.attributes.track.uploaded_at')
      %tbody
        - @user.tracks.each do |track|
          %tr.clickableRow{:data => {:url => track_path(:id => track.id)}}
            %td.text-info= track.id
            %td.text-info= track.suit
            %td.text-info= track.location
            %td.text-muted= track.comment
            %td.text-info= track.created_at

    %h2= t('users.profile.show.events')
    - @user.competitors.each do |comp|
      =link_to comp.event.name, event_path(:id => comp.event.id)
      %br