= form_for @tournament, html: {class: "form-horizontal tournament-form"} do |f|

  - if @tournament.errors.any?
    #error_expl.panel.panel-danger
      .panel-heading
        %h3.panel-title
          = pluralize(@tournament.errors.count, "error") 
          = 'prohibited this tournament from being saved:'
      .panel-body
        %ul
        - @tournament.errors.full_messages.each do |msg|
          = msg

  .form-group
    = f.label :name, class: 'control-label col-sm-2'
    .col-sm-5
      = f.text_field :name, class: 'form-control'
    = error_span(@tournament[:name])

  .form-group
    = f.label :finish_start_lat, class: 'control-label col-sm-2'
    .col-sm-5
      = f.text_field :finish_start_lat, class: 'form-control'
    = error_span(@tournament[:finish_start_lat])

  .form-group
    = f.label :finish_start_lon, class: 'control-label col-sm-2'
    .col-sm-5
      = f.text_field :finish_start_lon, class: 'form-control'
    = error_span(@tournament[:finish_start_lon])

  .form-group
    = f.label :finish_end_lat, class: 'control-label col-sm-2'
    .col-sm-5
      = f.text_field :finish_end_lat, class: 'form-control'
    = error_span(@tournament[:finish_end_lat])

  .form-group
    = f.label :finish_end_lon, class: 'control-label col-sm-2'
    .col-sm-5
      = f.text_field :finish_end_lon, class: 'form-control'
    = error_span(@tournament[:finish_end_lon])

  .col-sm-offset-2.col-sm-5
    = f.submit nil, class: 'btn btn-primary'
    = link_to t('.cancel', default: t("helpers.links.cancel")),
                virtual_comp_groups_path, class: 'btn btn-default'
