#tournament-form
  .col-sm-6
    = form_for @tournament, html: {class: "form-horizontal tournament-form"} do |f|

      - if @tournament.errors.any?
        #error_expl.panel.panel-danger
          .panel-heading
            %h3.panel-title
              = pluralize(@tournament.errors.count, "error") 
              = 'prohibited this tournament from being saved:'
          .panel-body
            %ul
            - @tournament.errors.full_messages.each do |msg|
              = msg

      .form-group
        = f.label :name, class: 'control-label col-sm-2'
        .col-sm-10
          = f.text_field :name, class: 'form-control'

      .form-group
        = f.label :starts_at, class: 'control-label col-sm-2'
        .col-sm-10
          = f.text_field :starts_at, class: 'form-control datepicker'

      .form-group
        %label.col-sm-12
          Exit point

      .form-group
        .form-inline
          = f.label 'Latitude', for: :exit_lat, class: 'control-label col-sm-2'
          .col-sm-10
            = f.text_field :exit_lat, class: 'form-control'

            = f.label 'Longitude', for: :exit_lon, class: 'control-label'
            = f.text_field :exit_lon, class: 'form-control'

      .form-group
        %label.col-sm-12
          Finish line

      .form-group
        .form-inline
          = f.label 'Start lat', for: :finish_start_lat, class: 'control-label col-sm-2'
          .col-sm-10
            = f.text_field :finish_start_lat, class: 'form-control'

            = f.label 'Start lon', for: :finish_start_lon, class: 'control-label'
            = f.text_field :finish_start_lon, class: 'form-control'

      .form-group
        .form-inline
          = f.label 'End lat', for: :finish_end_lat, class: 'control-label col-sm-2'
          .col-sm-10
            = f.text_field :finish_end_lat, class: 'form-control'

            = f.label 'End lon', for: :finish_end_lon, class: 'control-label'
            = f.text_field :finish_end_lon, class: 'form-control'

      .form-group
        = f.label 'Distance from exit', class: 'control-label col-sm-2'
        .col-sm-10
          %p#distance-from-exit.form-control-static

      .form-group
        %label.col-sm-12
          Finish line params

      .form-group
        .form-inline
          = f.label 'Center lat', for: :finish_center_lat, class: 'control-label col-sm-2'
          .col-sm-10
            = text_field_tag :finish_center_lat, nil, class: 'form-control'

            = f.label 'Center lon', for: :finish_center_lon, class: 'control-label'
            = text_field_tag :finish_center_lon, nil, class: 'form-control'

      .form-group
        = f.label 'Length', for: :finish_line_length, class: 'control-label col-sm-2'
        .col-sm-4
          = number_field_tag :finish_line_length, nil, class: 'form-control'

      .col-sm-offset-4.col-sm-8
        = f.submit nil, class: 'btn btn-primary'
        - path = @tournament.persisted? ? tournament_path(@tournament) : events_path
        = link_to t('.cancel', default: t("helpers.links.cancel")),
                    path, class: 'btn btn-default'

  .col-sm-6
    #tournament-form-map

- content_for :page_js do
  :javascript
    var view = new Skyderby.views.TournamentFormView({el: '#tournament-form'});
