#tournament-form
  .col-sm-6
    = form_for @tournament, html: {class: "form-horizontal tournament-form"} do |f|

      - if @tournament.errors.any?
        #error_expl.panel.panel-danger
          .panel-heading
            %h3.panel-title
              = pluralize(@tournament.errors.count, "error") 
              = 'prohibited this tournament from being saved:'
          .panel-body
            %ul
            - @tournament.errors.full_messages.each do |msg|
              = msg

      .form-group
        = f.label :name, class: 'control-label col-sm-4'
        .col-sm-8
          = f.text_field :name, class: 'form-control'

      .form-group
        = f.label :starts_at, class: 'control-label col-sm-4'
        .col-sm-8
          = f.text_field :starts_at, class: 'form-control datepicker'

      .form-group
        = f.label :finish_start_lat, class: 'control-label col-sm-4'
        .col-sm-8
          = f.text_field :finish_start_lat, class: 'form-control'

      .form-group
        = f.label :finish_start_lon, class: 'control-label col-sm-4'
        .col-sm-8
          = f.text_field :finish_start_lon, class: 'form-control'

      .form-group
        = f.label :finish_end_lat, class: 'control-label col-sm-4'
        .col-sm-8
          = f.text_field :finish_end_lat, class: 'form-control'

      .form-group
        = f.label :finish_end_lon, class: 'control-label col-sm-4'
        .col-sm-8
          = f.text_field :finish_end_lon, class: 'form-control'

      .form-group
        = f.label :exit_lat, class: 'control-label col-sm-4'
        .col-sm-8
          = f.text_field :exit_lat, class: 'form-control'

      .form-group
        = f.label :exit_lon, class: 'control-label col-sm-4'
        .col-sm-8
          = f.text_field :exit_lon, class: 'form-control'

      .col-sm-offset-4.col-sm-8
        = f.submit nil, class: 'btn btn-primary'
        - path = @tournament.persisted? ? tournament_path(@tournament) : events_path
        = link_to t('.cancel', default: t("helpers.links.cancel")),
                    path, class: 'btn btn-default'

  .col-sm-6
    #tournament-form-map

- content_for :page_js do
  :javascript
    var view = new Skyderby.views.TournamentFormView({el: '#tournament-form'});
