#tournament-form{'data-controller': 'tournaments--form'}
  .col-sm-6
    = form_for @tournament, remote: :true, html: { class: 'form-horizontal' } do |f|

      .form-group
        = f.label :name, class: 'control-label col-sm-2'
        .col-sm-10
          = f.text_field :name, class: 'form-control'

      .form-group
        = f.label :place, class: 'control-label col-sm-2'
        .col-sm-10
          = f.select :place_id,
                     options_for_select([[@tournament.place_name, @tournament.place_id]], @tournament.place_id), 
                     { include_blank: true },
                     class: 'form-control',
                     placeholder: t('events.show.place_placeholder'),
                     'data-controller': 'select2--places',
                     'data-action': 'change->tournaments--form#on_change_place'

      .form-group
        = f.label :starts_at, class: 'control-label col-sm-2'
        .col-sm-10
          = f.text_field :starts_at, class: 'form-control', 'data-controller': 'datepicker'

      .form-group
        = f.label :bracket_size, class: 'control-label col-sm-2'
        .col-sm-10
          = f.text_field :bracket_size, class: 'form-control'


      .form-group
        %label.col-sm-12
          Exit point

      .form-group
        .form-inline
          = f.label 'Latitude', for: :exit_lat, class: 'control-label col-sm-2'
          .col-sm-10
            = f.text_field :exit_lat,
                           class: 'form-control',
                           'data-target': 'tournaments--form.exit_lat', 
                           'data-action': 'input->tournaments--form#on_change_exit'

            = f.label 'Longitude', for: :exit_lon, class: 'control-label'
            = f.text_field :exit_lon,
                           class: 'form-control',
                           'data-target': 'tournaments--form.exit_lon',
                           'data-action': 'input->tournaments--form#on_change_exit'

      .form-group
        %label.col-sm-12
          Finish line

      .form-group
        .form-inline
          = f.label 'Start lat', for: :finish_start_lat, class: 'control-label col-sm-2'
          .col-sm-10
            = f.text_field :finish_start_lat,
                           class: 'form-control',
                           'data-target': 'tournaments--form.finish_start_lat',
                           'data-action': 'input->tournaments--form#on_change_finish_line_coordinates'

            = f.label 'Start lon', for: :finish_start_lon, class: 'control-label'
            = f.text_field :finish_start_lon,
                           class: 'form-control',
                           'data-target': 'tournaments--form.finish_start_lon',
                           'data-action': 'input->tournaments--form#on_change_finish_line_coordinates'

      .form-group
        .form-inline
          = f.label 'End lat', for: :finish_end_lat, class: 'control-label col-sm-2'
          .col-sm-10
            = f.text_field :finish_end_lat,
                           class: 'form-control',
                           'data-target': 'tournaments--form.finish_end_lat',
                           'data-action': 'input->tournaments--form#on_change_finish_line_coordinates'

            = f.label 'End lon', for: :finish_end_lon, class: 'control-label'
            = f.text_field :finish_end_lon,
                           class: 'form-control',
                           'data-target': 'tournaments--form.finish_end_lon',
                           'data-action': 'input->tournaments--form#on_change_finish_line_coordinates'

      .form-group
        = f.label 'Distance from exit', class: 'control-label col-sm-2'
        .col-sm-10
          %p#distance-from-exit.form-control-static{'data-target': 'tournaments--form.distance'}

      .form-group
        %label.col-sm-12
          Finish line params

      .form-group
        .form-inline
          = f.label 'Center lat', for: :finish_center_lat, class: 'control-label col-sm-2'
          .col-sm-10
            = text_field_tag :finish_center_lat,
                             nil,
                             class: 'form-control',
                             'data-target': 'tournaments--form.center_lat',
                             'data-action': 'input->tournaments--form#on_change_finish_line_center'

            = f.label 'Center lon', for: :finish_center_lon, class: 'control-label'
            = text_field_tag :finish_center_lon,
                             nil,
                             class: 'form-control',
                             'data-target': 'tournaments--form.center_lon',
                             'data-action': 'input->tournaments--form#on_change_finish_line_center'

      .form-group
        = f.label 'Length', for: :finish_line_length, class: 'control-label col-sm-2'
        .col-sm-4
          = number_field_tag :finish_line_length,
                             nil,
                             class: 'form-control',
                             'data-target': 'tournaments--form.length',
                             'data-action': 'input->tournaments--form#on_change_length'

      .form-group
        .col-sm-4.col-sm-offset-2
          .checkbox
            %label
              = f.check_box :has_qualification
              Has qualification

      .col-sm-offset-2.col-sm-8
        = f.submit nil, class: 'btn btn-primary'
        - path = @tournament.persisted? ? tournament_path(@tournament) : events_path
        = link_to t('general.cancel'),
                    path, class: 'btn btn-default'

  .col-sm-6
    #tournament-form-map{'data-target': 'tournaments--form.map'}
