.row
  .col-sm-8.col-sm-offset-2.text-center
    %h1
      = @tournament.name
  .col-sm-2
    - if policy(@tournament).update?
      .pull-right
        = link_to edit_tournament_path(@tournament), class: 'btn btn-default edit-event' do
          %i.fa.fa-pencil
          = t('general.edit')

.row
  .col-sm-12
    - controller_path = controller.controller_path
    = link_to tournament_path(@tournament), class: ['btn-flat btn-tab', ('active' if controller_path == 'tournaments')] do
      Scoreboard
    - if @tournament.with_qualification?
      = link_to tournament_qualification_path(@tournament), class: ['btn-flat btn-tab', ('active' if controller_path == 'tournaments/qualifications')] do
        Qualification
    - if can? :edit, @tournament
      = link_to tournament_tournament_competitors_path(@tournament.id), class: ['btn-flat btn-tab', ('active' if controller_path == 'tournaments/tournament_competitors')] do
        Competitors

