.container
  %h1.light-header 
    = @tournament.name

.container-fluid
  .row
    .col-lg-1
    - @tournament.tournament_rounds.each do |round|
      .col-sm-4.col-md-4.col-lg-3.text-center
        .tournament-round.text-muted
          Round 
          = round.order
        - spacers = 2 ** (round.order - 1) - 1
        - round.tournament_matches.each do |match|
          - unless match.bronze_finals
            - spacers.times do
              .tournament-spacer
          .tournament-match
            .panel.panel-default
              .panel-body.competitors-container
                - if match.tournament_match_competitors.count == 0
                  - 2.times do
                    .tournament-competitor.row
                      .col-sm-9.col-md-8.text-left.text-muted
                        ?
                      .col-sm-3.col-md-4.text-right
                - match.tournament_match_competitors.each do |competitor|
                  .tournament-competitor.row
                    .col-sm-9.text-left
                      - if match.gold_finals || match.bronze_finals
                        - if competitor.earn_medal
                          %i.fa.fa-fw.fa-certificate{class: competitor.earn_medal}
                        - else
                          %i.fa.fa-fw
                      = competitor.tournament_competitor.name
                    .col-sm-3.text-right
                      - if competitor.is_disqualified
                        %s{data: {toggle: 'tooltip'}, title: competitor.notes}
                          = competitor.result
                      - else
                        = competitor.result
                - if match.tournament_match_competitors.count == 1
                  .tournament-competitor.row
                    .col-sm-9.text-left.text-muted
                      ?
                    .col-sm-3.text-right
          - unless match.gold_finals
            - spacers.times do
              .tournament-spacer
        - if can? :edit, @tournament
          %a.btn.btn-default{href: new_tournament_match_path}= 'Add match'

.container
  - if @tournament.qualification_rounds.count > 0      

    -# TODO: EXTRACT
    - qualification_results = []
    - @tournament.tournament_competitors.each do |competitor|
      - competitor_result = { id: competitor.id, name: competitor.name }
      - competitor_jump_results = []
      - @tournament.qualification_rounds.each do |q_round|
        - q_jump = @tournament.qualification_jumps.detect do |jump|
          - jump.qualification_round_id == q_round.id && jump.tournament_competitor_id == competitor.id 
        - if q_jump
          - competitor_jump_results << q_jump.result
          - competitor_result["round_#{q_round.order}"] = q_jump.result
      - competitor_result[:best_result] = competitor_jump_results.min
      - qualification_results << competitor_result

    - qualification_results.sort_by! { |x| x[:best_result] || 999 }

    .row.top-buffer
      .col-sm-12
        %h2.light-header= 'Qualification'
    .row
      %table.table
        %thead
          %tr
            %td
              Rank
            %td
              Competitor
            - @tournament.qualification_rounds.each do |round|
              %td= "Round #{round.order}"
            %td
              Best result
        %tbody
          - qualification_results.each_with_index do |result, index|
            %tr
              %td= index + 1
              %td= result[:name]
              - @tournament.qualification_rounds.each do |round|
                %td= result["round_#{round.order}"]
              %td= result[:best_result]
