<% provide :title, @tournament.name %>
<% editable = policy(@tournament).update? %>

<div class="show-page">
  <%= render 'tournaments/header', editable: %>

  <div class="container">
    <div class="content-block">
      <% if editable %>
        <%= button_to(tournament_rounds_path(@tournament), method: :post, remote: true, class: 'default-button') do %>
          <%= svg_icon 'plus-solid' %>
          <%= t('activerecord.models.tournament_round') %>
        <% end %>
      <% end %>

      <% if @tournament.surprise? && !editable %>
        <h1 class="text-muted text-center">
          🙅 Let it be a Surprise
        </h1>
      <% else %>
        <%= render 'scoreboard' %>
      <% end %>
    </div>
  </div>

  <div class="container">
    <%= render 'footer', editable: editable %>
  </div>
</div>
