- provide :title, @tournament.name

.tournament-show
  .container
    = render 'tournaments/header'

  .container
    .content-block
      - if policy(@tournament).update?
        = button_to tournament_rounds_path(tournament_id: @tournament.id),
                    method: :post,
                    remote: true,
                    class: 'btn btn-default' do
          %i.fa.fa-plus
          Round

      = render 'scoreboard'

      .container
        - unless @tournament.sponsors.empty?
          .row.top-buffer
            .col-md-12
              %h4= t('events.show.event_sponsors') + ':'
        .row#sponsors
          = render @tournament.sponsors
        - if policy(@tournament).update?
          = link_to new_tournament_sponsor_path(tournament_id: @tournament.id), remote: true, class: 'add-sponsor' do
            %i.fa.fa-plus
            = t('events.show.add_sponsor')
