<%# locals: (event:, standings:, editable:) %>
<div class="card actions-bar" id="actions-bar">
  <% if editable %>
    <%= button_to new_speed_skydiving_competition_category_path(event), method: :get, form: { data: { turbo_stream: true } }, class: 'actions-bar-button' do %>
      <%= icon_tag 'plus-solid' %>
      <%= t('events.category') %>
    <% end %>

    <%= button_to new_speed_skydiving_competition_competitor_path(event), method: :get, form: { data: { turbo_stream: true } }, class: 'actions-bar-button' do %>
      <%= icon_tag 'plus-solid' %>
      <%= t('events.competitor') %>
    <% end %>

    <%= button_to speed_skydiving_competition_rounds_path(event), form: { data: { turbo_stream: true } }, class: 'actions-bar-button' do %>
      <%= icon_tag 'plus-solid' %>
      <%= t('events.round') %>
    <% end %>
  <% end %>

  <div class="actions-bar-right">
    <%= link_to 'Time Machine', speed_skydiving_competition_path(event, until_round: standings.completed_rounds.last&.number), class: 'actions-bar-button' %>

    <% if editable %>
      <div data-controller="dropdown">
        <button class="actions-bar-button" popovertarget="speed-status-menu-<%= event.id %>">
          <%= t('activerecord.attributes.event.status') + ': ' + t('event_status.' + event.status) %>
          <%= icon_tag 'angle-down-solid' %>
        </button>

        <div id="speed-status-menu-<%= event.id %>" popover class="sd-dropdown-menu" data-dropdown-target="menu">
          <% SpeedSkydivingCompetition.statuses.each do |status, _index| %>
            <%= button_to(t("event_status.#{status}"),
                          speed_skydiving_competition_status_path(event),
                          method: :patch,
                          form: { data: { turbo_stream: true } },
                          params: { 'event[status]' => status },
                          class: "dropdown-item #{'active' if event.status == status}") %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
