<%# locals: (event:, standings:, editable:) %>
<div class="card actions-bar" id="actions-bar">
  <% if editable %>
    <%= button_to new_speed_skydiving_competition_category_path(event), method: :get, form: { data: { turbo_stream: true } }, class: 'actions-bar-button' do %>
      <%= icon_tag 'plus-solid' %>
      <%= t('events.category') %>
    <% end %>

    <%= button_to new_speed_skydiving_competition_competitor_path(event), method: :get, form: { data: { turbo_stream: true } }, class: 'actions-bar-button' do %>
      <%= icon_tag 'plus-solid' %>
      <%= t('events.competitor') %>
    <% end %>

    <%= button_to speed_skydiving_competition_rounds_path(event), form: { data: { turbo_stream: true } }, class: 'actions-bar-button' do %>
      <%= icon_tag 'plus-solid' %>
      <%= t('events.round') %>
    <% end %>

    <%= button_to new_speed_skydiving_competition_track_upload_path(event), method: :get, form: { data: { turbo_stream: true } }, class: 'actions-bar-button' do %>
      <%= icon_tag 'upload-solid' %>
      <%= t('speed_skydiving_competitions.track_upload.button') %>
    <% end %>
  <% end %>

  <div class="actions-bar-right">
    <%= link_to speed_skydiving_competition_display_path(event), target: '_blank', rel: 'noopener', class: 'actions-bar-button' do %>
      <%= icon_tag 'circle-play' %>
      <%= t('speed_skydiving_competitions.actions_bar.display') %>
    <% end %>
  </div>

  <%= render 'application/track_compare',
             scope: 'speed_skydiving_competitions.compare',
             form_url: speed_skydiving_competition_comparison_path(event),
             attention: !Current.subscription_active? %>

  <div class="actions-bar-right">
    <%= link_to 'Time Machine', speed_skydiving_competition_path(event, until_round: standings.completed_rounds.last&.number), class: 'actions-bar-button' %>

    <% if editable %>
      <div data-controller="dropdown">
        <button class="actions-bar-button" popovertarget="speed-status-menu-<%= event.id %>">
          <%= t('activerecord.attributes.event.status') + ': ' + t('event_status.' + event.status) %>
          <%= icon_tag 'angle-down-solid' %>
        </button>

        <div id="speed-status-menu-<%= event.id %>" popover class="sd-dropdown-menu" data-dropdown-target="menu">
          <% SpeedSkydivingCompetition.statuses.each do |status, _index| %>
            <%= button_to(t("event_status.#{status}"),
                          speed_skydiving_competition_status_path(event),
                          method: :patch,
                          form: { data: { turbo_stream: true } },
                          params: { 'event[status]' => status },
                          class: "dropdown-item #{'active' if event.status == status}") %>
          <% end %>
        </div>
      </div>
    <% end %>

    <div data-controller="dropdown">
      <button class="actions-bar-button" popovertarget="speed-units-menu-<%= event.id %>" type="button" aria-label="<%= t('general.settings') %>">
        <%= icon_tag 'gear-solid' %>
      </button>

      <div id="speed-units-menu-<%= event.id %>" popover class="sd-dropdown-menu" data-dropdown-target="menu">
        <div class="dropdown-header"><%= t('tracks.show.units_header') %></div>
        <%= button_to t('tracks.show.m_units_metric'),
                      speed_skydiving_competition_unit_settings_path(event),
                      method: :patch,
                      params: { units: 'metric' },
                      form: { data: { turbo_stream: true } },
                      class: class_names('dropdown-item', Current.speed_skydiving_units.metric? && 'active') %>
        <%= button_to t('tracks.show.m_units_imperial'),
                      speed_skydiving_competition_unit_settings_path(event),
                      method: :patch,
                      params: { units: 'imperial' },
                      form: { data: { turbo_stream: true } },
                      class: class_names('dropdown-item', Current.speed_skydiving_units.imperial? && 'active') %>
      </div>
    </div>
  </div>
</div>
