<%# locals(event:, competitor:, editable:) %>

<td class="competitor">
  <%= link_to profile_path(competitor.profile_id), class: 'competitor-profile' do %>
    <%= competitor.name %>
    <% if competitor.assigned_number.present? %>
      <span class="assigned-number">#<%= competitor.assigned_number %></span>
    <% end %>
  <% end %>

  <% if editable %>
    <div class="cell-actions" data-controller="dropdown">
      <button class="dropdown-toggle button button--ghost button--sm" popovertarget="speed-competitor-menu-<%= competitor.id %>">
        <%= icon_tag 'ellipsis-vertical-solid' %>
      </button>

      <div id="speed-competitor-menu-<%= competitor.id %>" popover class="sd-dropdown-menu" data-dropdown-target="menu">
        <%= button_to edit_speed_skydiving_competition_competitor_path(event, competitor),
                      class: 'dropdown-item',
                      method: :get, form: { data: { turbo_stream: true } } do %>
            Edit
        <% end %>

        <%= button_to speed_skydiving_competition_competitor_path(event, competitor),
                      class: 'dropdown-item',
                      method: :delete, form: { data: { turbo_stream: true, confirm: 'This action is irreversible. Proceed?' } } do %>
          Delete
        <% end %>
      </div>
    </div>
  <% end %>
</td>
