<%# locals(event:, competitor:, editable:) %>

<td class="competitor">
  <%= link_to profile_path(competitor.profile_id), class: 'competitor-profile' do %>
    <%= competitor.name %>
    <% if competitor.assigned_number.present? %>
      <span class="assigned-number">#<%= competitor.assigned_number %></span>
    <% end %>
  <% end %>

  <% if editable %>
    <div class="cell-actions">
      <div class="sd-dropdown" data-controller="dropdown">
        <button class="dropdown-toggle ghost-button small-button" data-action="click->dropdown#toggle">
          <%= svg_icon 'ellipsis-vertical-solid' %>
        </button>

        <template data-dropdown-target="menu">
          <div class="sd-dropdown-menu">
            <%= button_to edit_speed_skydiving_competition_competitor_path(event, competitor),
                          class: 'dropdown-item',
                          method: :get, form: { data: { turbo_stream: true } } do %>
                Edit
            <% end %>

            <%= button_to speed_skydiving_competition_competitor_path(event, competitor),
                          class: 'dropdown-item',
                          method: :delete, form: { data: { turbo_stream: true, confirm: 'This action is irreversible. Proceed?' } } do %>
              Delete
            <% end %>
          </div>
        </template>
      </div>
    </div>
  <% end %>
</td>
