<%= form_with model: @event, scope: :event, html: { class: 'form-horizontal', role: 'form' } do |f| %>
  <div class="sd-form">
    <div class="grid">
      <%= f.label :name, class: 'form-label col-2' %>
      <%= f.text_field :name, required: true, class: 'form-input col-4' %>
    </div>

    <div class="grid">
      <%= f.label :starts_at, class: 'form-label col-2' %>
      <%= f.date_field :starts_at, class: 'form-input col-4', value: (@event.starts_at || Date.today).iso8601 %>
    </div>

    <div class="grid">
      <%= f.label :place, class: 'form-label col-2' %>
      <%= render 'hot_select/select',
                 form: f,
                 name: :place_id,
                 src: places_select_options_path,
                 options: options_for_select([[@event.place_name, @event.place_id], @event.place_id]),
                 placeholder: t('events.show.place_placeholder'),
                 class: 'col-4' %>
    </div>

    <div class="grid">
      <%= f.label :visibility, class: 'form-label col-2' %>
      <div class="col-4 form-radio-input-group">
        <% SpeedSkydivingCompetition.visibilities.each do |key, _value| %>
          <label class="form-radio-input">
            <%= f.radio_button 'visibility', key %>
            <%= t("activerecord.attributes.event.visibilities.#{key}") %>
          </label>
        <% end %>
      </div>
    </div>

    <div class="grid">
      <%= f.label :use_teams, class: 'form-checkbox col-4 col-start-3' do %>
        <%= f.check_box :use_teams %>
        <%= t('activerecord.attributes.event.use_teams') %>
      <% end %>
    </div>
  </div>

  <hr>

  <div class="grid">
    <div class="col-8 col-start-3">
      <%= f.submit t('general.save'), class: 'primary-button' %>
      <button type="button" class="default-button" data-dismiss="modal"><%= t 'general.cancel' %></button>
    </div>
  </div>
<% end %>
