<%# locals: (event:, until_round:) %>
<div class="actions-bar card replay-controls" id="replay-controls">
  <button class="replay-button button button--primary"
          data-action="click->replay-scoreboard#play"
          data-replay-scoreboard-target="playButton">
    <%= svg_icon 'play-solid' %>
    <span>Play</span>
  </button>

  <div class="rounds-timeline">
    <%= link_to 'Start',
        speed_skydiving_competition_path(event, until_round: 0),
        class: class_names('button button--ghost', until_round == 0 && 'active'),
        data: {
          round: 0,
          action: 'click->replay-scoreboard#goToRound',
          replay_scoreboard_target: 'roundLink'
        } %>
    <div><%= svg_icon 'angle-right-solid' %></div>
    <% event.rounds.ordered.each_with_index do |round, index| %>
      <%= link_to "R#{round.number}",
          speed_skydiving_competition_path(event, until_round: round.number),
          class: class_names('button button--ghost', round.number == until_round && 'active'),
          data: {
            round: round.number,
            action: 'click->replay-scoreboard#goToRound',
            replay_scoreboard_target: 'roundLink'
          } %>

      <% if index < event.rounds.ordered.size - 1 %>
        <div><%= svg_icon 'angle-right-solid' %></div>
      <% end %>
    <% end %>
  </div>
  <div class="actions-bar-right">
    <%= link_to 'Exit Time Machine', speed_skydiving_competition_path(event), class: 'actions-bar-button' %>
  </div>
</div>
