<%# locals(event:, standings:, round:, competitor:, result:, editable:) %>

<% time_machine = standings.until_round.present? %>
<% show_result = !time_machine || standings.completed_rounds.include?(round) %>

<td class="result-cell"
  data-round="<%= round.number %>"
  <% if show_result && result %>
    data-created-at="<%= result.created_at.iso8601 %>"
  <% end %>
>
  <% if show_result && result %>
    <%= button_to speed_skydiving_competition_result_path(event, result),
                  method: :get, form: { data: { turbo_stream: true }, class: 'result-show-cell' } do %>
      <% if result.penalized? %>
        <span data-controller="tooltip">
          <%= result.final_result.round(1) %>
          <sup class="text-danger">-<%= result.penalty_size.round %>%</sup>
          <span class="for-screen-reader"><%= result.result.round(1) %> - <%= result.penalty_size.round %>%. Reason: <%= result.penalty_reason %></span>
        </span>
      <% else %>
        <%= result.final_result.round(2) %>
      <% end %>
    <% end %>
  <% elsif !time_machine && editable %>
    <%= button_to new_speed_skydiving_competition_result_path(event),
                  params: { round_id: round.id, competitor_id: competitor.id },
                  method: :get, form: { data: { turbo_stream: true }, class: 'result-upload-cell' } do %>
      <%= icon_tag 'upload-solid' %>
    <% end %>
  <% end %>
</td>
