<%# locals: (event:, standings:, round:, editable: false) %>

<th class="round">
  <div class="round-status" data-controller="tooltip">
    <% if standings.completed_rounds.include?(round) %>
      <%= icon_tag 'circle-check-regular', class: 'round-completed' %>
      <span class="for-screen-reader"><%= t('events.rounds.completed_tooltip') %></span>
    <% elsif editable %>
      <%= icon_tag 'circle-regular', class: 'round-not-completed-icon' %>
      <span class="for-screen-reader"><%= t('events.rounds.mark_completed_tooltip') %></span>
    <% end %>
  </div>

  <%= round.number %>

  <% if editable %>
    <div class="cell-actions" data-controller="dropdown">
      <button class="dropdown-toggle button button--ghost button--sm" popovertarget="speed-round-menu-<%= round.id %>">
        <%= icon_tag 'ellipsis-vertical-solid' %>
      </button>

      <div id="speed-round-menu-<%= round.id %>" popover class="sd-dropdown-menu" data-dropdown-target="menu">
        <% if round.completed? %>
          <%= button_to speed_skydiving_competition_round_path(event, round),
                        class: 'dropdown-item',
                        method: :patch, params: { round: { completed: false } },
                        form: { data: { turbo_stream: true } } do %>
            <%= t('events.rounds.mark_not_completed') %>
          <% end %>
        <% else%>
          <%= button_to speed_skydiving_competition_round_path(event, round),
                        class: 'dropdown-item',
                        method: :patch, params: { round: { completed: true } },
                        form: { data: { turbo_stream: true } } do %>
            <%= t('events.rounds.mark_completed') %>
          <% end %>
        <% end %>

        <%= button_to speed_skydiving_competition_round_path(event, round), class: 'dropdown-item', method: :delete, form: { data: { turbo_stream: true } } do %>
          <%= t('general.delete') %>
        <% end %>
      </div>
    </div>
  <% end %>
</th>
