<%# locals: (event:, editable:, standings:) %>

<% at_least_one_round_completed = standings.completed_rounds.length > 0 %>

<% container_id = standings.until_round ? 'scoreboard-time-machine' : 'scoreboard'  %>
<div class="scoreboard-container" id="<%= container_id %>"
     data-controller="events--sticky-header">
  <div class="scoreboard-scroll"
       data-events--sticky-header-target="container"
       data-action="scroll->events--sticky-header#on_horizontal_scroll">
    <table class="scoreboard-table"
           data-events--sticky-header-target="table"
           <% if standings.until_round %>
             data-replay-scoreboard-target="scoreboard"
             data-until-round="<%= standings.until_round %>"
           <% end %>
    >
    <thead>
      <tr>
        <th>#</th>
        <th colspan="2"><%= t('events.competitor') %></th>
        <%= render partial: 'speed_skydiving_competitions/round_cell',
                   collection: standings.rounds,
                   as: :round,
                   locals: { event:, editable:, standings: } %>
        <th class="text-right">Total</th>
        <th class="text-right">Avg</th>
      </tr>
    </thead>

    <% standings.categories.each_with_index do |data, index| %>
      <% category = data[:category] %>
      <% position =
           case index
           when 0 then :first
           when standings.categories.size - 1 then :last
           else :middle
           end
      %>

      <tbody id="<%= dom_id category %>">
        <tr>
          <%= render 'speed_skydiving_competitions/category_cell', category:, event:, editable:, standings:, position: %>
        </tr>

        <% data[:standings].each do |row| %>
          <% competitor = row[:competitor] %>
          <% competitor_results = editable ? row[:all_results] : row[:accountable_results] %>
          <tr data-competitor-id="<%= competitor.id %>" class="competitor-row">
            <td data-rank>
              <%= row[:rank] %>
              <% if !event.finished? || standings.until_round %>
                <% if row[:previous_rank] == row[:rank] || standings.completed_rounds.length == 1 %>
                  <span class="rank-same">—</span>
                <% elsif row[:previous_rank] < row[:rank] %>
                  <span class="rank-down" data-controller="tooltip">▼<span class="for-screen-reader">from <%= row[:previous_rank] %></span></span>
                <% else %>
                  <span class="rank-up" data-controller="tooltip">▲<span class="for-screen-reader">from <%= row[:previous_rank] %></span></span>
                <% end %>
              <% end %>
            </td>
            <%= render 'speed_skydiving_competitions/competitor_cell', competitor:, event:, editable: %>
            <td class="competitor-country">
              <span data-controller="tooltip">
                <%= competitor.country_code %>
                <span class="for-screen-reader"><%= competitor.country_name %></span>
              </span>
            </td>
            <% standings.rounds.each do |round| %>
              <% result = competitor_results.find { |result| result.round == round } %>
              <%= render 'speed_skydiving_competitions/result_cell', event:, standings:, round:, competitor:, result:, editable: %>
            <% end %>
            <% if at_least_one_round_completed %>
              <td class="text-right" data-total><%= '%.2f' % row[:total] %></td>
              <td class="text-right" data-avg><%= '%.2f' % row[:average] %></td>
            <% else %>
              <td data-total></td>
              <td data-avg></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    <% end %>
    </table>
  </div>
</div>
