<%# locals (event:, editable:) %>

<% standings = event.standings %>

<div class="scoreboard-container" id="scoreboard">
  <table class="scoreboard-table">
    <thead>
    <tr>
      <th>#</th>
      <th colspan="2">Competitor</th>
      <%= render partial: 'speed_skydiving_competitions/round_cell', collection: standings.rounds, as: :round, locals: { event:, editable: } %>
      <th class="result">Total</th>
      <th class="result">Avg</th>
    </tr>
    </thead>

    <% standings.categories.each_with_index do |data, index| %>
      <% category = data[:category] %>
      <% position =
           case index
           when 0 then :first
           when standings.categories.size - 1 then :last
           else :middle
           end
      %>

      <tbody id="<%= dom_id category %>">
      <tr>
        <%= render 'speed_skydiving_competitions/category_cell', category:, event:, editable:, standings:, position: %>
      </tr>

      <% data[:standings].each do |row| %>
        <tr>
          <td><%= row[:rank] %></td>
          <%= render 'speed_skydiving_competitions/competitor_cell', competitor: row[:competitor], event:, editable: %>
          <td><%= row[:competitor].country_code %></td>
          <% standings.rounds.each do |round| %>
            <% result_record = row[:results].find { |result| result.round == round } %>
            <td class="result"><%= result_record&.result&.round(1) %></td>
          <% end %>
          <td class="result"><%= row[:total] %></td>
          <td class="result"><%= row[:average] %></td>
        </tr>
      <% end %>
      </tbody>
    <% end %>
  </table>
</div>
