<% event = speed_skydiving_competition %>
<%= link_to speed_skydiving_competition_path(event), class: 'comp-list-item' do %>
  <div class="event-start-date text-center">
    <div class="start-date-day"><%= event.starts_at.strftime '%d' %></div>
    <div class="start-date-month"><%= event.starts_at.strftime '%b\'%y' %></div>
  </div>

  <div class="event-details">
    <div class="event-name">
      <%= event.name %>
      <% if event.unlisted_event? %>
        <%= icon_tag 'eye-slash-solid', data: { toggle: 'tooltip' }, title: t('visibility.unlisted') %>
      <% elsif event.private_event? %>
        <%= icon_tag 'lock-solid', data: { toggle: 'tooltip' }, title: t('visibility.private') %>
      <% end %>

      <div class="pill pill-blue">Speed Skydiving</div>

      <% if event.is_official %>
        <div class="pill pill-yellow">
          Official
        </div>
      <% end %>
    </div>

    <div class="event-info">
      <div class='text-muted'>
        <% if event.place %>
          <div class="comp-place">
            <%= icon_tag 'location-dot-solid' %>
            <%= place_presentation(event.place) %>
          </div>
        <% end %>
      </div>

      <div>
        <div class="comp-classes">
          <% categories = event.categories.order(:position) %>
          <% categories.each do |category| %>
            <%= category.name %> - <%= category.competitors.count %>
            <% unless category.equal? categories.last %>
              &nbsp; | &nbsp;
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>
