<% provide :title, "#{@event.name} - #{@event.place.name}" %>

<% content_for :head do %>
  <% provide :description,
             t('speed_skydiving_competitions.meta.description',
               event_name: @event.name,
               place: @event.place.name,
               categories: @event.categories.map(&:name).to_sentence) %>

  <meta property="twitter:card" content="summary_large_image">

  <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "SportsEvent",
      "name": "<%= @event.name %>",
      "description": "Speed skydiving competition at <%= @event.place.name %>, <%= @event.place.country_name %>.",
      "startDate": "<%= @event.starts_at&.iso8601 %>",
      "location": {
        "@type": "Place",
        "name": "<%= @event.place.name %>",
      },
      "sport": "Skydiving",
      "eventStatus": "https://schema.org/EventScheduled"
    }
  </script>
<% end %>

<% editable = @event.editable? %>
<%= turbo_stream_from @event, :actions_bar if editable %>
<%= turbo_stream_from @event, :scoreboard, editable ? :editable : :read_only %>

<div class="show-page">
  <%= render 'header', editable: %>

  <div class="show-page-content">
    <%= render 'actions_bar', event: @event if editable %>

    <% if @event.surprise? && !editable %>
      <%= render 'speed_skydiving_competitions/surprise' %>
    <% else %>
      <%= render 'speed_skydiving_competitions/scoreboard', event: @event, editable: editable && !@event.finished? %>
    <% end %>

    <div class="show-page-content">
      <%= render 'organizers/organizers', organizable: @event, editable: (editable && !@event.finished?) %>

      <%= render 'sponsors/sponsors', sponsorable: @event, editable: (editable && !@event.finished?) %>
    </div>
  </div>
</div>
