<% editable = @event.editable? %>
<%= turbo_stream_from @event, :scoreboard, editable ? :editable : :read_only %>

<div class="show-page">
  <%= render 'header', editable: %>

  <div class="show-page-content">
    <%= render 'actions_bar', event: @event if editable %>
    <% if @event.surprise? && !editable %>
      <%= render 'speed_skydiving_competitions/surprise' %>
    <% else %>
      <%= render 'speed_skydiving_competitions/scoreboard', event: @event, editable: editable && !@event.finished? %>
    <% end %>
  </div>
</div>
