<div class="show-page">
  <div class="show-page-header">
    <h1 class="show-event-title"><%= @event.name %></h1>
    <div class="show-event-info">
      <%= svg_icon 'location-dot-solid' %>
      <%= place_presentation(@event.place) %>
    </div>

    <div class="page-nav">
      <% controller_path = controller.controller_path %>
      <%= link_to speed_skydiving_competition_path(@event), class: ['page-tab', ('page-tab-active' if controller_path == 'speed_skydiving_competitions')] do %>
        <%= svg_icon 'list-ul-solid' %>
        Scoreboard
      <% end %>
    </div>
  </div>

  <div class="show-page-content">
    <%= render 'actions_bar' %>
    <%= render 'speed_skydiving_competitions/scoreboard' %>
  </div>
</div>
