<%= render 'speed_skydiving_competitions/head' %>

<% editable = @event.editable? %>
<%= turbo_stream_from @event, :actions_bar, editable ? :editable : :read_only %>
<%= turbo_stream_from @event, :scoreboard, editable ? :editable : :read_only %>

<div class="show-page">
  <%= render 'header', editable: %>

  <div class="show-page-content" data-controller="replay-scoreboard">
    <% if params[:until_round].present? %>
      <%= render 'replay_controls', event: @event, until_round: params[:until_round].to_i %>
    <% else %>
      <%= render 'actions_bar', event: @event, standings: @standings, editable: %>
    <% end %>

    <% if @event.surprise? && !editable %>
      <%= render 'speed_skydiving_competitions/surprise' %>
    <% else %>
      <%= render 'speed_skydiving_competitions/scoreboard', event: @event, editable: editable && !@event.finished?, standings: @standings %>
    <% end %>

    <div class="show-page-content">
      <%= render 'organizers/organizers', organizable: @event, editable: (editable && !@event.finished?) %>

      <%= render 'sponsors/sponsors', sponsorable: @event, editable: (editable && !@event.finished?) %>
    </div>
  </div>
</div>
