<turbo-frame id="<%= sanitize params[:frame_id] %>">
  <div class="hot-select-options">
    <% @places.group_by(&:country).each do |country, places| %>
      <div class="hot-select-option-group">
        <%= country.name %>
      </div>

      <% places.each do |place| %>
        <div class="hot-select-option" data-value="<%= place.id %>">
          <%= place.name %>
        </div>
      <% end %>
    <% end %>

    <% if @places.next_page %>
      <% frame_id = "#{sanitize params[:frame_id]}-#{@places.next_page}" %>
      <%= render 'hot_select/load_more', page: @places.next_page, frame_id: %>
    <% end %>
  </div>
</turbo-frame>
