<script type="text/javascript" charset="utf-8">
  $(document).ready(function($) {
    $(".clickableRow").click(function() {
      window.document.location = $(this).data("url");
    });
  });
</script>

<div class='page-header'>
  <h1><%=t '.title' %></h1>
</div>

<table class="table table-hover">
  <thead>
    <tr>
      <th><%=t '.number' %></th>
      <th><%=t '.name' %></th>
      <th><%=t '.elev' %></th>
      <th><%=t '.pt_cnt' %></th>
    </tr>
  </thead>
  <tbody>
    <% @tracklist.each_with_index do |item, index| %>
      <tr class='clickableRow' style='cursor: pointer' data-url="<%= new_track_path(:cache_id => @key, :index => index) %>">
        <td class="text-info"><%= index %></td>
        <td class="text-info"><%= item['name'] %></td>
        <td><p class="text-primary" style="display:inline"><%= item['h_up'] %>↑</p><p class="text-success" style="display:inline"> <%= item['h_down'] %>↓</p> <%=t 'units.m' %></td>
        <td class="text-info"><%= item['points_count'] %></td>
      </tr>
    <% end %>
  </tbody>
</table>
