<div class="modal fade" id="newEventOrgModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Добавление организатора</h4>
      </div>
      <%= form_for [@event, @org], remote: true,:html => {:class => 'form-horizontal', :role => 'form'} do |f| %>
        <div class="modal-body">
          <div class="form-group">
            <%= f.label "Пользователь", :class => 'col-sm-3 control-label', :for => 'name' %>
            <div class="col-sm-9">
              <%= f.text_field :user, :class => 'form-control user-autocomplete', :placeholder => "Начните вводить фамилию или имя" %>
            </div>
          </div>
          <div class="form-group">
            <%= f.label "Права доступа:", :class => 'col-sm-3 control-label' %>

            <div class="col-sm-9">
              <div class="checkbox">
                <label>
                  <%= f.check_box :orgs_admin %> Изменение состава организаторов
                </label>
              </div>
              <div class="checkbox">
                <label>
                  <%= f.check_box :competitors_admin %> Изменение состава участников
                </label>
              </div>
              <div class="checkbox">
                <label>
                  <%= f.check_box :rounds_admin %> Изменение состава раундов
                </label>
              </div>
              <div class="checkbox">
                <label>
                  <%= f.check_box :tracks_admin %> Загрузка треков
                </label>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
          <%= f.submit "Добавить", :class => "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>