<div class="modal fade" id="newRoundEventModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Добавление раунда</h4>
      </div>
      <%= form_for [@event, @round], remote: true,:html => {:class => 'form-horizontal', :role => 'form'} do |f| %>
        <div class="modal-body">
          <div class="form-group">
            <%= f.label 'Название раунда', :class => 'col-sm-4 control-label', :for => 'name' %>
            <div class="col-sm-8">
              <%= f.text_field :name, :class => 'form-control' %>
            </div>
          </div>
          <div class="form-group">
            <%= f.label 'Дисциплина', :class => 'col-sm-4 control-label', :for => 'place' %>
            <div class="col-sm-8">
              <%= f.collection_select :discipline, Discipline.all,
                                      :id, :name, {:promt => true}, {:class => 'form-control'} %>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
          <%= f.submit 'Добавить', :class => 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>