<div class="tabbable col-md-12">
  <ul class="nav nav-pills nav-stacked col-md-2" role="tablist">
    <li class="active">
      <a href="#1" data-toggle="tab">Заявки
        <% if @event.participation_forms.count > 0 %>
          <span class="badge pull-right">
            <%= @event.participation_forms.count %>
          </span>
        <% end %>
      </a>
    </li>
    <li><a href="#2" data-toggle="tab">Раунды</a></li>
    <li><a href="#3" data-toggle="tab">Организаторы</a></li>
    <li><a href="#4" data-toggle="tab">Описание</a></li>
  </ul>
  <div class="tab-content col-md-10">
    <div class="tab-pane active" id="1">
      <%= render :partial => 'participations_forms_table' %>
    </div>

    <div class="tab-pane" id="2">
      <%= render :partial => 'add_round_form' %>
      <%= render :partial => 'rounds_table' %>
    </div>

    <div class="tab-pane" id="3">
      <%= render :partial => 'add_org_form' %>
      <%= render :partial => 'orgs_table' %>
    </div>

    <div class="tab-pane" id="4">
      <%= render :partial => 'edit_event_form' %>
    </div>
  </div>
</div>