.modal.fade#competitor-form-modal{tabindex: '-1', role: 'dialog', aria: {labelledby: 'myModalLabel', hidden: 'true'}}
  .modal-dialog
    .modal-content
      %form.form-horizontal#competitor-form{role: 'form'}
        %input#competitor-id{type: 'hidden'}
        .modal-header
          %button.close{type: 'button', data: {dismiss: 'modal'}}
            %span{aria: {hidden: 'true'}}
              &times;
            %span.sr-only
              Close
          %h4.modal-title#competitor-form-modal-title= ''

        .modal-body
          .form-group.row
            %span.col-sm-3.control-label= t('events.show.profile')
            .col-sm-9
              %select.form-control.competitor-profile
              %input.form-control.new-profile-name
            .col-sm-9.col-sm-offset-3
              %span
                %span.toggle-profile-caption= t('events.show.profile_caption')
                %a.toggle-profile{href: '#'}= t('events.show.toggle_profile')
          .form-group
            %span.col-sm-3.control-label= t('events.show.suit')
            .col-sm-9
              %select.form-control#competitor-wingsuit
          .form-group
            %span.col-sm-3.control-label= t('events.show.section') + ':'
            .col-sm-9
              %select.form-control#competitor-section
        .modal-footer
          %input.btn.btn-primary#submit-competitor-form{type: 'submit', value: "#{t 'general.save'}"}
          %button.btn.btn-default{type: 'button', data: {dismiss: 'modal'}}= t 'general.cancel'
