%table.table.table-hover
  %thead
    %tr
      %th= '№'
      %th= t('events.show.class_comp')
      %th= t('activerecord.attributes.track.suit')
  %tbody
  - @event.competitors_table.each do |val|
    %tr
      %td.text-danger.bg-warning{:colspan => 3}= val.ws_class.to_s.capitalize
    - val.competitors.each_with_index do |comp, ind|
      %tr.clickableRow{:data => {:url => user_path(:id => comp.user_id)}}
        %td= ind + 1
        %td= comp[:name]
        %td.text-info= comp[:wingsuit]