<div class="top-buffer">
  <%= form_for @event, :html => {:class => 'form-horizontal'} do |f| %>
    <div class="form-group">
      <%= f.label t('static_pages.index.events.form.name'), :class => 'col-sm-3 control-label', :for => 'name' %>
      <div class="col-sm-9">
        <%= f.text_field :name, :class => 'form-control', :placeholder => 'Имя мероприятия', :type => 'text' %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label t('static_pages.index.events.form.place'), :class => 'col-sm-3 control-label', :for => 'place' %>
      <div class="col-sm-9">
        <%= f.text_field :place, :class => 'form-control', :placeholder => 'Локация', :type => 'text' %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label t('static_pages.index.events.form.start_at'), :class => 'col-sm-3 control-label', :for => 'start_at' %>
      <div class="col-sm-9">
        <%= f.text_field :start_at, :class => 'form-control datepicker' %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label t('static_pages.index.events.form.end_at'), :class => 'col-sm-3 control-label', :for => 'end_at' %>
      <div class="col-sm-9">
        <%= f.text_field :end_at, :class => 'form-control datepicker', :type => 'date' %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label t('static_pages.index.events.form.range_from'), :class => 'col-sm-3 control-label', :for => 'comp_range_from' %>
      <div class="col-sm-9">
        <%= f.text_field :comp_range_from, :class => 'form-control' %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label t('static_pages.index.events.form.range_to'), :class => 'col-sm-3 control-label', :for => 'comp_range_to' %>
      <div class="col-sm-9">
        <%= f.text_field :comp_range_to, :class => 'form-control' %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label 'Описание', :class => 'col-sm-3 control-label', :for => 'Description' %>
      <div class="col-sm-9">
        <%= f.text_area :descriprion, :class => 'form-control', :rows => 10 %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label 'Дополнительная информация для заявки', :class => 'col-sm-3 control-label', :for => 'form_info' %>
      <div class="col-sm-9">
        <%= f.text_area :form_info, :class => 'form-control', :rows => 10 %>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-9 col-sm-offset-3">
        <%= f.submit 'Сохранить', :class => "btn btn-primary" %>
      </div>
    </div>
  <% end %>
</div>