.modal.fade#event-form-modal{tabindex: '-1', role: 'dialog', aria: {labelledby: 'myModalLabel', hidden: 'true'}}
  .modal-dialog
    .modal-content
      %form.form-horizontal#event-form{action: '#', role: 'form'}
        %input#event-id{type: 'hidden'}

        .modal-header
          %button.close{type: 'button', data: {dismiss: 'modal'}}
            %span{aria: {hidden: 'true'}}
              &times;
            %span.sr-only
              Close
          %h4.modal-title#event-form-modal-title= ''

        .modal-body
          .form-group
            %span.col-sm-4.control-label= t('activerecord.attributes.event.name') + ':'
            .col-sm-8
              %input.form-control#event-name

          .form-group
            %span.col-sm-4.control-label= t('activerecord.attributes.event.starts_at') + ':'
            .col-sm-8
              %input.form-control.datepicker#event-starts-at

          .form-group.row
            %span.col-sm-4.control-label= t('events.show.comp_window') + ':'
            .col-sm-3
              %input.form-control#range-from
            %span.col-sm-1.text-center= ' - '
            .col-sm-3
              %input.form-control#range-to

          .form-group
            %span.col-sm-4.control-label= t('activerecord.attributes.event.place') + ':'
            .col-sm-8
              %select.form-control#event-place

          .form-group
            %span.col-sm-4.control-label= t('activerecord.attributes.event.status') + ':'
            .col-sm-8
              .btn-group{data: {toggle: "buttons"}}
                %label#draft-label.btn.btn-default
                  %input{type: "radio", name: "event-status", value: "draft", autocomplete: "off"}
                    = t('event_status.draft')
                %label#published-label.btn.btn-default
                  %input{type: "radio", name: "event-status", value: "published", autocomplete: "off"}
                    = t('event_status.published')
                %label#finished-label.btn.btn-default
                  %input{type: "radio", name: "event-status", value: "finished", autocomplete: "off"}
                    = t('event_status.finished')

          .form-group
            %span.col-sm-4.control-label= t('events.show.organizers') + ':'
            .col-sm-8
              .organizers-container
              %select.form-control.organizer-profile

        .modal-footer
          %input.btn.btn-primary#submit-event-form{data: {dismiss: 'modal'}, value: "#{t 'general.save'}"}
          %button.btn.btn-default{type: 'button', data: {dismiss: 'modal'}}= t 'general.cancel'

