- modal ||= false
- allow_change_rules ||= false

= form_for @event, remote: true, html: { class: 'form-horizontal', 'data-controller': 'events--form', role: 'form', id: "#{action_name}_event_form"} do |f|
  = display_event_form_params

  - if modal
    .modal-header
      %button.close{type: 'button', data: {dismiss: 'modal'}}
        %span{aria: {hidden: 'true'}}
          &times;
        %span.sr-only
          Close
      %h4.modal-title
        = t('activerecord.models.event') + ': '
        - if action_name == 'new'
          = t('events.index.new')
        - else
          = @event.name

  %div{class: ('modal-body' if modal)}
    .form-group
      = f.label :name, class: 'control-label col-sm-4'
      .col-sm-8
        = f.text_field :name, class: 'form-control'

    .form-group
      = f.label :starts_at, class: 'control-label col-sm-4'
      .col-sm-8
        = f.text_field :starts_at,
                       class: 'form-control',
                       value: (@event.starts_at || Date.today).strftime("%d.%m.%Y"),
                       'data-controller': 'datepicker'

    .form-group.row
      = f.label t('events.show.comp_window'), class: 'control-label col-sm-4'
      .col-sm-3
        = f.text_field :range_from, class: 'form-control', type: 'number'
      %span.col-sm-1.text-center= ' - '
      .col-sm-3
        = f.text_field :range_to, class: 'form-control', type: 'number'

    .form-group
      = f.label :place, class: 'control-label col-sm-4'
      .col-sm-8
        = f.select :place_id,
                   options_for_select([[@event.place_name, @event.place_id]], @event.place_id), 
                   { include_blank: true },
                   placeholder: t('events.show.place_placeholder'),
                   class: 'form-control',
                   'data-controller': 'select2--places'

    .form-group
      = f.label :rules, class: 'control-label col-sm-4'
      .btn-group.col-sm-8{data: {toggle: 'buttons'}}
        %label.btn.btn-default{class: ('active' if @event.rules == 'speed_distance_time'), 'data-action': 'click->events--form#on_change_rules', disabled: @event.rounds.any?}
          = f.radio_button 'rules', 'speed_distance_time'
          Speed-Distance-Time
        %label.btn.btn-default{class: ('active' if @event.rules == 'hungary_boogie'), 'data-action': 'click->events--form#on_change_rules', disabled: @event.rounds.any?}
          = f.radio_button 'rules', 'hungary_boogie'
          Hungary Boogie

    .form-group{'data-target': 'events--form.only_hungary_boogie'}
      = f.label :number_of_results_for_total, class: 'control-label col-sm-4'
      .col-sm-8
        = f.number_field :number_of_results_for_total, class: 'form-control'

    .form-group
      = f.label :visibility, class: 'control-label col-sm-4'
      .btn-group.col-sm-8{data: {toggle: 'buttons'}}
        - Event.visibilities.each do |key, _value|
          %label.btn.btn-default{ class:  ('active' if @event.visibility == key) }
            = f.radio_button 'visibility', key
            = t("activerecord.attributes.event.visibilities.#{key}")

    .form-group
      = f.label :wind_cancellation, class: 'control-label col-sm-4'
      .btn-group.col-sm-8{data: {toggle: 'buttons'}}
        %label.btn.btn-default{class: ('active' unless @event.wind_cancellation)}
          = f.radio_button 'wind_cancellation', 'false'
          = t('general.disabled')
        %label.btn.btn-default{class: ('active' if @event.wind_cancellation)}
          = f.radio_button 'wind_cancellation', 'true'
          = t('general.enabled')

  - unless modal
    %hr
  %div{class: (modal ? 'modal-footer' : 'text-right')}
    = f.submit t('general.save'), class: 'btn btn-primary'
    %button.btn.btn-default{type: 'button', data: {dismiss: 'modal'}}= t 'general.cancel'
