<% modal ||= false %>
<% allow_change_rules ||= false %>

<%= form_for @event, url: '/events/performance', remote: true, html: { class: 'form-horizontal', 'data-controller': 'events--form', role: 'form', id: "#{action_name}_event_form"} do |f| %>
  <%= display_event_form_params %>

  <% if modal %>
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">
        <span aria-hidden="true">&times;</span>
        <span class="sr-only">Close</span>
      </button>
      <h4 class="modal-title">
        <%= t('activerecord.models.event') + ': ' %>
        <% if action_name == 'new' %>
          <%= t('events.index.new') %>
        <% else %>
          <%= @event.name %>
        <% end %>
      </h4>
    </div>
  <% end %>

  <div class="<%= 'modal-body' if modal %>">
    <div class="form-group">
      <%= f.label :name, class: 'control-label col-sm-4' %>
      <div class="col-sm-8">
        <%= f.text_field :name, class: 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :starts_at, class: 'control-label col-sm-4' %>
      <div class="col-sm-8">
        <%= f.text_field :starts_at, class: 'form-control', value: (@event.starts_at || Date.today).strftime("%d.%m.%Y"), 'data-controller': 'datepicker' %>
      </div>
    </div>

    <div class="form-group row">
      <%= f.label t('events.show.comp_window'), class: 'control-label col-sm-4' %>
      <div class="col-sm-3">
        <%= f.text_field :range_from, class: 'form-control', type: 'number' %>
      </div>
      <span class="col-sm-1 text-center"> - </span>
      <div class="col-sm-3">
        <%= f.text_field :range_to, class: 'form-control', type: 'number' %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :place, class: 'control-label col-sm-4' %>
      <div class="col-sm-8">
        <% options = options_for_select([[@event.place_name, @event.place_id]], @event.place_id) %>
        <%= render 'hot_select/select',
                   form: f,
                   name: :place_id,
                   options: options,
                   placeholder: t('events.show.place_placeholder'),
                   src: places_select_options_path,
                   class: 'form-input' %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :rules, class: 'control-label col-sm-4' %>
      <div class="btn-group col-sm-8" data-toggle="buttons">
        <label class="btn btn-default <%= 'active' if @event.rules == 'speed_distance_time' %>" data-action="click->events--form#on_change_rules" disabled="<%= @event.rounds.any? %>">
          <%= f.radio_button 'rules', 'speed_distance_time' %>
          Speed-Distance-Time
        </label>
        <label class="btn btn-default <%= 'active' if @event.rules == 'hungary_boogie' %>" data-action="click->events--form#on_change_rules" disabled="<%= @event.rounds.any? %>">
          <%= f.radio_button 'rules', 'hungary_boogie' %>
          Hungary Boogie
        </label>
      </div>
    </div>

    <div class="form-group" data-events--form-target="only_hungary_boogie">
      <%= f.label :number_of_results_for_total, class: 'control-label col-sm-4' %>
      <div class="col-sm-8">
        <%= f.number_field :number_of_results_for_total, class: 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :use_teams, class: 'control-label col-sm-4' %>
      <div class="btn-group col-sm-8" data-toggle="buttons">
        <label class="btn btn-default <%= 'active' unless @event.use_teams %>">
          <%= f.radio_button :use_teams, false %>
          <%= t('general.disabled') %>
        </label>
        <label class="btn btn-default <%= 'active' if @event.use_teams %>">
          <%= f.radio_button :use_teams, true %>
          <%= t('general.enabled') %>
        </label>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :visibility, class: 'control-label col-sm-4' %>
      <div class="btn-group col-sm-8" data-toggle="buttons">
        <% Event.visibilities.each do |key, _value| %>
          <label class="btn btn-default <%= 'active' if @event.visibility == key %>">
            <%= f.radio_button 'visibility', key %>
            <%= t("activerecord.attributes.event.visibilities.#{key}") %>
          </label>
        <% end %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :wind_cancellation, class: 'control-label col-sm-4' %>
      <div class="btn-group col-sm-8" data-toggle="buttons">
        <label class="btn btn-default <%= 'active' unless @event.wind_cancellation %>">
          <%= f.radio_button 'wind_cancellation', 'false' %>
          <%= t('general.disabled') %>
        </label>
        <label class="btn btn-default <%= 'active' if @event.wind_cancellation %>">
          <%= f.radio_button 'wind_cancellation', 'true' %>
          <%= t('general.enabled') %>
        </label>
      </div>
    </div>
  </div>

  <% unless modal %>
    <hr>
  <% end %>
  <div class="<%= modal ? 'modal-footer' : 'text-right' %>">
    <%= f.submit t('general.save'), class: 'btn btn-primary' %>
    <button type="button" class="btn btn-default" data-dismiss="modal"><%= t 'general.cancel' %></button>
  </div>
<% end %>
