.modal.fade#newCompetitorModal{:tabindex => '-1', :role => 'dialog', :aria => {:labelledby => 'myModalLabel', :hidden => 'true'}}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{:type => 'button', :data => {:dismiss => 'modal'}}
          %span{:aria => {:hidden => 'true'}}
            &times;
            %span.sr-only= 'Close'
        %h4.modal-title#myModalLabel= 'New competitor'
      = form_for [@event, @competitor], :html => {:class => 'form-horizontal', :role => 'form'} do |f|
        .modal-body

          .form-group
            -#= f.label 'Name:', :class => 'col-sm-4 control-label', :for => 'name'
            .col-sm-12
              .input-group
                %span.input-group-addon
                  = radio_button_tag 'registered_user', true, true
                = f.text_field :name, :class => 'form-control user-autocomplete', :placeholder => 'Registered user', :data => {:idfield => '#comp-user-id'}
                = hidden_field_tag 'user_id', nil, :id => 'comp-user-id'
                %span.input-group-addon
                  = radio_button_tag 'registered_user', false
                = f.text_field :name, :class => 'form-control', :placeholder => 'Not-registered user'
          .form-group
            -#= f.label 'Suit:', :class => 'col-sm-4 control-label', :for => 'place'
            .col-sm-12
              = f.text_field :wingsuit, :class => 'form-control wingsuit-autocomplete', :placeholder => 'Wingsuit', :data => {:idfield => '#comp-wingsuit-id'}
              = hidden_field_tag 'wingsuit_id', nil, :id => 'comp-wingsuit-id'
        .modal-footer
          %button.btn.btn-default{:type => 'button', :data => {:dismiss => 'modal'}}= t('general.cancel')
          = f.submit t('general.create'), :class => 'btn btn-primary'