<h2>Организаторы</h2>

<table class="table table-hover">
  <thead>
  <tr>
    <th>Организаторы</th>
    <th>Изм. организаторов</th>
    <th>Изм. раундов</th>
    <th>Изм. соревнующихся</th>
    <th>Изм. треков</th>
    <th>Действия</th>
  </tr>
  </thead>
  <tbody>s
  <% @event.organizers.each do |t| %>
    <tr class='clickableRow' style="cursor: pointer" data-url="<%= event_organizer_path(:id => t.id, :event_id => @event.id) %>">
      <td class='text-info'><%= t.user.user_profile.name %></td>
      <td class='text-info'><%= t.orgs_admin %></td>
      <td class='text-info'><%= t.rounds_admin %></td>
      <td class='text-info'><%= t.competitors_admin %></td>
      <td class='text-info'><%= t.tracks_admin %></td>
      <td class='text-info'></td>
    </tr>
  <% end %>
  </tbody>
</table>

<!-- Button trigger modal -->
<button class="btn btn-default" data-toggle="modal" data-target="#newEventOrgModal">
  Добавить организатора
</button>

<hr>