<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><%= pf.user.user_profile.name %></h3>
  </div>
  <div class="panel-body">

    <div class="col-md-2">
      <% if pf.user.user_profile %>
        <%= image_tag(pf.user.user_profile.userpic.url(:thumb), :class => 'img-rounded') %>
      <% else %>
        <%= image_tag '/images/thumb/missing.png', :class => 'img-responsive img-rounded' %>
      <% end %>
    </div>

    <div class="col-md-8">
      <div class="container">
        <strong>Прыжков всего/за 12 мес./в вингсьюте:</strong>
        <%= pf.user.user_profile.jumps_total if pf.user.user_profile %> /
        <%= pf.user.user_profile.jumps_last_year if pf.user.user_profile %> /
        <%= pf.user.user_profile.jumps_wingsuit if pf.user.user_profile %>
        <br>
        <strong>Вингсьют/Класс:</strong> <%= pf.wingsuit.name %> ( <%= pf.wingsuit.ws_class.name %> )
        <br>
        <strong>Дополнительная информация:</strong> <%= simple_format pf.additional_info %>
      </div>
    </div>

    <% if pf.status.eql? 'declined' %>
      <div class="col-md-2">
        <button class="btn btn-danger disabled">Отклонена</button>
      </div>
    <% elsif pf.status.eql? 'approved' %>
      <div class="col-md-2">
        <button class="btn btn-success disabled">Подтверждена</button>
      </div>
    <% else %>
      <div class="col-md-2" id="pf_<%= pf.id %>_actions">
        <%= form_for [@event, pf], :url => {:controller => 'participation_forms', :action => 'approve', :event_id => @event.id, :id => pf.id}, :html => {:role => 'form'} do |f| %>
          <%= f.submit 'Подтвердить', :class => 'btn btn-primary' %>
        <% end %>
        <br>
        <%= form_for [@event, pf], remote: true, :url => {:controller => 'participation_forms', :action => 'decline', :event_id => @event.id, :id => pf.id}, :html => {:role => 'form'} do |f| %>
          <%= f.submit 'Отклонить', :class => 'btn btn-primary' %>
        <% end %>
      </div>
    <% end %>

  </div>
</div>