.container.top-buffer

  - if policy(Event).create?
    = link_to(new_event_path, remote: true, class: 'btn btn-default btn-info') do
      %i.fa.fa-plus
      = t('activerecord.models.event')
  - else
    %span= t('.sign_in_to_create')

  .top-buffer
  .content-block
    %ul.comp-list
      - @events.each do |event_entity|
        = render event_entity.event

  .text-center.top-buffer
    .pagination-list
      = will_paginate @events, renderer: BootstrapPagination::Rails
