.container.top-buffer

  - if current_user
    %a.btn.btn-default.btn-info{:href => new_event_path}
      %i.fa.fa-plus
      = 'Competition'
  - else
    %span= 'Creating classic competitions available only for registered users.'

  %h2= 'Online competitions:'
  %table.table.table-hover
    %tbody
      - VirtualCompetition.order(:name).each do |comp|
        %tr.clickableRow{data: {url: virtual_competition_path(comp.id)}}
          %td.text-info
            = competition_title(comp)
  %h2= 'Classic competitions:'
  %table.table.table-hover
    %tbody
      - @events.each do |e|
        %tr.clickableRow{data: {url: event_path(id: e.id)}}
          %td.text-info= e.name
