<%- model_class = Event -%>

<div class="row">
  <div class='page-header col-md-12'>
    <div class="col-md-10">
      <h1>Событие: <%= @event.name %> <small>До начала <%= (@event.start_at - Time.zone.now).to_i / 1.day %> дн.</small></h1>
    </div>
    <div class="col-md-2">
      <button class='btn btn-success event-request' data-toggle="modal" data-target="#newParticipationFormModal">
        Заявка на участие
      </button>
    </div>
  </div>
</div>

<%= render :partial => 'new_participation_form' %>

<div class="tabbable">
  <ul class="nav nav-tabs" id="tabs" data-tabs="tabs">
    <li class="disabled"><a href="#results">Результаты</a></li>
    <li class="active"><a href="#overview" data-toggle="tab">Обзор</a></li>
    <li><a href="#competitors" data-toggle="tab">Участники</a></li>
    <li><a href="#admin" data-toggle="tab">Администрирование</a></li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane" id="results">
      <h2>Результаты соревнований</h2>
    </div>
    <div class="tab-pane active" id="overview">
      <h2>Описание</h2>
      <%= simple_format @event.descriprion %>
    </div>
    <div class="tab-pane" id="competitors">
      <%= render :partial => 'competitors_table' %>
    </div>
    <div class="tab-pane" id="admin">
      <%= render :partial => 'admin_tab' %>
    </div>
  </div>
</div>