- provide :title, @event.name
- can_manage = can? :update, @event

.event-data{data: {details: event_details,
                   can_manage: can_manage.to_s }}

.container.top-buffer#event
  .row
    .col-md-8.col-md-offset-2.text-center
      %h1
        %span#title-competition-name= @event.name

      %h3#title-competition-range= "#{t('.comp_window')}: #{@event.range_from} - #{@event.range_to} #{t('units.m')}"
      %h3#title-competition-place
    .col-md-2
      .pull-right#edit-event-commands

  .row#edit-table-commands
  .row.top-buffer
    .col-md-12
      %table.table.table-bordered#results-table
  .row
    .col-md-12
      %h4= t('.judges') + ':'
      %ol#judges-list
      - if can_manage
        %a.add-organizer{href: '#'}
          %i.fa.fa-plus
          = t('.add_judge')
  .row.top-buffer
    .col-md-12
      %h4= t('.event_sponsors') + ':'
  .row#sponsors

  - if can_manage
    %a.add-sponsor{href: '#'}
      %i.fa.fa-plus
      = t('.add_sponsor')

-# Modals

= render 'show_result_modal'
- if can? :update, @event
  = render 'new_result_modal'
  = render 'progress_modal'
