<%- model_class = Event -%>

<div class="row">
  <div class='page-header col-md-12'>
    <div class="col-md-10">
      <h1>Событие: <%= @event.name %> <small>До начала <%= (@event.start_at - Time.zone.now).to_i / 1.day %> дн.</small></h1>
    </div>
    <div class="col-md-2">
      <% if current_user %>
        <% if current_user.pf_status(@event) == 'active' %>
          <button class="btn btn-default event-request disabled">
            Заявка в обработке
          </button>
        <% elsif current_user.pf_status(@event) == 'approved' %>
          <button class="btn btn-success event-request disabled">
            Заявка подтверждена
          </button>
        <% elsif current_user.pf_status(@event) == 'declined' %>
          <button class="btn btn-danger event-request disabled">
            Заявка отклонена
          </button>
        <% else %>
          <button class='btn btn-success event-request' data-toggle="modal" data-target="#newParticipationFormModal">
            <span class="glyphicon glyphicon-plus"></span> Заявка на участие
          </button>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<% if current_user %>
  <%= render :partial => 'new_participation_form' %>
<% end %>

<div class="tabbable">
  <ul class="nav nav-tabs" id="tabs" data-tabs="tabs">
    <li class="disabled"><a href="#results">Результаты</a></li>
    <li class="active"><a href="#overview" data-toggle="tab">Информация</a></li>
    <li class="disabled"><a>Правила</a></li>
    <li class="disabled"><a>Информация об аэродроме и выброске</a></li>
    <li><a href="#competitors" data-toggle="tab">Участники</a></li>
    <% if current_user && current_user.event_admin?(@event) %>
      <li><a href="#admin" data-toggle="tab">Управление</a></li>
    <% end %>
  </ul>

  <div class="tab-content">
    <div class="tab-pane" id="results">
      <h2>Результаты соревнований</h2>
    </div>
    <div class="tab-pane active" id="overview">
      <h2>Описание</h2>
      <%= simple_format @event.descriprion %>
    </div>
    <div class="tab-pane" id="competitors">
      <%= render :partial => 'competitors_table' %>
    </div>
    <% if current_user && current_user.event_admin?(@event) %>
      <div class="tab-pane" id="admin">
        <%= render :partial => 'admin_tab' %>
      </div>
    <% end %>
  </div>
</div>