- provide :title, @event.name

.event-data{data: {details: event_details,
                   can_manage: can?(:update, @event).to_s }}

.container.top-buffer
  .row
    .col-md-8.col-md-offset-2.text-center
      %h1
        %span#title-competition-name= @event.name

      %h3#title-competition-range= "#{t('.comp_window')} #{@event.range_from} - #{@event.range_to} #{t('units.m')}"
    .col-md-2
      .pull-right#edit-event-commands

  .row#edit-table-commands
  .row.top-buffer
    .col-md-12
      %table.table.table-bordered#results-table

-# Modals
= event_settings_modal
= section_modal
= competitor_modal
= round_modal
= result_modal
