<% provide :title, @event.name %>
<% can_manage = policy(@event).update? %>

<div class="show-page">
  <%= render 'header', editable: can_manage %>

  <div class="show-page-content">
    <% if can_manage %>
      <%= render 'actions_bar', event: @event %>
    <% end %>
  </div>

  <div class="show-page-content">
    <% if !@event.surprise? || can_manage %>
      <%= render @scoreboard, can_manage: can_manage %>
    <% else %>
      <h1 class="text-muted text-center">🙅 Let it be a Surprise</h1>
    <% end %>

    <% if @scoreboard.wind_cancellation %>
      <div class="row">
        <div class="col-md-12" id="event-wind-cancellation-caption">
          <span><%= t('events.show.wind_cancellation_enabled') %></span>
          <span>
            <%= t('events.show.results_showing') %>
            <% if @scoreboard.display_raw_results? %>
              <%= link_to t('events.show.results_adjusted_caption'), display_event_params.merge(display_raw_results: false), remote: true %>
              /
              <b><%= t('events.show.results_not_adjusted_caption') %></b>
            <% else %>
              <b><%= t('events.show.results_adjusted_caption') %></b> /
              <%= link_to t('events.show.results_not_adjusted_caption'), display_event_params.merge(display_raw_results: true), remote: true %>
            <% end %>
          </span>
        </div>
      </div>
    <% end %>

    <div class="show-page-content">
      <%= render 'organizers/organizers', organizable: @event, editable: (can_manage && !@event.finished?) %>

      <%= render 'sponsors/sponsors', sponsorable: @event, editable: (can_manage && !@event.finished?) %>
    </div>
  </div>

  <% content_for :page_js do %>
    <script>
      <%= render partial: 'show_controls', formats: [:js] %>
    </script>
  <% end %>

</div>
