.row
  .page-header.col-md-12
    .col-md-10
      %h1
        = 'Событие:'
        = @event.name
        - if Time.zone.now < @event.start_at
          %small= "До начала #{(@event.start_at - Time.zone.now).to_i / 1.day} дн."

    .col-md-2
      - if current_user
        - if current_user.pf_status(@event) == 'active'
          %button.btn.btn-default.event-request.disabled= 'Заявка в обработке'

        - elsif current_user.pf_status(@event) == 'approved'
          %button.btn.btn-success.event-request.disabled= 'Заявка подтверждена'

        - elsif current_user.pf_status(@event) == 'declined'
          %button.btn.btn-danger.event-request.disabled= 'Заявка отклонена'

        - else
          %button.btn.btn-success.event-request{:data => {:toggle => 'modal', :target => '#newParticipationFormModal'}}
            %i.fa.fa-plus
            = 'Заявка на участие'
      - else
        %button.btn.btn-success.event-request{:data => {:toggle => 'modal', :target => '#newParticipationFormModal'}}
          %i.fa.fa-plus
          = 'Заявка на участие'

- if current_user && current_user.completed_profile?
  = render :partial => 'participation_forms/new'
- elsif current_user
  = render :partial => 'user_profile/complete_profile'
- else
  = render :partial => 'users/sign_in_sign_up_modal'

.tabbable
  %ul.nav.nav-tabs#tabs{:data => {:tabs => 'tabs'}}
    %li
      %a{:href => '#results', :data => {:toggle => 'tab'}}= 'Результаты'
    %li.active
      %a{:href => '#overview', :data => {:toggle => 'tab'}}= 'Информация'
    %li
      %a{:href => '#docs', :data => {:toggle => 'tab'}}= 'Документы'
    %li
      %a{:href => '#dz_info', :data => {:toggle => 'tab'}}= 'Информация об аэродроме'
    %li
      %a{:href => '#competitors', :data => {:toggle => 'tab'}}= 'Участники'
    - if current_user && current_user.event_admin?(@event)
      %li
        %a{:href => '#admin', :data => {:toggle => 'tab'}}= 'Управление'

  .tab-content
    .tab-pane#results
      %h2= 'Результаты соревнований'
      - if current_user && current_user.event_admin?(@event)
        = render :partial => 'event_tracks/new_track'
      = render :partial => 'event_tracks/results_table'

    .tab-pane.active#overview
      %h2= 'Описание'
      = simple_format @event.descriprion

    .tab-pane#docs
      %h2= 'Документы'
      = render :partial => 'event_documents/docs_table', :locals => {:show_delete_link => false}

    .tab-pane#dz_info
      = simple_format @event.dz_info

    .tab-pane#competitors
      = render :partial => 'competitors_table'

    - if current_user && current_user.event_admin?(@event)
      .tab-pane#admin
        = render :partial => 'admin_tab'