.container.top-buffer
  .row
    .page-header.col-md-12
      .col-md-10
        %h1
          = @event.name
          - if Time.zone.now < @event.start_at
            %small= "До начала #{(@event.start_at - Time.zone.now).to_i / 1.day} дн."

      .col-md-2
        - if current_user
          - if current_user.pf_status(@event) == 'active'
            %button.btn.btn-default.event-request.disabled= t('events.show.pf.in_process')

          - elsif current_user.pf_status(@event) == 'approved'
            %button.btn.btn-success.event-request.disabled= t('events.show.pf.approved')

          - elsif current_user.pf_status(@event) == 'declined'
            %button.btn.btn-danger.event-request.disabled= t('events.show.pf.declined')

          - else
            - if @event.reg_starts && @event.reg_ends
              - if Time.zone.now > @event.reg_starts && Time.zone.now < @event.reg_ends
                %button.btn.btn-success.event-request{:data => {:toggle => 'modal', :target => '#newParticipationFormModal'}}
                  %i.fa.fa-plus
                  = t('events.show.pf.title')
              - elsif Time.zone.now > @event.reg_ends
                %button.btn.btn-default.event-request.disabled= t('events.show.reg.finished')
              - else
                %button.btn.btn-default.event-request.disabled= t('events.show.reg.not_starts')
            - else
              %button.btn.btn-success.event-request{:data => {:toggle => 'modal', :target => '#newParticipationFormModal'}}
                %i.fa.fa-plus
                = t('events.show.pf.title')
        - else
          - if @event.reg_starts && @event.reg_ends
            - if Time.zone.now > @event.reg_starts && Time.zone.now < @event.reg_ends
              %button.btn.btn-success.event-request{:data => {:toggle => 'modal', :target => '#newParticipationFormModal'}}
                %i.fa.fa-plus
                = t('events.show.pf.title')
            - elsif Time.zone.now > @event.reg_ends
              %button.btn.btn-default.event-request.disabled= t('events.show.reg.finished')
            - else
              %button.btn.btn-default.event-request.disabled= t('events.show.reg.not_starts')
          - else
            %button.btn.btn-success.event-request{:data => {:toggle => 'modal', :target => '#newParticipationFormModal'}}
              %i.fa.fa-plus
              = t('events.show.pf.title')

  - if current_user && current_user.completed_profile?
    = render :partial => 'participation_forms/new'
  - elsif current_user
    = render :partial => 'user_profile/complete_profile'
  - else
    = render :partial => 'users/sign_in_sign_up_modal'

  .tabbable
    %ul.nav.nav-tabs#tabs{:data => {:tabs => 'tabs'}}
      %li
        %a{:href => '#results', :data => {:toggle => 'tab'}}= t('events.show.results')
      %li.active
        %a{:href => '#overview', :data => {:toggle => 'tab'}}= t('events.show.overview')
      %li
        %a{:href => '#docs', :data => {:toggle => 'tab'}}= t('events.show.docs')
      %li
        %a{:href => '#dz_info', :data => {:toggle => 'tab'}}= t('events.show.dz_info')
      %li
        %a{:href => '#competitors', :data => {:toggle => 'tab'}}= t('events.show.competitors')
      - if current_user && current_user.event_admin?(@event)
        %li
          %a{:href => '#admin', :data => {:toggle => 'tab'}}= t('events.show.managing')

    .tab-content
      .tab-pane#results
        %h2= 'Результаты соревнований'
        - if current_user && current_user.event_admin?(@event)
          = render :partial => 'event_tracks/new_track'
        = render :partial => 'event_tracks/results_table'

      .tab-pane.active#overview
        %h2= 'Описание'
        = simple_format @event.descriprion

      .tab-pane#docs
        %h2= 'Документы'
        = render :partial => 'event_documents/docs_table', :locals => {:show_delete_link => false}

      .tab-pane#dz_info
        = simple_format @event.dz_info

      .tab-pane#competitors
        = render :partial => 'competitors_table'

      - if current_user && current_user.event_admin?(@event)
        .tab-pane#admin
          = render :partial => 'admin_tab'