<% provide :title, @event.name %>
<% can_manage = @event.editable? %>

<div class="show-page">
  <%= render 'header', editable: can_manage %>

  <% if can_manage || @event.wind_cancellation %>
    <div class="show-page-content">
      <%= render 'actions_bar', event: @event, editable: can_manage %>
    </div>
  <% end %>

  <div class="show-page-content">
    <% if !@event.surprise? || can_manage %>
      <%= render @scoreboard, can_manage: can_manage %>
    <% else %>
      <h1 class="text-muted text-center">🙅 Let it be a Surprise</h1>
    <% end %>

    <div class="show-page-content">
      <%= render 'organizers/organizers', organizable: @event, editable: (can_manage && !@event.finished?) %>

      <%= render 'sponsors/sponsors', sponsorable: @event, editable: (can_manage && !@event.finished?) %>
    </div>
  </div>
</div>
