- provide :title, @event.name

- units = {:time => t('units.t_unit'), :distance => t('units.kmh'), :speed => t('units.m')}
.event-data{:data => {:details => event_details, :units => units.to_json, :locale => locale, :can_manage => can?(:update, @event).to_s }}

.container.top-buffer
  .row
    .col-md-12.text-center
      %h1
        %span#title-competition-name= @event.name

      %h3#title-competition-range= "Соревновательный диапазон: #{@event.range_from} - #{@event.range_to} м"

  .row#event-edit-commands
  .row.top-buffer
    .col-md-12
      %table.table.table-bordered#results-table

-# Modals
= event_settings_modal
= section_modal
= competitor_modal
= round_modal
= result_modal
