- provide :title, @event.name

.event-data{data: {details: event_details,
                   can_manage: can?(:update, @event).to_s }}

.container.top-buffer
  .row
    .col-md-8.col-md-offset-2.text-center
      %h1
        %span#title-competition-name= @event.name

      %h3#title-competition-range= "#{t('.comp_window')} #{@event.range_from} - #{@event.range_to} #{t('units.m')}"
      %h3#title-competition-place
    .col-md-2
      .pull-right#edit-event-commands

  .row#edit-table-commands
  .row.top-buffer
    .col-md-12
      %table.table.table-bordered#results-table
  .row
    .col-md-12
      %h4= t('.judges') + ':'
      %ol#judges-list

-# Modals
= render 'show_result_modal'
- if can? :update, @event
  = render 'event_settings_modal'
  = render 'competitor_modal'
  = render 'section_modal'
  = render 'new_result_modal'
  = render 'progress_modal'
