.modal-dialog.modal-lg
  .modal-content
    .modal-header
      %button.close{type: 'button', 'data-dismiss' => 'modal'}
        %span{'aria-hidden' => 'true'}
          &times;
        %span.sr-only
          Close
      .row
        .col-sm-4
          %h4.modal-title
            = t('weather_datum.modal_title')

        .col-sm-7

          .btn-group.btn-group-xs
            %button.btn.btn-default.altitude-units{'data-toggle' => 'dropdown'}
              %span
                = "#{t('weather_datum.altitude_units')}: #{t('units.' + @view_units[:altitude])}"
                %i.fa.fa-caret-down
            %ul.dropdown-menu{role: 'menu'}
              - ['m', 'ft'].each do |unit|
                %li{class: ('active' if @view_units[:altitude] == unit)}
                  = link_to t("units.#{unit}"), polymorphic_path([@weather_datumable, :weather_data], index_params.merge(altitude_unit: unit)), remote: true

          .btn-group.btn-group-xs
            %button.btn.btn-default.wind-speed-units{'data-toggle' => 'dropdown'}
              %span= "#{t('weather_datum.wind_speed_units')}: #{t('units.' + @view_units[:wind_speed])}"
              %i.fa.fa-caret-down
            %ul.dropdown-menu{role: 'menu'}
              - ['ms', 'knots', 'kmh', 'mph'].each do |unit|
                %li{class: ('active' if @view_units[:wind_speed] == unit)}
                  = link_to t("units.#{unit}"), polymorphic_path([@weather_datumable, :weather_data], index_params.merge(wind_speed_unit: unit)), remote: true

    .modal-body
      = render @weather_data
