-# 't'/'f' is using instead of true/false, because it will be impossible
-# to use ||= on false value. it will set true every time.
- editable ||= 't'
- except_columns ||= []

#weather-table.table
  .thead
    .tr
      - unless except_columns.include? :actual_on
        .th= t('weather_datum.actual_on')
      .th.text-right= t('weather_datum.altitude')
      .th.text-right= t('weather_datum.wind_speed')
      .th.text-right= t('weather_datum.wind_direction')
      .th

  .tbody
    = render weather_data, editable: editable, except_columns: except_columns
    - if can?(:update, @weather_datumable) && editable == 't'
      = render 'form_row', except_columns: except_columns
