<%# locals: (message:, type: 'info', errors: nil) %>

<div class="toast" data-toasts-target="toast">
  <% if type == 'error' %>
    <div class="toast-icon icon-red">
      <%= icon_tag 'circle-xmark-solid' %>
    </div>
  <% elsif type == 'success' %>
    <div class="toast-icon icon-green">
      <%= icon_tag 'circle-check-regular' %>
    </div>
  <% end %>

  <div class="toast-message">
    <%= message %>
    <% if errors %>
      <ul class="toast-errors">
        <% errors.each do |error| %>
          <li><%= error %></li>
        <% end %>
      </ul>
    <% end %>
  </div>

  <div class="toast-actions">
    <button class="toast-dismiss" data-action="toasts#dismissClick">
      <%= icon_tag 'xmark' %>
    </button>
  </div>
</div>
