.modal-dialog
  .modal-content
    = form_for [@tournament, @competitor], remote: true, html: {class: 'form-horizontal'} do |f|
      .modal-header
        %button.close{type: 'button', data: {dismiss: 'modal'}}
          %span{aria: {hidden: 'true'}}
            &times;
          %span.sr-only
            Close
        %h4.modal-title
          = t('activerecord.models.tournament_competitor') + ': ' 
          - if @competitor.new_record?
            = t('events.index.new')
          - else
            = @competitor.name

      .modal-body
        .radio
          = f.label :profile_mode, value: :select do
            = f.radio_button :profile_mode, :select, checked: true
            = t('competitors.form.select_profile')
        .form-group
          = f.label :profile, class: 'control-label col-sm-4'
          .col-sm-8
            = f.select :profile_id,
                       options_for_select([[@competitor.name, @competitor.profile_id]]), 
                       {},
                       class: 'form-control'

        .radio
          = f.label :profile_mode, value: :create do
            = f.radio_button :profile_mode, :create
            = t('competitors.form.create_profile')

        = f.fields_for :profile_attributes do |builder|
          .form-group
            = builder.label :name, 
                            t('activerecord.attributes.profile.name'), 
                            class: 'control-label col-sm-4'
            .col-sm-8
              = builder.text_field :name, class: 'form-control'
          .form-group
            = builder.label :country,
                            t('activerecord.attributes.profile.country'),
                            class: 'control-label col-sm-4'
            .col-sm-8
              = builder.select :country_id,
                               options_for_select([[@competitor.country_name, @competitor.country_id]]),
                               {},
                               class: 'form-control'

        %hr
        .form-group
          = f.label :wingsuit, class: 'control-label col-sm-4'
          .col-sm-8
            = f.select :wingsuit_id,
                       options_for_select([[@competitor.wingsuit_name, @competitor.wingsuit_id]]), 
                       {},
                       class: 'form-control'

        - unless @competitor.new_record?
          %hr
          .form-group
            = f.label :is_disqualified, class: 'control-label col-sm-4'
            .col-sm-8
              .checkbox
                %label
                  = f.check_box :is_disqualified

          .form-group
            = f.label :disqualification_reason, class: 'control-label col-sm-4'
            .col-sm-8
              = f.text_field :disqualification_reason, class: 'form-control'


      .modal-footer
        = f.submit t('general.save'), class: 'btn btn-primary'
        %button.btn.btn-default{type: 'button', data: {dismiss: 'modal'}}= t 'general.cancel'

:javascript
  Skyderby.helpers.ProfileSelect($('select[name="tournament_competitor[profile_id]"]'));
  Skyderby.helpers.SuitSelect($('select[name="tournament_competitor[wingsuit_id]"]'));
  Skyderby.helpers.CountrySelect($('select[name="tournament_competitor[profile_attributes][country_id]"]'));
