<div class="container-fluid">
  <div class="col-sm-12" data-controller="tournaments--match-globe"
       data-url="<%= url_for %>"
       data-action="cesium_api:ready@window->tournaments--match-globe#onCesiumReady cesium_api:failed@window->tournaments--match-globe#onCesiumFailed">
    <div id="match-globe" data-tournaments--match-globe-target="viewer">
      <div id="track-map-loading" class="text-muted" data-tournaments--match-globe-target="loadingProgress">
        <div id="track-map-loading-api" class="icon-2x">
          <%= icon_tag 'circle-notch-solid', class: 'icon--fw icon-spin' %>
          <span data-tournaments--match-globe-target="cesiumStatus"></span>
          Loading Cesium API
        </div>
        <div id="track-map-loading-data" class="icon-2x">
          <%= icon_tag 'circle-notch-solid', class: 'icon--fw icon-spin' %>
          <span data-tournaments--match-globe-target="dataStatus"></span>
          Loading map data
        </div>
      </div>
    </div>
  </div>

  <div class="center-block text-center top-buffer">
    <% @match_map.competitors.each do |competitor| %>
      <span>
        <%= icon_tag 'circle-regular', class: 'icon--fw', style: "color: #{competitor.color}" %>
        <span><%= competitor.name %></span>
      </span>
    <% end %>
  </div>
</div>
