<% url = speed_skydiving_competition_team_competitors_path(@event) %>

<%= form_with url:, class: 'sd-form', data: { controller: 'modal-form', action: 'form:submit-success->modal#close' } do |f| %>
  <div class="grid">
    <%= f.label :team_id, class: 'form-label col-4' %>
    <% options = options_from_collection_for_select(@teams, :id, :name, @teams.to_a.first) %>
    <%= render 'hot_select/local_select', form: f, name: :team_id, options:, class: 'col-8' %>
  </div>

  <div class="grid">
    <%= f.label :competitor_id, class: 'form-label col-4' %>
    <% options = options_from_collection_for_select(@competitors, :id, :name, @competitors.to_a.first) %>
    <%= render 'hot_select/local_select', form: f, name: :competitor_id, options:, class: 'col-8' %>
  </div>


  <div class="form-actions">
    <%= f.submit t('general.save'), class: 'button button--primary' %>
    <button type="button" class="button" data-action="modal#close"><%= t 'general.cancel' %></button>
  </div>
<% end %>
