.user{data: {id: @profile.id, tracks: user_tracks}}
.container.top-buffer
  .row
    .col-sm-2.col-md-2
      .top-buffer.userpic-container.text-center
        = image_tag(@profile.userpic.url(:medium), :class => 'img-responsive img-rounded loading-bg')
        -# .edit-userpic
        -#   %span= 'Click to edit'

    .col-sm-10.col-md-10
      .row
        .col-sm-10.col-md-11
          %h1
            = profile_name
        .col-sm-2.col-md-1
          - if can? :update, @profile
            = link_to content_tag(:span, nil, :class => 'fa fa-pencil'),
                      edit_user_profile_path(@profile),
                      :class => 'btn btn-default edit'
      .row
        - @profile.badges.each do |badge|
          %span.badge
            %i.fa.fa-certificate{class: badge.kind}
            = badge.name
      .row
        .col-sm-4.col-md-3
          .param-val
            #distance.avg-val.fa-3x= max_distance
            .dst-unit.fa-2x= t 'units.m'
          .param
            %i.fa.fa-fw.fa-lg.fa-arrows-h
            =t 'tracks.show.dt_dist'
        .col-sm-4.col-md-3
          .param-val
            #speed.avg-val.fa-3x= max_speed
            .spd-unit.fa-2x=t 'units.kmh'
          .param
            %i.fa.fa-fw.fa-lg.fa-long-arrow-right
            =t 'tracks.show.dt_hspd'
        .col-sm-4.col-md-3
          .param-val
            #time.avg-val.fa-3x= max_time
            .time-unit.fa-2x= t 'units.t_unit'
          .param
            %i.fa.fa-fw.fa-lg.fa-clock-o
            =t 'tracks.show.dt_dur'

  %hr
  .row
    .col-md-2
      -# .bg-info.text-info{style: 'height:400px; width: 150px; margin-top:36px'}
      -#   = 'Какая-нибудь реклама'
    .col-md-10
      %table#user-tracks-table.table.table-hover
        %thead
          %tr
            %th= t('activerecord.attributes.track.id')
            %th= t('activerecord.attributes.track.suit')
            %th= t('activerecord.attributes.track.place')
            %th.text-right= t('disciplinse.distance')
            %th.text-right= t('disciplinse.speed')
            %th.text-right= t('disciplinse.time')
            %th= t('activerecord.attributes.track.comment')
            %th.text-right= t('activerecord.attributes.track.uploaded_at')
        %tbody
          - groups = profile_tracks.group_by { |x| x.created_at.beginning_of_month }
          - groups.each do |group, tracks|
            %tr.bg-warning.text-danger.no-hover
              %td{colspan: 8}
                = l(group,
                   format: '%B %Y', 
                   locale: params[:locale])
            - tracks.each do |track|
              %tr.clickableRow{:data => {:url => track_path(:id => track.id)}}
                %td.text-info= track.id
                %td
                  - if track.wingsuit
                    - manufacturer = track.wingsuit.manufacturer
                    %span.text-warning{data: {toggle: 'tooltip'}, title: manufacturer.name}
                      = manufacturer.code
                    %span.text-info
                      = track.wingsuit.name 
                  - else 
                    %span.text-info
                      = track.suit
                %td.text-info= track_place(track)
                %td.text-right
                  %span.text-info{data: {toggle: 'tooltip'}, title: range_title(track.distance)}
                    = track.distance.result.to_i if track.distance
                %td.text-right
                  %span.text-info{data: {toggle: 'tooltip'}, title: range_title(track.speed)}
                    = track.speed.result.to_i if track.speed
                %td.text-right
                  %span.text-info{data: {toggle: 'tooltip'}, title: range_title(track.time)}
                    = track.time.result.round(1) if track.time
                %td.text-muted
                  .comment-cell= track.comment
                %td.text-info.text-right
                  = l(track.created_at, 
                      format: '%-d %b %Y', 
                      locale: params[:locale])

-# = render 'edit_userpic_modal'
