<% url = @donation.new_record? ? donations_path : donation_path(@donation) %>

<%= form_with model: @donation, url:, scope: :donation, data: { action: 'form:submit-success->modal#close' } do |f| %>
  <div class="sd-form">
    <%= f.fields_for :details do |detail_form| %>
      <% details = detail_form.object %>
      <div class="grid">
        <%= detail_form.label :profile_id, class: 'form-label col-3' %>
        <% options = options_for_select([([details.profile_name, details.profile_id] if details.profile)], details.profile_id) %>
        <%= render 'hot_select/select',
                   form: detail_form, name: :profile_id, src: profiles_select_options_path, options: %>
      </div>
    <% end %>

    <div class="grid">
      <%= f.label :amount, class: 'form-label col-3' %>
      <%= f.number_field :amount, class: 'form-input col-9' %>
    </div>

    <div class="grid">
      <%= f.label :received_at, class: 'form-label col-3' %>
      <%= f.date_field :received_at, class: 'form-input col-9', value: @donation.received_at || Date.today %>
    </div>

    <div class="form-actions">
      <%= f.submit 'Save', class: 'primary-button' %>
    </div>
  </div>
<% end %>
