- provide :title, 'New online competition result requires verification'

%p
  Hello,

%p
  = link_to @track.pilot_name, profile_url(@track.pilot)
  just uploaded track and took:
  - @scores.each do |score|
    %br
    \##{score.rank} place in #{link_to score.virtual_competition.name, virtual_competition_url(score.virtual_competition)}.

%p
  %strong
    Track: #{link_to "##{@track.id}", track_url(@track)}
  
- @competitions_top.each do |competition, top_scores|
  %p
    %strong
      Top results in #{competition.name}

    %table{cellpadding: 8}
      %thead
        %tr
          %th
            Rank
          %th
            Pilot
          %th
            Result
      %tbody
        - top_scores.each do |top_score|
          %tr{style: ('background-color: #fcf8e3' if top_score.track == @track)}
            %td
              = top_score.rank
            %td
              = top_score.profile.name
            %td
              = top_score.result.round(1)
