.modal-dialog
  .modal-content
    .modal-header
      %button.close{:type => 'button', :data => {:dismiss => 'modal'}}
        %span{:aria => {:hidden => 'true'}}
          &times;
        %span.sr-only
          Close
      %h4.modal-title= t '.title'

    = form_for @profile, url: profile_avatar_path(@profile), remote: true, multipart: true, method: :post, html: { class: 'avatar-edit__form' } do |f|
      .modal-body{'data-controller': 'croppable'}
        .form-group
          .input-group{'data-controller': 'filefield'}
            %input.form-control{type: "text", readonly: true, placeholder: t('.file_placeholder'), 'data-target': 'filefield.text_field'}
            %span.input-group-btn
              %span.btn.btn-default.btn-file
                &hellip;
                = f.file_field :userpic, class: 'form-control', 'data-target': 'filefield.file_field', 'data-action': 'change->filefield#change change->croppable#readFile'

          - %w( x y h w ).each do |crop_field|
            = f.hidden_field "crop_#{crop_field}", 'data-target': "croppable.#{crop_field}"

        .row
          .col-sm-8
            %p.avatar-edit__title= t('.crop_label')
            %img.avatar-edit__crop{'data-target': 'croppable.crop'}
          .col-sm-4
            %p.avatar-edit__title= t('.preview_label')
            .avatar-edit__preview-container
              %img.avatar-edit__preview{'data-target': 'croppable.preview'}

      .modal-footer
        = f.submit t('general.save'), class: 'btn btn-primary'
        %button.btn.btn-default{type: 'button', 'data-dismiss': 'modal'}
          =t('general.cancel')
