<%= form_with model: @profile, url: profile_avatar_path(@profile), multipart: true, method: :post, class: 'avatar-edit__form' do |f| %>
  <div class="sd-form" data-controller="croppable">
    <div class="grid">
      <label class="form-label col-4"><%= t('.file_placeholder') %></label>
      <div class="col-8">
        <%= f.file_field :userpic, class: 'form-input', accept: 'image/*', data: { action: 'change->croppable#readFile' } %>
      </div>
    </div>

    <% %w( x y h w ).each do |crop_field| %>
      <%= f.hidden_field "crop_#{crop_field}", data: { 'croppable-target': crop_field } %>
    <% end %>

    <div class="avatar-edit__layout">
      <div class="avatar-edit__crop-section">
        <p class="avatar-edit__title"><%= t('.crop_label') %></p>
        <div class="avatar-edit__crop-container" data-croppable-target="container">
          <img class="avatar-edit__crop" data-croppable-target="crop" draggable="false">
        </div>
      </div>
      <div class="avatar-edit__preview-section">
        <p class="avatar-edit__title"><%= t('.preview_label') %></p>
        <div class="avatar-edit__preview-container">
          <img class="avatar-edit__preview" data-croppable-target="preview" draggable="false">
        </div>
      </div>
    </div>

    <div class="form-actions">
      <%= f.submit t('general.save'), class: 'button button--primary' %>
      <button type="button" class="button" data-action="dialog#close"><%= t('general.cancel') %></button>
    </div>
  </div>
<% end %>
