%ul.flight-profiles__tracks-list
  - @profile.base_tracks.accessible_by(current_user).each do |track|
    %li.flight-profiles__track{'data-track-id': track.id}
      .checkbox
        %label
          %input{type: 'checkbox'}
          .flight-profiles__track-header.text-muted
            %span
              = "##{track.id}"
            %span
              = track.recorded_at&.strftime('%d.%m.%Y')
          %div
            %i.fa.fa-map-marker
            = track_place(track)
            &nbsp;
            - if track.suit
              = suit_presentation(track.suit)
            - else
              = track.missing_suit_name
          .text-muted
            = track.comment
