<%# locals: (event:, editable:) %>
<% standings = event.team_standings %>

<div class="scoreboard-container" id="teams-scoreboard">
  <table class="scoreboard-table">
    <thead>
      <tr>
        <th>#</th>
        <th>Team</th>
        <th>Competitor</th>
        <th>Score</th>
        <th>Total</th>
      </tr>
    </thead>
    <tbody>
      <% standings.rows.each do |row| %>
        <% first_competitor, *other_competitors = row[:competitors] %>
        <% rowspan = [other_competitors.size, 1].max %>
        <tr>
          <td rowspan="<%= rowspan %>"><%= row[:rank] %></td>
          <td rowspan="<%= rowspan %>" class="team">
            <%= row[:team].name %>
            <% if editable %>
              <div class="cell-actions">
                <div class="sd-dropdown" data-controller="dropdown">
                  <button class="dropdown-toggle ghost-button small-button" data-action="click->dropdown#toggle">
                    <%= svg_icon 'ellipsis-vertical-solid' %>
                  </button>

                  <template data-dropdown-target="menu">
                    <div class="sd-dropdown-menu">
                      <%= button_to edit_speed_skydiving_competition_team_path(event, row[:team]),
                                    class: 'dropdown-item',
                                    method: :get, form: { data: { turbo_stream: true } } do %>
                        Edit
                      <% end %>

                      <%= button_to speed_skydiving_competition_team_path(event, row[:team]),
                                    class: 'dropdown-item',
                                    method: :delete, form: { data: { turbo_stream: true, confirm: 'This action is irreversible. Proceed?' } } do %>
                        Delete
                      <% end %>
                    </div>
                  </template>
                </div>
              </div>
            <% end %>
          </td>
          <td><%= first_competitor&.name %></td>
          <td><%= row[:scores_by_competitor][first_competitor] %></td>
          <td rowspan="<%= rowspan %>"><%= row[:total] %></td>
        </tr>
        <% other_competitors.each do |competitor| %>
          <tr>
            <td><%= competitor.name %></td>
            <td><%= row[:scores_by_competitor][competitor] %></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
