<%# locals: (event:, editable:) %>
<% standings = event.team_standings %>

<div class="scoreboard-container" id="teams-scoreboard">
  <table class="scoreboard-table">
    <thead>
      <tr>
        <th>#</th>
        <th>Team</th>
        <th>Competitor</th>
        <th colspan="2">Score</th>
        <th>Total</th>
      </tr>
    </thead>
    <tbody>
      <% standings.rows.each do |row| %>
        <% first_competitor, *other_competitors = row[:competitors] %>
        <% rowspan = [row[:competitors].size, 1].max %>
        <tr>
          <td rowspan="<%= rowspan %>"><%= row[:rank] %></td>
          <td rowspan="<%= rowspan %>" class="team">
            <%= row[:team].name %>
            <% if editable %>
              <div class="cell-actions" data-controller="dropdown">
                <button class="dropdown-toggle button button--ghost button--sm" popovertarget="speed-team-menu-<%= row[:team].id %>">
                  <%= icon_tag 'ellipsis-vertical-solid' %>
                </button>

                <div id="speed-team-menu-<%= row[:team].id %>" popover class="sd-dropdown-menu" data-dropdown-target="menu">
                  <%= button_to 'Edit', edit_speed_skydiving_competition_team_path(event, row[:team]),
                                class: 'dropdown-item',
                                method: :get, form: { data: { turbo_stream: true } } %>

                  <%= button_to 'Delete', speed_skydiving_competition_team_path(event, row[:team]),
                                class: 'dropdown-item',
                                method: :delete, form: { data: { turbo_stream: true, confirm: 'This action is irreversible. Proceed?' } } %>
                </div>
              </div>
            <% end %>
          </td>
          <%= render 'speed_skydiving_competitions/teams/competitor_cells',
                     competitor: first_competitor, event:, editable:, score: row[:scores_by_competitor][first_competitor] %>
          <td rowspan="<%= rowspan %>" class="text-right"><%= row[:total] %></td>
        </tr>
        <% other_competitors.each do |competitor| %>
          <tr>
            <%= render 'speed_skydiving_competitions/teams/competitor_cells', competitor:, event:, editable:, score: row[:scores_by_competitor][competitor] %>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
