<%= form_with model: @competition do |f| %>
  <div class="sd-form">
    <div class="grid">
      <%= f.label :name, class: 'form-label col-3' %>
      <%= f.text_field :name, autofocus: true, class: 'form-input col-9' %>
    </div>

    <div class="grid">
      <%= f.label :group, class: 'form-label col-3' %>
      <% options = options_from_collection_for_select(VirtualCompetition::Group.order(:name), :id, :name, @competition.group_id) %>
      <%= render 'hot_select/local_select', form: f, name: :group_id, options:, class: 'col-9', placeholder: 'Select group' %>
    </div>

    <div class="grid">
      <%= f.label :place, class: 'form-label col-3' %>
      <% options = @competition.place ? options_for_select([[@competition.place_name, @competition.place_id]]) : [] %>
      <%= render 'hot_select/select', form: f, name: :place_id, options:, src: places_select_options_path, class: 'col-9', placeholder: t('events.show.place_placeholder') %>
    </div>

    <div class="grid">
      <%= f.label :finish_line, class: 'form-label col-3' %>
      <% options = options_from_collection_for_select(Place::FinishLine.order(:name), :id, :name, @competition.finish_line_id) %>
      <%= render 'hot_select/local_select', form: f, name: :finish_line_id, options:, class: 'col-9', placeholder: 'Select finish line' %>
    </div>

    <div class="grid">
      <%= f.label :period_from, class: 'form-label col-3' %>
      <div class="col-9 grid">
        <div class="col-5">
          <%= f.date_field :period_from,
                           class: 'form-input',
                           value: @competition.period_from || Date.today.beginning_of_year %>
        </div>
        <span class="col-2 text-center">to</span>
        <div class="col-5">
          <%= f.date_field :period_to,
                           class: 'form-input',
                           value: @competition.period_to || Date.today.end_of_year %>
        </div>
      </div>
    </div>

    <div class="grid">
      <%= f.label :jumps_kind, class: 'form-label col-3' %>
      <div class="col-9">
        <div class="tab-bar">
          <label class="tab-bar-item">
            <%= f.radio_button 'jumps_kind', 'skydive', checked: @competition.skydive?, class: 'tab-bar-radio' %>
            <span>Skydive</span>
          </label>
          <label class="tab-bar-item">
            <%= f.radio_button 'jumps_kind', 'base', checked: @competition.base?, class: 'tab-bar-radio' %>
            <span>B.A.S.E</span>
          </label>
        </div>
      </div>
    </div>

    <div class="grid">
      <%= f.label :suits_kind, class: 'form-label col-3' %>
      <div class="col-9">
        <div class="tab-bar">
          <% SuitTypes.each do |type| %>
            <label class="tab-bar-item">
              <%= f.radio_button 'suits_kind', type, checked: @competition.suits_kind == type, class: 'tab-bar-radio' %>
              <span><%= type.capitalize %></span>
            </label>
          <% end %>
        </div>
      </div>
    </div>

    <div class="grid">
      <%= f.label :discipline, class: 'form-label col-3' %>
      <div class="col-9">
        <div class="tab-bar">
          <% VirtualCompetition.disciplines.keys.each do |discipline| %>
            <label class="tab-bar-item">
              <%= f.radio_button 'discipline', discipline, checked: @competition.discipline == discipline, class: 'tab-bar-radio' %>
              <span><%= discipline.humanize %></span>
            </label>
          <% end %>
        </div>
      </div>
    </div>

    <div class="grid">
      <%= f.label :discipline_parameter, class: 'form-label col-3' %>
      <%= f.text_field :discipline_parameter, class: 'form-input col-9' %>
    </div>

    <div class="grid">
      <%= f.label :range_from, class: 'form-label col-3' %>
      <%= f.text_field :range_from, class: 'form-input col-9' %>
    </div>

    <div class="grid">
      <%= f.label :range_to, class: 'form-label col-3' %>
      <%= f.text_field :range_to, class: 'form-input col-9' %>
    </div>

    <div class="grid">
      <%= f.label :default_view, class: 'form-label col-3' %>
      <div class="col-9">
        <div class="tab-bar">
          <label class="tab-bar-item">
            <%= f.radio_button 'default_view', 'default_overall', checked: @competition.default_overall?, class: 'tab-bar-radio' %>
            <span>Overall</span>
          </label>
          <label class="tab-bar-item">
            <%= f.radio_button 'default_view', 'default_last_year', checked: @competition.default_last_year?, class: 'tab-bar-radio' %>
            <span>Last year</span>
          </label>
        </div>
      </div>
    </div>

    <div class="grid">
      <div class="col-3"></div>
      <div class="col-9">
        <label class="form-checkbox">
          <%= f.check_box :display_highest_speed %>
          Display best speed
        </label>
      </div>
    </div>

    <div class="grid">
      <div class="col-3"></div>
      <div class="col-9">
        <label class="form-checkbox">
          <%= f.check_box :display_highest_gr %>
          Display best G/R
        </label>
      </div>
    </div>

    <div class="grid">
      <div class="col-3"></div>
      <div class="col-9">
        <label class="form-checkbox">
          <%= f.check_box :display_on_start_page %>
          Display on start page
        </label>
      </div>
    </div>

    <div class="form-actions">
      <%= f.submit t('general.save'), class: 'button button--primary' %>
    </div>
  </div>
<% end %>
