= form_for @competition, html: {class: 'form-horizontal'} do |f|
  .form-group
    = f.label :name, class: 'col-sm-2 control-label', for: :name
    .col-sm-5
      = f.text_field :name, autofocus: true, class: 'form-control'

  .form-group
    = f.label :group, class: 'col-sm-2 control-label', for: :group_id
    .col-sm-5
      = f.collection_select :group_id,
                            VirtualCompetition::Group.order(:name),
                            :id,
                            :name,
                            { promt: 'Select group' },
                            { class: 'form-control', 'data-controller': 'select2--local' }

  .form-group
    = f.label :place, class: 'col-sm-2 control-label', for: :place
    .col-sm-5
      = f.select :place_id,
                 options_for_select([[@competition.place_name, @competition.place_id]], @competition.place_id),
                 { include_blank: true },
                 class: 'form-control',
                 placeholder: t('events.show.place_placeholder'),
                 'data-controller': 'select2--places'
  .form-group
    = f.label :finish_line, class: 'col-sm-2 control-label'
    .col-sm-5
      = f.collection_select :finish_line_id,
                            Place::FinishLine.order(:name),
                            :id,
                            :name,
                            { include_blank: 'Select finish line' },
                            { class: 'form-control',
                              placeholder: t('events.show.place_placeholder'),
                              'data-controller': 'select2--local' }


  .form-group.row
    = f.label :period_from, class: 'col-sm-2 control-label', for: :period_from
    .col-sm-2
      - period_from = @competition.period_from || Date.today.beginning_of_year
      = f.text_field :period_from,
                     class: 'form-control',
                     value: period_from.strftime("%d.%m.%Y"),
                     'data-controller': 'datepicker'

    %span.col-sm-1.text-center= ' to '
    .col-sm-2
      - period_to = @competition.period_to || Date.today.end_of_year
      = f.text_field :period_to,
                     class: 'form-control',
                     value: period_to.strftime("%d.%m.%Y"),
                     'data-controller': 'datepicker'

  .form-group
    = f.label :jumps_kind, class: 'col-sm-2 control-label', for: :jumps_kind
    .btn-group.col-sm-10{:data => {:toggle => 'buttons'}}
      %label.btn.btn-default{ class:  ('active' if @competition.skydive?) }
        = f.radio_button 'jumps_kind', 'skydive'
        = 'Skydive'

      %label.btn.btn-default{ class:  ('active' if @competition.base?) }
        = f.radio_button 'jumps_kind', 'base'
        = 'B.A.S.E'

  .form-group
    = f.label :suits_kind, class: 'col-sm-2 control-label', for: :suits_kind
    .btn-group.col-sm-10{:data => {:toggle => 'buttons'}}
      - Suit::TYPES.each do |type|
        %label.btn.btn-default{ class:  ('active' if @competition.suits_kind == type) }
          = f.radio_button 'suits_kind', type
          = type.capitalize

  .form-group
    = f.label :discipline, class: 'col-sm-2 control-label', for: :discipline
    .btn-group.col-sm-10{:data => {:toggle => 'buttons'}}
      - VirtualCompetition.disciplines.keys.each do |discipline|
        %label.btn.btn-default{class:  ('active' if (@competition.discipline == discipline))}
          = f.radio_button 'discipline', discipline
          = discipline.humanize

  .form-group
    = f.label :discipline_parameter, class: 'col-sm-2 control-label', for: :discipline_parameter
    .col-sm-5
      = f.text_field :discipline_parameter, class: 'form-control'

  .form-group
    = f.label :range_from, class: 'col-sm-2 control-label', for: :range_from
    .col-sm-5
      = f.text_field :range_from, class: 'form-control'

  .form-group
    = f.label :range_to, class: 'col-sm-2 control-label', for: :range_to
    .col-sm-5
      = f.text_field :range_to, class: 'form-control'

  .form-group
    = f.label :default_view, class: 'col-sm-2 control-label', for: :default_view
    .btn-group.col-sm-10{:data => {:toggle => 'buttons'}}
      %label.btn.btn-default{ class:  ('active' if @competition.default_overall?) }
        = f.radio_button 'default_view', 'default_overall'
        = 'Overall'

      %label.btn.btn-default{ class:  ('active' if @competition.default_last_year?) }
        = f.radio_button 'default_view', 'default_last_year'
        = 'Last year'


  .form-group
    .col-sm-offset-2.col-sm-8
      .checkbox
        %label
          = f.check_box :display_highest_speed
          Display best speed

  .form-group
    .col-sm-offset-2.col-sm-8
      .checkbox
        %label
          = f.check_box :display_highest_gr
          Display best G/R

  .form-group
    .col-sm-offset-2.col-sm-8
      .checkbox
        %label
          = f.check_box :display_on_start_page
          Display on start page

  .form-group
    .col-sm-offset-2.col-sm-8
      = f.submit t('general.update'), class: 'btn btn-primary'
