<div class="page-nav">
  <%= link_to virtual_competition_overall_path(@competition), class: ['page-tab', ('page-tab-active' if current_page?(virtual_competition_overall_path(@competition)))] do %>
    <%= t('.overall') %>
  <% end %>

  <% if @competition.annual? %>
    <% @competition.years.each do |year| %>
      <% path = virtual_competition_year_path(@competition, year: year) %>
      <%= link_to path, class: ['page-tab', ('page-tab-active' if current_page?(path))] do %>
        <%= year %>
      <% end %>
    <% end %>
  <% elsif @competition.custom_intervals? %>
    <% @competition.intervals.each do |interval| %>
      <% path = virtual_competition_period_path(@competition, interval) %>
      <%= link_to path, class: ['page-tab', ('page-tab-active' if current_page?(path))] do %>
        <%= interval.name %>
      <% end %>
    <% end %>
  <% end %>

  <% if editable %>
    <%= link_to edit_virtual_competition_path(@competition),
                class: ['page-tab page-tab-right', ('page-tab-active' if current_page?(edit_virtual_competition_path(@competition)))] do %>
      <%= icon_tag 'gear-solid' %>
      <%= t('general.edit') %>
    <% end %>
  <% end %>
</div>
