<%# locals: (ranking:) %>

<%
  current_profile_id = current_user.profile.id if current_user.registered?
  focused_profile_id = ranking.highlight_profile_id || current_profile_id
  focused_score = focused_profile_id && ranking.all_scores.find { |s| s.profile_id == focused_profile_id }
  focused_on_page = focused_score && ranking.scores.any? { |s| s.profile_id == focused_profile_id }
%>

<div class="vc-scoreboard">
  <% if ranking.all_scores.size > 2 %>
    <div class="vc-scoreboard__leaderboard">
      <%= render 'leaderboard', leaders: ranking.all_scores.take(3) %>
    </div>
  <% end %>

  <% list_data = ranking.highlight_profile_id ? { controller: 'highlight-scroll' } : {} %>
  <div class="vc-scoreboard__list" <%= tag.attributes(data: list_data) %>>
    <% ranking.scores.each do |score| %>
      <%= render 'score_row', score: score, ranking: ranking, current_user_row: focused_profile_id && score.profile_id == focused_profile_id %>
    <% end %>

    <% if focused_score && !focused_on_page %>
      <div class="vc-scoreboard__separator">
        <span class="vc-scoreboard__ellipsis"></span>
      </div>
      <%= render 'score_row', score: focused_score, ranking: ranking, current_user_row: true %>
    <% end %>
  </div>

  <div class="vc-scoreboard__pagination">
    <div class="pagination">
      <%= paginate ranking.scores %>
    </div>
  </div>
</div>
