<div class="online-competition-winner">
  <div class="online-competition-winner__photo">
    <%= image_tag result.profile.userpic_url(:medium) %>
  </div>
  <div class="online-competition-winner__caption">
    <%= link_to profile_path(result.profile), class: 'online-competition-winner__name' do %>
      <span class="<%= 'contributor' if result.profile.contributor? %>">
        <%= result.profile.name.titleize %>
      </span>
    <% end %>
    <%= link_to track_path(result.track_id), class: 'online-competition-winner__result' do %>
      <span class="online-competition-winner__result-value"><%= format_result(result.result, result.virtual_competition) %></span>
      <span class="online-competition-winner__result-unit"><%= competition_unit(result.virtual_competition) %></span>
    <% end %>
  </div>
</div>
