<div class="vc-index">
  <div class="vc-index__header">
    <div class="vc-index__actions">
      <% if policy(:virtual_competition).create? %>
        <a class="button" href="<%= new_virtual_competition_path %>">
          <%= icon_tag 'plus-solid' %>
          <%= t('activerecord.models.virtual_competition') %>
        </a>
      <% end %>
      <% if policy([:virtual_competition, :group]).index? %>
        <%= link_to 'Groups', virtual_competition_groups_path, class: 'button' %>
      <% end %>
    </div>

    <%= form_with url: virtual_competitions_path, method: :get, data: { controller: 'auto-submit', delay: 0 } do %>
      <%= render 'components/switch',
                 name: 'include_archived',
                 checked: @index.include_archived?,
                 checked_value: 'true',
                 include_hidden: false,
                 label_text: t('virtual_competitions.index.show_archived'),
                 data: { action: 'auto-submit#submit' } %>
    <% end %>
  </div>

  <% @index.active_groups.each do |title, competitions| %>
    <%= render 'group', title: title, competitions: competitions, index: @index, finished: false %>
  <% end %>

  <% if @index.finished? %>
    <div class="vc-finished-section">
      <h3 class="vc-finished-section__title"><%= t('virtual_competitions.index.archived') %></h3>
      <% @index.finished_groups.each do |title, competitions| %>
        <%= render 'group', title: title, competitions: competitions, index: @index, finished: true %>
      <% end %>
    </div>
  <% end %>
</div>
