.online-competitions-index
  .page-title
    = t('application.header.online_competitions')
  - @competitions.each do |group, competitions|
    .online-competition-group
      %h3.online-competition-group__header= group
      .table
        .thead
          .tr
            .th= 'Name'
            .th= 'Location'
            .th= 'Task'
        .tbody
          = render competitions
