- provide :title, competition_title(@competition)

.container
  .page-header
    .row
      .col-sm-10
        %h1.light-header
          = competition_title(@competition)
        %div.top-buffer
          = t('virtual_competitions.place')
          - if @competition.place
            = place_presentation(@competition.place)
          - else
            = t('virtual_competitions.worldwide')

        %div= competition_suit
        %div= competition_task(@competition)
        .top-buffer
      .col-sm-2
        .pull-right
          - if can? :update, @competition
            = link_to t('general.edit'), edit_virtual_competition_path(@competition), class: 'btn btn-default'

  - competition_results = @competition.virtual_comp_results.order('result DESC').group_by{ |x| x.user_profile_id }
  - results_by_pilot = competition_results.map{ |pilot_id, results| {pilot_id: pilot_id, results: results} }
  - best_results = competition_results.map{ |_, results| results.first }
  - columns_count = 7 
  - columns_count += 1 if @competition.display_highest_speed
  - columns_count += 1 if @competition.display_highest_gr
  - columns_count += 1 if @competition.worldwide?

  - if best_results.count > 2
    .row.top-buffer-30
      .col-sm-4.col-md-4
        = render 'winner', result: best_results.first
      .col-sm-4.col-md-4
        = render 'winner', result: best_results.second
      .col-sm-4.col-md-4
        = render 'winner', result: best_results.third
  .row
    .col-sm-12
      %p.text-muted= 'Note: Click on result to view track details. Click on row to see up to 5 best results.'
    .col-sm-12
      %table.table.vc-scoreboard-table
        %thead
          %tr
            %th= '#'
            %th=t 'activerecord.attributes.track.name'
            %th=t 'activerecord.attributes.track.suit'
            - if @competition.worldwide?
              %th= t 'activerecord.attributes.track.place'
            %th.text-right= 'Result'
            - if @competition.display_highest_speed
              %th.text-right= 'Best speed'
            - if @competition.display_highest_gr
              %th.text-right= 'Best G/R'
            %th.text-right=t 'activerecord.attributes.track.recorded_at'
            %th
        %tbody
          - results_by_pilot.each_with_index do |result, index|
            - best_result = result[:results].first
            %tr{data: {toggle: 'collapse', target: "#all_results_#{result[:pilot_id]}"}}
              -#.clickableRow{data: {url: track_path(id: best_result.track_id)}}
              %td= index + 1
              %td
                %a{href: user_profile_path(best_result.user_profile_id), data: {toggle: 'tooltip'}, title: t('.show_profile')}
                  = best_result.user_profile.name.titleize
              %td= suit_presentation(best_result.wingsuit)
              - if @competition.worldwide?
                %td= track_place(best_result.track)
              %td.text-right
                %a{href: track_path(best_result.track_id), data: {toggle: 'tooltip'}, title: t('.show_details')}
                  = format_result(best_result.result, @competition)
              - if @competition.display_highest_speed
                %td.text-right= (best_result.highest_speed || 0.0).round(1)
              - if @competition.display_highest_gr
                %td.text-right= (best_result.highest_gr || 0.0).round(2)
              %td.text-right= best_result.track.recorded_at.strftime('%d.%m.%Y')
              %td
                - if best_result.track.video
                  %i.fa.fa-video-camera
            %tr
              %td.hiddenRow{colspan: 2}
              %td.hiddenRow{colspan: (columns_count - 2)}
                .collapse{id: "all_results_#{result[:pilot_id]}"} 
                  %table.table.all-results-table
                    - all_results = result[:results].take(5)
                    - all_results.each do |comp_result|
                      %tr
                        %td= suit_presentation(comp_result.wingsuit)
                        - if @competition.worldwide?
                          %td= track_place(comp_result.track)
                        %td.text-right
                          %a.text-info{href: track_path(comp_result.track_id), data: {toggle: 'tooltip'}, title: t('.show_details')}
                            = format_result(comp_result.result, @competition)
                        - if @competition.display_highest_speed
                          %td.text-right= (comp_result.highest_speed || 0.0).round(1)
                        - if @competition.display_highest_gr
                          %td.text-right= (comp_result.highest_gr || 0.0).round(2)
                        %td.text-right= comp_result.track.created_at.strftime('%d.%m.%Y')
                        %td
                          - if comp_result.track.video
                            %i.fa.fa-fw.fa-video-camera
                          - else
                            %i.fa.fa-fw
