<% provide :title, @competition.title %>
<% editable = policy(@competition).edit? %>

<div class="show-page">
  <div class="show-page-header">
    <h1 class="show-page-title"><%= @competition.title %></h1>
    <div class="show-page-info">
      <div>
        <%= t('virtual_competitions.place') %>
        <% if @competition.place %>
          <%= place_presentation(@competition.place) %>
        <% else %>
          <%= t('virtual_competitions.worldwide') %>
        <% end %>
      </div>
      <div><%= competition_suit(@competition) %></div>
      <div><%= competition_task(@competition) %></div>
    </div>

    <%= render 'navbar', editable: %>
  </div>

  <div class="show-page-content">
    <div class="card">
      <%= render 'scoreboard' %>
    </div>

    <%= render 'sponsors/list', sponsorable: @competition, editable: %>
  </div>
</div>
