<% provide :title, @competition.title %>
<% editable = policy(@competition).edit? %>

<div class="show-page">
  <div class="show-page-header">
    <h1 class="show-page-title"><%= @competition.title %></h1>
    <div class="show-page-info">
      <div>
        <%= t('virtual_competitions.place') %>
        <% if @competition.place %>
          <%= place_presentation(@competition.place) %>
        <% else %>
          <%= t('virtual_competitions.worldwide') %>
        <% end %>
      </div>
      <div><%= competition_suit(@competition) %></div>
      <div><%= competition_task(@competition) %></div>
    </div>

    <%= render 'navbar', editable: %>
  </div>

  <div class="show-page-content"
       data-controller="track-compare"
       data-track-compare-source-value="virtual_competitions"
       data-track-compare-competition-id-value="<%= @competition.id %>"
       data-track-compare-kind-value="<%= @competition.jumps_kind %>"
       data-track-compare-discipline-value="<%= @competition.discipline %>"
       data-track-compare-slot-placeholder-value="<%= t('virtual_competitions.compare.slot_placeholder') %>">
    <%= render 'actions_bar', ranking: @ranking %>

    <div class="card">
      <%= render 'scoreboard', ranking: @ranking %>
    </div>

    <%= render 'sponsors/list', sponsorable: @competition, editable: %>
  </div>
</div>
