- provide :title, competition_title(@competition)

.container
  .page-header
    .row
      .col-sm-10
        %h1
          = competition_title(@competition)
        %div= competition_place
        %div= competition_suit
        %div= competition_task
      .col-sm-2
        .pull-right
          - if can? :update, @competition
            = link_to 'Edit', edit_virtual_competition_path(@competition), class: 'btn btn-default'

  - results = @competition.virtual_comp_results.order('result DESC').group_by{ |x| x.user_profile_id }.map{ |_, results| results.first }
  - if results.count > 2
    .top-buffer
      .col-sm-4.col-md-4
        .well
          .row
            .col-sm-4.col-md-4
              = image_tag(results.first.user_profile.userpic.url(:medium), 
                          class: 'img-responsive img-rounded')
            .col-sm-8.col-md-8
              .vc-profile-name= results.first.user_profile.name
              %div
                %span.vc-result= format_result(results.first.result)
                %span.vc-unit= competition_unit
      .col-sm-4
        .well
          .row
            .col-sm-4
              = image_tag(results.second.user_profile.userpic.url(:medium), 
                          class: 'img-responsive img-rounded')
            .col-sm-8
              .vc-profile-name= results.second.user_profile.name
              %div
                %span.vc-result= format_result(results.second.result)
                %span.vc-unit= competition_unit
      .col-sm-4
        .well
          .row
            .col-sm-4
              = image_tag(results.third.user_profile.userpic.url(:medium), 
                          class: 'img-responsive img-rounded')
            .col-sm-8
              .vc-profile-name= results.third.user_profile.name
              %div
                %span.vc-result= format_result(results.third.result)
                %span.vc-unit= competition_unit
    .top-buffer
  %table.table.table-hover.table-striped
    %thead
      %tr
        %th= '#'
        %th=t 'activerecord.attributes.track.name'
        %th=t 'activerecord.attributes.track.suit'
        %th.text-right= 'Result'
        - if @competition.display_highest_speed
          %th.text-right= 'Best speed'
        - if @competition.display_highest_gr
          %th.text-right= 'Best G/R'
        %th.text-right=t 'activerecord.attributes.track.uploaded_at'
        %th
    %tbody
      - row_number = 1
      - results.each do |result|
        %tr.clickableRow{data: {url: track_path(id: result.track_id)}}
          %td.text-info= row_number
          %td.text-info= result.user_profile.name
          %td.text-info
            - manufacturer = result.track.wingsuit.manufacturer
            %span.text-warning{data: {toggle: 'tooltip'}, title: manufacturer.name}= manufacturer.code || ''
            %span= ' ' + result.track.wingsuit.name
          %td.text-info.text-right= format_result(result.result)
          - if @competition.display_highest_speed
            %td.text-info.text-right= (result.highest_speed || 0.0).round(1)
          - if @competition.display_highest_gr
            %td.text-info.text-right= (result.highest_gr || 0.0).round(2)
          %td.text-info.text-right= result.track.created_at.strftime('%d.%m.%Y')
          - row_number += 1
          %td.text-center
            - if result.track.video
              %i.fa.fa-video-camera
