- provide :title, @competition.title
- editable = policy(@competition).edit?

.online-competition
  %h2.online-competition__header= @competition.title
  .online-competition__subheader
    = t('virtual_competitions.place')
    - if @competition.place
      = place_presentation(@competition.place)
    - else
      = t('virtual_competitions.worldwide')

    %div= competition_suit
    %div= competition_task(@competition)

  = render 'virtual_competitions/navbar'

  = render 'virtual_competitions/scoreboard'

  - if @competition.sponsors.exists?
    .row.top-buffer
      = render 'sponsors/list', sponsorable: @competition, editable: editable
