- provide :title, @competition.title
- editable = policy(@competition).edit?

.container.top-buffer
  - if editable
    .card-action
      .position-right
        = link_to edit_virtual_competition_path(@competition), class: 'btn-flat' do
          %i.fa.fa-pencil
          = t('general.edit')
  %h2= @competition.title
  %div.top-buffer
    = t('virtual_competitions.place')
    - if @competition.place
      = place_presentation(@competition.place)
    - else
      = t('virtual_competitions.worldwide')

  %div= competition_suit
  %div= competition_task(@competition)

  = render 'navbar'

  .content-block

    = render 'scoreboard'

    .row.tob-buffer
      = render 'sponsors/list', sponsorable: @competition, editable: editable
