<%# locals: (result:) %>

<% task = result.round.discipline %>

<div class="result-indicators">
  <div class="result-indicator">
    <div class="result-indicator-title">
      Exit Altitude
    </div>
    <div class="result-indicator-value">
      <%= result.exit_altitude&.round %>
      <%= t('units.m') %>
    </div>
    <div class="result-indicator-info">
      <% if result.exit_altitude.present? %>
        <%= m_to_ft(result.exit_altitude).round %>
        <%= t('units.ft') %>
        <% if result.exited_at.present? %>
          /
          <%= result.exited_at.iso8601(3).split('T').last %>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="result-indicator">
    <div class="result-indicator-title">
      <%= t("disciplines.#{task}") %>
    </div>
    <div class="result-indicator-value">
      <%= task == 'distance' ? result.result.truncate : result.result.round(1) %>
      <%= t "units.#{discipline_unit(task)}" %>
    </div>
  </div>

  <div class="result-indicator">
    <div class="result-indicator-title">
      Pull Altitude
    </div>
    <div class="result-indicator-value">
      <%= result.pull_altitude %>
      <%= t('units.m') %>
    </div>
    <% if result.pull_altitude.present? %>
      <div class="result-indicator-info">
        <%= m_to_ft(result.pull_altitude).round %>
        <%= t('units.ft') %>
      </div>
    <% end %>
  </div>
</div>
