- provide :title, event_result_presentation(@result)

%div{class: (mobile? ? 'event-result' : 'container')}
  .event-result__header
    = link_to @event, class: 'btn-back' do
      %i.fa.fa-chevron-left
      = @event.name

  %div{class: (mobile? ? 'event-result__body' : 'content-block content-block--bordered')}
    .event-result__title-bar
      = image_tag @result.competitor.profile.userpic_url(:thumb)
      = @result.competitor.name
      |
      = "#{t('disciplines.' + @result.round_discipline)} - #{@result.round_number}"

    = render 'events/results/header', local: true

    %hr

    = yield
