<%# locals: (result:, editable:, modal: false, **rest) %>

<div class="sd-container">
  <%= render partial: 'events/results/navbar', locals: { result:, modal: } %>

  <%= render 'indicators', result: %>
  <hr />

  <div data-controller="performance-flying-charts"
       data-track-id="<%= result.track_id %>"
       data-result="<%= result.result %>"
       data-window-start="<%= result.event.range_from %>"
       data-window-end="<%= result.event.range_to %>"
       data-exit-altitude="<%= result.exit_altitude %>"
       data-chart-type="<%= Current.charts_mode %>"
  >
    <%= render 'track_indicators' %>

    <% if Current.charts_mode.separate? %>
      <div class="performance-flying-separate-charts">
        <div data-performance-flying-charts-target="accuracyChart"></div>
        <div data-performance-flying-charts-target="glideChart"></div>
        <div data-performance-flying-charts-target="speedChart"></div>
        <div data-performance-flying-charts-target="altitudeDistanceChart"></div>
      </div>
    <% else %>
      <div class="tracking-performance-combined-chart" data-performance-flying-charts-target="combinedChart"></div>
    <% end %>
  </div>

  <div class="form-actions justify-between" data-action="turbo:submit-end->modal#close">
    <div>
      <% if editable %>
        <% if policy(@result.event).update? %>
          <%= delete_event_track_link(@result) %>
        <% end %>
      <% end %>
    </div>

    <div>
      <% if modal %>
        <button class="default-button" type="button" data-action="modal#close"><%= t 'general.cancel' %></button>
      <% end %>
    </div>
  </div>
</div>
