.modal-dialog.modal-lg
  .modal-content
    .modal-header
      .pull-right
        = link_to track_path(@result.track, f: @result.range_from, t: @result.range_to, 'straight-line': true),
                  class: 'modal-header-link', target: '_blank' do
          %i.fa.fa-external-link-alt
        %button.close{type: 'button', data: {dismiss: 'modal'}}
          %span{aria: {hidden: 'true'}}
            &times;
          %span.sr-only
            Close
      %h4.modal-title
        = event_result_presentation(@result)

    .modal-body
      .container-fluid
        = render 'events/results/header'
        = link_to t('activerecord.models.event/full_jump'), track_path(@result.track)

        %hr

        .row
          .col-sm-12
            .pull-right
              = render 'tracks/view_settings_menu', presenter: @track_presenter
        -# Header
        = render partial: 'tracks/indicators', locals: {presenter: @track_presenter}

        %hr
        .row
          .col-sm-12
            = render 'tracks/charts', presenter: @track_presenter

        .row
          %hr
          %span.col-sm-2.control-label= t('activerecord.attributes.event/result.uploaded_by')
          .col-sm-10
            %span#rm-track-uploaded= @result.uploaded_by&.name

      %hr
      .modal-actions
        .modal-actions__left
          - if policy(@result.event).update?
            = delete_event_track_link(@result)
        .modal-actions__right
          %button.btn.btn-default{type: 'button', data: {dismiss: 'modal'}}= t 'general.cancel'
