<%= form_with model: nil, scope: :profiles_merge, url: profile_merge_path(@destination_profile),
              data: { controller: 'profiles--merges-form modal-form', action: 'form:submit-success->dialog#close' } do |f| %>
  <div class="sd-form">
    <div class="grid">
      <%= f.label :source_profile_id, class: 'form-label col-4' %>
      <%= render 'hot_select/select', form: f, name: :source_profile_id, src: profiles_select_options_path(include_ids: true), options: [], class: 'col-8' %>
    </div>

    <div class="help-text">
      <%= t '.description' %>
    </div>

    <div class="form-actions">
      <%= f.submit t('general.save'), class: 'button button--primary' %>
      <button type="button" class="button" data-action="dialog#close"><%= t 'general.cancel' %></button>
    </div>
  </div>
<% end %>
