.container-fluid.round-map{'data-controller': 'events--round-map', 'data-url': url_for}
  .row
    .col-sm-8{'data-controller': 'events--designated-lane'}
      = render 'events/maps/designated_lane_form'

      #round-map{'data-target': 'events--round-map.map events--designated-lane.map'}
        .round-map-loading{'data-target': 'events--round-map.loading_placeholder'}
          %i.fa.fa-3x.fa-circle-o-notch.fa-spin
          %p
            Loading...
          .col-sm-4.round-competitors-wrap

      = render 'events/maps/legend'

    .col-sm-4
      .round-competitors__list-commands
        %button.btn.btn-xs.btn-default{'data-action': 'click->events--round-map#select_all'}
          = t('general.select_all')
        %button.btn.btn-xs.btn-default{'data-action': 'click->events--round-map#unselect_all'}
          = t('general.unselect_all')
      %table.table.table-condensed.round-competitors
        %thead
          %tr
            %th{colspan: 2}
              = t('events.rounds.map.competitor')
            %th.round-competitors__direction
              = t('events.rounds.map.direction')
        - show_reference_points = @round_map.reference_points.any?
        - @round_map.competitors_by_groups.each_with_index do |group, index|
          %tbody
            %tr.round-competitors__group-row{'data-action': 'click->events--round-map#toggle_group'}
              %td{colspan: 3}
                = "#{t('events.rounds.map.group')} #{index + 1}"
            - group.each do |competitor_data|
              %tr
                %td.round-competitors__check{rowspan: (show_reference_points ? 2 : 1)}
                  %input{id: "competitor_#{competitor_data.id}",
                         type: 'checkbox',
                         checked: competitor_data.present?,
                         'data-action': 'change->events--round-map#on_change_visibility',
                         'data-target': 'events--round-map.competitor'}
                %td.round-map-competitor
                  = competitor_data.name.titleize
                  - if competitor_data.present?
                    %i.fa.fa-circle{style: "color: #{competitor_data.color}"}
                %td
                  = competitor_data.direction && "#{competitor_data.direction.round}°"

              - if show_reference_points
                %tr
                  %td.round-map__reference-point{colspan: 2}
                    %span
                      Reference point:
                    .btn-group
                      %button.btn.btn-default.btn-xs.dropdown-toggle{'data-toggle': 'dropdown'}
                        %span
                          %i.fa.fa-fw.fa-ellipsis-h
                        %i.fa.fa-fw.fa-caret-down
                      %ul.dropdown-menu
                        - @round_map.reference_points.each do |reference_point|
                          %li
                            %a= reference_point.name

                    %a{'data-action': 'click->events--round-map#show_dl'}
                      Show DL
