<%# locals: (individual_standings:, event:, editable:) %>
<% competitor = individual_standings.competitor %>
<% if individual_standings %>
  <td class="competitor">
    <%= link_to competitor.profile.name, profile_path(competitor.profile), class: 'competitor-profile' %>
    <% if editable %>
      <div class="cell-actions" data-controller="dropdown">
        <button class="dropdown-toggle button button--ghost button--sm" popovertarget="perf-team-competitor-menu-<%= competitor.id %>">
          <%= icon_tag 'ellipsis-vertical-solid' %>
        </button>

        <div id="perf-team-competitor-menu-<%= competitor.id %>" popover class="sd-dropdown-menu" data-dropdown-target="menu">
          <%= button_to 'Remove from team', performance_competition_team_competitor_path(event, competitor),
                        class: 'dropdown-item',
                        method: :delete, form: { data: { turbo_stream: true, confirm: 'Remove competitor from team?' } } %>
        </div>
      </div>
    <% end %>
  </td>
  <td class="text-right"><%= individual_standings.total_points %></td>
<% else %>
  <td colspan="2">-</td>
<% end %>
