<% url = @team.new_record? ?
           event_teams_path(@event) :
           event_team_path(@event, @team) %>

<%= form_with model: @team, url:, scope: :team, class: 'sd-form',
              data: { controller: 'modal-form', action: 'form:submit-success->modal#close' } do |f| %>
  <div class="grid">
    <%= f.label :name, class: 'form-label col-4' %>
    <%= f.text_field :name, class: 'form-input col-8' %>
  </div>

  <div class="form-actions">
    <%= f.submit t('general.save'), class: 'primary-button' %>
    <button type="button" class="default-button" data-action="modal#close"><%= t 'general.cancel' %></button>
  </div>
<% end %>