<%# locals: (event:, editable:) %>
<% standings = event.team_standings %>

<div class="scoreboard-container" id="teams-scoreboard">
  <table class="scoreboard-table">
    <thead>
      <tr>
        <th>#</th>
        <th>Team</th>
        <th>Competitor</th>
        <th>Score</th>
        <th>Total</th>
      </tr>
    </thead>
    <tbody>
      <% standings.ranking.each_with_index do |row, index| %>
        <% team = row.team %>
        <% competitors = row.ranks %>
        <% rowspan = [competitors.size, 1].max %>
        <% first_competitor, *other_competitors = competitors %>
        <tr>
          <td rowspan="<%= rowspan %>"><%= index + 1 %></td>
          <td rowspan="<%= rowspan %>" class="team">
            <%= team.name %>
            <% if editable %>
              <div class="cell-actions">
                <div class="sd-dropdown" data-controller="dropdown">
                  <button class="dropdown-toggle ghost-button small-button" data-action="click->dropdown#toggle">
                    <%= svg_icon 'ellipsis-vertical-solid' %>
                  </button>

                  <template data-dropdown-target="menu">
                    <div class="sd-dropdown-menu">
                      <%= button_to 'Edit', edit_event_team_path(event, team),
                                    class: 'dropdown-item',
                                    method: :get, form: { data: { turbo_stream: true } } %>

                      <%= button_to 'Delete', event_team_path(event, team),
                                    class: 'dropdown-item',
                                    method: :delete, form: { data: { turbo_stream: true, confirm: 'This action is irreversible. Proceed?' } } %>
                    </div>
                  </template>
                </div>
              </div>
            <% end %>
          </td>
          <% if first_competitor %>
            <%= render 'performance_competitions/teams/competitor_cells', competitor: first_competitor, event:, editable: %>
          <% else %>
            <td colspan="2">-</td>
          <% end %>
          <td rowspan="<%= rowspan %>" class="text-right"><%= row.total_points.round(1) %></td>
        </tr>
        <% other_competitors.each do |competitor| %>
          <tr>
            <%= render 'performance_competitions/teams/competitor_cells', competitor:, event:, editable: %>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
