<%# locals: (event:, editable:, wind_cancellation: false) %>
<% id = ['teams-scoreboard', ('no_wind' if wind_cancellation)].compact.join('_') %>

<% if event.surprise? && !editable %>
  <h1 class="text-muted text-center" id="<%= id %>">🙅 Let it be a Surprise</h1>
<% else %>
  <% standings = event.team_standings(wind_cancellation:) %>

  <div class="scoreboard-container" id="<%= id %>">
    <table class="scoreboard-table">
      <thead>
        <tr>
          <th>#</th>
          <th>Team</th>
          <th>Competitor</th>
          <th>Score</th>
          <th>Total</th>
        </tr>
      </thead>
      <tbody>
        <% standings.ranking.each_with_index do |row, index| %>
          <% team = row.team %>
          <% individual_standings = row.ranks %>
          <% rowspan = [individual_standings.size, 1].max %>
          <% first_row, *other_rows = individual_standings %>
          <tr>
            <td rowspan="<%= rowspan %>"><%= index + 1 %></td>
            <td rowspan="<%= rowspan %>" class="team">
              <%= team.name %>
              <% if editable %>
                <div class="cell-actions">
                  <div class="sd-dropdown" data-controller="dropdown">
                    <button class="dropdown-toggle ghost-button small-button" data-action="click->dropdown#toggle">
                      <%= svg_icon 'ellipsis-vertical-solid' %>
                    </button>

                    <template data-dropdown-target="menu">
                      <div class="sd-dropdown-menu">
                        <%= button_to 'Edit', edit_performance_competition_team_path(event, team),
                                      class: 'dropdown-item',
                                      method: :get, form: { data: { turbo_stream: true } } %>

                        <%= button_to 'Delete', performance_competition_team_path(event, team),
                                      class: 'dropdown-item',
                                      method: :delete, form: { data: { turbo_stream: true, confirm: 'This action is irreversible. Proceed?' } } %>
                      </div>
                    </template>
                  </div>
                </div>
              <% end %>
            </td>
            <% if first_row %>
              <%= render 'performance_competitions/teams/competitor_cells', individual_standings: first_row, event:, editable: %>
            <% else %>
              <td colspan="2">-</td>
            <% end %>
            <td rowspan="<%= rowspan %>" class="text-right"><%= row.total_points.round(1) %></td>
          </tr>
          <% other_rows.each do |row| %>
            <tr>
              <%= render 'performance_competitions/teams/competitor_cells', individual_standings: row, event:, editable: %>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>
