<% url = @competitor.new_record? ?
           speed_skydiving_competition_competitors_path(@event) :
           speed_skydiving_competition_competitor_path(@event, @competitor) %>

<%= form_with model: @competitor, url:, scope: :competitor,
              data: { controller: 'modal-form', action: 'form:submit-success->dialog#close' } do |f| %>
  <div class="sd-form">
    <h3 class="form-section-title">
      <%= t('competitors.form.profile') %>
    </h3>

    <%= render 'competitors/profile_fields', f:, competitor: @competitor, event: @event %>

    <div class="grid">
      <div class="col-7">
        <%= f.label :assigned_number, class: 'form-label' %>
        <%= f.text_field :assigned_number, class: 'form-input' %>
      </div>
    </div>

    <div class="form-divider"></div>

    <div class="grid">
      <%= f.label :category_id, class: 'form-label col-4' %>
      <% options = options_from_collection_for_select(@event.categories.ordered, :id, :name, @competitor.category_id) %>
      <%= render 'hot_select/local_select', form: f, name: :category_id, options:, class: 'col-8', hide_clear_button: true %>
    </div>

    <div class="form-actions">
      <% if @competitor.new_record? %>
        <%= render 'components/switch',
                   label_text: t('general.add_more'),
                   include_hidden: false,
                   data: { 'modal-form-target' => 'keepAdding' } %>
      <% end %>
      <%= f.submit t('general.save'), class: 'button button--primary' %>
      <button type="button" class="button" data-action="dialog#close"><%= t 'general.cancel' %></button>
    </div>
  </div>
<% end %>
