<% url = @competitor.new_record? ?
           speed_skydiving_competition_competitors_path(@event) :
           speed_skydiving_competition_competitor_path(@event, @competitor) %>
<% existing_profile = @competitor.new_record? || @competitor.profile.owner != @event %>

<%= form_with model: @competitor, url:, scope: :competitor,
              data: { controller: 'modal-form', action: 'form:submit-success->modal#close' } do |f| %>
  <div class="sd-form">
    <h3 class="form-section-title">
      <%= t('competitors.form.profile') %>
    </h3>

    <label class="radio-label">
      <%= radio_button_tag :new_profile, false, checked: existing_profile %>
      <%= t('competitors.form.select_profile') %>
    </label>

    <div class="grid">
      <% options = existing_profile && @competitor.profile ? options_for_select([[@competitor.profile.name, @competitor.profile.id], @competitor.profile_id]) : [] %>
      <%= render 'hot_select/select', form: f, name: :profile_id, src: profiles_select_options_path, options:, class: 'col-12' %>
    </div>

    <label class="radio-label">
      <%= radio_button_tag :new_profile, true, checked: !existing_profile %>
      <%= t('competitors.form.create_profile') %>
    </label>

    <div class="grid">
      <%= f.fields_for :profile, existing_profile ? Profile.new : @competitor.profile do |profile_form| %>
        <div class="col-7">
          <%= profile_form.label :name %>
          <%= profile_form.text_field :name, class: 'form-input' %>
        </div>
        <div class="col-5">
          <%= profile_form.label :country %>
          <% options = options_for_select([[profile_form.object.country_name, profile_form.object.country_id]]) %>
          <%= render 'hot_select/select', form: profile_form, name: :country_id, options:, src: countries_select_options_path %>
        </div>
      <% end %>
    </div>

    <div class="form-divider"></div>

    <div class="grid">
      <%= f.label :assigned_number, class: 'form-label col-4' %>
      <%= f.text_field :assigned_number, class: 'form-input col-8' %>
    </div>

    <div class="grid">
      <%= f.label :category_id, class: 'form-label col-4' %>
      <% options = options_from_collection_for_select(@event.categories.ordered, :id, :name, @competitor.category_id) %>
      <%= render 'hot_select/local_select', form: f, name: :category_id, options:, class: 'col-8' %>
    </div>

    <div class="form-actions">
      <%= f.submit t('general.save'), class: 'primary-button' %>
      <button type="button" class="default-button" data-action="modal#close"><%= t 'general.cancel' %></button>
    </div>
  </div>
<% end %>
