.container
  = link_to place_finish_lines_path(@place), class: 'btn-back' do
    %i.fa.fa-chevron-left
    = @place.name
    \// Finish line

  .content-block
    .row{'data-controller': 'places--finish-line-map'}
      .col-sm-7

        %h2= @finish_line.name

        %h3.modal-form__section-title
          %span.modal-form__section-number 1
          Exit


        .row
          .col-sm-3
            %label Latitude
            %p.form-control-static{'data-target': 'places--finish-line-map.exit_lat'}= @place.latitude

          .col-sm-3
            %label Longitude
            %p.form-control-static{'data-target': 'places--finish-line-map.exit_lon'}= @place.longitude

        %h3.modal-form__section-title
          %span.modal-form__section-number 2
          Coordinates

        .row
          .col-sm-3
            %label Start latitude
            %p.form-control-static{'data-target': 'places--finish-line-map.finish_start_lat'}= @finish_line.start_latitude

          .col-sm-3
            %label Start longitude
            %p.form-control-static{'data-target': 'places--finish-line-map.finish_start_lon'}= @finish_line.start_longitude

          .col-sm-3
            %label End latitude
            %p.form-control-static{'data-target': 'places--finish-line-map.finish_end_lat'}= @finish_line.end_latitude

          .col-sm-3
            %label End longitude
            %p.form-control-static{'data-target': 'places--finish-line-map.finish_end_lon'}= @finish_line.end_longitude

        %h3.modal-form__section-title
          %span.modal-form__section-number 3
          Finish line params

        .row
          .col-sm-3
            %label Distance from exit
            %p.form-control-static{'data-target': 'places--finish-line-map.distance'}

          .col-sm-3
            %label Length
            %p.form-control-static{'data-target': 'places--finish-line-map.length'}

          .col-sm-3
            %label Center latitude
            %p.form-control-static{'data-target': 'places--finish-line-map.center_lat'}

          .col-sm-3
            %label Center longitude
            %p.form-control-static{'data-target': 'places--finish-line-map.center_lon'}

      .col-sm-5
        .finish-line-map{'data-target': 'places--finish-line-map.map'}
    .row
      .col-sm-12
        = link_to edit_place_finish_line_path(@finish_line.place, @finish_line), class: 'btn btn-default' do
          %i.fas.fa-pencil-alt
          = t('general.edit')

        = link_to t('general.delete'),
                  place_finish_line_path(@finish_line.place, @finish_line),
                  remote: true,
                  method: :delete,
                  class: 'btn-flat btn-flat--danger'
