<% provide :title, @event.name %>
<% editable = policy(@event).update? %>
<%= turbo_stream_from @event, :task_scoreboard, @task, editable ? :editable : :read_only %>

<div class="show-page">
  <%= render 'events/header', editable: %>

  <div class="show-page-content">
    <div class="tab-bar">
      <% @tasks.each do |task| %>
        <%= link_to t("disciplines.#{task}"), event_task_scoreboard_path(@event, task), class: class_names('tab-bar-item', ('active' if @task == task)) %>
      <% end %>
    </div>

    <div id="<%= @task %>_scoreboard">
      <%= render 'scoreboard', event: @event, editable:, task: @task %>
    </div>
  </div>
</div>
