<%= paginator.render do -%>
  <nav class="pagination-nav" aria-label="pager">
    <%= prev_page_tag %>
    <% each_page do |page| -%>
      <% if page.display_tag? -%>
        <%= page_tag page %>
      <% elsif !page.was_truncated? -%>
        <%= gap_tag %>
      <% end -%>
    <% end -%>
    <%= next_page_tag unless current_page.out_of_range? %>
  </nav>
<% end -%>
