<% url = @section.new_record? ?
           performance_competition_categories_path(@event) :
           performance_competition_category_path(@event, @section) %>

<%= form_with model: @section, url:, scope: :section,
              data: { controller: 'modal-form', action: 'form:submit-success->dialog#close' } do |f| %>
  <div class="sd-form">
    <div class="grid">
      <%= f.label :name, class: 'form-label col-3' %>
      <%= f.text_field :name, class: 'form-input col-9', required: true, autofocus: true %>
    </div>

    <div class="form-actions">
      <% if @section.new_record? %>
        <%= render 'components/switch',
                   label_text: t('general.add_more'),
                   include_hidden: false,
                   data: { 'modal-form-target' => 'keepAdding' } %>
      <% end %>
      <%= f.submit t('general.save'), class: 'button button--primary' %>
      <button type="button" class="button" data-action="dialog#close"><%= t 'general.cancel' %></button>
    </div>
  </div>
<% end %>
