<%= render 'components/dialog', title: t('static_pages.index.track_form.title'), dialog_size: 'lg' do %>
  <%= form_with scope: :track_file, url: track_files_path, multipart: true, class: 'sd-form', data: { controller: 'tracks--form' } do |f| %>

    <% unless user_signed_in? %>
      <%= f.fields_for :track_attributes do |builder| %>
        <div class="grid">
          <label class="form-label col-4"><%= t('activerecord.attributes.profile.name') %></label>
          <%= builder.text_field :name, class: 'form-input col-8', placeholder: t('static_pages.index.track_form.name_plh'), value: @form.name %>
        </div>
      <% end %>
    <% end %>

    <% suit = @form.suit %>
    <% suit_options = suit ? options_for_select([[suit.name, suit.id]], suit.id) : [] %>
    <div class="grid" data-controller="tracks--suit-field" data-mode="select">
      <label class="form-label col-4"><%= t('activerecord.attributes.track.suit') %></label>
      <div class="col-8">
        <%= f.fields_for :track_attributes do |builder| %>
          <div data-tracks--suit-field-target="select" class="col-8">
            <%= render 'hot_select/select', form: builder, name: :suit_id, src: suits_select_options_path,
                       placeholder: t('tracks.form.suit_select_placeholder'), options: suit_options,
                       select: { data: { 'tracks--suit-field-target': 'select' } } %>
          </div>
          <%= builder.text_field :missing_suit_name,
            class: 'form-input col-8',
            placeholder: t('tracks.form.suit_text_placeholder'),
            data: { 'tracks--suit-field-target': 'text' }
          %>
          <div class="form-hint">
            <span data-tracks--suit-field-target="caption"><%= t('tracks.form.toggle_suit_caption') %></span>
            <a href="#" data-tracks--suit-field-target="link" data-action="tracks--suit-field#trigger"><%= t('tracks.form.toggle_suit_link') %></a>
          </div>
        <% end %>
      </div>
    </div>

    <div class="grid">
      <label class="form-label col-4"><%= t('activerecord.attributes.track.place') %></label>
      <%= f.fields_for :track_attributes do |builder| %>
        <%= builder.text_field :location, class: 'form-input col-8', placeholder: t('static_pages.index.track_form.location_plh'), value: @form.location %>
      <% end %>
    </div>

    <div class="grid">
      <label class="form-label col-4"><%= t('activerecord.attributes.track.kind') %></label>
      <%= f.fields_for :track_attributes do |builder| %>
        <div class="col-8">
          <div class="tab-bar">
            <label class="tab-bar-item">
              <%= builder.radio_button :kind, 'skydive', checked: @form.activity == 'skydive', class: 'tab-bar-radio' %>
              <span>Skydive</span>
            </label>
            <label class="tab-bar-item">
              <%= builder.radio_button :kind, 'base', checked: @form.activity != 'skydive', class: 'tab-bar-radio' %>
              <span>B.A.S.E</span>
            </label>
          </div>
        </div>
      <% end %>
    </div>

    <% if user_signed_in? %>
      <div class="grid">
        <label class="form-label col-4"><%= t('tracks.edit.visibility') %></label>
        <%= f.fields_for :track_attributes do |builder| %>
          <div class="col-8">
            <div class="tab-bar">
              <% %w[public unlisted private].each do |visibility_name| %>
                <% current_value = "#{visibility_name}_track" %>
                <label class="tab-bar-item">
                  <%= builder.radio_button 'visibility', current_value, checked: @form.visibility == current_value, class: 'tab-bar-radio' %>
                  <span><%= t("visibility.#{visibility_name}") %></span>
                </label>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>

    <div class="grid">
      <label class="form-label col-4"><%= t('activerecord.attributes.track_file.file') %></label>
      <div class="col-8">
        <%= f.file_field :file, class: 'form-input', accept: '.csv,.gpx,.tes,.kml' %>
        <div class="form-hint"><%= t('static_pages.index.track_form.help') %></div>
      </div>
    </div>

    <div class="grid">
      <label class="form-label col-4"><%= t('activerecord.attributes.track.comment') %></label>
      <%= f.fields_for :track_attributes do |builder| %>
        <%= builder.text_area :comment, class: 'form-input col-8', rows: 3, placeholder: t('static_pages.index.track_form.comment_plh') %>
      <% end %>
    </div>

    <div class="form-actions">
      <%= f.submit t('static_pages.index.track_form.submit'), class: 'button button--primary' %>
      <button type="button" class="button" data-action="dialog#close"><%= t('general.cancel') %></button>
    </div>
  <% end %>
<% end %>
