- visibility ||= recent_value(:visibility).presence || 'public_track'

- if user_signed_in?
  .form-group
    %label.col-sm-3.control-label= t('tracks.edit.visibility')
    .btn-group.col-sm-9{data: {toggle: 'buttons'}}
      - %w[public unlisted private].each do |visibility_name|
        - current_value = "#{visibility_name}_track"
        - active = visibility == current_value
        %label.btn.btn-default{ class:  ('active' if active) }
          = form.radio_button 'visibility', current_value, checked: active
          = t("visibility.#{visibility_name}")
