<%= turbo_stream.update 'modal-root' do %>
  <% if user_signed_in? %>
    <% editable = @event.editable? && !@event.finished? && !@result.round.completed? %>

    <%= render partial: 'map',
               layout: 'components/dialog',
               locals: {
                 title: event_result_presentation(@result),
                 modal_size: 'lg',
                 modal: true,
                 result: @result,
                 editable:
               } %>
  <% else %>
    <%= render layout: 'components/dialog', locals: { title: event_result_presentation(@result), modal_size: 'lg' } do %>
      <div class="sd-container">
        <%= render 'performance_competitions/results/navbar', result: @result, modal: true %>
        <%= render 'components/maps_auth_wall' %>
      </div>
    <% end %>
  <% end %>
<% end %>
