<%= form_with model: :sponsor_copy,
              url: polymorphic_path([@sponsorable, :sponsors_copy]),
              scope: :sponsor_copy,
              data: { controller: 'modal-form', action: 'form:submit-success->modal#close' } do |f| %>
  <div class="sd-form">
    <div class="grid">
      <%= f.label :source_event, class: 'form-label col-3' %>
      <% options = options_for_select([]) %>
      <%= render 'hot_select/select',
                 form: f,
                 name: :source_event_id,
                 src: performance_competitions_select_options_path,
                 options:,
                 placeholder: t('sponsors.sponsors_copies.form_modal.source_event_placeholder'),
                 class: 'col-9' %>
    </div>

    <div class="form-actions">
      <%= f.submit t('general.save'), class: 'button button--primary' %>
      <button type="button" class="button" data-action="modal#close"><%= t 'general.cancel' %></button>
    </div>
  </div>
<% end %>
