<%= form_for(@tournament_competitor) do |f| %>
  <% if @tournament_competitor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tournament_competitor.errors.count, "error") %> prohibited this tournament_competitor from being saved:</h2>

      <ul>
      <% @tournament_competitor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :tournament_id %><br>
    <%= f.collection_select(:tournament_id, Tournament.all, :id, :name, {promt: 'Select tournament'}, {class: 'form-control'}) %>
  </div>
  <div class="field">
    <%= f.label :user_profile_id %><br>
    <%= f.collection_select(:user_profile_id, UserProfile.all, :id, :name, {promt: 'Select profile'}, {class: 'form-control'}) %>
  </div>
  <div class="field">
    <%= f.label :wingsuit_id %><br>
    <%= f.collection_select(:wingsuit_id, Wingsuit.all, :id, :name, {promt: 'Select suit'}, {class: 'form-control'}) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
