<p id="notice"><%= notice %></p>

<h1>Listing Tournament Competitors</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Tournament</th>
      <th>User profile</th>
      <th>Wingsuit</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tournament_competitors.each do |tournament_competitor| %>
      <tr>
        <td><%= tournament_competitor.tournament.name %></td>
        <td><%= tournament_competitor.user_profile.name %></td>
        <td><%= tournament_competitor.wingsuit.name %></td>
        <td><%= link_to 'Show', tournament_competitor %></td>
        <td><%= link_to 'Edit', edit_tournament_competitor_path(tournament_competitor) %></td>
        <td><%= link_to 'Destroy', tournament_competitor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tournament competitor', new_tournament_competitor_path %>
