<%= link_to root_path, class: 'nav-brand' do %>
  <%= icon_tag 'skyderby' %>
  <span>Skyderby</span>
<% end %>

<ul class="nav-menu">
  <% root_controller = controller.controller_path.split('/').first %>
  <li class="nav-menu-item <%= 'nav-menu-item--active' if root_controller == 'tracks' %>">
    <%= link_to t('application.header.tracks'), tracks_path %>
  </li>
  <li class="nav-menu-item <%= 'nav-menu-item--active' if ['events', 'performance_competitions', 'speed_skydiving_competitions', 'tournaments'].include?(root_controller) %>">
    <%= link_to t('application.header.competitions'), events_path %>
  </li>
  <li class="nav-menu-item <%= 'nav-menu-item--active' if root_controller == 'virtual_competitions' %>">
    <%= link_to t('application.header.online_competitions'), virtual_competitions_path %>
  </li>
  <li class="nav-menu-item <%= 'nav-menu-item--active' if root_controller == 'flight_profiles' %>">
    <%= link_to t('application.header.flight_profiles'), flight_profiles_path %>
  </li>
  <li class="nav-menu-item" data-controller="dropdown">
    <button class="dropdown-toggle" popovertarget="explore-menu">
      <%= t('application.header.explore') %>
      &nbsp;
      <%= icon_tag 'angle-down-solid' %>
    </button>

    <div id="explore-menu" popover class="sd-dropdown-menu" data-dropdown-target="menu">
      <%= link_to t('application.header.places'), places_path, class: class_names('dropdown-item', root_controller == 'places' && 'active') %>
      <%= link_to t('application.header.profiles'), profiles_path, class: class_names('dropdown-item', root_controller == 'profiles' && 'active') %>
      <%= link_to t('application.header.suits'), suits_path, class: class_names('dropdown-item', root_controller == 'suits' && 'active') %>
    </div>
  </li>
</ul>
