<% show_cancel ||= false %>
<% show_tabs = local_assigns.fetch(:show_tabs, true) %>

<% if show_tabs %>
  <%= render 'tournaments/qualifications/results/header' %>
  <hr class="condensed">
<% end %>

<%= form_with scope: :jump_range, url: tournament_qualification_result_jump_range_path(@tournament, @result), method: :put, data: { controller: 'modal-form', action: 'form:submit-success->dialog#close' } do |f| %>
  <%= render 'components/jump_range_form', track: @result.track, form: f %>

  <div class="sd-form">
    <div class="grid">
      <label class="form-label col-4">
        <%= t('tournaments.results.apx_start_time') %>
      </label>
      <div class="col-8">
        <p class="form-static">
          <%= @result.detected_start_time&.strftime('%Y-%m-%d %T.%L') %>
        </p>
      </div>
    </div>

    <div class="grid">
      <%= f.label :start_time, class: 'form-label col-4' %>
      <div class="col-8">
        <%= f.text_field :start_time, class: 'form-input', value: (@result.start_time || @result.detected_start_time)&.strftime('%Y-%m-%d %T.%L') %>
      </div>
    </div>

    <div class="grid">
      <%= f.label :result, class: 'form-label col-4' %>
      <div class="col-8">
        <%= f.text_field :result, class: 'form-input', value: @result.result %>
      </div>
    </div>

    <div class="grid">
      <%= f.label :canopy_time, class: 'form-label col-4' %>
      <div class="col-8">
        <%= f.text_field :canopy_time, class: 'form-input', value: @result.canopy_time %>
      </div>
    </div>
  </div>

  <div class="form-actions justify-between">
    <div>
      <%= delete_qualification_track_link(@tournament, @result) %>
    </div>

    <div>
      <%= f.submit t('general.save'), class: 'button button--primary' %>
      <% if show_cancel %>
        <button type="button" class="button" data-action="dialog#close"><%= t 'general.cancel' %></button>
      <% end %>
    </div>
  </div>
<% end %>
