<% show_cancel ||= false %>

<%= render 'tournaments/qualifications/results/header' %>
<hr class="condensed">

<%= form_with scope: :jump_range, url: tournament_qualification_result_jump_range_path(@tournament, @result), method: :put, data: { controller: 'modal-form', action: 'form:submit-success->dialog#close' } do |f| %>
  <%= render 'concerns/jump_range_form', track: @result.track, form: f %>

  <div class="form-actions justify-between">
    <div>
      <%= delete_qualification_track_link(@tournament, @result) %>
    </div>

    <div>
      <%= f.submit t('general.save'), class: 'button button--primary' %>
      <% if show_cancel %>
        <button type="button" class="button" data-action="dialog#close"><%= t 'general.cancel' %></button>
      <% end %>
    </div>
  </div>
<% end %>
