<% url = @jump_profile.new_record? ? place_jump_profiles_path(@place) : place_jump_profile_path(@place, @jump_profile) %>
<%= form_for @jump_profile, url: url, remote: true, html: { 'data-controller': 'places--jump-profile-form', class: 'form-horizontal' } do |form| %>
  <div class="form-group">
    <%= form.label :name, class: 'col-sm-3 control-label' %>
    <div class="col-sm-5">
      <%= form.text_field :name, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group" data-controller="places--exit-measurements">
    <label class="col-sm-3 control-label">Exit measurements</label>
    <div class="col-sm-5">
      <table class="table place-form__exit-measurements">
        <thead>
          <tr>
            <th>Altitude</th>
            <th>Distance</th>
            <th></th>
          </tr>
        </thead>
        <tbody class="hide exit-measurement__template" data-target="places--exit-measurements.template">
          <%= render 'places/jump_profiles/exit_measurements_template', form: form, line: form.object %>
        </tbody>
        <tbody data-target="places--exit-measurements.container">
          <%= render 'places/jump_profiles/exit_measurements', form: form %>
        </tbody>
      </table>
      <a class="btn btn-default place-form__add-measurement" data-action="click->places--exit-measurements#add">
        <i class="fa fa-plus"></i>
        Add
      </a>
      <a class="btn btn-default" data-action="click->places--exit-measurements#addFromText">
        <i class="fa fa-plus"></i>
        Add from text
      </a>
      <textarea rows="10" data-target="places--exit-measurements.textarea"></textarea>
    </div>
  </div>

  <hr>

  <div class="text-center">
    <%= form.submit t('general.save'), class: 'btn btn-lg btn-primary' %>
  </div>
<% end %>
