<%= render 'places/layout' do %>
  <div class="sd-container">
    <div>
      <%= link_to new_place_jump_profile_path(@place), class: 'button' do %>
        <%= icon_tag 'plus-solid' %>
        <%= t('general.create') %>
      <% end %>
    </div>

    <div class="place-jump-profiles">
      <%= render collection: @jump_profiles, partial: 'places/jump_profiles/jump_profile' %>
    </div>
  </div>
<% end %>
