.container
  .page-header
    %h2= t('devise.passwords.new.forgot_your_password')

  = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: 'form-horizontal' }) do |f|
    = devise_error_messages!

    .form-group
      = f.label :email, class: 'col-sm-2 control-label'
      .col-sm-6
        = f.email_field :email, autofocus: true, class: 'form-control'

    .form-group
      .col-sm-6.col-sm-offset-2
        = f.submit t('devise.passwords.new.send_me_reset_password_instructions'), class: 'btn btn-primary'

    .form-group
      .col-sm-6.col-sm-offset-2
        = render 'users/shared/links'