<% content_for :title, t('devise.passwords.new.forgot_your_password') %>

<div class="content-block">
  <h2><%= t('devise.passwords.new.forgot_your_password') %></h2>

  <% if resource.errors.any? %>
    <div class="notice notice--error notice--md">
      <%= resource.errors.full_messages.first %>
    </div>
  <% end %>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { class: 'sd-form' }) do |f| %>
    <div>
      <%= f.label :email, class: 'form-label' %>
      <%= f.email_field :email, autofocus: true, class: 'form-input', required: true, placeholder: 'name@example.com' %>
    </div>

    <div class="form-actions">
      <%= f.submit t('devise.passwords.new.send_me_reset_password_instructions'), class: 'button button--primary' %>
    </div>
  <% end %>

  <div class="divider"></div>

  <p class="signup-prompt">
    <%= link_to t('devise.shared.links.sign_in'), new_user_session_path, class: 'button button--ghost button--sm' %>
    <%= link_to t('devise.shared.links.sign_up'), new_user_registration_path, class: 'button button--ghost button--sm' %>
  </p>
</div>