<% url = performance_competition_results_path(@event) %>
<%= form_with model: @result, scope: :result, url:, multipart: true, class: 'sd-form', data: { controller: 'modal-form', action: 'form:submit-success->modal#close' } do |f| %>
  <%= f.hidden_field :competitor_id, value: @result.competitor_id %>
  <%= f.hidden_field :round_id, value: @result.round_id %>
  <%= render 'concerns/upload_progress' %>

  <label class="radio-label">
    <%= radio_button_tag :track_from, :from_file, checked: true %>
    <%= t 'event_tracks.form_modal.from_file' %>
  </label>

  <div class="grid">
    <%= f.fields_for :track_attributes do |track_form| %>
      <%= track_form.file_field :file, class: 'form-input col-12' %>
    <% end %>
  </div>

  <label class="radio-label">
    <%= radio_button_tag :track_from, :existing_track %>
    <%= t 'event_tracks.form_modal.from_existent_track' %>
  </label>

  <div class="grid">
    <%= render 'hot_select/select',
               form: f,
               name: :track_id,
               src: tracks_select_options_path(profile_id: @result.competitor.profile_id),
               class: 'col-12',
               placeholder: "Choose track from list" %>
  </div>

  <div class="form-actions">
    <%= f.submit t('general.save'), class: 'primary-button' %>
    <button type="button" class="default-button" data-action="modal#close"><%= t 'general.cancel' %></button>
  </div>
<% end %>
