<% current_controller = controller.controller_path.split('/').last %>

<li class="<%= 'active' if current_controller == 'results' %>">
  <%= link_to t('general.charts'), performance_competition_result_path(@result.event, @result), data: { turbo_stream: modal } %>
</li>
<li class="<%= 'active' if current_controller == 'maps' %>">
  <%= link_to t('event_tracks.show.maps'), performance_competition_result_map_path(@result.event, @result), data: { turbo_stream: modal } %>
</li>

<% if policy(@event).update? %>
  <li class="<%= 'active' if current_controller == 'jump_ranges' %>">
    <%= link_to t('general.jump_range'), performance_competition_result_jump_range_path(@result.event, @result), data: { turbo_stream: modal } %>
  </li>
  <li class="<%= 'active' if current_controller == 'penalties' %>">
    <%= link_to t('event_tracks.show.penalties'), performance_competition_result_penalty_path(@result.event, @result), data: { turbo_stream: modal } %>
  </li>
<% end %>
