<%# locals: (editable:, **rest) %>

<% provide :title, event_result_presentation(@result) %>

<div class="<%= mobile? ? 'event-result' : '' %>">
  <div class="event-result__header">
    <%= link_to @event, class: 'btn-back' do %>
      <i class="fa fa-chevron-left"></i>
      <%= @event.name %>
    <% end %>
  </div>

  <div class="<%= mobile? ? 'event-result__body' : 'card sd-container' %>">
    <div class="event-result__title-bar">
      <%= image_tag @result.competitor.profile.userpic_url(:thumb) %>
      <%= @result.competitor.name %>
      |
      <%= "#{t('disciplines.' + @result.round_discipline)} - #{@result.round_number}" %>
    </div>

    <%= render 'performance_competitions/results/header', editable: %>

    <%= yield %>
  </div>
</div>
