<%# locals: (result:, editable:, modal: false, **rest) %>

<div class="sd-container">
  <%= render partial: 'performance_competitions/results/navbar', locals: { result:, modal: } %>

  <%= render 'indicators', result: %>
  <hr />

  <div data-controller="performance-flying-charts"
       data-result="<%= result.result %>"
       data-window-start="<%= result.event.range_from %>"
       data-window-end="<%= result.event.range_to %>"
       data-exit-altitude="<%= result.exit_altitude %>"
       data-chart-type="<%= Current.charts_mode %>"
       data-points-url="<%= track_points_path(result.track, original_frequency: true) %>"
       data-weather-url="<%= track_weather_data_path(result.track) %>"
  >
    <%= render 'track_indicators' %>
    <hr />

    <% if Current.charts_mode.separate? %>
      <div class="performance-flying-separate-charts"
           data-controller="synchronized-charts"
           data-action="mousemove->synchronized-charts#refreshTooltip touchmove->synchronized-charts#refreshTooltip touchstart->synchronized-charts#refreshTooltip">
        <div data-performance-flying-charts-target="accuracyChart" data-synchronized-charts-target="chart"></div>
        <div data-performance-flying-charts-target="glideChart" data-synchronized-charts-target="chart"></div>
        <div data-performance-flying-charts-target="speedChart" data-synchronized-charts-target="chart"></div>
        <div data-performance-flying-charts-target="altitudeDistanceChart" data-synchronized-charts-target="chart"></div>
      </div>
    <% else %>
      <div class="performance-flying-combined-chart" data-performance-flying-charts-target="combinedChart"></div>
    <% end %>
  </div>

  <div class="form-actions justify-between" data-action="turbo:submit-end->modal#close">
    <div>
      <% if editable %>
        <%= delete_event_track_link(@result) %>
      <% end %>
    </div>

    <div>
      <% if modal %>
        <button class="button" type="button" data-action="modal#close"><%= t 'general.cancel' %></button>
      <% end %>
    </div>
  </div>
</div>
