<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <div class="pull-right">
        <%= link_to track_path(@result.track, f: @result.range_from, t: @result.range_to, 'straight-line': true), class: 'modal-header-link', target: '_blank' do %>
          <i class="fa fa-external-link-alt"></i>
        <% end %>
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
          <span class="sr-only">Close</span>
        </button>
      </div>
      <h4 class="modal-title">
        <%= event_result_presentation(@result) %>
      </h4>
    </div>

    <div class="modal-body">
      <div class="container-fluid">
        <%= render 'performance_competitions/results/header' %>
        <hr>
        <div class="row">
          <div class="col-sm-12">
            <div class="pull-right">
              <%= render 'tracks/view_settings_menu', presenter: @track_presenter %>
            </div>
          </div>
        </div>
        <%= render partial: 'tracks/indicators', locals: { presenter: @track_presenter } %>
        <hr>
        <div class="row">
          <div class="col-sm-12">
            <%= render 'tracks/charts', presenter: @track_presenter %>
          </div>
        </div>
        <div class="row">
          <hr>
          <span class="col-sm-2 control-label"><%= t('activerecord.attributes.event/result.uploaded_by') %></span>
          <div class="col-sm-10">
            <span id="rm-track-uploaded"><%= @result.uploaded_by&.name %></span>
          </div>
        </div>
      </div>
      <hr>
      <div class="modal-actions">
        <div class="modal-actions__left">
          <% if @result.event.editable? %>
            <%= delete_event_track_link(@result) %>
          <% end %>
        </div>
        <div class="modal-actions__right">
          <button type="button" class="btn btn-default" data-dismiss="modal"><%= t 'general.cancel' %></button>
        </div>
      </div>
    </div>
  </div>
</div>
