<div class="container-fluid">
  <%= render partial: 'performance_competitions/results/header', locals: { presenter: @track_presenter } %>

  <div class="row">
    <div class="col-sm-12">
      <div class="content-block content-block--bordered">
        <%= render partial: 'tracks/charts', locals: { presenter: @track_presenter } %>
      </div>
    </div>
  </div>

  <% if @result.event.editable? %>
    <div class="form-actions">
      <div class="left-aligned">
        <%= delete_event_track_link(@result) %>
      </div>
      <div class="right-aligned">
        <button type="button" class="button" data-action="modal#close"><%= t 'general.cancel' %></button>
      </div>
    </div>
  <% else %>
    <div class="form-actions">
      <button type="button" class="button" data-action="modal#close"><%= t 'general.cancel' %></button>
    </div>
  <% end %>
</div>
