.container
  = render 'profiles/header', profile: @profile

  .content-block
    #profile-tracks-table.table.table-hover
      .thead
        .tr
          .th= t('activerecord.attributes.track.id')
          .th= t('activerecord.attributes.track.suit')
          .th= t('activerecord.attributes.track.place')
          .th= t('activerecord.attributes.track.comment')
          .th.text-right= t('disciplines.distance')
          .th.text-right= t('disciplines.speed')
          .th.text-right= t('disciplines.time')
          .th.text-right= t('activerecord.attributes.track.recorded_at')
          .th
      .tbody
        = render partial: 'tracks/track', collection: @profile.tracks, locals: { except_columns: [:profile] }
  .text-center
    .pagination-list
      = will_paginate @profile.tracks, renderer: BootstrapPagination::Rails
