<%# locals (section:, event:, editable:, columns_count:) %>

<tr id="<%= dom_id(section) %>" class="scoreboard-category">
  <td class="scoreboard-section" colspan="<%= columns_count %>">
    <span class="section-name"><%= section.name %></span>

    <% if editable %>
      <div class="category-actions">
        <%= button_to edit_event_section_path(event, section),
                      class: 'ghost-button small-button',
                      method: :get, form: { data: { turbo_stream: true } } do %>
          <%= svg_icon 'pencil-solid' %>
        <% end %>

        <% if event.sections.many? %>
          <% unless section.first_position? %>
            <%= button_to move_upper_event_section_path(event, section),
                          class: 'ghost-button small-button',
                          method: :patch, form: { data: { turbo_stream: true } } do %>
              <%= svg_icon 'angle-up-solid' %>
            <% end %>
          <% end %>

          <% unless section.last_position? %>
            <%= button_to move_lower_event_section_path(event, section),
                          class: 'ghost-button small-button',
                          method: :patch, form: { data: { turbo_stream: true } } do %>
              <%= svg_icon 'angle-down-solid' %>
            <% end %>
          <% end %>
        <% end %>

        <%= button_to event_section_path(event, section),
                      class: 'ghost-button small-button',
                      method: :delete,
                      data: { turbo_confirm: t('sections.show.delete_confirmation') } do %>
          <%= svg_icon 'xmark' %>
        <% end %>
      </div>
    <% end %>
  </td>
</tr>
