<%# locals: (category:, event:, editable:, columns_count:) %>

<tr id="<%= dom_id(category) %>" class="scoreboard-category">
  <td class="scoreboard-section" colspan="<%= columns_count %>">
    <span class="section-name"><%= category.name %></span>

    <% if editable %>
      <div class="category-actions">
        <%= button_to edit_boogie_category_path(event, category),
                      class: 'button button--ghost button--sm',
                      method: :get, form: { data: { turbo_stream: true } } do %>
          <%= icon_tag 'pencil-solid' %>
        <% end %>

        <% if event.categories.many? %>
          <% unless category.first_position? %>
            <%= button_to move_upper_boogie_category_path(event, category),
                          class: 'button button--ghost button--sm',
                          method: :patch, form: { data: { turbo_stream: true } } do %>
              <%= icon_tag 'angle-up-solid' %>
            <% end %>
          <% end %>

          <% unless category.last_position? %>
            <%= button_to move_lower_boogie_category_path(event, category),
                          class: 'button button--ghost button--sm',
                          method: :patch, form: { data: { turbo_stream: true } } do %>
              <%= icon_tag 'angle-down-solid' %>
            <% end %>
          <% end %>
        <% end %>

        <%= button_to boogie_category_path(event, category),
                      class: 'button button--ghost button--sm',
                      method: :delete,
                      data: { turbo_confirm: t('sections.show.delete_confirmation') } do %>
          <%= icon_tag 'xmark' %>
        <% end %>
      </div>
    <% end %>
  </td>
</tr>
