<td class='text-info'><%= id %></td>
<td class='text-info'><%= name %></td>
<td class='text-info'><%= wingsuit %></td>
<td class='text-info'><%= location %></td>
<td class='text-muted'><%= comment %></td>
<td class='text-info'><%= created_at %></td>
