.modal.fade#newRoundEventModal{:tabindex => '-1', :role => 'dialog', :aria => {:labelledby => 'myModalLabel', :hidden => 'true'}}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{:type => 'button', :data => {:dismiss => 'modal'}}
          %span{:aria => {:hidden => 'true'}}
            &times;
            %span.sr-only= 'Close'
        %h4.modal-title#myModalLabel= t('rounds.new')
      = form_for [@event, @round], remote: true,:html => {:class => 'form-horizontal', :role => 'form'} do |f|
        .modal-body
          .form-group
            = f.label t('rounds.name'), :class => 'col-sm-4 control-label', :for => 'name'
            .col-sm-8
              = f.text_field :name, :class => 'form-control'
          .form-group
            = f.label t('rounds.discipline'), :class => 'col-sm-4 control-label', :for => 'place'
            .col-sm-8
              = f.collection_select :discipline, Discipline.all,
                                      :id, :name, {:promt => true}, {:class => 'form-control'}
        .modal-footer
          %button.btn.btn-default{:type => 'button', :data => {:dismiss => 'modal'}}= t('general.cancel')
          = f.submit t('general.create'), :class => 'btn btn-primary'