.top-buffer
  = form_for @event, :html => {:class => 'form-horizontal'} do |f|
    .form-group
      = f.label t('static_pages.index.events.form.name'), :class => 'col-sm-3 control-label', :for => 'name'
      .col-sm-9
        = f.text_field :name, :class => 'form-control', :placeholder => 'Имя мероприятия', :type => 'text'

    .form-group
      = f.label t('static_pages.index.events.form.place'), :class => 'col-sm-3 control-label', :for => 'place'
      .col-sm-9
        = f.text_field :place, :class => 'form-control', :placeholder => 'Локация', :type => 'text'

    .form-group
      = f.label t('static_pages.index.events.form.start_at'), :class => 'col-sm-3 control-label', :for => 'start_at'
      .col-sm-9
        .form-inline
          = f.text_field :start_at, :class => 'form-control datepicker', :value => @event.start_at.strftime('%d-%m-%Y')
          = f.label t('static_pages.index.events.form.end_at'), :class => 'control-label', :for => 'end_at'
          = f.text_field :end_at, :class => 'form-control datepicker', :value => @event.end_at.strftime('%d-%m-%Y')

    .form-group
      = f.label t('static_pages.index.events.form.reg_start_at'), :class => 'col-sm-3 control-label', :for => 'start_at'
      .col-sm-9
        .form-inline
          = f.text_field :reg_starts, :class => 'form-control datepicker', :value => @event.reg_starts.nil? ? nil : @event.reg_starts.strftime('%d-%m-%Y')
          = f.label t('static_pages.index.events.form.reg_end_at'), :class => 'control-label', :for => 'end_at'
          = f.text_field :reg_ends, :class => 'form-control datepicker', :value =>  @event.reg_ends.nil? ? nil : @event.reg_ends.strftime('%d-%m-%Y')

    .form-group
      = f.label t('static_pages.index.events.form.range_from'), :class => 'col-sm-3 control-label', :for => 'comp_range_from'
      .col-sm-9
        .form-inline
          = f.text_field :comp_range_from, :class => 'form-control'
          = f.label t('static_pages.index.events.form.range_to'), :class => 'control-label', :for => 'comp_range_to'
          = f.text_field :comp_range_to, :class => 'form-control'

    .form-group
      .col-sm-9.col-sm-offset-3
        .checkbox
          %label
            = f.check_box :merge_intermediate_and_rookie
            = 'Объединять "Intermediate" и "Rookie" в один класс'

    .form-group
      .col-sm-9.col-sm-offset-3
        .checkbox
          %label
            = f.check_box :allow_tracksuits
            = 'Разрешить участие в трексьюте'

    .form-group
      = f.label 'Описание', :class => 'col-sm-3 control-label', :for => 'Description'
      .col-sm-9
        = f.text_area :descriprion, :class => 'form-control', :rows => 10

    .form-group
      = f.label 'Информация об аэродроме', :class => 'col-sm-3 control-label', :for => 'form_info'
      .col-sm-9
        = f.text_area :dz_info, :class => 'form-control', :rows => 10

    .form-group
      = f.label 'Дополнительная информация для заявки', :class => 'col-sm-3 control-label', :for => 'form_info'
      .col-sm-9
        = f.text_area :form_info, :class => 'form-control', :rows => 5

    .form-group
      .col-sm-9.col-sm-offset-3
        .checkbox
          %label
            = f.check_box :finished
            = 'Завершено'

    .form-group
      .col-sm-9.col-sm-offset-3
        = f.submit 'Сохранить', :class => 'btn btn-primary'