%h2= 'Организаторы'

%table.table.table-hover
  %thead
    %tr
      %th= 'Организаторы'
      %th= 'Изм. организаторов'
      %th= 'Изм. раундов'
      %th= 'Изм. соревнующихся'
      %th= 'Изм. треков'
      %th= 'Действия'
  %tbody
  - @event.organizers.each do |t|
    %tr.clickableRow{:data => {:url => event_organizer_path(:id => t.id, :event_id => @event.id)}}
      %td.text-info= t.user.user_profile.name
      %td.text-info= t.orgs_admin
      %td.text-info= t.rounds_admin
      %td.text-info= t.competitors_admin
      %td.text-info= t.tracks_admin
      %td.text-info

%button.btn.btn-default{:data => {:toggle => 'modal', :target => '#newEventOrgModal'}}
  = 'Добавить организатора'

%hr