.modal.fade#userpic-edit-modal{:tabindex => '-1', :role => 'dialog', :aria => {:labelledby => 'myModalLabel', :hidden => 'true'}}
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        %button.close{:type => 'button', :data => {:dismiss => 'modal'}}
          %span{:aria => {:hidden => 'true'}}
            &times;
          %span.sr-only
            Close
        %h4.modal-title= 'Редактирование фотографии'

      .modal-body
        .row
          .col-sm-8
            %form#avatar-form{:role => 'form', enctype: 'multipart/form-data'}
              .form-group.row
                %span.col-sm-3.control-label= 'Выберите файл:'
                .col-sm-9
                  %input#avatar-file{name: 'user_profile[userpic]', type: 'file'}
                  %input#avatar-crop-x{name: 'user_profile[crop_x]', type: 'hidden'}
                  %input#avatar-crop-y{name: 'user_profile[crop_y]', type: 'hidden'}
                  %input#avatar-crop-w{name: 'user_profile[crop_w]', type: 'hidden'}
                  %input#avatar-crop-h{name: 'user_profile[crop_h]', type: 'hidden'}
          .col-sm-4
            .progress
              .progress-bar{role: 'progressbar', aria: {valuenow:"60", valuemin:"0", valuemax:"100"}, style:"width: 60%;"}
                %span.sr-only
                  = '60% Complete'
        .row
          .col-sm-8.text-center
            %img.loading-bg#userpic-large{data: {src: @profile.userpic.url(:large)}}
          .col-sm-4
            %p= 'Превью:'
            .div-preview
              %img.loading-bg#userpic-preview{data: {src: @profile.userpic.url(:large)}}
      .modal-footer
        %button.btn.btn-success{:type => 'button', :data => {:dismiss => 'modal'}}
          = 'Сохранить'
        %button.btn.btn-default{:type => 'button', :data => {:dismiss => 'modal'}}
          = 'Закрыть'

