<%# locals: (result:, editable:, modal: false, **rest) %>

<div class="sd-container" data-controller="events--result-map" data-url="<%= url_for %>">
  <%= render 'events/results/navbar', result:, modal: %>

  <div data-controller="events--designated-lane" data-action="round-map:show-dl@window->events--designated-lane#show_dl">
    <div class="<%= mobile? ? 'hide' : '' %>">
      <%= render 'events/maps/designated_lane_form' %>
    </div>

    <div class="event-track__map" data-events--result-map-target="map" data-events--designated-lane-target="map">
      <div class="round-map-loading" data-events--round-map-target="loading_placeholder">
        <i class="fa fa-3x fa-circle-notch fa-spin"></i>
        <p>Loading...</p>
      </div>
    </div>

    <%= render 'events/maps/legend' %>
  </div>

  <div class="form-actions justify-between">
    <div>
      <% if editable %>
        <%= delete_event_track_link(@result) %>
      <% end %>
    </div>

    <div>
      <% if modal %>
        <button class="default-button" type="button" data-action="modal#close"><%= t 'general.cancel' %></button>
      <% end %>
    </div>
  </div>
</div>
