.modal-dialog.modal-lg
  .modal-content
    .modal-header
      %button.close{type: 'button', data: {dismiss: 'modal'}}
        %span{aria: {hidden: 'true'}}
          &times;
        %span.sr-only
          Close
      %h4.modal-title
        = event_track_presentation(@result)

    .modal-body
      .container-fluid{'data-controller': 'events--result-map', 'data-url': url_for}
        = render 'events/results/header'

        .row
          .col-sm-12{'data-controller': 'events--designated-lane'}
            = render 'events/maps/designated_lane_form'

            .event-track__map{'data-target': 'events--result-map.map events--designated-lane.map'}
              .round-map-loading{'data-target': 'events--round-map.loading_placeholder'}
                %i.fa.fa-3x.fa-circle-o-notch.fa-spin
                %p
                  Loading...

            = render 'events/maps/legend'

        %hr
        .modal-actions
          .modal-actions__left
            - if policy(@result.event).update?
              = delete_event_track_link(@result)

          .modal-actions__right
            %button.btn.btn-default{type: 'button', data: {dismiss: 'modal'}}= t 'general.cancel'
