.top-buffer
  %button.btn.btn-default{:data => {:toggle => 'modal', :target => '#newDocModal'}}= 'Добавить документ'
.top-buffer

.modal.fade#newDocModal{:tabindex => '-1', :role => 'dialog', :aria => {:labelledby => 'myModalLabel', :hidden => 'true'}}
  .modal-dialog
    .modal-content
      = form_for [@event, @doc], :html => {:class => 'form-horizontal', :role => 'form', :id => 'new_doc_form', :multipart => true} do |f|
        .modal-header
          %button.close{:type => 'button', :data => {:dismiss => 'modal'}}
            %span{:aria => {:hidden => 'true'}}
              &times;
            %span.sr-only
              Close
          %h4.modal-title#myModalLabel= 'Новый документ'


        .modal-body
          .form-group
            = f.label 'Название документа', :class => 'col-sm-4 control-label', :for => 'name'
            .col-sm-8
              = f.text_field :name, :class => 'form-control', :placeholder => 'Название документа', :type => 'text'

          .form-group
            = f.label 'Файл', class: 'col-sm-4 control-label', :for => :userpic
            .col-sm-8
              = f.file_field :attached_file

          .form-group
            = f.label 'Описание:', :class => 'col-sm-4 control-label', :for => 'description'
            .col-sm-8
              = f.text_area :description, :class => 'form-control', :placeholder => 'Описание документа', :type => 'text'

        .modal-footer
          %button.btn.btn-default{:type => 'button', :data => {:dismiss => 'modal'}}='Отмена'
          = f.submit 'Добавить', :class => 'btn btn-primary'