<%# locals: (result:, editable:, modal: false, **rest) %>

<%= render 'boogies/results/navbar', result:, modal: %>

<%= form_with scope: :jump_range, url: boogie_result_jump_range_path(@result.event, @result),
              method: :put, class: 'sd-form', data: { controller: 'modal-form', action: 'form:submit-success->dialog#close' } do |f| %>
  <%= render 'concerns/jump_range_form', track: @result.track, form: f %>

  <div class="form-actions justify-between">
    <div>
      <% if editable %>
        <%= delete_event_track_link(@result) %>
      <% end %>
    </div>

    <div>
      <% if editable %>
        <%= f.submit t('general.save'), class: 'button button--primary' %>
      <% end %>
      <% if modal %>
        <button class="button" type="button" data-action="dialog#close"><%= t 'general.cancel' %></button>
      <% end %>
    </div>
  </div>
<% end %>
