<%= link_to speed_skydiving_competition_series_path(speed_skydiving_competition_series), class: ['events-list__item', ('active' if speed_skydiving_competition_series.active?)] do %>
  <div class="events-list__item-sidebar">
     <div class="events-list__item-date">
       <%= speed_skydiving_competition_series.starts_at&.strftime '%d' %>
       <span><%= speed_skydiving_competition_series.starts_at&.strftime '%b\'%y' %></span>
     </div>
    <div class="events-list__item-official">official</div>
   </div>
  <div class="events-list__item-content">
    <div class="events-list__item-title"><%= speed_skydiving_competition_series.name %></div>
    <div class="events-list__item-participants">
      <% speed_skydiving_competition_series.competitions.each do |competition| %>
       <p><%= competition.name %></p>
      <% end %>
    </div>

    <hr />

    <div class="events-list__item-info">
      Rules:
      <span>Speed Skydiving</span>
    </div>
  </div>
<% end %>
