<% provide :title, @event.name %>
<% editable = @event.editable? %>

<div class="show-page">
  <%= render 'events/header', editable: %>

  <div class="card reference-points">
    <% if user_signed_in? %>
      <div class="reference-points-map"
           data-controller="map"
           data-center-lat="<%= @event.place.latitude %>"
           data-center-lon="<%= @event.place.longitude %>">
      </div>
    <% else %>
      <div class="reference-points-map">
        <%= render 'components/maps_auth_wall', fill: true %>
      </div>
    <% end %>

    <div class="reference-points-list">
      <div class="reference-points-actions">
        <%= button_to performance_competition_reference_points_path(@event), class: 'button' do %>
          <%= icon_tag 'plus-solid' %>
          <%= t('general.create') %>
        <% end %>
        <%= link_to new_performance_competition_reference_points_import_path(@event), class: 'button', data: { turbo_stream: true } do %>
          <%= icon_tag 'plus-solid' %>
          <%= t('general.import_from_csv')  %>
        <% end %>
        <%= link_to performance_competition_reference_points_path(@event, format: :csv), class: 'button' do %>
          <%= icon_tag 'download-solid' %>
          <%= t('general.export_to_csv') %>
        <% end %>
      </div>
      <div class="reference-points-table" id="reference-points-table">
        <div class="reference-points-table-header">
          <div><%= t('activerecord.attributes.reference_point.name') %></div>
          <div><%= t('activerecord.attributes.reference_point.latitude') %></div>
          <div><%= t('activerecord.attributes.reference_point.longitude') %></div>
          <div></div>
        </div>

        <%= render partial: 'form', collection: @reference_points, as: :reference_point, locals: { event: @event } %>
      </div>

      <div class="grid">
        <% if editable %>
          <%= form_with model: @event, url: performance_competition_designated_lane_start_path(@event), data: { controller: 'auto-submit', action: 'change->auto-submit#submit' } do |f| %>
            <% options = options_for_select(
              PerformanceCompetition.designated_lane_starts.keys.map { |key|
                [t("activerecord.attributes.event.designated_lane_starts.#{key}"), key]
              },
              @event.designated_lane_start
            ) %>
            <%= render 'hot_select/local_select', form: f, name: :designated_lane_start, options:, class: 'col-12', clearable: false %>
          <% end %>
        <% else %>
          <span class="col-12"><%= t("activerecord.attributes.event.designated_lane_starts.#{@event.designated_lane_start}") %></span>
        <% end %>
      </div>
    </div>
  </div>
</div>
