<%= form_for @group do |f| %>
  <div class="form-row">
    <%= f.label :name, class: 'form-label col-sm-2' %>
    <div class="col-sm-5">
      <%= f.text_field :name, class: 'form-input' %>
    </div>
  </div>

  <div class="col-sm-offset-2 col-sm-5">
    <%= f.submit nil, class: 'button button--primary' %>
    <%= link_to t('general.cancel'), virtual_competition_groups_path, class: 'button' %>
  </div>
<% end %>
