<div class="container">
  <div class="page-header">
    <h1>Online competitions // Groups</h1>
  </div>
  <div class="content-block">
    <table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Created at</th>
          <th><%= t('.actions') %></th>
        </tr>
      </thead>
      <tbody>
        <% @groups.each do |group| %>
          <tr>
            <td><%= group.id %></td>
            <td><%= link_to group.name, virtual_competition_group_path(group) %></td>
            <td><%= group.created_at %></td>
            <td>
              <%= link_to t('general.edit'), edit_virtual_competition_group_path(group), class: 'btn btn-default btn-xs' %>
              <%= link_to t('general.delete'),
                          virtual_competition_group_path(group),
                          data: { turbo_method: :delete, turbo_confirm: t('.confirm', default: t("general.confirm_delete")) },
                          class: 'btn btn-xs btn-danger' %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= link_to t('general.new'),
                new_virtual_competition_group_path,
                class: 'btn btn-primary' %>
    <%= link_to t('general.back'), virtual_competitions_path, class: 'btn btn-default' %>
  </div>
</div>
