<%= form_with model: @place, class: 'grid', data: { controller: 'places--form' } do |f| %>
  <script type="application/json" data-places--form-target="allPlaces">
    <%= raw render template: 'places/index', collection: @places[0..10], as: :place, formats: [:json] %>
  </script>

  <div class="col-6 sd-form">
    <div class="grid">
      <%= f.label :name, class: 'col-4', for: :name %>
      <div class="col-8">
        <%= f.text_field :name, autofocus: true, required: true, class: 'form-input' %>
      </div>
    </div>

    <div class="grid">
      <%= f.label :kind, class: 'col-4', for: :kind %>
      <div class="col-8">
        <div class="tab-bar">
          <label class="tab-bar-item">
            <%= f.radio_button :kind, 'skydive', checked: @place.skydive?, class: 'tab-bar-radio' %>
            <span>Skydive</span>
          </label>
          <label class="tab-bar-item">
            <%= f.radio_button :kind, 'base', checked: @place.base?, class: 'tab-bar-radio' %>
            <span>B.A.S.E</span>
          </label>
        </div>
      </div>
    </div>

    <div class="grid">
      <%= f.label :country, class: 'col-4', for: :country %>
      <div class="col-8">
        <% options = options_for_select([[@place.country_name, @place.country_id]]) %>
        <%= render 'hot_select/select', form: f, name: :country_id, options:, src: countries_select_options_path %>
      </div>
    </div>

    <div class="grid">
      <%= f.label :latitude, class: 'col-4', for: :latitude %>
      <div class="col-8">
        <%= f.text_field :latitude, required: true, class: 'form-input', 'data-places--form-target': 'latitude', 'data-action': 'input->places--form#onCoordinatesChange' %>
      </div>
    </div>

    <div class="grid">
      <%= f.label :longitude, class: 'col-4', for: :longitude %>
      <div class="col-8">
        <%= f.text_field :longitude, required: true, class: 'form-input', 'data-places--form-target': 'longitude', 'data-action': 'input->places--form#onCoordinatesChange' %>
      </div>
    </div>

    <div class="grid">
      <%= f.label :msl, class: 'col-4', for: :msl %>
      <div class="col-8">
        <%= f.text_field :msl, class: 'form-input' %>
      </div>
    </div>

    <div class="grid">
      <div class="col-start-5 col-8">
        <%= f.submit t('general.save'), class: 'button button--primary' %>
      </div>
    </div>
  </div>

  <div class="col-6 place-form--map" data-places--form-target="map"></div>
<% end %>
