= form_for @place, html: {class: 'form-horizontal place-form'} do |f|
  .form-group
    = f.label :name, class: 'col-sm-3 control-label', for: :name
    .col-sm-5
      = f.text_field :name, autofocus: true, class: 'form-control'

  .form-group
    = f.label :kind, class: 'col-sm-3 control-label', for: :kind
    .btn-group.col-sm-9{data: {toggle: 'buttons'}}
      %label.btn.btn-default{class: ('active' if @place.skydive?)}
        = f.radio_button 'kind', 'skydive'
        = 'Skydive'

      %label.btn.btn-default{class: ('active' if @place.base?)}
        = f.radio_button 'kind', 'base'
        = 'B.A.S.E'

  .form-group
    = f.label :country, class: 'col-sm-3 control-label', for: :country
    .col-sm-5
      = f.collection_select(:country_id, Country.order(:name), :id, :name, {promt: 'Select country'}, {class: 'form-control'})

  .form-group
    = f.label :latitude, class: 'col-sm-3 control-label', for: :latitude
    .col-sm-5
      = f.text_field :latitude, class: 'form-control'

  .form-group
    = f.label :longitude, class: 'col-sm-3 control-label', for: :longitude
    .col-sm-5
      = f.text_field :longitude, class: 'form-control'

  .form-group
    = f.label :msl, class: 'col-sm-3 control-label', for: :msl
    .col-sm-5
      = f.text_field :msl, class: 'form-control'

  .form-group
    %label.col-sm-3.control-label Lines
    .hide.place-line__template
      = render 'places/form/place_line_template', form: f, place: @place
    .col-sm-7
      %a.btn.btn-default.place-form__add-line
        %i.fa.fa-plus
        Add
  .form-group
    .col-sm-12
      .place-form__lines
        %hr
        = render 'places/form/place_line', form: f, place: @place

    .form-group
    .col-sm-offset-3.col-sm-9
      = f.submit t('general.save'), class: 'btn btn-primary'

- content_for :page_js do
  :javascript
    (function() {
      function child_index() {
        return new Date().getTime();
      };

      $('.place-form__add-line').on('click', function(e) {
        e.preventDefault();
        var template = $('.place-line__template').html();
        var fields = template.split('__LINE_INDEX__').join(child_index());

        $('.place-form__lines').append(fields);
      });

      $('.place-form__lines')
      .delegate('.place-form__add-measurement', 'click', function(e) {
        var form_group = $(this).closest('.form-group');
        var template = form_group.find('.exit-measurement__template').html();
        var fields = template.split('__M_INDEX__').join(child_index());

        form_group.find('.place-form__exit-measurements tbody').not('.hide').append(fields);
      })
      .delegate('.place-form__mark-deleted-measurement', 'click', function(e) {
        e.preventDefault();
        var tr = $(this).closest('tr');
        tr.find('input[name$="[_destroy]"]').val(true);
        tr.hide();
      });
    })();
