<%# locals: (editable:) %>

<div class="show-page-header">
  <div class="place-cover" style="background-image: url(<%= @place.cover_image_url %>)"></div>
  <h1 class="show-page-title">
    <%= @place.name %>
  </h1>
  <div class="show-page-info">
    <%= "Lat: #{@place.latitude}, Lon: #{@place.longitude}, MSL: #{@place.msl}" %>
  </div>


  <div class="page-nav">
    <%= link_to @place, class: ['page-tab', ('page-tab-active' if current_page?(place_path(@place)))] do %>
      <%= t('general.overview') %>
    <% end %>

    <%= link_to place_tracks_path(@place), class: ['page-tab', ('page-tab-active' if current_page?(place_tracks_path(@place)))] do %>
      <%= t('application.header.tracks') %>
    <% end %>

    <%= link_to place_videos_path(@place), class: ['page-tab', ('page-tab-active' if current_page?(place_videos_path(@place)))] do %>
      Videos
    <% end %>

    <% if @place.skydive? %>
      <%= link_to place_weather_data_path(@place),  class: ['page-tab', ('page-tab-active' if current_page?(place_weather_data_path(@place)))] do %>
        Weather Data
      <% end %>
    <% end %>

    <% if @place.base? && policy([:place, :finish_line]).index? %>
      <%= link_to place_finish_lines_path(@place), class: ['page-tab', ('page-tab-active' if current_page?(place_finish_lines_path(@place)))] do %>
        Finish lines
      <% end %>
    <% end %>

    <% if policy(@place).edit? %>
      <%= link_to place_photos_path(@place), class: ['page-tab', ('page-tab-active' if current_page?(place_photos_path(@place)))] do %>
        <%= t('activerecord.models.place/photo') %>
      <% end %>
    <% end %>

    <% if @place.base? %>
      <%= link_to t('flight_profiles.title'), flight_profiles_path(place_id: [@place], jump_profile_id: @place.jump_lines.pick(:id)), class: ['page-tab'] %>
    <% end %>

    <% if @place.base? && policy(@place).edit? %>
      <%= link_to place_jump_profiles_path(@place), class: ['page-tab', ('page-tab-active' if current_page?(place_jump_profiles_path(@place)))] do %>
        <%= t('activerecord.models.place/jump_line') %>
      <% end %>
    <% end %>

    <% if editable %>
      <%= link_to edit_place_path(@place), class: ['page-tab page-tab-right', ('page-tab-active' if current_page?(edit_place_path(@place)))] do %>
        <%= icon_tag 'gear-solid' %>
        <%= t('general.edit') %>
      <% end %>
    <% end %>
  </div>
</div>
