- provide(:title, page_title(@place.name))

.row
  .col-sm-12
    .place-header
      .place__photo{style: "background-image: url(#{@place.photo.image_url(:large)})"}
      .place-header__description
        .place-header__description-container
          .place-header__title= @place.name
          .place-header__geo= "Lat: #{@place.latitude}, Lon: #{@place.longitude}, MSL: #{@place.msl}"
          - if policy(@place).edit?
            .place-header__actions
              %a.btn-flat{href: edit_place_path(@place)}
                = t('general.edit')
              %a.btn-flat{href: place_path(@place), data: {method: 'delete', confirm: t('places.show.delete_confirmation')}}
                = t('general.delete')

.place-navigation.top-buffer
  .tabs-navbar
    %ul.tabs-navbar__menu
      - controller_path = controller.controller_path
      %li.tabs-navbar__menuitem{class: ('tabs-navbar--active' if controller_path == 'places')}
        = link_to t('general.overview'), @place

      - if @place.base? && policy([:place, :finish_line]).index?
        %li.tabs-navbar__menuitem{class: ('tabs-navbar--active' if controller_path == 'places/finish_lines')}
          = link_to 'Finish lines', place_finish_lines_path(@place)

      - if policy(@place).edit?
        %li.tabs-navbar__menuitem{class: ('tabs-navbar--active' if controller_path == 'places/photos')}
          = link_to t('activerecord.models.place/photo'), place_photos_path(@place)

      - if @place.base?
        %li.tabs-navbar__menuitem
          = link_to t('flight_profiles.title'), place_flight_profiles_path(@place)

      - if @place.base? && policy(@place).edit?
        %li.tabs-navbar__menuitem{class: ('tabs-navbar--active' if controller_path == 'places/jump_profiles')}
          = link_to t('activerecord.models.place/jump_line'), place_jump_profiles_path(@place)
