- places_str = render template: 'places/index.json.jbuilder', format: :json, locals: {with_additional_info: true}
#places-index{data: {places: places_str}}

  .container
    .page-header
      .pull-right
        - if can? :create, Place
          %a.btn.btn-default{href: new_place_path}
            %i.fa.fa-plus
            = t('.new')
        .btn-group{data: {toggle: 'buttons'}}
          %label.toggle-view-type.btn.btn-default.active
            = radio_button_tag 'view_type', 'map', true
            %i.fa.fa-compass
            = t '.on_map'
          %label.toggle-view-type.btn.btn-default
            = radio_button_tag 'view_type', 'list'
            %i.fa.fa-list
            = t '.on_list'
      %h1= t '.title'
  
    .row.map-view
      .col-sm-12#places-map

    .row.list-view
      .col-sm-12.top-buffer
        %table#places-index.table.table-hover
          %tbody
            - @places.group_by(&:country_name).each do |country, places|
              %tr.bg-warning.text-danger.no-hover
                %td= country
              - places.each do |place|
                %tr
                  %td
                    %a{href: place_path(place.id)}= place.name
