<% provide :title, page_title(t('application.header.places')) %>
<% provide :page_class, 'fullscreen' %>

<div class="explorer"<%= ' data-controller="places--index"'.html_safe if user_signed_in? %>>
  <aside class="explorer-sidebar" data-controller="toggleable places--searchable-list" data-toggle-class="collapsed">
    <div class="explorer-search">
      <div class="search-input-container">
        <div class="search-input-icon">
          <%= svg_icon 'magnifying-glass-solid' %>
        </div>
        <input class="search-input" type="text" data-action="input->places--searchable-list#filterPlaces" placeholder="Search...">
      </div>
    </div>

    <div class="explorer-sidebar-scrollable">
      <%= render 'list_with_search' %>
    </div>

    <div class="explorer-sidebar-toggle">
      <button class="button" data-action="toggleable#toggle">
        <%= svg_icon 'angle-left-solid', class: 'explorer-sidebar-toggle-opened' %>
        <%= svg_icon 'angle-right-solid', class: 'explorer-sidebar-toggle-closed' %>
      </button>
    </div>

    <% if policy(Place).create? %>
      <div class="explorer-sidebar-footer">
        <%= link_to new_place_path, class: 'button' do %>
          <%= svg_icon 'plus-solid' %>
          <%= t('.new') %>
        <% end %>
      </div>
    <% end %>
  </aside>
  <aside class="explorer-sidebar-mask"></aside>

  <main class="explorer-main">
    <% if user_signed_in? %>
      <div class="places__map" data-places--index-target="map"></div>
    <% else %>
      <%= render 'components/maps_auth_wall', fill: true %>
    <% end %>
  </main>
</div>
