.container
  .page-header
    %h1
      = 'Location: '
      = @place.name
      %small= @place.information

  %table.table.table-hover
    %thead
      %tr
        %th=t 'activerecord.attributes.track.id'
        %th=t 'activerecord.attributes.track.name'
        %th=t 'activerecord.attributes.track.suit'
        %th=t 'activerecord.attributes.track.comment'
        -# %th.text-center.bg-info
        -#   %i.fa.fa-fw.fa-lg.fa-arrows-h
        -# %th.text-center.bg-warning
        -#   %i.fa.fa-fw.fa-lg.fa-long-arrow-right
        -# %th.text-center.bg-success
        -#   %i.fa.fa-fw.fa-lg.fa-clock-o
        %th=t 'activerecord.attributes.track.uploaded_at'
    %tbody
      - @place.tracks.each do |track|
        %tr.clickableRow{data: {url: track_path(id: track.id)}}
          %td.text-info= track.id
          %td.text-info= track.name
          %td.text-info= track.wingsuit.present? ? track.wingsuit.name : track.suit
          %td.text-muted= track.comment
          -# %td.text-info.text-right.bg-info= track.distance.result.to_i if track.distance
          -# %td.text-info.text-right.bg-warning= track.speed.result.to_i if track.speed
          -# %td.text-info.text-right.bg-success= track.time.result if track.time
          %td.text-info= track.created_at.strftime('%d.%m.%Y')
