<% provide(:title, page_title(@place.name)) %>
<% editable = policy(@place).update? %>

<div class="show-page place-show">
  <%= render 'places/header', editable: %>

  <div class="show-page-content">
    <div class="card">
      <div class="place-popular-times" data-controller="places--popularity-chart" data-place-id="<%= @place.id %>"></div>

      <% pilots = @place.accessible_profiles %>
      <% unless pilots.blank? %>
        <div class="row top-buffer">
          <div class="col-sm-12">
            <div><%= t('.visited_by') %>:</div>
            <% pilots.each do |pilot| %>
              <a href="<%= profile_path(pilot) %>">
                <img class="img-50" src="<%= pilot.userpic_url(:thumb) %>" data-toggle="tooltip" title="<%= pilot.name %>">
              </a>
            <% end %>
          </div>
        </div>
        <hr>
      <% end %>
    </div>
  </div>
</div>
