.container
  .row
    .col-sm-12
      .place-map-wrapper
        .place-map
          %img{src: "https://maps.googleapis.com/maps/api/staticmap?center=#{@place.latitude},#{@place.longitude}&zoom=12&size=600x150&scale=2&maptype=hybrid"}
        .place-map-description
          .place-map-background
            %h1
              = @place.name
              %small
                - if can? :update, @place
                  |
                  %a{href: edit_place_path(@place)}
                    %i.fa.fa-pencil
                  %a{href: place_path(@place), data: {method: 'delete', confirm: t('places.show.delete_confirmation')}}
                    %i.fa.fa-times-circle
                  |
                = @place.information
            %h4= "Lat: #{@place.latitude}, Lon: #{@place.longitude}, MSL: #{@place.msl}"

  - pilots = @place.pilots_accessible_by(current_user)
  - unless pilots.blank?
    .row.top-buffer
      .col-sm-12
        %div= t('.visited_by') + ':'
        - pilots.each do |pilot|
          %a{href: user_profile_path(pilot)}
            %img.img-50{src: pilot.userpic.url(:thumb), 'data-toggle' => 'tooltip', title: pilot.name}
    %hr

  %table.table.table-hover.top-buffer
    %thead
      %tr
        %th=t 'activerecord.attributes.track.id'
        %th=t 'activerecord.attributes.track.name'
        %th=t 'activerecord.attributes.track.suit'
        %th.text-right= t('disciplinse.distance')
        %th.text-right= t('disciplinse.speed')
        %th.text-right= t('disciplinse.time')
        %th=t 'activerecord.attributes.track.comment'
        %th.text-center=t 'activerecord.attributes.track.recorded_at'
        %th
    %tbody
      - @place.tracks.accessible_by(current_user).each do |track|
        %tr.clickableRow{data: {url: track_path(id: track.id)}}
          %td= track.id
          %td= track_pilot(track)
          %td
            - if track.wingsuit
              = suit_presentation(track.wingsuit)
            - else 
              %span.text-info
              = track.suit
          %td.text-right
            %span.text-info{data: {toggle: 'tooltip'}, title: range_title(track.distance)}
              = track.distance.result.to_i if track.distance
          %td.text-right
            %span.text-info{data: {toggle: 'tooltip'}, title: range_title(track.speed)}
              = track.speed.result.to_i if track.speed
          %td.text-right
            %span.text-info{data: {toggle: 'tooltip'}, title: range_title(track.time)}
              = track.time.result if track.time
          %td.text-muted= track.comment
          %td.text-center= track.created_at.strftime('%d.%m.%Y')
          %td= track_icons(track)
