<% provide(:title, page_title(@place.name)) %>
<% editable = policy(@place).update? %>

<div class="show-page place-show">
  <%= render 'places/header', editable: %>

  <div class="show-page-content">
    <div class="card">
      <% pilots = @place.pilots_accessible_by(current_user) %>
      <% unless pilots.blank? %>
        <div class="row top-buffer">
          <div class="col-sm-12">
            <div><%= t('.visited_by') %>:</div>
            <% pilots.each do |pilot| %>
              <a href="<%= profile_path(pilot) %>">
                <img class="img-50" src="<%= pilot.userpic_url(:thumb) %>" data-toggle="tooltip" title="<%= pilot.name %>">
              </a>
            <% end %>
          </div>
        </div>
        <hr>
      <% end %>

      <div id="tracks-table" class="table table-hover">
        <div class="thead">
          <div class="tr">
            <div class="th"><%= t 'activerecord.attributes.track.id' %></div>
            <div class="th"><%= t 'activerecord.attributes.track.name' %></div>
            <div class="th"><%= t 'activerecord.attributes.track.suit' %></div>
            <div class="th"><%= t 'activerecord.attributes.track.comment' %></div>
            <div class="th result-head text-right"><%= t 'disciplines.distance' %></div>
            <div class="th result-head text-right"><%= t 'disciplines.speed' %></div>
            <div class="th result-head text-right"><%= t 'disciplines.time' %></div>
            <div class="th"><%= t 'activerecord.attributes.track.recorded_at' %></div>
            <div class="th"></div>
          </div>
        </div>

        <div class="tbody">
          <%= render @tracks, except_columns: [:place] %>
        </div>
      </div>

      <div class="text-center top-buffer">
        <div class="pagination-list">
          <%= will_paginate @tracks, renderer: BootstrapPagination::Rails %>
        </div>
      </div>
    </div>
  </div>
</div>
