<% cache "app_footer#{I18n.locale}", expires_in: 1.hour do %>
  <footer>
    <div class="text-left">
      © 2014-<%= Time.now.year %>
      <%= t('application.footer.made_with') %>
      <i class="fa fa-heart"></i>
      <%= t('application.footer.owner') %>
    </div>
    <div class="text-right">
      <%= link_to about_path do %>
        <i class="fa fa-fw fa-info"></i>
        <%= t('application.header.about') %>
      <% end %>
      |
      <%= link_to 'https://www.facebook.com/skyderby.ru' do %>
        <i class="fab fa-fw fa-facebook"></i>
        <%= t('application.footer.fb_page') %>
      <% end %>
      |
      <%= mail_to 'skyksandr@gmail.com' do %>
        <i class="fa fa-fw fa-share"></i>
        skyksandr@gmail.com
      <% end %>
    </div>
  </footer>
<% end %>
