- cache "app_footer#{I18n.locale}", expires_in: 1.hour do
  #footer
    .container
      .row
        .col-sm-6
          = "© 2014-#{Time.now.year}"
          = t('application.footer.made_with')
          %i.fa.fa-heart
          = "#{t 'application.footer.owner'} "
        .col-sm-6.text-right
          %a{href: about_path}
            %i.fa.fa-fw.fa-info
            = t('application.header.about')
          |
          %a{href: 'https://www.facebook.com/skyderby.ru'}
            %i.fa.fa-fw.fa-facebook-square
            = t('application.footer.fb_page')
          |
          %a{href: 'mailto:skyksandr@gmail.com'}
            %i.fa.fa-fw.fa-mail-forward
            = 'skyksandr@gmail.com'
