<header class="app-navbar" data-controller="mobile--header">
  <%= render 'layouts/header/navigation' %>

  <ul class="nav-menu nav-menu--right nav-menu--desktop">
    <% if user_signed_in? %>
      <li>
        <%= button_to new_track_file_path,
                      method: :get,
                      form: { data: { turbo_stream: true }, class: 'upload-track-button' },
                      title: t('application.header.upload_track') do %>
          <%= icon_tag 'upload-solid' %>
        <% end %>
      </li>

      <li data-controller="dropdown">
        <button class="dropdown-toggle profile-dropdown" popovertarget="user-menu" aria-label="<%= t('application.accessibility.user_menu') %>">
          <% if masquerading? %>
            <%= icon_tag 'triangle-exclamation-solid', class: 'icon-lg text-danger' %>
          <% end %>
          <% avatar = current_user.profile ? current_user.profile.userpic_url(:medium) : '/images/medium/missing.png' %>
          <%= image_tag avatar, class: 'nav-profile', alt: t('application.accessibility.profile_picture') %>
        </button>

        <div id="user-menu" popover class="sd-dropdown-menu" data-dropdown-target="menu">
          <% if current_user.admin? %>
            <%= link_to t('application.header.admin_panel'), manage_path, class: 'dropdown-item' %>
          <% end %>
          <% if masquerading? %>
            <%= button_to 'Stop masquerading', user_masquerades_path(current_user), method: :delete, class: 'dropdown-item' %>
          <% end %>
          <%= link_to t('application.header.profile'), profile_path(current_user.profile), class: 'dropdown-item' %>
          <%= button_to t('application.header.sign_out'), destroy_user_session_path, method: :delete, class: 'dropdown-item' %>
        </div>
      </li>
    <% else %>
      <li>
        <%= link_to t('application.header.sign_in'), new_user_session_path, class: 'nav-menu-cta nav-menu-cta--secondary' %>
      </li>
      <li>
        <%= link_to t('application.header.sign_up'), new_user_registration_path, class: 'nav-menu-cta nav-menu-cta--secondary' %>
      </li>

      <li class="nav-menu-spacer"></li>
    <% end %>
  </ul>

  <ul class="nav-menu--right nav-menu--mobile">
    <% if user_signed_in? %>
      <li>
        <%= button_to new_track_file_path,
                      method: :get,
                      form: { data: { turbo_stream: true }, class: 'upload-track-button' },
                      title: t('application.header.upload_track') do %>
          <%= icon_tag 'upload-solid' %>
        <% end %>
      </li>
      <li class="nav-menu-item">
        <button class="app-navbar-button" data-action="click->mobile--header#toggle_notifications" aria-label="<%= t('application.accessibility.notifications') %>">
          <%= icon_tag 'bell-solid' %>
        </button>
      </li>
    <% end %>
    <li class="nav-menu-item">
      <button class="app-navbar-button" data-action="click->mobile--header#open_menu" aria-label="<%= t('application.accessibility.open_menu') %>">
        <%= icon_tag 'bars-solid' %>
      </button>
    </li>
  </ul>

  <div class="header__page-overlay overlay--hidden" data-mobile--header-target="overlay" data-action="click->mobile--header#close_menu"></div>

  <div class="main-menu" data-mobile--header-target="menu">
    <div class="main-menu-header">
      <% if user_signed_in? %>
        <%= link_to profile_path(current_user.profile), class: 'main-menu__profile' do %>
          <%= image_tag current_user.profile.userpic_url(:medium), class: 'main-menu__avatar', alt: t('application.accessibility.profile_picture') %>
          <p><%= current_user.name %></p>
        <% end %>
      <% else %>
        <div class="main-menu__profile"></div>
      <% end %>

      <div class="main-menu__bar-actions">
        <% if user_signed_in? %>
          <%= link_to destroy_user_session_path, data: { turbo_method: :delete }, class: 'app-navbar-button main-menu__logout', aria: { label: t('application.header.sign_out') } do %>
            <%= icon_tag 'right-from-bracket-solid' %>
          <% end %>
        <% end %>
        <button class="app-navbar-button main-menu__close" data-action="click->mobile--header#close_menu" aria-label="<%= t('application.accessibility.close_menu') %>">
          <%= icon_tag 'xmark' %>
        </button>
      </div>
    </div>

    <ul class="main-menu-body">
      <% root_controller = controller.controller_path.split('/').first %>
      <li class="main-menu__item <%= 'active' if root_controller == 'tracks' %>">
        <%= link_to tracks_path do %>
          <%= icon_tag 'navigate-solid' %>
          <%= t('application.header.tracks') %>
        <% end %>
      </li>
      <li class="main-menu__item <%= 'active' if ['events', 'performance_competitions', 'speed_skydiving_competitions', 'tournaments'].include? root_controller %>">
        <%= link_to events_path do %>
          <%= icon_tag 'trophy-solid' %>
          <%= t('application.header.competitions') %>
        <% end %>
      </li>
      <li class="main-menu__item <%= 'active' if root_controller == 'virtual_competitions' %>">
        <%= link_to virtual_competitions_path do %>
          <%= icon_tag 'star-solid' %>
          <%= t('application.header.online_competitions') %>
        <% end %>
      </li>

      <li class="main-menu__item <%= 'active' if root_controller == 'flight_profiles' %>">
        <%= link_to flight_profiles_path do %>
          <%= icon_tag 'star-solid' %>
          <%= t('flight_profiles.title') %>
        <% end %>
      </li>

      <li class="main-menu__item <%= 'active' if root_controller == 'places' %>">
        <%= link_to places_path do %>
          <%= icon_tag 'location-dot-solid' %>
          <%= t('application.header.places') %>
        <% end %>
      </li>

      <li class="main-menu__item <%= 'active' if root_controller == 'profiles' %>">
        <%= link_to profiles_path do %>
          <%= icon_tag 'user-solid' %>
          <%= t('application.header.profiles') %>
        <% end %>
      </li>

      <li class="main-menu__item <%= 'active' if root_controller == 'places' %>">
        <%= link_to suits_path do %>
          <%= icon_tag 'wingsuit' %>
          <%= t('application.header.suits') %>
        <% end %>
      </li>

      <% unless user_signed_in? %>
        <li class="main-menu__item main-menu--login">
          <%= link_to t('application.header.sign_in'), new_user_session_path %>
        </li>
      <% end %>

    </ul>
    <div class="main-menu-footer justify-between">
      <a href="https://discord.gg/WX8kfrx7b8" class="button button--primary button--sm">
        Discord
      </a>
      <%= render 'layouts/language_switcher', variant: :mobile %>
    </div>
  </div>
</header>
