%header.navbar.navbar--fixed{role: 'navigation'}
  = render 'layouts/header/navigation'

  %ul.nav-menu.nav-menu--right

    - if user_signed_in?
      %li
        %a.nav-menu-cta.nav-menu-cta--primary{data: {toggle: 'modal', target: '#newTrackModal'}}
          %i.fa.fa-upload
          = t('application.header.upload_track')

      %li.nav-menu-spacer

      %li.dropdown
        %a.dropdown-toggle.profile-dropdown{href: '#', data: {toggle: 'dropdown'}}
          - if masquerading?
            %i.fa.fa-lg.fa-exclamation-triangle.text-danger
          - avatar = current_user.profile ? current_user.profile.userpic_url(:thumb) : '/images/thumb/missing.png'
          = image_tag avatar, id: 'userpic-thumb', class: 'nav-profile'

        %ul.dropdown-menu.dropdown-menu-right
          - if current_user.admin?
            %li
              = link_to t('application.header.admin_panel'), manage_path
          - if masquerading?
            %li
              = link_to 'Stop masquerading', user_masquerades_path(current_user), method: :delete
          %li
            = link_to t('application.header.profile'), profile_path(current_user.profile)
          %li
            = link_to t('application.header.sign_out'), destroy_user_session_path, method: :delete
    - else
      %li
        = link_to t('application.header.sign_in'), new_user_session_path, class: 'nav-menu-cta nav-menu-cta--secondary'
      %li
        = link_to t('application.header.sign_up'), new_user_registration_path, class: 'nav-menu-cta nav-menu-cta--secondary'

      %li.nav-menu-spacer

    %li.dropdown
      %a.dropdown-toggle.locale-dropdown{href: '#', data: {toggle: 'dropdown'}}
        = image_tag asset_path('blank.gif'), class: "flag flag-#{ I18n.locale}"
        %i.fa.fa-caret-down
      = lang_menu
