<title><%= page_title(yield(:title)) %></title>
<meta name="description" content="<%= yield(:description) || t('meta.description') %>">

<%= action_cable_meta_tag %>

<%= stylesheet_pack_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>

<meta name="default-locale" content="<%= I18n.default_locale %>">
<meta name="locale" content="<%= I18n.locale %>">
<meta name="maps-api-key" content="<%= ENV.fetch('MAPS_API_KEY', nil) %>">
<meta name="cesium-api-key" content="<%= ENV.fetch('CESIUM_API_TOKEN', nil) %>">
<meta name="hb-api-key" content="<%= ENV.fetch('HONEYBADGER_API_KEY', nil) %>">
<meta name="amplitude-api-key" content="<%= ENV.fetch('AMPLITUDE_API_KEY', nil) %>">
<meta name="current-env" content="<%= Rails.env %>">
<% if user_signed_in? %>
  <meta name="current-user-id" content="<%= current_user.id %>">
  <meta name="current-user-name" content="<%= current_user.name %>">
<% end %>

<%= javascript_pack_tag 'application', 'data-turbo-track': 'reload', defer: false %>

<%= csrf_meta_tags %>

<%= render 'layouts/google_analytics' %>

<link rel="icon" type="image/png" href="<%= asset_path 'favicon/favicon-96x96.png' %>" sizes="96x96" />
<link rel="icon" type="image/svg+xml" href="<%= asset_path 'favicon/icon.svg' %>" />
<link rel="shortcut icon" href="<%= asset_path 'favicon/favicon.ico' %>" />
<link rel="apple-touch-icon" sizes="180x180" href="<%= asset_path 'favicon/apple-touch-icon.png' %>" />
<link rel="manifest" href="/site.webmanifest" />

<meta property="og:title" content="<%= page_title(yield(:title)) %>">
<meta property="og:description" content="<%= yield(:description) || t('meta.description') %>">
<meta property="og:type" content="website">

<meta property="twitter:title" content="<%= page_title(yield(:title)) %>">
<meta property="twitter:description" content="<%= yield(:description) || t('meta.description') %>">

<% if content_for?(:og_image) %>
  <%= yield :og_image %>
<% else %>
  <meta property="og:image" content="<%= asset_url('logo260.png') %>">
  <meta property="og:image:secure_url" content="<%= asset_url('logo260.png') %>">
  <meta property="og:image:type" content="image/png">
  <meta property="og:image:width" content="260">
  <meta property="og:image:height" content="260">
<% end %>

<%= yield :head %>
