<title><%= page_title(yield(:title)) %></title>

<%= action_cable_meta_tag %>

<%= stylesheet_pack_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>

<meta name="default-locale" content="<%= I18n.default_locale %>">
<meta name="locale" content="<%= I18n.locale %>">
<meta name="maps-api-key" content="<%= ENV.fetch('MAPS_API_KEY', nil) %>">
<meta name="cesium-api-key" content="<%= ENV.fetch('CESIUM_API_TOKEN', nil) %>">
<meta name="hb-api-key" content="<%= ENV.fetch('HONEYBADGER_API_KEY', nil) %>">
<meta name="current-env" content="<%= Rails.env %>">

<%= javascript_pack_tag 'application', 'data-turbo-track': 'reload', defer: false %>

<%= csrf_meta_tags %>

<%= render 'layouts/open_graph' %>
<%= render 'layouts/favicon' %>
<%= render 'layouts/google_analytics' %>
