%title= page_title(yield(:title))

= action_cable_meta_tag

= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'

%meta{ name: 'default-locale', content: I18n.default_locale }
%meta{ name: 'locale', content: I18n.locale }
%meta{ name: 'maps-api-key', content: Rails.application.credentials.maps_api_key }
%meta{ name: 'cesium-api-key', content: Rails.application.credentials.cesium_api_key }
%meta{ name: 'hb-api-key', content: Rails.application.credentials.honeybadger_api_key }
%meta{ name: 'current-env', content: Rails.env }

= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: false

= csrf_meta_tags

= render 'layouts/open_graph'
= render 'layouts/favicon'
= render 'layouts/google_analytics'
