%title= page_title(yield(:title))

= action_cable_meta_tag

= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'

%meta{ name: 'default-locale', content: I18n.default_locale }
%meta{ name: 'locale', content: I18n.locale }
%meta{ name: 'maps-api-key', content: ENV['MAPS_API_KEY'] }
%meta{ name: 'cesium-api-key', content: ENV['CESIUM_API_TOKEN'] }
%meta{ name: 'hb-api-key', content: ENV['HONEYBADGER_API_KEY'] }
%meta{ name: 'current-env', content: ENV['RAILS_ENV'] }

= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: false

= csrf_meta_tags

= render 'layouts/open_graph'
= render 'layouts/favicon'
= render 'layouts/google_analytics'
