<header class="app-navbar" data-controller="mobile--header">
  <%= render 'layouts/header/navigation' %>

  <ul class="nav-menu nav-menu--right nav-menu--desktop">
    <% if user_signed_in? %>
      <li>
        <button class="upload-track-button" data-toggle="modal" data-target="#newTrackModal" title="<%= t('application.header.upload_track') %>">
          <%= svg_icon 'upload-solid' %>
        </button>
      </li>

      <li class="sd-dropdown" data-controller="dropdown">
        <button class="dropdown-toggle profile-dropdown" data-action="dropdown#toggle">
          <% if masquerading? %>
            <i class="fa fa-lg fa-exclamation-triangle text-danger"></i>
          <% end %>
          <% avatar = current_user.profile ? current_user.profile.userpic_url(:thumb) : '/images/thumb/missing.png' %>
          <%= image_tag avatar, id: 'userpic-thumb', class: 'nav-profile' %>
        </button>

        <template data-target="dropdown.menu">
          <div class="sd-dropdown-menu">
            <% if current_user.admin? %>
              <%= link_to t('application.header.admin_panel'), manage_path, class: 'dropdown-item' %>
            <% end %>
            <% if masquerading? %>
              <%= button_to 'Stop masquerading', user_masquerades_path(current_user), method: :delete, class: 'dropdown-item' %>
            <% end %>
            <%= link_to t('application.header.profile'), profile_path(current_user.profile), class: 'dropdown-item' %>
            <%= button_to t('application.header.sign_out'), destroy_user_session_path, method: :delete, class: 'dropdown-item' %>
          </div>
        </template>
      </li>
    <% else %>
      <li>
        <%= link_to t('application.header.sign_in'), new_user_session_path, class: 'nav-menu-cta nav-menu-cta--secondary' %>
      </li>
      <li>
        <%= link_to t('application.header.sign_up'), new_user_registration_path, class: 'nav-menu-cta nav-menu-cta--secondary' %>
      </li>

      <li class="nav-menu-spacer"></li>
    <% end %>
  </ul>

  <ul class="nav-menu--right nav-menu--mobile">
    <% if user_signed_in? %>
      <li>
        <button class="upload-track-button" data-toggle="modal" data-target="#newTrackModal" title="<%= t('application.header.upload_track') %>">
          <%= svg_icon 'upload-solid' %>
        </button>
      </li>
      <li class="nav-menu-item">
        <button class="app-navbar-button" data-action="click->mobile--header#toggle_notifications">
          <%= svg_icon 'bell-solid' %>
        </button>
      </li>
    <% end %>
    <li class="nav-menu-item">
      <button class="app-navbar-button" data-action="click->mobile--header#open_menu">
        <%= svg_icon 'bars-solid' %>
      </button>
    </li>
  </ul>

  <div class="header__page-overlay overlay--hidden" data-target="mobile--header.overlay" data-action="click->mobile--header#close_menu"></div>

  <div class="main-menu" data-target="mobile--header.menu">
    <div class="main-menu-header">
      <% if user_signed_in? %>
        <%= link_to profile_path(current_user.profile), class: 'main-menu__profile' do %>
          <%= image_tag current_user.profile.userpic_url(:thumb), class: 'main-menu__avatar' %>
          <p><%= current_user.name %></p>
        <% end %>
      <% else %>
        <div class="main-menu__profile"></div>
      <% end %>

      <div class="main-menu__bar-actions">
        <% if user_signed_in? %>
          <%= link_to destroy_user_session_path, method: :delete, class: 'app-navbar-button main-menu__logout' do %>
            <%= svg_icon 'right-from-bracket-solid' %>
          <% end %>
        <% end %>
        <a class="app-navbar-button main-menu__close" data-action="click->mobile--header#close_menu">
          <%= svg_icon 'xmark' %>
        </a>
      </div>
    </div>

    <ul class="main-menu-body">
      <% root_controller = controller.controller_path.split('/').first %>
      <li class="main-menu__item <%= 'active' if root_controller == 'tracks' %>">
        <%= link_to tracks_path do %>
          <%= svg_icon 'navigate-solid' %>
          <%= t('application.header.tracks') %>
        <% end %>
      </li>
      <li class="main-menu__item <%= 'active' if ['events', 'tournaments'].include? root_controller %>">
        <%= link_to events_path do %>
          <%= svg_icon 'trophy-solid' %>
          <%= t('application.header.competitions') %>
        <% end %>
      </li>
      <li class="main-menu__item <%= 'active' if root_controller == 'virtual_competitions' %>">
        <%= link_to virtual_competitions_path do %>
          <%= svg_icon 'star-solid' %>
          <%= t('application.header.online_competitions') %>
        <% end %>
      </li>

      <li class="main-menu__item <%= 'active' if root_controller == 'flight_profiles' %>">
        <%= link_to flight_profiles_path do %>
          <%= svg_icon 'star-solid' %>
          <%= t('flight_profiles.title') %>
        <% end %>
      </li>

      <li class="main-menu__item <%= 'active' if root_controller == 'places' %>">
        <%= link_to places_path do %>
          <%= svg_icon 'location-dot-solid' %>
          <%= t('application.header.places') %>
        <% end %>
      </li>

      <% unless user_signed_in? %>
        <li class="main-menu__item main-menu--login">
          <%= link_to t('application.header.sign_in'), new_user_session_path %>
        </li>
      <% end %>

    </ul>
    <div class="main-menu-footer">
      <%= render 'layouts/language_switcher' %>
    </div>
  </div>
</header>
