%title= page_title(yield(:title))

= action_cable_meta_tag

= stylesheet_packs_with_chunks_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'

= javascript_include_tag 'translations/application', 'data-turbolinks-track': 'reload'

:javascript
  I18n.defaultLocale = "#{I18n.default_locale}"
  I18n.locale = "#{I18n.locale}"
  MAPS_API_KEY = "#{ENV['MAPS_API_KEY']}"
  CESIUM_API_TOKEN = "#{ENV['CESIUM_API_TOKEN']}"
  HB_API_KEY = "#{ENV['HONEYBADGER_API_KEY']}"
  ENVIRONMENT_NAME = "#{ENV['RAILS_ENV']}"

= javascript_packs_with_chunks_tag 'application'
= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'

= csrf_meta_tags

= render 'layouts/open_graph'
= render 'layouts/favicon'
= render 'layouts/google_analytics'
