!!! 5
%html
  %head
    %title= page_title(yield(:title))

    = action_cable_meta_tag

    = stylesheet_pack_tag 'vendor'
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true

    = javascript_pack_tag 'manifest'
    = javascript_pack_tag 'vendor'

    :javascript
      var I18n = I18n || {};
      I18n.defaultLocale = "#{I18n.default_locale}"
      I18n.locale = "#{I18n.locale}"
      MAPS_API_KEY = "#{ENV['MAPS_API_KEY']}"

    = javascript_include_tag 'translations/application', 'data-turbolinks-track' => true

    = javascript_pack_tag 'application'

    = csrf_meta_tags

    = render 'layouts/open_graph'

    = render 'layouts/favicon'
    = render 'layouts/google_analytics'

  %body
    #wrap{class: yield(:wrapper_classes)}
      - skip_header = yield(:skip_header).presence || false
      - unless skip_header
        = render 'layouts/header'

      - if flash.count > 0
        .container.top-buffer
          .row
            .col-md-7
              - flash.each do |type, message|
                .alert.alert-dismissable.fade-in{:class => bootstrap_class_for(type)}
                  %button.close{type: 'button', data: {dismiss: 'alert'}, aria: {hidden: 'true'}}
                    &times;
                  = message

      = yield
      -# Modal for Backbone Views
      .modal.fade#modal{tabindex: '-1', role: 'dialog', aria: {labelledby: 'myModalLabel', hidden: 'true'}}

      -# new track modal
      = render partial: 'track_files/new_modal'

    = render 'errors/ajax_error_message'
    = render 'layouts/footer'
    = javascript_include_tag 'application', 'data-turbolinks-track' => true, 'data-turbolinks-eval' => false

    = yield :page_js
