<!DOCTYPE html>
<html>
  <head>
    <%= render 'layouts/head' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>
    <%= stylesheet_link_tag 'desktop/application', media: 'all', 'data-turbo-track': 'reload' %>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <div id="modal-root"></div>
    <div id="dropdown-root"></div>

    <div class="toast-container" id="toasts">
      <% flash.each do |type, message| %>
        <%= render 'toasts/toast', type: type, message: message %>
      <% end %>
    </div>

    <div class="page <%= yield :page_class %>">
      <%= render 'layouts/header' %>
      <div class="page-content"><%= yield %></div>
      <%= render 'layouts/footer' %>
    </div>

    <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>
    <%= render 'errors/ajax_error_message' %>

    <%= yield :page_js %>
  </body>
</html>
