<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <%= render 'layouts/head' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>
    <%= stylesheet_link_tag 'desktop/application', media: 'all', 'data-turbo-track': 'reload' %>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <% unless user_signed_in? %>
      <div data-controller="google-one-tap"></div>
    <% end %>

    <div id="modal-root"></div>
    <div id="dropdown-root"></div>

    <div class="toast-container" id="toasts" data-controller="toasts">
      <% flash.each do |type, message| %>
        <%= render 'toasts/toast', type:, message: %>
      <% end %>

      <template data-toasts-target="template">
        <div class="toast" data-toasts-target="toast">
          <div class="toast-icon icon-red hidden" data-icon="error">
            <%= icon_tag 'circle-xmark-solid' %>
          </div>
          <div class="toast-icon icon-green hidden" data-icon="success">
            <%= icon_tag 'circle-check-regular' %>
          </div>
          <div class="toast-message"></div>
          <div class="toast-actions">
            <button class="toast-dismiss" data-action="toasts#dismissClick">
              <%= icon_tag 'xmark' %>
            </button>
          </div>
        </div>
      </template>
    </div>

    <div class="page <%= yield :page_class %>">
      <%= render 'layouts/header' %>
      <div class="page-content"><%= yield %></div>
      <%= render 'layouts/footer' %>
    </div>

    <%= yield :page_js %>
  </body>
</html>
