!!! 5
%html
  %head
    %title= page_title(yield(:title))
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    #wrap
      = render 'layouts/header'

      - if flash.count > 0
        .container.top-buffer
          .row
            .col-md-7
              - flash.each do |type, message|
                .alert.alert-dismissable.fade-in{:class => bootstrap_class_for(type)}
                  %button.close{:type => 'button', :data => {:dismiss => 'alert'}, :aria => {:hidden => 'true'}}
                    &times;
                  = message

      = yield

    = render 'layouts/footer'
    = javascript_include_tag 'application', 'data-turbolinks-track' => true, 'data-turbolinks-eval' => false

    = render partial: 'tracks/new_track'
