<!DOCTYPE html>
<html>
  <head>
    <title>Летай! Соревнуйся! Побеждай!</title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div role="navigation" class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <%= link_to t(:header_home), root_url, :class => 'navbar-brand' %>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li>
              <%= link_to t(:header_tracks), :controller => 'tracks', :action => 'index' %>
            </li>
            <li>
              <%= link_to t(:header_about), :controller => 'static_pages', :action => 'about' %>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <%= image_tag 'blank.gif', class: "flag flag-#{ I18n.locale}" %>
                <span class="caret"></span>
              </a>
              <%= lang_menu %>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="container">
      <%= yield %>
    </div>

    <div class="navbar navbar-default navbar-static-bottom">
      <div class="container">
        <p class="copyright">© 2014 <%=t :footer_owner %></p>
      </div>
    </div>

  </body>
</html>
