<!DOCTYPE html>
<html>
  <head>
    <title><%= page_title(yield(:title)) %></title>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application', 'data-turbo-track': true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= yield %>
    <%= render 'layouts/footer' %>
  </body>
</html>
