<!DOCTYPE html>
<html>
  <head>
    <%= render 'layouts/google_analytics' %>

    <%= stylesheet_pack_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application', defer: 'defer' %>

    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>

    <title>Skyderby</title>

    <link rel="preload" as="font" href="<%= asset_pack_path 'static/ProximaNova-Regular.woff' %>" crossorigin="anonymous" />
    <link rel="preload" as="font" href="<%= asset_pack_path 'static/ProximaNova-Thin.woff' %>" crossorigin="anonymous" />
    <link rel="preload" as="font" href="<%= asset_pack_path 'static/ProximaNova-Bold.woff' %>" crossorigin="anonymous" />
    <link rel="preload" as="font" href="<%= asset_pack_path 'static/ProximaNova-Semibold.woff' %>" crossorigin="anonymous" />

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="maps-api-key" content="<%= ENV['MAPS_API_KEY'] %>" />
    <meta name="cesium-api-key" content="<%= ENV['CESIUM_API_TOKEN'] %>" />
    <meta name="honeybadger-api-key" content="<%= ENV['HONEYBADGER_API_KEY'] %>" />
  </head>

  <body>
    <%= yield %>
  </body>
</html>
