<div class="card actions-bar">
  <% if !@event.finished? %>
    <%= button_to(new_performance_competition_category_path(@event),
                  method: :get, form: { data: { turbo_stream: true } },
                  params: action_params,
                  class: 'actions-bar-button') do %>
      <%= svg_icon 'plus-solid' %>
      <%= t('activerecord.models.event/section') %>
    <% end %>

    <%= button_to(new_performance_competition_competitor_path(@event),
                  method: :get, form: { data: { turbo_stream: true } },
                  params: action_params,
                  class: 'actions-bar-button') do %>
      <%= svg_icon 'plus-solid' %>
      <%= t('activerecord.models.event/competitor') %>
    <% end %>

    <div class="sd-dropdown" data-controller="dropdown">
      <button class="actions-bar-button" data-action="click->dropdown#toggle">
        <%= svg_icon 'plus-solid' %>
        <%= t('activerecord.models.event/round') %>
        <%= svg_icon 'angle-down-solid' %>
      </button>

      <template data-dropdown-target="menu">
        <div class="sd-dropdown-menu">
          <% %i[distance speed time].each do |task| %>
            <%= button_to t("disciplines.#{task}"),
                          performance_competition_rounds_path(@event),
                          method: :post,
                          params: { 'round[discipline]' => task }.merge(action_params),
                          form: { data: { turbo_stream: true } },
                          class: 'dropdown-item' %>
          <% end %>
        </div>
      </template>
    </div>
  <% end %>

  <div class="actions-bar-right">
    <div class="sd-dropdown" data-controller="dropdown">
      <button class="actions-bar-button" data-action="click->dropdown#toggle">
        <%= t('activerecord.attributes.event.status') + ': ' + t('event_status.' + @event.status) %>
        <%= svg_icon 'angle-down-solid' %>

        <template data-dropdown-target="menu">
          <div class="sd-dropdown-menu">
            <% PerformanceCompetition.statuses.each do |status, _index| %>
              <%= button_to(t("event_status.#{status}"),
                            performance_competition_path(@event),
                            method: :patch,
                            form: { data: { turbo_stream: true } },
                            params: { 'event[status]' => status },
                            class: "dropdown-item #{'active' if @event.status == status}")%>
            <% end %>
          </div>
        </template>
      </button>
    </div>

    <div class="sd-dropdown" data-controller="dropdown">
      <button class="actions-bar-button" data-action="click->dropdown#toggle">
        <%= svg_icon 'gear-solid' %>

        <template data-dropdown-target="menu">
          <div class="sd-dropdown-menu">
            <% omit_penalties = display_event_params[:omit_penalties] == 'true' %>
            <%= link_to 'Show with penalties', display_event_params.except(:omit_penalties), rel: 'nofollow', class: class_names('dropdown-item', !omit_penalties && 'active')%>
            <%= link_to 'Omit penalties', display_event_params.merge(omit_penalties: 'true'), rel: 'nofollow', class: class_names('dropdown-item', omit_penalties && 'active' ) %>

            <hr class="condensed" />
            <%= link_to 'Export to Excel', performance_competition_scoreboard_path(@event, format: :xlsx), rel: 'nofollow', class: 'dropdown-item' %>
            <%= link_to 'Export to ISC format', performance_competition_scoreboard_path(@event, format: :xml), rel: 'nofollow', class: 'dropdown-item' %>
            <%= link_to 'Export Teams to ISC format', performance_competition_team_scoreboard_path(@event, format: :xml), rel: 'nofollow', class: 'dropdown-item' %>
          </div>
        </template>
      </button>
    </div>
  </div>
</div>
