<%# locals: (performance_competition:) %>
<% event = performance_competition %>

<%= link_to performance_competition_path(event), class: 'comp-list-item' do %>
  <div class="event-start-date text-center">
    <div class="start-date-day"><%= event.starts_at.strftime '%d' %></div>
    <div class="start-date-month"><%= event.starts_at.strftime '%b\'%y' %></div>
  </div>

  <div class="event-details">
    <div class="event-name">
      <%= event.name %>
      <% if event.unlisted_event? %>
        <%= icon_tag 'eye-slash-solid', data: { toggle: 'tooltip' }, title: t('visibility.unlisted') %>
      <% elsif event.private_event? %>
        <%= icon_tag 'lock-solid', data: { toggle: 'tooltip' }, title: t('visibility.private') %>
      <% end %>

      <div class="pill pill-blue-gray">GPS Performance</div>

      <% if event.is_official %>
        <div class="pill pill-yellow">
          Official
        </div>
      <% end %>
    </div>

    <div class="event-info">
      <div>
        <% if event.place %>
          <div class="comp-place">
            <%= icon_tag 'location-dot-solid' %>
            <%= place_presentation(event.place) %>
          </div>
        <% end %>

        <div><%= "#{event.range_from} - #{event.range_to} #{t('units.m')}" %></div>
      </div>

      <div>
        <div class="comp-classes">
          <% sections = event.categories.order(:order) %>
          <% if sections.count > 0 %>
            <% sections.each do |section| %>
              <%= section.name %> - <%= section.competitors.count %>
              <%= '|' unless section.equal? sections.last %>
            <% end %>
          <% else %>
            Open - <%= event.competitors.count %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>
