<%# locals (event:, editable:, standings:, action_params:) %>

<% can_update = editable && !event.finished? %>

<div class="<%= class_names 'scoreboard-container', (standings.rounds.size > 6 && 'scoreboard-container-fluid') %>"
     data-controller="events--sticky-header"
     id="scoreboard"
>
  <div class="scoreboard-scroll" data-events--sticky-header-target="container" data-action="scroll->events--sticky-header#on_horizontal_scroll">
    <table class="scoreboard-table" data-events--sticky-header-target="table">
      <thead>
        <tr>
          <th class="text-center" rowspan="3">#</th>
          <th rowspan="3" colspan="2"><%= t('activerecord.models.event/competitor') %></th>
          <% standings.rounds_by_discipline.each do |discipline, rounds| %>
            <th class="text-center" colspan="<%= rounds.count * 2 + 1 %>"><%= t('disciplines.' + discipline) %></th>
          <% end %>
          <th class="text-center" rowspan="3"><%= t('events.show.total') %></th>
        </tr>
        <tr>
          <% standings.rounds_by_discipline.each do |discipline, rounds| %>
            <%= render collection: rounds, partial: 'performance_competitions/round_cell', as: :round, locals: { event:, editable: can_update } %>
            <th class="text-center" rowspan="2" data-discipline="<%= discipline %>" data-role="points">%</th>
          <% end %>
        </tr>
        <tr>
          <% standings.rounds_by_discipline.each do |discipline, rounds| %>
            <% rounds.each do %>
              <th class="text-center"><%= t('units.' + discipline_unit(discipline.to_sym).to_s) %></th>
              <th class="text-center">%</th>
            <% end %>
          <% end %>
        </tr>
      </thead>
      <% standings.categories.each do |category_data| %>
        <% category = category_data[:category] %>
        <% category_standings = category_data[:standings] %>
        <tbody>
          <%= render 'performance_competitions/categories/section_row', section: category, event:, standings:, action_params:, editable: can_update %>
          <% category_standings.each do |row| %>
            <tr class="scoreboard-competitor">
              <td class="text-center"><%= row.rank %></td>
              <%= render 'performance_competitions/competitors/competitor_cells', event:, competitor: row.competitor, editable: can_update %>
              <% standings.rounds_by_discipline.each do |discipline, rounds| %>
                <% rounds.each do |round| %>
                  <% result = row.results.find { |result| result.round == round } %>
                  <% if result && (round.completed || can_update) %>
                    <%= render 'performance_competitions/scoreboards/result', event:, result:, can_update: can_update, result_class: ('text-green' if result.best_result) %>

                    <td class="text-right">
                      <% if round.completed %>
                        <% if result.penalized? %>
                          <span class="dotted-underline" data-toggle="tooltip" title="<%= result.penalty_reason %>">
                            <%= result.formatted_points %>
                            <% if result.apply_penalty_to_score? %>
                              <sup class="text-danger">-<%= result.penalty_size %>%</sup>
                            <% end %>
                          </span>
                        <% else %>
                          <%= result.formatted_points %>
                        <% end %>
                      <% end %>
                    </td>
                  <% elsif can_update %>
                    <td class="result-cell">
                      <%= button_to new_performance_competition_result_path(event),
                                    params: { competitor_id: row.competitor.id, round_id: round.id },
                                    method: :get, form: { data: { turbo_stream: true }, class: 'result-upload-cell' } do %>
                        <%= svg_icon 'upload-solid' %>
                      <% end %>
                    </td>
                    <td></td>
                  <% else %>
                    <td></td>
                    <td></td>
                  <% end %>
                <% end %>
                <td class="text-right">
                  <% points_in_discipline = row.points_in_disciplines[discipline] %>
                  <% if points_in_discipline&.positive? %>
                    <%= '%.1f' % points_in_discipline %>
                  <% end %>
                </td>
              <% end %>
              <td class="scoreboard-total-result">
                <% if row.total_points.positive? %>
                  <%= '%.1f' % row.total_points %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      <% end %>
    </table>
  </div>
</div>
