<%= render 'shared/sports_event_meta', event: @event %>
<% editable = @event.editable? %>
<%= turbo_stream_from @event, :scoreboard, editable ? :editable : :read_only %>

<div class="show-page">
  <%= render 'header', editable: %>

  <div class="show-page-content"
       data-controller="track-compare"
       data-track-compare-source-value="performance_competitions"
       data-track-compare-competition-id-value="<%= @event.id %>"
       data-track-compare-kind-value="skydive"
       data-track-compare-slot-placeholder-value="<%= t('performance_competitions.compare.slot_placeholder') %>">
    <%= render 'actions_bar', event: @event, editable: %>

    <%= render 'scoreboard', event: @event, editable:, wind_cancellation: @wind_cancellation %>

    <div class="show-page-content">
      <%= render 'organizers/organizers', organizable: @event, editable: (editable && !@event.finished?) %>

      <%= render 'sponsors/sponsors', sponsorable: @event, editable: (editable && !@event.finished?) %>
    </div>
  </div>
</div>
