<div class="container top-buffer">
  <div class="page-header">
    <h2>
      <%= t('users.profile.edit.title') %>
      <% if @user.profile %>
        <%= @user.profile.name %>
      <% else %>
        <%= @user.email %>
      <% end %>
    </h2>
  </div>

  <%= form_for [@user, @user.profile] do |f| %>
    <div class="form-row">
      <%= f.label :name, t('activerecord.attributes.profile.name'), class: 'col-sm-2 form-label' %>
      <div class="col-sm-5">
        <%= f.text_field :name, autofocus: true, class: 'form-input' %>
      </div>
    </div>

    <div class="form-row">
      <%= f.label :userpic, t('activerecord.attributes.profile.photo'), class: 'col-sm-2 form-label' %>
      <div class="col-sm-4">
        <%= f.file_field :userpic %>
      </div>
    </div>

    <div class="form-row">
      <div class="col-sm-offset-2 col-sm-8">
        <%= f.submit t('general.update'), class: 'button button--primary' %>
      </div>
    </div>
  <% end %>

  <a class="col-sm-offset-2" data-toggle="modal" data-target="#CredentialsModal">
    <%= t('users.profile.edit.edit_email_pass') %>
  </a>

  <div class="modal fade" id="CredentialsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">
            <span aria-hidden="true">&times;</span>
            <span class="sr-only">Close</span>
          </button>
          <h4 class="modal-title" id="myModalLabel">
            <%= t('users.profile.edit.edit_reg_data') %>
          </h4>
        </div>

        <br>

        <%= form_for(:user, url: user_registration_path, html: { method: :put }) do |f| %>
          <%= devise_error_messages! %>

          <div class="form-row">
            <%= f.label :email, t('activerecord.attributes.user.email'), class: 'col-sm-4 form-label' %>
            <div class="col-sm-7">
              <%= f.email_field :email, class: 'form-input' %>
            </div>
          </div>

          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div>
              Currently waiting confirmation for:
              <%= resource.unconfirmed_email %>
            </div>
          <% end %>

          <div class="form-row">
            <%= f.label :current_password, t('activerecord.attributes.user.current_password'), class: 'col-sm-4 form-label' %>
            <div class="col-sm-7">
              <%= f.password_field :current_password, autocomplete: 'off', class: 'form-input', placeholder: 'Необходимо ввести текущий пароль для подтверждения изменений' %>
            </div>
          </div>

          <div class="form-row">
            <%= f.label :password, t('activerecord.attributes.user.password'), class: 'col-sm-4 form-label' %>
            <div class="col-sm-7">
              <%= f.password_field :password, autocomplete: 'off', class: 'form-input', placeholder: 'Оставьте пустым если не планируете менять пароль' %>
            </div>
          </div>

          <div class="form-row">
            <%= f.label :password_confirmation, t('activerecord.attributes.user.password_confirmation'), class: 'col-sm-4 form-label' %>
            <div class="col-sm-7">
              <%= f.password_field :password_confirmation, autocomplete: 'off', class: 'form-input', placeholder: 'Оставьте пустым если не планируете менять пароль' %>
            </div>
          </div>

          <div class="form-row">
            <div class="col-sm-offset-4 col-sm-7">
              <%= f.submit t('general.update'), class: 'button button--primary' %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
