.container
  .page-header
    %h2= t 'devise.registrations.new.sign_up'
  = form_for(resource,
             as: resource_name,
             url: registration_path(resource_name),
             html: { class: 'new-user-form form-horizontal', 'data-controller': 'users--sign-up' }) do |f|
    = devise_error_messages!

    .form-group
      = f.fields_for :profile do |fields|
        = fields.label :name, class: 'col-sm-2 control-label'
        .col-sm-6
          = fields.text_field :name, class: 'form-control', value: '',
            placeholder: t('activerecord.attributes.user.name_placeholder')

    .form-group
      = f.label :email, class: 'col-sm-2 control-label'
      .col-sm-6
        = f.email_field :email, class: 'form-control'

    .form-group
      = f.label :password, class: 'col-sm-2 control-label'
      .col-sm-6
        = f.password_field :password, autocomplete: 'off', class: 'form-control'

    .form-group
      = f.label :password_confirmation, class: 'col-sm-2 control-label'
      .col-sm-6
        = f.password_field :password_confirmation, autocomplete: 'off', class: 'form-control'

    .form-group
      .col-sm-offset-2.col-sm-6
        = f.submit t('devise.registrations.new.sign_up'), class: 'btn btn-primary'

    .form-group
      .col-sm-offset-2.col-sm-6
        = render 'users/shared/links'
